<%= render layout: "/campaigns/show_layout", locals: { campaign: @campaign } do %>
  <h3 class="h5 mb-3">
    Overview
    <small class="text-muted d-block">A mini-dashboard specifically for this campaign</small>
  </h3>

  <div class="card-deck d-block d-lg-flex card-lg-gutters-3 mb-3">
    <%= render "/@shared/widgets/stat_card",
      label: "Impressions",
      value: number_with_delimiter(@campaign.total_impressions_count) %>
    <%= render "/@shared/widgets/stat_card",
      label: "Clicks",
      value: number_with_delimiter(@campaign.total_clicks_count) %>
    <%= render "/@shared/widgets/stat_card",
      label: "CTR",
      value: number_to_percentage(@campaign.total_click_rate, precision: 2) %>
  </div>
  <div class="card-deck d-block d-lg-flex card-lg-gutters-3 mb-3">
    <%= render "/@shared/widgets/stat_card",
      label: "Total Budget",
      value: @campaign.total_budget.format %>
    <%= render "/@shared/widgets/stat_card",
      label: "Remaining Budget",
      value: @campaign.total_remaining_budget.format %>
    <%= render "/@shared/widgets/stat_card",
      label: "Total Spend",
      value: @campaign.total_consumed_budget.format %>
  </div>
  <div class="card-deck d-block d-lg-flex card-lg-gutters-3 mb-3">
    <%= render "/@shared/widgets/stat_card",
      label: "Daily Budget",
      value: @campaign.daily_budget.format %>
    <%= render "/@shared/widgets/stat_card",
      label: "Recommended Daily Budget",
      value: @campaign.recommended_daily_budget.format %>
    <%= render "/@shared/widgets/stat_card",
      label: "Remaining Days",
      value: @campaign.remaining_operative_days %>
  </div>
<% end %>
