<%= render layout: "/campaigns/show_layout", locals: { campaign: @campaign } do %>
  <div class="d-flex mb-3">
    <h3 class="h5 mb-3 flex-grow-1">
      Overview
      <small class="text-muted d-block">A mini-dashboard specifically for this campaign</small>
    </h3>
    <%= render "/@shared/date_range_picker" %>
  </div>

  <div class="card-deck d-block d-lg-flex card-lg-gutters-3 mb-3">
    <%= render "/@shared/widgets/stat_card",
      label: "Impressions",
      value: number_with_delimiter(@campaign.impressions_count(@start_date, @end_date)) %>
    <%= render "/@shared/widgets/stat_card",
      label: "Clicks",
      value: number_with_delimiter(@campaign.clicks_count(@start_date, @end_date)) %>
    <%= render "/@shared/widgets/stat_card",
      label: "CTR",
      value: number_to_percentage(@campaign.click_rate(@start_date, @end_date), precision: 2) %>
  </div>

  <hr>

  <div class="card-deck d-block d-lg-flex card-lg-gutters-3 mb-3">
    <%= render "/@shared/widgets/stat_card",
      label: "Total Budget",
      value: @campaign.total_budget.format %>
    <%= render_later async_campaign_total_remaining_budget_stat_card_path(campaign_id: @campaign.id), tag_name: "div", css: "card" do %>
      <div class="card-body p-5">
        <i class="fa fa-spinner fa-spin text-primary"></i>
      </div>
    <% end %>
    <%= render_later async_campaign_total_consumed_budget_stat_card_path(campaign_id: @campaign.id), tag_name: "div", css: "card" do %>
      <div class="card-body p-5">
        <i class="fa fa-spinner fa-spin text-primary"></i>
      </div>
    <% end %>
  </div>
  <div class="card-deck d-block d-lg-flex card-lg-gutters-3 mb-3">
    <%= render "/@shared/widgets/stat_card",
      label: "Daily Budget",
      value: @campaign.daily_budget.format %>
    <%= render "/@shared/widgets/stat_card",
      label: "Remaining Days",
      value: @campaign.remaining_operative_days %>
  </div>
<% end %>
