<%= simple_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put, class: "mx-auto" }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :invitation_token, as: :hidden %>
  <div class="text-center mb-4">
    <h4 class="font-weight-normal">Set your password</h4>
  </div>
  <div class="form-group">
    <div class="form-label-group">
      <label class="form-label">New Password</label>
        <%= f.input :password,
                label: false,
                required: true,
                autofocus: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    </div>
    <div class="form-label-group">
      <label class="form-label">Password Confirmation</label>
      <%= f.input :password_confirmation, label: false, required: true %>
    </div>
  </div>
  <%= f.button :submit, "Set my Password", class: "btn btn-primary btn-block" %>
  <%= render "devise/links" %>
<% end %>
