<%= render layout: "/users/layout", locals: { user: @user } do %>
  <div class="card mt-3" data-controller="filterable-list">
    <div class="card-header d-flex">
      <%= link_to "Add campaign", new_campaign_path, class: "btn btn-primary ml-auto" %>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th style="min-width: 260px">Name</th>
            <th>Team</th>
            <th>Expires</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody data-target="filterable-list.wrapper">
          <% @campaigns.each do |campaign| %>
            <tr data-target="filterable-list.filterable" data-filter-key='all <%= campaign.status %>'>
              <td class="align-middle text-truncate">
                <%= link_to campaign.name, campaign %>
              </td>
              <td class="align-middle"><%= link_to campaign.organization&.name, campaign.organization %></td>
              <td class="align-middle"><%= campaign.end_date.to_s("bdy") %></td>
              <td class="align-middle"><span class="badge badge-<%= campaign_status_color(campaign.status) %>"><%= campaign.status.humanize %></td>
              <td class="align-middle text-right">
                <div class="dropdown">
                  <button type="button" class="btn btn-sm btn-icon btn-secondary" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                    <i class="fa fa-ellipsis-h"></i>
                    <span class="sr-only">Actions</span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-arrow mr-n1"></div>
                    <%= link_to "Edit", edit_campaign_path(campaign), class: "dropdown-item" %>
                    <%= link_to "Delete", campaign_path(campaign, redir: user_campaigns_path(@user)), method: :delete,
                      data: { confirm: "Are you sure?" }, class: "dropdown-item" %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
