<%= render "/shared/forms/error_messages", object: @job_posting %>

<h2 class="h4 mt-3">Job Details</h2>

  <!-- Platform -->
<div class="mb-6">
  <label class="form-label">
    Job Type
    <span class="text-danger">*</span>
  </label>

  <!-- Button Group -->
  <div class="btn-group btn-group-toggle d-flex" data-toggle="buttons" data-controller="radio-button-group">
    <% ENUMS::JOB_TYPES.keys.each do |val| %>
      <label class="btn btn-outline-secondary btn-custom-toggle-primary flex-fill
        <%= "active" if val == @job_posting.job_type %>" data-action="click->radio-button-group#select">
        <input type="radio" id="job_posting_job_type_<%= val %>" name="job_posting[job_type]" value="<%= val %>"
          <%= "checked" if val == @job_posting.job_type %> />
        <%= val.humanize.titleize %>
      </label>
    <% end %>
  </div>
  <!-- End Button Group -->
</div>
<!-- End Platform -->

<%= tag.div f.input(:title, label: "Job Title", required: true, placeholder: "Full Stack Developer", input_html: { max_length: 80 },
    hint: "Example: “Senior Designer”. Titles must describe one position"), class: "mb-4" %>
<%= tag.div f.input(:url, as: :string, label: "Link to Apply", required: true, placeholder: "https://",
  hint: "This can be a link to your job posting, application form, email address or website"),
  class: "mb-4" %>

<%= tag.div class: "mb-4" do %>
  <%= f.input :description, as: :hidden %>
  <%= f.label :description, required: true, class: "form-label string" %>
  <trix-editor class="trix-content" input="job_posting_description" placeholder="The detailed job description..."></trix-editor>
<% end %>

<%= tag.div class: "mb-4" do %>
  <%= f.input :how_to_apply, as: :hidden %>
  <%= f.label :how_to_apply, required: true, class: "form-label string" %>
  <trix-editor class="trix-content" input="job_posting_how_to_apply" placeholder="Instructions on how to apply..."></trix-editor>
<% end %>

<div class="row">
  <%= tag.div f.input(:min_annual_salary_cents, placeholder: "75,000", label: "Min Annual Salary"), class: "col-sm-3 mb-4" %>
  <%= tag.div f.input(:max_annual_salary_cents, placeholder: "150,000", label: "Max Annual Salary"), class: "col-sm-3 mb-4" %>
  <%= tag.div f.input(:min_annual_salary_currency, collection: currencies_for_select, label: "Currency", required: true,
      input_html: { data: { controller: "select" }}
    ), class: "col-sm-6 mb-4" %>
</div>

<div class="media align-items-center mt-2 space-bottom-1">
  <label class="checkbox-switch mb-0 mr-3">
    <%= f.check_box :display_salary, class: "checkbox-switch__input" %>
    <span class="checkbox-switch__slider"></span>
  </label>
  <%= f.label :display_salary, class: "media-body text-muted mb-0" do %>
    <span class="d-block text-dark">Display the salary range on the job listing?</span>
  <% end %>
</div>

<hr>

<h2 class="h4 space-1">Company Information</h2>

<%= tag.div f.input(:company_name, label: "Company Name", required: true), class: "mb-4" %>
<%= tag.div f.input(:company_url, label: "Company Website", required: true, placeholder: "https://"), class: "mb-4" %>
<%= tag.div f.input(:company_email, label: "Company Email", required: true,
      hint: "This email is not made public. We use it to send your invoice and link to edit your job post later"), class: "mb-4" %>

<%= tag.div f.input(:country_code, required: true, collection: countries_for_select, label: "Country",
  input_html: {
    autocomplete: SecureRandom.uuid,
    data: {
      controller: "select",
      target: "select-country-province.countryCodeSelect" }}), class: "mb-4" %>

<%= tag.div f.input(:province_code, collection: [], required: true, label: "State/Province",
    input_html: { data: {
      controller: "select",
      target: "select-country-province.provinceCodeSelect",
      provinces: provinces_for_stimulus,
      selected: @job_posting.province_code }},
    hint: "Your job will be advertised to this state/province (as well as remote if selected)"), class: "mb-4" %>
<% f.hidden_field :province_name %>

<%= tag.div f.input(:city, required: true), class: "mb-4" %>

<label class="file-attachment-input p-2 py-3">
  Upload your company logo <abbr title="required">*</abbr>
  <small class="d-block text-muted">we recommend using your Facebook or Twitter avatar</small>

  <div data-target="file-picker.previewWrapper" class="mt-3" <%= "hidden" unless @job_posting.company_logo_url %>>
    <%= image_tag @job_posting.company_logo_url.to_s,
          class: "img-responsive", style: "max-width: 300px; max-height: 300px;", data: { target: "file-picker.previewImg" } %>
    <div class="control mt-1" data-target="file-picker.filename"></div>
  </div>

  <button class="btn btn-primary btn-sm mt-3 d-block mx-auto" type="button"
    data-action="click->file-picker#pickFile">Upload Image</button>
  <button class="btn btn-sm btn-link d-block mx-auto" type="button" data-action="click->file-picker#clearFile">clear</button>
  <%= f.hidden_field :company_logo_url, data: { target: "file-picker.input" } %>
</label>

<hr>

<h2 class="h4 space-1">Targeting</h2>

<%= tag.div f.input(:keywords, collection: keywords_for_select, label: "Keywords", required: true,
    hint: "Keywords are used to target the qualified candidates for this job",
    input_html: { multiple: true, data: { controller: "select" }}
  ), class: "mb-4" %>

<div class="media align-items-center mt-4 space-bottom-1">
  <label class="checkbox-switch mb-0 mr-3">
    <%= f.check_box :remote, class: "checkbox-switch__input", data: { action: "change->job-posting-prospects-form#toggleRemote" } %>
    <span class="checkbox-switch__slider"></span>
  </label>
  <%= f.label :remote, class: "media-body text-muted mb-0" do %>
    <span class="d-block text-dark">Remote candidates are welcome to apply?</span>
  <% end %>
</div>

<div class="mb-4" <%= "hidden" unless @job_posting.remote? %> data-controller="select-multiple" data-target="job-posting-prospects-form.remoteCountryCodesSelector">
  <%= f.input :remote_country_codes, collection: countries_for_select, input_html: {
      multiple: true,
      data: {
        controller: "select",
        target: "select-multiple.select"
      }} %>
  <div class="d-flex align-items-center">
    <small class="flex-grow-1 form-text text-muted">Only accept remote applicants from the selected countries</small>
    <span>
      <%= link_to "Select All Countries", request.path, class: "btn text-uppercase btn-soft-secondary btn-xs py-0", data: { action: "click->select-multiple#selectAll" }  %>
      <%= link_to "Clear", request.path, class: "btn text-uppercase btn-soft-secondary btn-xs py-0", data: { action: "click->select-multiple#clearSelections" }  %>
    </span>
  </div>
</div>
