<nav class="nav nav-icon nav-justified text-center">
  <%= link_to @job_posting.persisted? ? edit_job_posting_prospect_path(@job_posting) : "", class: "nav-item active text-dark" do %>
    <span class="nav-icon-action transition-3d-hover <%= classes "bg-success": @job_posting.persisted? %>">
      <span class="fas fa-check-square nav-icon-action-inner"></span>
    </span>
    Details
  <% end %>
  <%= link_to @job_posting.persisted? ? job_posting_prospect_path(@job_posting) : "",
    class: "nav-item #{classes("active text-dark" => @job_posting.persisted?)}" do %>
    <span class="nav-icon-action transition-3d-hover <%= classes "bg-success": %w[job_posting_users job_posting_purchases].any?(controller_name) %>">
      <span class="fas fa-thumbs-up nav-icon-action-inner"></span>
    </span>
    Preview
  <% end %>
  <%= link_to @job_posting.persisted? ? new_job_posting_purchase_path(@job_posting) : "",
    class: "nav-item #{classes("active text-dark" => %w[job_posting_users job_posting_purchases].any?(controller_name))}" do %>
    <span class="nav-icon-action transition-3d-hover">
      <span class="fas fa-file-invoice-dollar nav-icon-action-inner"></span>
    </span>
    Purchase
  <% end %>
</nav>
