<% content_for :breadcrumbs do %>
  <%= render "/shared/breadcrumbs/images", imageable: @imageable %>
  <%= render "/shared/breadcrumbs/add_image", class: "active" %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Add", "Images",
    subtitle: "for #{@imageable.imageable_name}",
    icon: "fas fa-images" %>
<% end %>

<main id="content" role="main" class="bg-light">
  <div class="container space-1">
    <%= render "/images/form_upload", imageable: @imageable %>
    <%= @instructions.upload_images_html.html_safe %>
  </div>
</main>
