<html>
<% if @creative.standard? %>
  <body style="padding: <%= params[:template] == "bottom-bar" ? "0" : "10" %>px; margin: 0px; background-color: <%= params[:theme] == "dark" ? "#263238" : "#ffffff" %>;">
    <div id="codefund" style"background-color: <%= params[:theme] == "dark" ? "#263238" : "#ffffff" %>;"></div>
    <%= javascript_include_tag advertisement_preview_path(0, creative_id: @creative.id, template: params[:template], theme: params[:theme], format: :js) %>
  </body>
<% else %>
  <body>
    <%= image_tag @creative.sponsor_image %>
  </body>
<% end %>
</html>
