<div class="table-responsive">
  <table class="js-datatable table table-striped table-compact table-borderless u-datatable u-datatable__striped u-datatable__trigger">
    <thead>
      <tr class="border-bottom">
        <th class="text-left">Property</th>
        <th class="text-left">Matching Tags</th>
        <th class="text-center" style="width: 10%;">Spend</th>
        <th class="text-center" style="width: 10%;">Impressions</th>
        <th class="text-center" style="width: 10%;">Clicks</th>
        <th class="text-center" style="width: 10%;">CTR</th>
        <th class="text-center" style="width: 10%;">CPM</th>
        <th class="text-center" style="width: 10%;">CPC</th>
        <% if authorized_user.can_admin_system? %>
        <th class="text-center">Blacklist?</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% if @summary %>
        <tr class="bg-secondary opacity-50">
          <td class="text-left align-middle text-light"><strong>Totals</strong></td>
          <td class="text-left align-middle text-light"></td>
          <td class="text-center align-middle text-light"><%= @summary.gross_revenue.format %></td>
          <td class="text-center align-middle text-light"><%= number_with_delimiter @summary.impressions_count %></td>
          <td class="text-center align-middle text-light"><%= number_with_delimiter @summary.clicks_count %></td>
          <td class="text-center align-middle text-light"><%= number_to_percentage @summary.click_rate, precision: 2 %></td>
          <td class="text-center align-middle text-light"><%= number_with_delimiter @summary.cpm.format %></td>
          <td class="text-center align-middle text-light"><%= number_with_delimiter @summary.cpc.format %></td>
          <% if authorized_user.can_admin_system? %>
          <td>&nbsp;</td>
          <% end %>
        </tr>
      <% end %>
      <%= render partial: "/campaign_properties/tr", collection: @reports, as: :report %>
    </tbody>
  </table>
</div>
