<!-- NAVBAR
================================================== -->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <!-- Brand -->
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "codefund-w.svg", alt: "CodeFund", class: "navbar-brand-img" %>
    <% end %>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ml-auto">
        <%= active_link_to "Home", home_index_path, class: "nav-link", wrap_tag: :li, wrap_class: "nav-item", active: :exact %>
        <%= active_link_to "Advertisers", home_path(:advertisers), class: "nav-link", wrap_tag: :li, wrap_class: "nav-item" %>
        <%= active_link_to "Publishers", home_path(:publishers), class: "nav-link", wrap_tag: :li, wrap_class: "nav-item" %>
        <%= active_link_to "Mission", home_path(:mission), class: "nav-link", wrap_tag: :li, wrap_class: "nav-item" %>
        <%= active_link_to "Blog", buttercms_blog_path, class: "nav-link", wrap_tag: :li, wrap_class: "nav-item" %>
      </ul>

      <!-- Button -->
      <% if current_user %>
        <%= link_to "Dashboard", "#", class: "navbar-btn btn btn-sm btn-primary lift ml-auto" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "navbar-btn btn btn-sm btn-primary lift ml-auto" %>
      <% end %>
    </div>
  </div>
</nav>