<table>
<thead>
<tr>
<th>Region</th>
<th>Subregion</th>
<th>Country</th>
<th>eCPM</th>
<th>ISO</th>
</tr>
</thead>
<tbody>
<% @countries.each do |country| %>
<tr>
<td><%= country[:region] %></td>
<td><%= country[:subregion] %></td>
<td><%= country[:emoji_flag] %> <%= country[:name] %> (<%= country[:id] %>)</td>
<td><%= country[:display_price] %></td>
<td><%= country[:id] %></td>
</tr>
<% end %>
</tbody>
</table>