<main id="content" role="main" class="bg-light">
  <div class="container space-top-3 space-bottom-2">
    <div class="w-lg-80 mx-lg-auto">
      <div class="card shadow-sm p-7 job-listing">
        <nav class="nav nav-icon nav-justified text-center">
          <%= link_to edit_job_posting_path(@job_posting), class: "nav-item" do %>
            <span class="nav-icon-action transition-3d-hover">
              <span class="fas fa-check-square nav-icon-action-inner"></span>
            </span>
            Modify Ad
          <% end %>
          <%= link_to job_posting_path(@job_posting), class: "nav-item" do %>
            <span class="nav-icon-action transition-3d-hover">
              <span class="fas fa-thumbs-up nav-icon-action-inner"></span>
            </span>
            Preview
          <% end %>
          <%= link_to "javascript:;", class: "nav-item active text-dark" do %>
            <span class="nav-icon-action bg-success">
              <span class="fas fa-file-invoice-dollar nav-icon-action-inner"></span>
            </span>
            Purchase
          <% end %>
        </nav>

        <div class="space-1">
          <%= form_tag url: purchase_job_posting_path(@job_posting) do %>
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= ENV["STRIPE_PERISHABLE_KEY"] %>"
              data-image="<%= asset_url("codefund-logo-circle-256.png") %>"
              data-name="CodeFund Jobs"
              data-description="Monthly ad posting"
              data-amount="29900"
              data-label="Place your order">
            </script>
          <% end %>
        </div>

        <div class="d-flex">
          <%= link_to "Make Changes", edit_job_posting_path(@job_posting),
                class: "btn btn-block btn-sm btn-soft-secondary transition-3d-hover mr-1" %>
        </div>
      </div>
    </div>
  </div>
</main>