<div class="container p-5 bg-white border border-top-0">
  <h3 class="mt-0 mb-5 text-primary">Standard Campaign Settings</h3>
  <%= render "/shared/forms/section_heading", title: "Creatives",
    subtitle: "Pick which creatives you would like to use (only approved creatives are available)",
    help: "Multivariate testing is used to determine the most effective creative" %>

  <div class="row" data-target="campaign-form.creativesWrapper">
    <%= render partial: "/creative_options/options",
        locals: {
          selected_creative_ids: campaign.creative_ids,
          creatives: campaign.user.creatives.active.standard.order(name: :asc)
        } %>
  </div>

  <% if authorized_user.can_admin_system? %>
    <%= render "/shared/forms/section_heading", title: "Additional Targeting", subtitle: "Who do you want this campaign to reach?" %>

    <div class="row">
      <div class="col-12 mb-3" data-controller="select-multiple">
        <%= f.input :keywords, collection: keywords_for_select, label: "Targeted Keywords",
          input_html: { multiple: true, data: { controller: "select", target: "select-multiple.select" }} %>
        <div class="d-block">
          <%= link_to "All", request.path, class: "btn text-uppercase btn-soft-secondary btn-xs py-0", data: { action: "click->select-multiple#selectAll" }  %>
          <%= link_to "Clear", request.path, class: "btn text-uppercase btn-soft-secondary btn-xs py-0", data: { action: "click->select-multiple#clearSelections" }  %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mb-4" data-controller="select-multiple">
        <%= f.input :negative_keywords, collection: keywords_for_select, label: "Negative Keywords",
          input_html: { multiple: true, data: { controller: "select", target: "select-multiple.select" }} %>
        <div class="d-block">
          <%= link_to "All", request.path, class: "btn text-uppercase btn-soft-secondary btn-xs py-0", data: { action: "click->select-multiple#selectAll" }  %>
          <%= link_to "Clear", request.path, class: "btn text-uppercase btn-soft-secondary btn-xs py-0", data: { action: "click->select-multiple#clearSelections" }  %>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12 mb-3" data-controller="select-multiple">
        <%= f.input :prohibited_property_ids, collection: properties_for_select,
          label: "Prohibited Properties <small class='ml-2 text-danger'><i class='fas fa-exclamation-triangle'></i> deprioritized after assigned properties</small>".html_safe,
          input_html: { multiple: true, data: { controller: "select", target: "select-multiple.select" }} %>
        <div class="d-block">
          <%= link_to "Clear", request.path, class: "btn text-uppercase btn-soft-secondary btn-xs py-0", data: { action: "click->select-multiple#clearSelections" }  %>
        </div>
      </div>
    </div>

    <%= render "/shared/forms/section_heading", title: "Budget", subtitle: "Let's talk numbers" %>

    <div class="row">
      <div class="col-12 mb-2">
        <div class="media align-items-center mb-3">
          <label class="checkbox-switch mb-0 mr-3">
            <%= f.check_box :fixed_ecpm, class: "checkbox-switch__input" %>
            <span class="checkbox-switch__slider"></span>
          </label>
          <label class="media-body text-muted mb-0">
            <span class="d-block text-dark">Use fixed eCPM pricing? <small class="ml-2 text-muted">Do NOT adjust by country</small></span>
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <%= f.input(:ecpm, as: :currency, currency: "$") %>
        <small id="passwordHelpBlock" class="form-text text-muted">
          Effective cost per thousand impressions
        </small>
      </div>
      <%= tag.div f.input(:total_budget, label: "Total Budget Cap", as: :currency, currency: "$"), class: "col-md-6 mb-3" %>
    </div>

    <div class="row">
      <%= tag.div f.input(:hourly_budget, label: "Hourly Budget Cap", as: :currency, currency: "$"), class: "col-md-6 mb-3" %>
      <%= tag.div f.input(:daily_budget, label: "Daily Budget Cap", as: :currency, currency: "$"), class: "col-md-6 mb-3" %>
    </div>
  <% end %>
</div>
