<%= render layout: "/campaigns/show_layout", locals: { campaign: @campaign } do %>
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <%= render "/campaigns/card", campaign: @campaign %>
      <% if @campaign.creative_ids.size > 1 %>
        <div class="text-center mb-5">
          <%= link_to "Restart multivariate test", split_experiment_path(@campaign),
            class: "btn btn-soft-secondary transition-3d-hover", rel: "nofollow",
            data: { controller: "split-experiment", action: "click->split-experiment#restart" } %>
        </div>
      <% end %>
      <% @campaign.creatives.each do |creative| %>
        <div class="text-center my-4">
          <span class="u-divider u-divider--xs u-divider--text"><%= truncate creative.name, length: 24 %></span>
        </div>
        <iframe src="<%= advertisement_preview_iframe_path(@campaign, creative_id: creative.id, template: "square", theme: "light") %>"
          style="height:375px; width:100%; border:0; margin:0; padding:0; resize:horizontal;"
          frameBorder="0" scrolling="no" class=""></iframe>
        <% @campaign.split_alternative(creative).tap do |alternative| %>
          <% if alternative %>
            <div class="ml-5 pl-2">
              <% if split_winner? @campaign.split_experiment, alternative %>
                <span class="badge badge-success"><i class="fas fa-award"></i> winner</span>
              <% elsif split_loser? @campaign.split_experiment, alternative %>
                <span class="badge badge-danger"><i class="fas fa-thumbs-down"></i> loser</span>
              <% end %>
              <small class="d-block"><span class="opacity-50">Impressions:</span> <%= tag.strong number_with_delimiter(alternative.participant_count) %></small>
              <small class="d-block"><span class="opacity-50">Click Rate:</span> <%= tag.strong number_to_percentage(alternative.conversion_rate * 100, precision: 2) %></small>
              <% unless split_winner? @campaign.split_experiment, alternative %>
                <small class="d-block">
                  <span class="opacity-50">Confidence:</span>
                  <%= tag.strong split_experiment_confidence_level(alternative.z_score) %>
                </small>
                <%= link_to "Make Winner", split_experiment_path(@campaign, winner_name: alternative.name),
                  class: "btn btn-soft-success btn-xs transition-3d-hover mt-2", rel: "nofollow",
                  data: { controller: "split-experiment", action: "split-experiment#setWinner" } %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6 col-lg-8">
      <h4 class="h5 mb-3">
        Details
        <small class="text-muted d-block">Basic details for this campaign</small>
      </h4>

      <ul class="list-unstyled mb-0">
        <%= details_li("User") { link_to @campaign.user.full_name, @campaign.user } if authorized_user.can_admin_system? %>
        <%= details_li("Organization") { link_to @campaign.user.organization&.name, @campaign.user&.organization } if authorized_user.can_admin_system? %>
        <%= details_li("Status") { @campaign.status.humanize } %>
        <%= details_li("Date Range") { "#{@campaign.start_date.to_s("mm/dd/yyyy")} &mdash; #{@campaign.end_date.to_s("mm/dd/yyyy")}".html_safe } %>
        <%= details_li("URL") { link_to truncate(@campaign.url, length: 60), @campaign.url } %>
        <%= details_li("Core Hours Only?") { @campaign.core_hours_only? ? "Yes" : "No" } %>
        <%= details_li("Weekdays Only?") { @campaign.weekdays_only? ? "Yes" : "No" } %>
        <%= details_li("Assigned Properties") do %>
          <% @campaign.assigned_properties.pluck(:name).sort.each do |property_name| -%>
            <span class="btn btn-xs btn-soft-dark mb-1"><%= property_name %></span>
          <% end -%>
        <% end if @campaign.assigned_property_ids.present? %>
        <%= details_li("Prohibited Properties") do %>
          <% @campaign.prohibited_properties.pluck(:name).sort.each do |property_name| -%>
            <span class="btn btn-xs btn-soft-dark mb-1"><%= property_name %></span>
          <% end -%>
        <% end if @campaign.prohibited_properties.present? %>
        <% if @campaign.fallback? %>
          <%= details_li("Fallback Campaign?") { "Yes" } %>
        <% elsif @campaign.paid_fallback? %>
          <%= details_li("Paid Fallback?") { "Yes" } %>
        <% else %>
          <%= details_li("Hourly <small>Budget Cap</small>") { @campaign.hourly_budget.format } %>
          <%= details_li("Daily <small>Budget Cap</small>") { @campaign.daily_budget.format } %>
          <%= details_li("Total <small>Budget Cap</small>") { @campaign.total_budget.format } %>
          <% if @campaign.fixed_ecpm? %>
            <%= details_li("eCPM <small>Fixed</small>") { @campaign.ecpm.format } %>
          <% else %>
            <%= details_li("eCPM <small>Base</small>") { @campaign.ecpm.format } %>
            <% @campaign.ecpms.each do |ecpm_data| %>
              <%= details_li("eCPM <small>#{ecpm_data[:country_name]}</small>") { ecpm_data[:ecpm].format } %>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
