<%= table_wrapper do %>
  <%= paginated_table do %>
    <%= table_head do %>
      <%= table_row header: true do %>
        <%= sortable_tr "posted_at", "Date", add_style: "width:20%;" %>
        <%= sortable_tr "amount_cents", "Amount", add_style: "width:20%;" %>
        <%= table_column "Reference" %>
        <%= table_column "", add_style: "width:20%;" %>
      <% end %>
    <% end %>
    <%= table_body do %>
      <%= render partial: "/organization_transactions/tr", locals: {organization: organization}, collection: organization_transactions, as: :organization_transaction %>
    <% end %>
  <% end %>
  <%= pagination_wrapper do %>
    <span><%== pagy_bootstrap_nav(pagy) %></span>
    <%= pagy_entries(pagy) %>
  <% end if pagy.pages > 1 %>
<% end %>
