<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/organization", organization: @organization %>
  <%= render "/@shared/breadcrumbs/organization_transactions", organization: @organization %>
  <%= render "/@shared/breadcrumbs/add_organization_transaction", organization: @organization, class: "active" %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Adding", "Transaction",
    subtitle: "Fill out the form below",
    icon: "fas fa-file-invoice-dollar" %>
<% end %>

<main id="content" role="main" class="bg-light">
  <div class="container space-1">
    <%= render "/organization_transactions/form", organization: @organization, organization_transaction: @organization_transaction %>
  </div>
</main>