<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/organization", organization: @organization %>
  <%= render "/@shared/breadcrumbs/organization_transactions", organization: @organization %>
  <%= render "/@shared/breadcrumbs/organization_transaction", organization: @organization, organization_transaction: @organization_transaction, class: "active" %>
<% end %>

<% content_for :actions do %>
  <ul class="nav" style="width: 130px; justify-content: flex-end;">
    <li><%= render "/@shared/actions/edit_organization_transaction", organization: @organization, organization_transaction: @organization_transaction %></li>
    <li class="ml-1"><%= render "/@shared/actions/delete_organization_transaction", organization: @organization, organization_transaction: @organization_transaction %></li>
  </ul>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Viewing", "Transaction",
    icon: "fas fa-file-invoice-dollar" %>
<% end %>

<main id="content" role="main" class="bg-light">
  <div class="container space-1">
    <div class="bg-white border p-4">
      <div class="row">
        <div class="col-12">
          <h4 class="h5 mb-3">Transaction Details</h4>

          <ul class="list-unstyled mb-0">
            <%= details_li("Post Date") { @organization_transaction.posted_at.format("mm/dd/yyyy") } %>
            <%= details_li("Amount") { @organization_transaction.amount.format } %>
            <%= details_li("Type") { @organization_transaction.transaction_type.capitalize } %>
            <%= details_li("Reference") { @organization_transaction.reference } %>
            <%= details_li("Description") { @organization_transaction.description } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>