<div class="page" id="campaign-<%= campaign.id %>">
  <div class="content">
    <h1><%= campaign.id %> - <%= campaign.name %></h1>
    <p class="lead"><%= report.start_date.to_s("bdy") %> to <%= report.end_date.to_s("bdy") %></p>
    <div class="flex-container" style="margin-top: .5in;">
      <div class="flex-item">
        <div class="h4"><%= number_to_currency summary.gross_revenue_cents / 100 %></div>
        <small>spend</small>
      </div>
      <div class="flex-item">
        <div class="h4"><%= number_with_delimiter summary.impressions_count %></div>
        <small>impressions</small>
      </div>
      <div class="flex-item">
        <div class="h4"><%= number_with_delimiter summary.clicks_count %></div>
        <small>clicks</small>
      </div>
      <div class="flex-item">
        <div class="h4"><%= number_to_percentage ((summary.clicks_count.to_f / summary.impressions_count.to_f) * 100), precision: 2 %></div>
        <small>avg ctr</small>
      </div>
      <div class="flex-item">
        <div class="h4"><%= number_to_currency ((summary.gross_revenue_cents / 100).to_f / summary.impressions_count.to_f) * 1000 %></div>
        <small>avg cpm</small>
      </div>
      <div class="flex-item">
        <div class="h4"><%= number_to_currency (summary.gross_revenue_cents / 100).to_f / summary.clicks_count.to_f %></div>
        <small>avg cpc</small>
      </div>
    </div>
    <h2 class="page">Results by Day</h2>
    <p class="lead"><%= campaign.id %> - <%= campaign.name %></p>
    <%= render partial: "/organization_reports/pages/daily_table", locals: {campaign: campaign, report: report} %>
    <h2 class="page">Results by Geography</h2>
    <p class="lead"><%= campaign.id %> - <%= campaign.name %></p>
    <%= render partial: "/organization_reports/pages/country_table", locals: {campaign: campaign, report: report} %>
    <h2 class="page">Results by Property</h2>
    <p class="lead"><%= campaign.id %> - <%= campaign.name %></p>
    <%= render partial: "/organization_reports/pages/property_table", locals: {campaign: campaign, report: report} %>
    <h2 class="page">Results by Creative</h2>
    <p class="lead"><%= campaign.id %> - <%= campaign.name %></p>
    <%= render partial: "/organization_reports/pages/creative_table", locals: {campaign: campaign, report: report} %>
    <h2 class="page">Changelog</h2>
    <p class="lead"><%= campaign.id %> - <%= campaign.name %></p>
    <%= render partial: "/organization_reports/pages/campaign_versions", locals: {campaign: campaign, report: report} %>
  </div>
</div>
