<div class="page" id="campaign-summary">
  <div class="content">
    <h1>Quick Summary</h1>
    <p class="lead"><%= report.start_date.to_s("bdy") %> to <%= report.end_date.to_s("bdy") %></p>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th style="width: 11%;">Budget</th>
          <th style="width: 11%;">Spend</th>
          <th style="width: 11%;">Balance</th>
          <th style="width: 11%;">Impressions</th>
          <th style="width: 11%;">Clicks</th>
          <th style="width: 11%;">CTR</th>
          <th style="width: 11%;">CPM</th>
          <th style="width: 11%;">CPC</th>
        </tr>
      </thead>
      <tbody>
        <% @report.campaigns.each do |campaign|
          summary = summaries[campaign.id]
          next unless summary
          revenue = summary.gross_revenue_cents / 100
          impressions = summary.impressions_count
          clicks = summary.clicks_count
          ctr = (summary.clicks_count.to_f / summary.impressions_count.to_f) * 100
          cpm = ((summary.gross_revenue_cents / 100).to_f / summary.impressions_count.to_f) * 1000
          cpc = (summary.gross_revenue_cents / 100).to_f / summary.clicks_count.to_f %>
        <%= tag.tr do %>
          <td class="text-center"><%= campaign.id %></td>
          <td><%= number_to_currency campaign.total_budget %></td>
          <td><%= number_to_currency revenue %></td>
          <td><%= number_to_currency campaign.total_remaining_budget %></td>
          <td><%= number_with_delimiter impressions %></td>
          <td><%= number_with_delimiter clicks %></td>
          <td class="td-color"><%= number_to_percentage ctr, precision: 2 %></td>
          <td><%= number_to_currency cpm %></td>
          <td><%= number_to_currency cpc %></td>
        <% end %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th class="text-left">&nbsp;</th>
        <th><%= number_to_currency @report.campaigns.sum(&:total_budget) %></th>
        <th><%= number_to_currency (summaries.values.sum(&:gross_revenue_cents) / 100) %></th>
        <th><%= number_to_currency (@report.campaigns.sum(&:total_budget).to_f - (summaries.values.sum(&:gross_revenue_cents) / 100).to_f) %></th>
        <th><%= number_with_delimiter summaries.values.sum(&:impressions_count) %></th>
        <th><%= number_with_delimiter summaries.values.sum(&:clicks_count) %></th>
        <th><%= number_to_percentage (summaries.values.sum(&:clicks_count).to_f / summaries.values.sum(&:impressions_count).to_f) * 100, precision: 2 %></th>
        <th><%= number_to_currency ((summaries.values.sum(&:gross_revenue_cents) / 100).to_f / summaries.values.sum(&:impressions_count).to_f) * 1000 %></th>
        <th><%= number_to_currency ((summaries.values.sum(&:gross_revenue_cents) / 100).to_f / summaries.values.sum(&:clicks_count).to_f) %></th>
      </tr>
    </tfoot>
  </table>
  <ul style="margin-top: 0.25in;">
    <% report.campaigns.each do |campaign| %>
      <li><strong><%= campaign.id %> -</strong> <%= campaign.name %></li>
    <% end %>
  </ul>
</div>
</div>
