<%
summaries = campaign.daily_summary_reports_by_property(report.start_date, report.end_date)
%>
<table>
  <thead>
    <tr>
      <th style="width: 1in;">ID</th>
      <th>Property</th>
      <th style="width: 10%;">Spend</th>
      <th style="width: 10%;">Impressions</th>
      <th style="width: 10%;">Clicks</th>
      <th style="width: 10%;">CTR</th>
      <th style="width: 10%;">CPM</th>
      <th style="width: 10%;">CPC</th>
    </tr>
  </thead>
  <tbody>
    <% summaries.each do |row|
      property = Property.find(row[:scoped_by_id])
      revenue = (row[:gross_revenue_cents].to_f / 100).to_f
      impressions = row[:impressions_count].to_i
      clicks = row[:clicks_count].to_i
      ctr = (clicks.to_f / impressions.to_f) * 100
      cpm = (revenue / impressions.to_f) * 1000
      cpc = clicks > 0 ? revenue / clicks.to_f : nil %>
    <%= tag.tr do %>
      <td class="text-center"><%= row[:scoped_by_id] %></td>
      <td class="text-left">
        <%= link_to property.name, property.url %>
        <% if campaign.prohibited_property?(property) %>
          <span class="badge-removed">Removed</span>
        <% end %>
      </td>
      <td><%= number_to_currency revenue %></td>
      <td><%= number_with_delimiter impressions %></td>
      <td><%= number_with_delimiter clicks %></td>
      <td class="td-color"><%= number_to_percentage ctr, precision: 2 %></td>
      <td><%= number_to_currency cpm %></td>
      <td><%= number_to_currency cpc %></td>
    <% end %>
  <% end %>
</tbody>
</table>
