<% if current_user == comment.user %>
  <li class="conversation-outbound">
    <div class="conversation-actions dropdown">
      <button class="btn btn-sm btn-icon btn-subtle-dark" data-toggle="dropdown">
        <i class="fa fa-fw fa-ellipsis-h"></i>
      </button>
      <div class="dropdown-menu">
        <div class="dropdown-arrow ml-n1"></div>
        <%= link_to comment_path(comment), method: :delete, class: "dropdown-item" do %>
          <span class="far fa-trash"></span> Remove
        <% end %>
      </div>
    </div>
    <div class="conversation-message">
      <div class="conversation-message-text">
        <p><%= simple_format comment.body %></p>
      </div>
      <div class="conversation-meta">
        <%= link_to comment.user.name, user_path(comment.user) %> · <%= time_ago_in_words comment.created_at %> ago
      </div>
    </div>
  </li>
<% else %>
  <li class="conversation-inbound">
    <div class="conversation-avatar">
      <%= user_avatar_image_tag(comment.user, "user-avatar") %>
    </div>
    <div class="conversation-message">
      <div class="conversation-message-text">
        <p><%= simple_format comment.body %></p>
      </div>
      <div class="conversation-meta">
        <%= link_to comment.user.name, user_path(comment.user) %> · <%= time_ago_in_words comment.created_at %> ago
      </div>
    </div>
  </li>
<% end %>
