<div id="search-results" class="dropdown-menu dropdown-menu-rich dropdown-menu-xl ml-n4 show" x-placement="bottom-start" style="position:fixed; left; top:40px; left:275px; z-index:99999;">
  <div class="dropdown-arrow ml-3"></div>
  <div class="list-group list-group-flush list-group-reflow mb-2" style="max-height:360px; overflow-y:scroll;">
      <% if @search_results&.values&.flatten.blank? %>
        <h6 class="list-group-header d-flex justify-content-between text-muted">No results found...</h6>
      <% end %>

      <% if @search_results[:users].present? %>
        <h6 class="list-group-header d-flex justify-content-between text-primary">Users</h6>
        <% @search_results[:users].each do |user| %>
          <div class="list-group-item py-2 my-3">
            <div class="tile tile-sm bg-primary">
              <i class="fa-fw fas fa-user"></i>
            </div>
            <div class="ml-2">
              <%= link_to user_path(user) do %>
                <%= user.name %>
                <small class="opacity-60">(<%= user.email %>)</small>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if @search_results[:campaigns].present? %>
        <h6 class="list-group-header d-flex justify-content-between text-danger mt-4">Campaigns</h6>
        <% @search_results[:campaigns].each do |campaign| %>
          <div class="list-group-item py-2 my-3">
            <div class="tile tile-sm bg-danger">
              <i class="fa-fw fas fa-chart-line"></i>
            </div>
            <div class="ml-2">
              <%= link_to campaign_path(campaign) do %>
                <%= campaign.name %>
                <small class="opacity-60">(<%= campaign.user.email %>)</small>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if @search_results[:properties].present? %>
        <h6 class="list-group-header d-flex justify-content-between text-purple mt-4">Properties</h6>
        <% @search_results[:properties].each do |property| %>
          <div class="list-group-item py-2 my-3">
            <div class="tile tile-sm bg-purple">
              <i class="fa-fw fas fa-external-link-alt"></i>
            </div>
            <div class="ml-2">
              <%= link_to property_path(property) do %>
                <%= property.name %>
                <small class="opacity-60">(<%= property.user.email %>)</small>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if @search_results[:organizations].present? %>
        <h6 class="list-group-header d-flex justify-content-between text-purple mt-4">Organizations</h6>
        <% @search_results[:organizations].each do |organization| %>
          <div class="list-group-item py-2 my-3">
            <div class="tile tile-sm bg-warning">
              <i class="fa-fw fas fa-building"></i>
            </div>
            <div class="ml-2">
              <%= link_to organization_path(organization) do %>
                <%= organization.name %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

  </div>
</div>
