<%= simple_form_for organization_report, url: url, html: { class: "js-validate" }, wrapper: :front_form do |f| %>
  <%= render "/shared/forms/error_messages", object: organization_report %>

  <div class="row">
    <%= tag.div f.input(:title, label: "Subject", required: true), class: "col-12 mb-3" %>
    <%= tag.div f.input(:date_range, required: true,
      input_html: {
        class: "js-range-datepicker form-control bg-white rounded-right",
        data: {
          controller: "select-date-range",
          start_date: Date.today.at_beginning_of_month.strftime("%m/%d/%Y"),
          end_date: Date.today.at_end_of_month.strftime("%m/%d/%Y")
        }
      }), class: "col-12 mb-3" %>
    <%= tag.div f.input(:recipients, as: :text, input_html: { value: current_user.email }, label: "Email Recipients (one per line)", required: true), class: "col-12 mb-3" %>
    <div class="col-12 mb-3">
      <label class="form-label string required">Campaigns <abbr title="required">*</abbr></label>
      <div>
        <% organization.campaigns.order(end_date: :desc).each do |campaign| %>
          <div class="form-check">
            <input class="form-check-input" name="organization_report[campaign_ids][]" type="checkbox" value="<%= campaign.id %>" id="campaign-<%= campaign.id %>">
            <label class="form-check-label" for="campaign-<%= campaign.id %>" style="font-size: 12px;">
              <%= campaign.id %> - <%= campaign.name %>
              <% if campaign.active? %>
                <span class="badge badge-<%= campaign_status_color(campaign.status) %>">Active</span>
              <% end %>
              <mark>
                <%= campaign.start_date.to_s("bd") %> - <%= campaign.end_date.to_s("bd") %>
              </mark>
            </label>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <%= render "@shared/forms/button_panel" do %>
      <%= f.submit "Generate Report", class: "btn btn-sm btn-primary transition-3d-hover mr-1" %>
      <%= link_to "Cancel", organization_reports_path(organization), class: "btn btn-sm btn-subtle-secondary transition-3d-hover" %>
    <% end %>
  </div>
<% end %>
