<%= simple_form_for @campaign_search, wrapper: :filter_form do |f| %>
  <%= f.input(:name, required: false) %>

  <% if authorized_user.can_admin_system? %>
    <%= f.input(:user_id, label: "Advertiser", collection: advertisers_for_select, required: false, input_html: { data: { controller: "select" }}) %>
  <% end %>
  <%= f.input(:fallback, collection: [[nil, nil], ["No", false], ["Yes", true], ["Paid", "paid"]], required: false, input_html: { data: { controller: "select" }}) %>
  <%= f.input(:statuses, collection: campaign_statuses_for_select, required: false, input_html: { multiple: true, data: { controller: "select" }}) %>
  <%= f.input(:country_codes, label: "Countries", collection: countries_for_select, required: false, input_html: { multiple: true, data: { controller: "select" }}) %>
  <%= f.input(:keywords, collection: keywords_for_select, required: false, input_html: { multiple: true, data: { controller: "select" }}) %>
  <%= f.input(:negative_keywords, collection: keywords_for_select, required: false, input_html: { multiple: true, data: { controller: "select" }}) %>

  <div class="text-right">
    <%= f.button :submit, value: "Apply Filters", class: "btn btn-sm btn-primary" %>
    <%= link_to "Clear", campaign_search_path(@campaign_search.to_gid_param), class: "btn-sm btn-link text-danger ml-3", method: :delete %>
  </div>
<% end %>
