<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/dashboard", class: "active" %>
<% end %>

<% content_for :actions do %>
  <%= render "/@shared/date_range_picker" %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Advertiser", "Dashboard",
    subtitle: "Overall view of your account",
    icon: "fas fa-tachometer" %>
<% end %>

<main id="content" role="main" class="bg-light">
  <div class="container space-1">

    <div class="card-deck d-block d-lg-flex card-lg-gutters-3 mb-3">
      <%= render "/@shared/widgets/stat_card",
        label: "Impressions",
        value: number_with_delimiter(current_user.impressions_count_as_advertiser(@start_date, @end_date)) %>
      <%= render "/@shared/widgets/stat_card",
        label: "Clicks",
        value: number_with_delimiter(current_user.clicks_count_as_advertiser(@start_date, @end_date)) %>
      <%= render "/@shared/widgets/stat_card",
        label: "CTR",
        value: number_to_percentage(current_user.click_rate_as_advertiser(@start_date, @end_date), precision: 2) %>
    </div>

    <div class="text-center mb-3 mt-5">
      <span class="u-divider u-divider--xs u-divider--text">Active Campaigns</span>
    </div>

    <div class="mb-7" id="dashboard-advertiser-cards">
      <div class="card-deck d-block d-lg-flex card-lg-gutters-3">
        <% @active_campaigns.each.with_index do |campaign, index| %>
          <%= render partial: "/campaigns/card",
            locals: { campaign: campaign, start_date: @start_date, end_date: @end_date }, as: :campaign %>

          <% if (index + 1) % 3 == 0 %>
            </div><div class="card-deck d-block d-lg-flex card-lg-gutters-3">
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</main>
