<%= render "devise/layout" do %>
  <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { class: "auth-form mx-auto", method: :post }) do |f| %>
    <%= f.error_notification %>
    <%= f.full_error :unlock_token %>
    <div class="text-center mb-2">
      <h4 class="font-weight-normal">Resend <span class="text-success">Unlock</span>?</h4>
      <p>Enter your email and let's get you back on track.</p>
    </div>
    <div class="form-label-group">
      <label class="form-label">Email address</label>
      <%= f.input :email,
                  label: false,
                  required: true,
                  autofocus: true,
                  input_html: {
                    autocomplete: "email",
                    class: "form-control"
                  } %>
    </div>
    <%= f.button :submit, "Resend Unlock", class: "btn btn-primary btn-block" %>
    <%= render "devise/links" %>
  <% end %>
<% end %>
