<% @results[:users].each do |user| %>
<li class="search-results--user" role="option" data-autocomplete-value="<%= user.to_gid_param %>"><%= user.name %> <small>(<%= user.email %>)</small></li>
<% end %>
<% @results[:properties].each do |property| %>
<li class="search-results--property" role="option" data-autocomplete-value="<%= property.to_gid_param %>"><%= property.name %> <small>(<%= property.user.email %>)</small></li>
<% end %>
<% @results[:campaigns].each do |campaign| %>
<li class="search-results--campaign" role="option" data-autocomplete-value="<%= campaign.to_gid_param %>"><%= campaign.name %> <small>(<%= campaign.user.email %>)</small></li>
<% end %>
<% @results[:organizations].each do |organization| %>
<li class="search-results--organization" role="option" data-autocomplete-value="<%= organization.to_gid_param %>"><%= organization.name %></small></li>
<% end %>
