<% unless local_assigns[:override]&.include? :page_heading %>
  <% content_for :page_heading do %>
    <%= page_heading "Viewing", "Coupons",
        subtitle: "#{pluralize(@pagy.count, "record")} found",
        icon: "fas fa-lightbulb-dollar" %>
  <% end %>
 <% end %>

  <% unless local_assigns[:override]&.include? :actions %>
   <% content_for :actions do %>
     <%= actions_list do %>
       <%= actions_list_item title: "Add Coupon", add_class: "mb-2" do %>
          <%= render "/shared/actions/add_coupon" %>
       <% end %>
     <% end %>
   <% end %>
 <% end %>

<div class="d-flex">
   <%= render "shared/sidebar" %>
   <div class="container mt-4">
     <header class="page-title-bar">
       <%= yield :page_heading %>
       <div class="d-flex flex-row-reverse border-bottom">
         <%= yield :actions %>
       </div>
     </header>
     <%= yield %>
   </div>
 </div>
