<%= table_wrapper do %>
  <%= paginated_table do %>
    <%= table_head do %>
      <%= table_row header: true do %>
        <%= table_column add_scope: "col" do %>Code<% end %>
        <%= table_column add_scope: "col" do %>Type<% end %>
        <%= table_column add_scope: "col" do %>Discount %<% end %>
        <%= table_column add_scope: "col" do %>Expiration<% end %>
        <%= table_column add_scope: "col" do %>Total<% end %>
        <%= table_column add_scope: "col" do %>Remaining<% end %>
        <%= table_column add_scope: "col" do %>&nbsp;<% end %>
      <% end %>
    <% end %>
    <%= table_body do %>
      <%= render partial: "/coupons/tr", collection: coupons, as: :coupon %>
    <% end %>
  <% end %>
  <%= pagination_wrapper do %>
    <span><%== pagy_bootstrap_nav(pagy) if pagy.pages > 1 %></span>
    <%= pagy_entries(pagy) %>
  <% end %>
<% end %>
