<div class="page<%= " has-sidebar has-sidebar-expand-xl" if sidebar %>">
  <%= tag.div(class: "sidebar-backdrop") if sidebar %>
  <div class="page-inner" data-controller="auto-height">
    <%= header %>
    <%= render(tabs) if tabs %>
    <%= tag.hr(class: "my-3") if !tabs %>
    <div class="page-section"><%= body %></div>
    <%= render "/#{subject_view_directory}/sidebar", subject: subject if sidebar %>
  </div>
</div>
