<%= content_tag("div", class: classes) do %>
  <%= tag.div(class: "sidebar-backdrop") if sidebar %>
  <div class="page-inner" data-controller="auto-height">
    <%= header %>
    <%= render(tabs) if tabs %>
    <%= tag.hr(class: "my-3") if !tabs && header %>
    <div class="page-section"><%= body %></div>
    <%= render sidebar_partial ? sidebar_partial : "/#{subject_view_directory}/sidebar", subject: subject if sidebar %>
  </div>
<% end %>
