<main id="content" role="main" class="border-bottom">
  <!-- Hero Section -->
  <div class="gradient-overlay-half-primary-v2">
    <div class="container space-top-lg-3 space-top-md-4 space-1 mt-3">
      <%= render partial: "/job_posting_searches/form" %>
    </div>
  </div>
  <!-- End Hero Section -->

  <!-- Jobs Section -->
  <%= tag.div class: "container space-2", data: { controller: "load-more" } do %>
    <div class="d-flex">
      <h2 class="h2 flex-grow-1">
        Found <strong><%= @job_postings_count %> <%= "Job".pluralize @job_postings_count %></strong>
      </h2>
      <% if @job_posting_search.present? %>
        <small><%= link_to "Reset Search", job_posting_search_path(0), class: "btn btn-soft-primary btn-sm", method: :delete %></small>
      <% end %>
    </div>
    <ul class="list-group list-group-flush" data-target="load-more.container">
      <%= render partial: "list_item", collection: @premium_job_postings, as: :job_posting, cached: true %>
      <%= render partial: "list_items", locals: { job_postings: @job_postings, pagy: @pagy } %>
    </ul>
  <% end %>
  <!-- End Jobs Section -->

  <div class="bg-primary text-white text-center">
    <div class="container space-1">
      <span class="h6 d-block d-lg-inline-block font-weight-light mb-lg-0">
        <span class="font-weight-semi-bold">Become a CodeFund Publisher</span> and earn funding for your open source
      </span>
      <%= link_to "Learn More", publishers_path, class: "btn btn-sm btn-white transition-3d-hover font-weight-normal ml-2" %>
    </div>
  </div>
</main>
