<% content_for :demo do %>
  <script>
    document.addEventListener('turbolinks:load', function () {
      var script = document.createElement('script');
      script.src = "<%= @script_path %>";
      document.head.appendChild(script);
    });
  </script>
<% end %>
<%= tag.div(id: "codefund") if position&.inquiry&.absolute? %>
<div class="row p-4" data-controller="ad-demo">
  <%= form_with url: demo_path, method: :put, html: {data: {target: "ad-demo.form"}, class: "w-100"} do |form| %>
    <div class="col-md-6 offset-md-3 mb-md-2">
      <label class="form-label select" for="ad_demo_template">Template:</label>
      <%= form.collection_select(:template, ENUMS::AD_TEMPLATES.values, :to_s, :to_s, {selected: @template}, {
            class: "form-control custom-select", id: "ad_demo_template",
            data: {action: "change->ad-demo#update", controller: "select", target: "ad-demo.templateSelect"}}) %>
    </div>
    <div class="col-md-6 offset-md-3">
      <label class="form-label select" for="ad_demo_theme">Theme:</label>
      <%= form.collection_select(:theme, ENUMS::AD_THEMES.values, :to_s, :to_s, {selected: @theme}, {
            class: "form-control custom-select", id: "ad_demo_theme",
            data: {action: "change->ad-demo#update", controller: "select", target: "ad-demo.themeSelect"}}) %>
    </div>
  <% end %>
</div>
<div class="<%= @theme.inquiry.dark? ? "bg-dark-ad text-white" : "bg-white" %> vw-100 pt-4">
  <div class="container w-full mx-auto d-flex flex-column">
    <h1>Ad Template: <%= @template.humanize %></h1>
    <p>
      Lorem Khaled Ipsum is a major key to success. You see the hedges, how I got it shaped up? It’s important to shape up
      your hedges, it’s like getting a haircut, stay fresh. Give thanks to the most high. Always remember in the jungle there’s
      a lot of they in there, after you overcome they, you will make it to paradise. Hammock talk come soon. In life there will
      be road blocks but we will over come it. Surround yourself with angels, positive energy, beautiful people, beautiful souls,
      clean heart, angel. Mogul talk.
    </p>
    <%= tag.div(id: "codefund") if position&.inquiry&.relative? %>
    <h1>Ad Theme: <%= @theme.humanize %></h1>
    <p>
      We don’t see them, we will never see them. You smart, you loyal, you a genius. Eliptical talk. You do know, you do know that they
      don’t want you to have lunch. I’m keeping it real with you, so what you going do is have lunch. Surround yourself with angels. You
      smart, you loyal, you a genius. Give thanks to the most high. We the best. In life there will be road blocks but we will over come
      it. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving
      up, I’m just getting started. Bless up. The key is to drink coconut, fresh coconut, trust me. Find peace, life is like a water fall,
      you’ve gotta flow. Find peace, life is like a water fall, you’ve gotta flow. Lion! Life is what you make it, so let’s make it. To succeed
      you must believe. When you believe, you will succeed. Mogul talk. It’s important to use cocoa butter. It’s the key to more success, why
      not live smooth? Why live rough? Cloth talk. They never said winning was easy. Some people can’t handle success, I can.
    </p>
    <p>
      It’s important to use cocoa butter. It’s the key to more success, why not live smooth? Why live rough? It’s on you how you want to live
      your life. Everyone has a choice. I pick my choice, squeaky clean. I’m giving you cloth talk, cloth. Special cloth alert, cut from a
      special cloth. You should never complain, complaining is a weak emotion, you got life, we breathing, we blessed. Life is what you make
      it, so let’s make it. I’m up to something. In life there will be road blocks but we will over come it.
    </p>
    <p>
      Egg whites, turkey sausage, wheat toast, water. Of course they don’t want us to eat our breakfast, so we are going to enjoy our breakfast.
      The key is to enjoy life, because they don’t want you to enjoy life. I promise you, they don’t want you to jetski, they don’t want you to
      smile. Surround yourself with angels. In life you have to take the trash out, if you have trash in your life, take it out, throw it away,
      get rid of it, major key. The weather is amazing, walk with me through the pathway of more success. Take this journey with me, Lion!
    </p>
    <p>
      Mogul talk. I’m giving you cloth talk, cloth. Special cloth alert, cut from a special cloth. Eliptical talk. Mogul talk. They will try
      to close the door on you, just open it. Mogul talk. Bless up. Look at the sunset, life is amazing, life is beautiful, life is what you make
      it. They will try to close the door on you, just open it. To be successful you’ve got to work hard, to make history, simple, you’ve got
      to make it. I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is
      the healing.
    </p>
    <p>
      You smart, you loyal, you a genius. Special cloth alert. Congratulations, you played yourself. You see the hedges, how I got it shaped
      up? It’s important to shape up your hedges, it’s like getting a haircut, stay fresh. Celebrate success right, the only way, apple. The key
      is to drink coconut, fresh coconut, trust me. Watch your back, but more importantly when you get out the shower, dry your back, it’s a
      cold world out there. The weather is amazing, walk with me through the pathway of more success. Take this journey with me, Lion!
    </p>
    <p>
      We don’t see them, we will never see them. You smart, you loyal, you a genius. Eliptical talk. You do know, you do know that they don’t
      want you to have lunch. I’m keeping it real with you, so what you going do is have lunch. Surround yourself with angels. You smart, you
      loyal, you a genius. Give thanks to the most high. We the best. In life there will be road blocks but we will over come it. Put it this
      way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just
      getting started.
    </p>
    <p>
      Bless up. The key is to drink coconut, fresh coconut, trust me. Find peace, life is like a water fall, you’ve gotta flow. Find peace,
      life is like a water fall, you’ve gotta flow. Lion! Life is what you make it, so let’s make it. To succeed you must believe. When you
      believe, you will succeed. Mogul talk. It’s important to use cocoa butter. It’s the key to more success, why not live smooth? Why live
      rough? Cloth talk. They never said winning was easy. Some people can’t handle success, I can.
    </p>
    <p>
      It’s important to use cocoa butter. It’s the key to more success, why not live smooth? Why live rough? It’s on you how you want to
      live your life. Everyone has a choice. I pick my choice, squeaky clean. I’m giving you cloth talk, cloth. Special cloth alert, cut from
      a special cloth. You should never complain, complaining is a weak emotion, you got life, we breathing, we blessed. Life is what you
      make it, so let’s make it. I’m up to something. In life there will be road blocks but we will over come it.
    </p>
    <p>
      Egg whites, turkey sausage, wheat toast, water. Of course they don’t want us to eat our breakfast, so we are going to enjoy our
      breakfast. The key is to enjoy life, because they don’t want you to enjoy life. I promise you, they don’t want you to jetski, they don’t
      want you to smile. Surround yourself with angels. In life you have to take the trash out, if you have trash in your life, take it out,
      throw it away, get rid of it, major key. The weather is amazing, walk with me through the pathway of more success. Take this journey
      with me, Lion!
    </p>
    <p>
      Mogul talk. I’m giving you cloth talk, cloth. Special cloth alert, cut from a special cloth. Eliptical talk. Mogul talk. They will try
      to close the door on you, just open it. Mogul talk. Bless up. Look at the sunset, life is amazing, life is beautiful, life is what you make
      it. They will try to close the door on you, just open it. To be successful you’ve got to work hard, to make history, simple, you’ve got to
      make it. I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the
      healing.
    </p>
    <p>
      You smart, you loyal, you a genius. Special cloth alert. Congratulations, you played yourself. You see the hedges, how I got it shaped up?
      It’s important to shape up your hedges, it’s like getting a haircut, stay fresh. Celebrate success right, the only way, apple. The key is to
      drink coconut, fresh coconut, trust me. Watch your back, but more importantly when you get out the shower, dry your back, it’s a cold world
      out there. The weather is amazing, walk with me through the pathway of more success. Take this journey with me, Lion!
    </p>
  </div>
</div>
