<% creatives.each do |creative| %>
  <div class="col-md-6 mb-3">
    <div class="card border-0">
      <div class="card-body p-3">
        <div class="custom-control custom-checkbox d-flex align-items-center small text-muted">
          <input class="custom-control-input" type="checkbox" value="<%= creative.id %>"
                name="campaign[creative_ids][]" id="campaign_creative_id_<%= creative.id %>"
                <%= 'checked="checked"' if selected_creative_ids.include?(creative.id) %>/>
          <label class="custom-control-label ml-1" for="campaign_creative_id_<%= creative.id %>">
            <div class="media ml-2">
              <% if creative.standard? %>
                <%= image_tag creative.large_image || "", class: "align-self-start mr-3", style: "width: 130px;" %>
                <div class="media-body h6 text-black-50 font-weight-normal">
                  <strong class="text-dark"><%= creative.headline %></strong>
                  <%= creative.body %>
                </div>
              <% end %>

              <% if creative.sponsor? %>
                <%= image_tag creative.sponsor_image, class: "align-self-start mr-3", style: "width: 100%;" %>
              <% end %>
            </div>
          </label>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="col-md-6 mb-3">
  <div class="card border-0 bg-white  ">
    <div class="card-body p-5 text-center">
      <%= link_to "Add New Creative", new_creative_path, class: "btn btn-link btn-lg" %>
    </div>
  </div>
</div>
