<div class="table-responsive">
  <table class="js-datatable table table-striped table-compact table-borderless u-datatable u-datatable__striped u-datatable__trigger">
    <thead>
      <tr class="border-bottom">
        <th class="text-left">Date</th>
        <th class="text-center" style="width: 15%;">Spend</th>
        <th class="text-center" style="width: 15%;">Impressions</th>
        <th class="text-center" style="width: 15%;">Clicks</th>
        <th class="text-center" style="width: 15%;">CTR</th>
        <th class="text-center" style="width: 15%;">CPM</th>
        <th class="text-center" style="width: 15%;">CPC</th>
      </tr>
    </thead>
    <tbody>
      <% if @summary_report %>
        <tr class="bg-secondary opacity-50">
          <td class="text-left align-middle text-light"><strong>Totals</strong></td>
          <td class="text-center align-middle text-light"><%= @summary_report.gross_revenue.format %></td>
          <td class="text-center align-middle text-light"><%= number_with_delimiter @summary_report.impressions_count %></td>
          <td class="text-center align-middle text-light"><%= number_with_delimiter @summary_report.clicks_count %></td>
          <td class="text-center align-middle text-light"><%= number_to_percentage @summary_report.click_rate, precision: 2 %></td>
          <td class="text-center align-middle text-light"><%= @summary_report.cpm.format %></td>
          <td class="text-center align-middle text-light"><%= @summary_report.cpc.format %></td>
        </tr>
      <% end %>
      <%= render partial: "/campaign_dailies/tr", collection: @daily_summaries, as: :daily_summary %>
    </tbody>
  </table>
</div>
