<div class="col-md-12">
  <div class="card-deck card-sm-gutters-2 d-block d-sm-flex">
    <div class="card card-frame cursor-pointer gradient-half-primary-v3 opacity-70"
        data-amount="<%= @premium_placement_offer_price.cents %>"
        data-target="job-posting-purchases-form.premiumPlacementOffer"
        data-action="mouseenter->job-posting-purchases-form#highlight mouseleave->job-posting-purchases-form#dehighlight click->job-posting-purchases-form#togglePremiumPlacementOffer">
      <div class="card-body">
        <div class="mb-2">
          <h6 class="text-primary mb-0">Premium Placement</h6>
          <h5><strong><%= @premium_placement_offer_price.format no_cents: true %></strong></h5>
        </div>
        <small>
          Highlighted above the fold placement for your job on every relevant search results page.
        </small>
      </div>
    </div>

    <div class="card card-frame cursor-pointer gradient-half-primary-v3 opacity-70"
        data-amount="<%= @code_fund_ads_offer_price.cents %>"
        data-target="job-posting-purchases-form.codeFundAdsOffer"
        data-action="mouseenter->job-posting-purchases-form#highlight mouseleave->job-posting-purchases-form#dehighlight click->job-posting-purchases-form#toggleCodeFundAdsOffer">
      <div class="card-body">
        <div class="mb-2">
          <h6 class="text-primary mb-0">CodeFund Ads</h6>
          <h5><strong><%= @code_fund_ads_offer_price.format no_cents: true %></strong></h5>
        </div>
        <small>
          Place <strong>75,000 impressions</strong> on the CodeFund ad network to reach passive job seekers.
        </small>
      </div>
    </div>

    <div class="card card-frame cursor-pointer gradient-half-primary-v3 opacity-70"
        <%= "hidden" unless (@job_posting.keywords & read_the_docs_keywords).present? %>
        data-amount="<%= @read_the_docs_offer_price.cents %>"
        data-target="job-posting-purchases-form.readTheDocsOffer"
        data-action="mouseenter->job-posting-purchases-form#highlight mouseleave->job-posting-purchases-form#dehighlight click->job-posting-purchases-form#toggleReadTheDocsOffer">
      <div class="card-body">
        <div class="mb-2">
          <h6 class="text-primary mb-0">ReadTheDocs Ads</h6>
          <h5><strong><%= @read_the_docs_offer_price.format no_cents: true %></strong></h5>
        </div>
        <small>
          Place <strong>100,000 impressions</strong> on the <a href="">ReadTheDocs</a> ad network to reach passive job seekers.
        </small>
      </div>
    </div>
  </div>
</div>
