<%= tag.div class: "col-auto px-0 d-none d-sm-flex justify-content-sm-end mb-3", data: navigable_expandos(controller: "sortable-list") do %>
  <div class="dropdown">
    <div class="btn-group" role="group" aria-label="sort">
      <%= tag.button current_sort_direction_icon, class: "btn btn-secondary", data: navigable_expandos(action: "click->sortable-list#flip") %>
      <button class="btn btn-secondary" style="min-width:155px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= @sorted_by.titleize %>
        <span class="ml-auto fa fa-caret-down"></span>
      </button>
      <div class="dropdown-menu dropdown-menu-right stop-propagation">
        <div class="dropdown-arrow"></div>
        <h6 class="dropdown-header"> Sort By </h6>
        <% @sortable_columns.each_with_index do |column, index| %>
          <label class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="sortCampaignBy" value="<%= index %>" data-action="click->sortable-list#sort" data-sorted-by="<%= column %>" />
            <span class="custom-control-label"><%= column.titleize %></span>
          </label>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
