<div class="page-inner">
  <%= render "/shared/page_heading_with_subtitle",
    title: "Administrator Dashboard",
    datepicker: false %>

  <div class="page-section">
    <%= render "/administrator_dashboards/sortable_dropdown" %>
    <%= card do %>
      <%= card_body padding: "p-0" do %>
        <%= render "/administrator_dashboards/table", campaigns: @campaigns, pagy: @pagy %>
      <% end %>
    <% end %>
  </div>
</div>
