<% content_for :breadcrumbs do %>
  <%= render "/shared/breadcrumbs/creatives" %>
  <%= render "/shared/breadcrumbs/creative", creative: @creative %>
  <%= render "/shared/breadcrumbs/edit_creative", creative: @creative, class: "active" %>
<% end %>

<% content_for :actions do %>
  <%= render "/shared/actions/add_images", imageable: current_user %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Editing", "Creative",
    subtitle: @creative.name,
    icon: "fas fa-palette" %>
<% end %>

<main id="content" role="main" class="bg-light">
  <div class="container space-1">
    <%= render "/creatives/form", creative: @creative %>
  </div>
</main>
