<%= form_with model: @campaign_bundle, id: "campaign-bundle-form", local: true do |f| %>
  <div class="row">
    <div class="col-sm-4">
      <%= render CardComponent.new do %>
        <%= render Card::HeaderComponent.new do %>
          <%= render(Card::TitleComponent.new) { "Bundle Details" } %>
          <%= render Card::SubtitleComponent.new do %>
            <%= table add_class: "table-sm table-bordered mt-2" do %>
              <%= table_head add_class: "bg-light" do %>
                <%= table_row header: true do %>
                  <%= table_column "Spend", add_class: "text-right" %>
                  <%= table_column "Days", add_class: "text-right" %>
                  <%= table_column add_class: "text-right" do %><small class="d-block opacity-60">Estimated</small>Impressions<% end %>
                  <%= table_column add_class: "text-right" do %><small class="d-block opacity-60">Estimated</small>Clicks<% end %>
                  <%= table_column add_class: "text-right" do %><small class="d-block opacity-60">Estimated</small>Average CPM<% end %>
                  <%= table_column add_class: "text-right" do %><small class="d-block opacity-60">Estimated</small>Average CPC<% end %>
                <% end %>
              <% end %>
              <%= table_body add_class: "bg-success-light" do %>
                <%= table_column @campaign_bundle.total_budget.format(no_cents: true), add_class: "font-weight-normal text-dark text-right" %>
                <%= table_column number_with_delimiter(@campaign_bundle.total_operative_days), add_class: "font-weight-normal text-dark text-right" %>
                <%= table_column number_with_delimiter(estimated_impressions_count(@campaign_bundle)), add_class: "font-weight-normal text-dark text-right" %>
                <%= table_column number_with_delimiter(estimated_clicks_count(@campaign_bundle)), add_class: "font-weight-normal text-dark text-right" %>
                <%= table_column estimated_cpm(@campaign_bundle).format, add_class: "font-weight-normal text-dark text-right" %>
                <%= table_column estimated_cpc(@campaign_bundle).format, add_class: "font-weight-normal text-dark text-right" %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <%= render Card::BodyComponent.new do %>
          <div class="row">
            <div class="col form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: "form-control", data: {reflex: "cf:value-committed->CampaignBundlesReflex#update_name"} %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <%= f.label "Advertiser" %>
              <%= f.select :user_id, organization_users_for_select, {},
                id: "#{dom_id Current.organization}-user_id",
                class: "form-control custom-select",  data: {controller: "select", reflex_permanent: true} %>
            </div>
            <div class="col-md-6 form-group">
              <%= f.label "Date Range" %>
              <%= f.text_field(:date_range, class: "js-range-datepicker form-control bg-white rounded-right",
                                data: {reflex: "cf:date-range-selected->CampaignBundlesReflex#update_date_range", controller: "select-date-range"}) %>
            </div>
          </div>
          <div class="row" data-controller="checkboxes" data-reflex-name="CampaignBundlesReflex#update_region_ids">
            <div class="col form-group">
              <%= f.label :regions, "Regions" %>
              <% Region.order(:name).each do |region| %>
                <div class="custom-control custom-checkbox ml-1">
                  <%= f.check_box :region_ids,
                    {id: dom_id(region), class: "custom-control-input", multiple: true, data: {action: "change->checkboxes#invokeReflex"}},
                    region.id, @campaign_bundle.region_ids.include?(region.id) %>
                  <%= f.label region.name, region.name, for: dom_id(region), class: "custom-control-label" %>
                </div>
              <% end %>
              <div class="mt-2">
                <a href="#" class="btn btn-link btn-light border" data-action="click->checkboxes#checkAll">Select All</a>
                <a href="#" class="btn btn-link btn-light border" data-action="click->checkboxes#uncheckAll">Clear Selections</a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="col-sm-8">
      <%= render "/shared/errors", record: @campaign_bundle %>
      <%= render "/campaign_bundles/inventory" %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= render partial: "/campaign_bundles/campaigns/form", collection: @campaign_bundle.campaigns, as: :campaign, locals: {f: f} %>
    </div>
  </div>
  <%= button_panel do %>
    <%= link_to "Add Campaign", "#", class: "btn btn-secondary mr-2", data: {reflex: "click->CampaignBundlesReflex#add_campaign"} %>
    <%= f.submit "Save Bundle", class: "btn btn-primary mr-2" if @campaign_bundle.valid? && @campaign_bundle.campaigns.present? %>
    <%= link_to "Reset", "#", class: "btn btn-link mr-2", data: {reflex: "click->CampaignBundlesReflex#reset"} %>
  <% end %>
<% end %>
