<div class="list-group-item list-group-item-<%= status_color(campaign_bundle.status) %>"
     data-target="filterable-list.filterable"
     data-filter-key='<%= "#{campaign_bundle.name.downcase} #{campaign_bundle.status}" %>'>
  <div class="list-group-item-body">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex">
        <h4 class="list-group-item-title">
          <%= link_to campaign_bundle.name, campaign_bundle, title: "View campaign_bundle", data: tooltip_expando %><br />
          <% if authorized_user.can_admin_system? %>
            <small><%= link_to campaign_bundle.organization.name, organization_path(campaign_bundle.organization) %></small>
          <% end %>
        </h4>
      </div>
      <ul class="list-inline text-muted mb-0">
        <li class="d-none d-sm-inline list-inline-item mr-3">
          <span class="badge badge-subtle badge-<%= status_color(campaign_bundle.status) %>"><%= campaign_bundle.status.humanize %></span>
        </li>
        <%= goto_button(link: campaign_bundle_path(campaign_bundle), icon: "fas fa-chevron-right", title: "View campaign bundle") %>
      </ul>
    </div>
  </div>
</div>
