<!-- ========== MAIN ========== -->
<main id="content" role="main">
  <!-- Hero Section -->
  <div id="SVGheroSectionBg" class="svg-preloader position-relative gradient-half-primary-v3">
    <div class="container space-2">
      <div class="row align-items-lg-center">
        <div class="col-lg-5 mb-7 mb-lg-0">
          <!-- Info -->
          <h1 class="mb-4">Your ads will reach the <span class="text-primary font-weight-semi-bold">right</span> developers.</h1>
          <p>CodeFund provides a turn-key advertising solution to place your ad in front of software developers of many programming languages.</p>

          <a class="js-go-to mt-3 btn btn-primary u-btn-primary--air u-btn-wide u-btn-pill transition-3d-hover" href="javascript:;"
            data-target="#applyForAdvertiser"
            data-type="static">Advertise with CodeFund</a>
          <br>
          <%= link_to "View our Q3 Pricing", pricing_path, class: "mt-1 btn btn-link" %>
        </div>

        <div class="col-lg-7">
          <!-- SVG Icon -->
          <figure class="ie-we-have-an-idea">
            <%= image_tag "svg/undraw_product_tour_foyt.svg", style: "width: 100%;", class: "js-svg-injector", data: { parent: "#SVGheroSectionBg" } %>
          </figure>
          <!-- End SVG Icon -->
        </div>
      </div>
    </div>

    <!-- SVG Background -->
    <figure class="position-absolute right-0 bottom-0 left-0">
      <%= image_tag "svg/components/wave-1-bottom-sm.svg", class: "js-svg-injector", data: { parent: "#SVGheroSectionBg" } %>
    </figure>
    <!-- End SVG Background Section -->
  </div>
  <!-- End Hero Section -->

  <!-- CODEFUND FOR -->
  <div class="container u-space-2">
    <div class="w-md-80 w-lg-50 text-center mx-auto mb-9">
      <span class="u-label u-label--sm u-label--success mb-2">CodeFund</span>
      <h2 class="text-codefund-purple font-weight-normal">Who is <span class="font-weight-bold text-success">CodeFund</span> for?</h2>
      <p>Basically anyone who wants to get their message in front of software developers</p>
    </div>
    <div class="row">
      <div class="col-md-4 mb-7 mb-md-0">
        <div class="text-center">
          <div class="position-relative">
            <div id="SVGcircleProcess1" class="svg-preloader u-indicator-dots min-height-155 mb-2">
              <!-- Icon -->
              <span class="text-success btn btn-lg btn-icon mt-7">
                <span class="fas fa-badge-dollar font-size-5 btn-icon__inner btn-icon__inner-bottom-minus"></span>
              </span>
              <!-- End Icon -->

              <!-- SVG Shape -->
              <figure class="w-100 position-absolute top-0 right-0 left-0 z-index-n1">
                <%= image_tag "svg/components/circle-process-1.svg", class: "js-svg-injector", data: { parent: "#SVGcircleProcess1" }%>
              </figure>
              <!-- End SVG Shape -->
            </div>
          </div>

          <h3 class="h5">SaaS Companies</h3>
          <p class="mb-md-0">Show your products or services to software developers all over the world.</p>
        </div>
      </div>

      <div class="col-md-4 mb-7 mb-md-0">
        <div class="text-center">
          <div class="position-relative">
            <div id="SVGcircleProcess2" class="svg-preloader u-indicator-dots min-height-155 mb-2">
              <!-- Icon -->
              <span class="text-primary btn btn-lg btn-icon mt-7">
                <span class="fas fa-graduation-cap font-size-5 btn-icon__inner btn-icon__inner-bottom-minus"></span>
              </span>
              <!-- End Icon -->

              <!-- SVG Shape -->
              <figure class="w-100 position-absolute top-0 right-0 left-0 z-index-n1">
                <%= image_tag "svg/components/circle-process-2.svg", class: "js-svg-injector", data: { parent: "#SVGcircleProcess2" }%>
              </figure>
              <!-- End SVG Shape -->
            </div>
          </div>
          <h3 class="h5">Training Services</h3>
          <p class="mb-md-0">Find new students for your online or on-campus software training courses.</p>
        </div>
      </div>

      <div class="col-md-4 mb-7 mb-md-0">
        <div class="text-center">
          <div id="SVGcircleProcess3" class="svg-preloader min-height-155 mb-2">
            <!-- Icon -->
            <span class="text-danger btn btn-lg btn-icon mt-7">
              <span class="fas fa-bullhorn font-size-5 btn-icon__inner btn-icon__inner-bottom-minus"></span>
            </span>
            <!-- End Icon -->

            <!-- SVG Shape -->
            <figure class="w-100 position-absolute top-0 right-0 left-0 z-index-n1">
              <%= image_tag "svg/components/circle-process-3.svg", class: "js-svg-injector", data: { parent: "#SVGcircleProcess3" }%>
            </figure>
            <!-- End SVG Shape -->
          </div>
          <h3 class="h5">Real-Time Announcements</h3>
          <p class="mb-md-0">Upcoming conference? New feature? Get the message out today!</p>
        </div>
      </div>
    </div>
  </div>
  <!-- END CODEFUND FOR -->

  <!-- Testimonials Section -->
  <div class="container space-3">
    <!-- SVG Quote -->
    <figure class="mx-auto text-center mb-3">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px"
        viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
        <path class="fill-gray-400" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
          C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
          c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
          C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z"/>
      </svg>
    </figure>
    <!-- End SVG Quote -->

    <!-- Blockquote -->
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-6">
      <blockquote class="lead text-secondary font-weight-normal">CodeFund is an amazing resource for the Open Source community. Supporting OS sustainability while generating awareness for Rollbar was a total no-brainer decision!</blockquote>
    </div>
    <!-- End Blockquote -->

    <!-- Reviewer -->
    <div class="d-flex justify-content-center align-items-center w-lg-50 mx-auto">
      <div class="u-avatar">
        <%= image_tag "avatars/mike-smith.jpg", class: "img-fluid rounded-circle", alt: "Michael Smith" %>
      </div>
      <div class="ml-3">
        <h4 class="h6 mb-0">Michael Smith</h4>
        <small class="text-muted">Head of Growth</small>
      </div>
    </div>
    <!-- End Reviewer -->
  </div>
  <!-- End Testimonials Section -->



  <!-- TARGETING Section -->
  <div class="container u-space-2">
    <div class="row justify-content-lg-between align-items-lg-center">
      <div class="col-lg-5 order-lg-2 mb-9 mb-lg-0">
        <!-- Description -->
        <h2 class="font-weight-medium">Millions of Developers.<br>Target the right audience.</h2>
        <p>
          CodeFund provides the tooling to reach the right audience at the right time with the right message.
        </p>
        <!-- End Description -->

        <!-- List -->
        <ul class="list-unstyled text-secondary">
          <li class="media my-3">
            <div class="d-flex mt-1 mr-2">
              <span class="fa fa-check text-success"></span>
            </div>
            <div class="media-body">
              Programming language
            </div>
          </li>
          <li class="media my-3">
            <div class="d-flex mt-1 mr-2">
              <span class="fa fa-check text-success"></span>
            </div>
            <div class="media-body">
              Country-based geolocation
            </div>
          </li>
          <li class="media my-3">
            <div class="d-flex mt-1 mr-2">
              <span class="fa fa-check text-success"></span>
            </div>
            <div class="media-body">
              Specific publishers or properties
            </div>
          </li>
        </ul>
        <!-- End List -->
      </div>

      <div class="col-lg-7 order-lg-1">
        <%= image_tag "svg/undraw_target_kriv.svg", style: "max-width: 100%;" %>
      </div>
    </div>
  </div>
  <!-- End TARGETING Section -->

  <!-- Advertiser Form Section -->
  <div id="SVGwave5Top" class="svg-preloader position-relative gradient-half-primary-v1">
    <div class="container space-top-3 space-top-md-4 space-bottom-2">
      <div class="w-lg-80 mx-auto pt-4">
        <div id="applyForAdvertiser" class="inverted-feedback mt-5">
          <!-- Title -->
          <div class="text-center mb-7">
            <h2 class="h3 text-white font-weight-normal">Become an Advertiser</h2>
            <p class="text-white">If your audience is software developers, we can help you!</p>
          </div>
          <!-- End Title -->

          <div class="typeform-widget" data-controller="typeform" data-url="https://codefund.typeform.com/to/KCrIxI?referring_user_id=<%= session[:referring_user_id] %>" style="width: 100%; height: 500px;"></div>
        </div>
      </div>
    </div>

    <!-- SVG Top Shape -->
    <figure class="position-absolute top-0 right-0 left-0 z-index-2">
      <%= image_tag "svg/components/wave-5-top.svg", class: "js-svg-injector", data: { parent: "#SVGwave5Top" } %>
    </figure>
    <!-- End SVG Top Shape -->
  </div>
  <!-- End Advertiser Form Section -->
</main>
<!-- ========== END MAIN ========== -->
