<%= render CardComponent.new do %>
  <%= render Card::HeaderComponent.new(classes: "bg-muted") do %>
    <%= render(Card::TitleComponent.new) do %>
      <%= number_with_delimiter campaign.inventory_summary.average_daily_impressions_count %> impressions/day
      <small><%= number_to_percentage campaign.inventory_summary.average_click_rate, precision: 2 %> average CTR</small>
    <% end %>
    <%= render(Card::SubtitleComponent.new(classes: "font-weight-bold leading-relaxed")) { "Average inventory based on your targeted locations and audience but not your budget or availability" } %>
  <% end %>
  <%= render(Card::BodyComponent.new(styles: "max-height:570px; overflow-y:scroll;")) do %>
    <h6 class="text-muted">eCPM by Region & Audience</h6>
    <%= table add_class: "table-sm table-bordered" do %>
      <%= table_head do %>
        <%= table_row header: true, add_class: "bg-light" do %>
          <%= table_column "Region" %>
          <%= table_column "Audience" %>
          <%= table_column add_class: "text-right" do %><small class="d-block opacity-60">Base</small>eCPM<% end %>
          <%= table_column add_class: "text-right" do %><small class="d-block opacity-60">Adjusted</small>eCPM<% end %>
        <% end %>
      <% end %>
      <%= table_body do %>
        <% campaign.inventory_summary.inventory_details.map do |inventory_detail| %>
          <%= table_row title: "#{inventory_detail.region.name} + #{inventory_detail.audience.name}" do %>
            <%= table_data do %><small class="text-nowrap"><%= truncate inventory_detail.region.name, length: 18 %></small><% end %>
            <%= table_data do %><small class="text-nowrap"><%= truncate inventory_detail.audience.name, length: 18 %></small><% end %>
            <%= table_data inventory_detail.base_ecpm.format, add_class: "text-right text-monospace" %>
            <%= table_data inventory_detail.adjusted_ecpm.format, add_class: "text-right text-monospace" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <h6 class="text-muted mt-3">Inventory by Region & Audience</h6>
    <%= table add_class: "table-sm table-bordered" do %>
      <%= table_head do %>
        <%= table_row header: true, add_class: "bg-light" do %>
          <%= table_column "Region" %>
          <%= table_column "Audience" %>
          <%= table_column add_class: "text-right" do %><small class="d-block opacity-60">Average Daily</small>Impressions<% end %>
          <%= table_column add_class: "text-right" do %><small class="d-block opacity-60">Average</small>Click Rate<% end %>
          <%= table_column add_class: "text-right" do %><small class="d-block opacity-60">Applicable</small>Daily Budget<% end %>
          <%= table_column add_class: "text-right" do %><small class="d-block opacity-60">Applicable</small>Total Budget<% end %>
          <%= table_column add_class: "text-right" do %><small class="d-block opacity-60">Estimated</small>Total Impressions<% end %>
          <%= table_column add_class: "text-right" do %><small class="d-block opacity-60">Estimated</small>Total Clicks<% end %>
          <%= table_column add_class: "text-right" do %><small class="d-block opacity-60">Estimated</small>CPC<% end %>
        <% end %>
      <% end %>
      <%= table_body do %>
        <% campaign.inventory_summary.inventory_details.map do |inventory_detail| %>
          <%= table_row title: "#{inventory_detail.region.name} + #{inventory_detail.audience.name}" do %>
            <%= table_data do %><small class="text-nowrap"><%= truncate inventory_detail.region.name, length: 18 %></small><% end %>
            <%= table_data do %><small class="text-nowrap"><%= truncate inventory_detail.audience.name, length: 18 %></small><% end %>
            <%= table_data number_with_delimiter(inventory_detail.average_daily_impressions_count), add_class: "text-right text-monospace" %>
            <%= table_data number_to_percentage(inventory_detail.average_click_rate, precision: 2), add_class: "text-right text-monospace" %>
            <%= table_data inventory_detail.applicable_daily_budget.format, add_class: "text-right text-monospace bg-success-light" %>
            <%= table_data inventory_detail.applicable_total_budget.format, add_class: "text-right text-monospace bg-success-light" %>
            <%= table_data number_with_delimiter(inventory_detail.estimated_impressions_count), add_class: "text-right text-monospace bg-success-light" %>
            <%= table_data number_with_delimiter(inventory_detail.estimated_clicks_count), add_class: "text-right text-monospace bg-success-light" %>
            <%= table_data inventory_detail.estimated_cpc.format, add_class: "text-right text-monospace bg-success-light" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <h6 class="text-muted mt-3">
      Daily Inventory
      <small class="ml-2">
        <span class="text-black"><i class="fas fa-circle"></i> Total</span>
        <span class="text-danger ml-1"><i class="fas fa-circle"></i> Sold</span>
        <span class="text-success ml-1"><i class="fas fa-circle"></i> Unsold</span>
      </small>
      <small class="d-block">based on active campaigns operating on <%= tag.span @campaign_bundle.start_date.to_s("mm/dd/yyyy"), class: "text-monospace" %></small>
    </h6>
    <%= table add_class: "table-sm table-bordered" do %>
      <%= table_head do %>
        <%= table_row header: true, add_class: "bg-light" do %>
          <%= table_column "#" %>
          <%= table_column "Region" %>
          <%= table_column "Audience" %>
          <%= table_column add_class: "text-right" do %><small class="d-block opacity-60">Estimated Daily</small>Impressions<% end %>
          <%= table_column add_class: "text-right" do %><small class="d-block opacity-60">Estimated Daily</small>Value<% end %>
        <% end %>
      <% end %>
      <%= table_body do %>
        <% campaign.inventory_summary.inventory_details.sort_by(&:average_daily_impressions_count).reverse.each_with_index do |inventory_detail, index| %>
          <%= table_row title: "#{inventory_detail.region.name} + #{inventory_detail.audience.name}" do %>
            <%= table_data index + 1 %>
            <%= table_data do %><small class="text-nowrap"><%= truncate inventory_detail.region.name, length: 18 %></small><% end %>
            <%= table_data do %><small class="text-nowrap"><%= truncate inventory_detail.audience.name, length: 18 %></small><% end %>
            <%= table_data add_class: "text-right text-monospace" do %>
              <%= number_with_delimiter inventory_detail.average_daily_impressions_count %>
              <span class="text-nowrap text-danger d-block"><%= number_with_delimiter inventory_detail.sold_daily_impressions_count %></span>
              <span class="text-nowrap text-success d-block"><%= number_with_delimiter inventory_detail.unsold_daily_impressions_count %></span>
            <% end %>
            <%= table_data add_class: "text-right text-monospace" do %>
              <%= inventory_detail.average_daily_impressions_value.format %>
              <span class="text-nowrap text-danger d-block"><%= inventory_detail.sold_daily_impressions_value.format %></span>
              <span class="text-nowrap text-success d-block"><%= inventory_detail.unsold_daily_impressions_value.format %></span>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <%= table_footer do %>
        <%= table_row add_class: "bg-light" do %>
          <%= table_data add_class: "text-right font-weight-bold", colspan: "3" do %>
            <small class="opacity-60 float-left text-left">Sold/Unsold estimates are<br />based on Active Campaigns</small>Total
            <span class="text-nowrap text-danger d-block">Sold</span>
            <span class="text-nowrap text-success d-block">Unsold</span>
          <% end %>
          <%= table_data add_class: "text-right font-weight-bold text-monospace" do %>
            <%= number_with_delimiter campaign.inventory_summary.average_daily_impressions_count %>
            <span class="text-nowrap text-danger d-block"><%= number_with_delimiter campaign.inventory_summary.sold_daily_impressions_count %></span>
            <span class="text-nowrap text-success d-block"><%= number_with_delimiter campaign.inventory_summary.unsold_daily_impressions_count %></span>
          <% end %>
          <%= table_data add_class: "text-right font-weight-bold text-monospace" do %>
            <%= campaign.inventory_summary.average_daily_impressions_value.format %>
            <span class="text-nowrap text-danger d-block"><%= campaign.inventory_summary.sold_daily_impressions_value.format %></span>
            <span class="text-nowrap text-success d-block"><%= campaign.inventory_summary.unsold_daily_impressions_value.format %></span>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if campaign.inventory_summary.current_competitors.present? %>
      <h6 class="text-muted mt-3">
        Live Campaigns
        <small class="d-block">targeting the same inventory and operating on <%= tag.span @campaign_bundle.start_date.to_s("mm/dd/yyyy"), class: "text-monospace" %></small>
      </h6>
      <%= table add_class: "table-sm table-bordered" do %>
        <%= table_head do %>
          <%= table_row header: true, add_class: "bg-light" do %>
            <%= table_column "ID" %>
            <%= table_column "Status" %>
            <%= table_column "Daily Budget", add_class: "text-right" %>
            <%= table_column "Start", add_class: "text-right" %>
            <%= table_column "End", add_class: "text-right" %>
          <% end %>
        <% end %>
        <%= table_body do %>
          <% campaign.inventory_summary.current_competitors.each do |c| %>
            <%= table_row do %>
              <%= table_data link_to(c.id, c), title: c.name, data: "tooltip_expando" %>
              <%= table_data c.status.humanize, add_class: "text-#{status_color(c.status)}" %>
              <%= table_data c.daily_budget.format, add_class: "text-right text-monospace" %>
              <%= table_data c.start_date.to_s("mm/dd/yyyy"), add_class: "text-right text-monospace" %>
              <%= table_data c.end_date.to_s("mm/dd/yyyy"), add_class: "text-right text-monospace" %>
            <% end %>
          <% end %>
        <% end %>
        <%= table_footer do %>
          <%= table_row add_class: "bg-light" do %>
            <%= table_data "" %>
            <%= table_data "Total", add_class: "text-right font-weight-bold" %>
            <%= table_data campaign.inventory_summary.current_competitors_total_daily_budget.format, add_class: "text-right font-weight-bold text-monospace" %>
            <%= table_data "", colspan: 2 %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if campaign.inventory_summary.future_competitors.present? %>
      <h6 class="text-muted mt-3">
        Future Campaigns
        <small class="d-block">targeting the same inventory and starting after <%= tag.span @campaign_bundle.start_date.to_s("mm/dd/yyyy"), class: "text-monospace" %></small>
      </h6>
      <%= table add_class: "table-sm table-bordered" do %>
        <%= table_head do %>
          <%= table_row header: true, add_class: "bg-light" do %>
            <%= table_column "ID" %>
            <%= table_column "Status" %>
            <%= table_column "Daily Budget", add_class: "text-right" %>
            <%= table_column "Start", add_class: "text-right" %>
            <%= table_column "End", add_class: "text-right" %>
          <% end %>
        <% end %>
        <%= table_body do %>
          <% campaign.inventory_summary.future_competitors.each do |c| %>
            <%= table_row do %>
              <%= table_data link_to(c.id, c, target: "_blank"), title: c.name, data: "tooltip_expando" %>
              <%= table_data c.status.humanize, add_class: "text-#{status_color(c.status)}" %>
              <%= table_data c.daily_budget.format, add_class: "text-right text-monospace" %>
              <%= table_data c.start_date.to_s("mm/dd/yyyy"), add_class: "text-right text-monospace" %>
              <%= table_data c.end_date.to_s("mm/dd/yyyy"), add_class: "text-right text-monospace" %>
            <% end %>
          <% end %>
        <% end %>
        <%= table_footer do %>
          <%= table_row add_class: "bg-light" do %>
            <%= table_data "" %>
            <%= table_data "Total", add_class: "text-right font-weight-bold" %>
            <%= table_data campaign.inventory_summary.future_competitors_total_daily_budget.format, add_class: "text-right font-weight-bold text-monospace" %>
            <%= table_data "", colspan: 2 %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
