<%= render "devise/layout" do %>
  <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: {class: "auth-form mx-auto", method: :post}) do |f| %>
    <%= f.error_notification %>
    <%= f.full_error :unlock_token %>
    <div class="text-center mb-4">
      <h1 class="h4 font-weight-normal">Forgot your password?</h1>
    </div>
    <div class="form-label-group">
      <label class="form-label" for="devise-unlocks-new-email">Email address</label>
      <%= f.input :email,
                  label: false,
                  required: true,
                  autofocus: true,
                  input_html: {
                    autocomplete: "email",
                    id: "devise-unlocks-new-email"
                  } %>
    </div>
    <%= f.button :submit, "Resend Unlock", class: "btn btn-primary btn-block" %>
    <%= render "devise/links" %>
  <% end %>
<% end %>
