<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/dashboard" %>
  <%= render "/@shared/breadcrumbs/applicants" %>
  <%= render "/@shared/breadcrumbs/applicant", applicant: applicant, class: "active" %>
<% end %>

<% content_for :actions do %>
  <%= render "/@shared/actions/placeholder" %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Viewing", "Applicant",
    subtitle: applicant.scoped_name,
    icon: "fas fa-person-booth" %>
<% end %>

<main id="content" role="main" class="bg-light">
  <div class="container space-1">
    <ul class="nav nav-classic">
      <%= tag.li(active_link_to("Details", applicant_path(applicant), active: :exact,
        data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
      <%= tag.li(active_link_to("Results", applicant_results_path(applicant),
        data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
      <%= tag.li(active_link_to("Comments", applicant_comments_path(applicant),
        data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
      <%= tag.li(active_link_to("Events", applicant_events_path(applicant),
        data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
    </ul>
    
    <div class="bg-white border border-top-0 p-4">
      <%= yield %>
    </div>
  </div>
</main> 