<%= tag.tr class: classes("even": applicant_counter.even?, "odd": applicant_counter.odd?, "opacity-40": %w[rejected].any?(ENUMS::APPLICANT_STATUSES[applicant.status])) do %>
  <td class="align-middle text-secondary"><%= applicant.created_at.to_s("mm/dd/yyyy") %></td>
  <td class="align-middle text-secondary"><%= applicant.role.humanize %></td>
  <td class="align-middle text-secondary"><%= link_to applicant.name, applicant %></td>
  <td class="align-middle text-secondary"><%= applicant.canonical_email %></td>
  <td class="align-middle text-secondary"><%= applicant.url %></td>
  <td class="align-middle text-<%= campaign_status_color(applicant.status) %>">
    <span class="fas fa-circle small mr-1"></span>
    <%= applicant.status.humanize %>
  </td>
<% end %>