<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/dashboard" %>
  <%= render "/@shared/breadcrumbs/applicants", class: "active" %>
<% end %>

<% content_for :actions do %>
  <%= render "/@shared/actions/placeholder" %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Viewing", "Applicants",
    subtitle: "#{pluralize(@pagy.count, "record")} found",
    icon: "fas fa-person-booth" %>
<% end %>

<main id="content" role="main" class="bg-light">
  <div class="container space-1">
    <div class="bg-white p-4">
      <%= render "/applicants/table", applicants: @applicants, pagy: @pagy %>
    </div>
  </div>
</main> 