<%= render layout: "/applicants/show_layout", locals: { applicant: @applicant } do %>
  <div class="row">
    <div class="col-12">
      <ul class="list-unstyled mb-0">
        <%= details_li("Status") { @applicant.status.humanize } %>
        <%= details_li("User") { link_to @applicant.invited_user.name, @applicant.invited_user } if @applicant.invited_user %>
        <%= details_li("Role") { @applicant.role.humanize } %>
        <%= details_li("Name") { @applicant.name } %>
        <%= details_li("Email") { @applicant.email } %>
        <%= details_li("Canonical Email") { @applicant.canonical_email } if @applicant.canonical_email != @applicant.email %>
        <%= details_li("URL") { link_to @applicant.url, @applicant.url, target: "_blank" } %>
        <%= details_li("Company Name") { @applicant.company_name } if @applicant.for_advertiser? %>
        <%= details_li("Monthly Budget") { @applicant.monthly_budget } if @applicant.for_advertiser? %>
        <%= details_li("Monthly Visitors") { @applicant.monthly_visitors } if @applicant.for_publisher? %>
        <%= details_li("Referring User") { link_to @applicant.referring_user.full_name, @applicant.referring_user } if @applicant.referring_user %>
      </ul>
    </div>
  </div>
<% end %>
