<%= simple_form_for @user, url: job_posting_user_path, wrapper: :front_form do |f| %>
  <div class="space-top-1">
    <%= render "/@shared/forms/error_messages", object: @user %>

    <p>
      It looks like this might be your first job posting with CodeFund. In order to post a job,
      we need to create a user account.
    </p>

    <div class="row">
      <%= tag.div f.input(:first_name, required: true, placeholder: "First Name"), class: "col-md-6 mb-4" %>
      <%= tag.div f.input(:last_name, required: true, placeholder: "Last Name"), class: "col-md-6 mb-4" %>
      <%= tag.div f.input(:company_name, required: true, placeholder: "Company Name"), class: "col-12 mb-4" %>
      <%= tag.div f.input(:email, required: true, as: :email, placeholder: "Email Address"), class: "col-12 mb-4" %>
    </div>

    <div class="d-flex space-top-1">
      <%= link_to "Make Changes", edit_job_posting_prospect_path(@job_posting),
            class: "btn btn-block btn-sm btn-soft-secondary transition-3d-hover mr-1" %>
      <%= f.submit "Next", class: "btn btn-block btn-sm btn-primary transition-3d-hover ml-1 mt-0" %>
    </div>
  </div>
<% end %>
