<% unless local_assigns[:override]&.include? :page_heading %>
  <% content_for :page_heading do %>
    <%= page_heading "Viewing", "Image",
        subtitle: image.name,
        icon: "fas fa-palette" %>
  <% end %>
<% end %>

<% unless local_assigns[:override]&.include? :actions %>
  <% content_for :actions do %>
  <% end %>
<% end %>

<section class="d-flex">
  <%= render "shared/sidebar" %>
  <article class="images container mt-4">
    <header class="page-title-bar">
      <%= yield :page_heading%>
      <%= yield :actions %>
    </header>
    <%= yield %>
  </article>
</section>

