<%= table_wrapper do %>
  <%= paginated_table do %>
    <%= table_head do %>
      <%= table_row header: true do %>
        <%= sortable_tr "posted_at", "Date" %>
        <%= sortable_tr "amount_cents", "Amount" %>
        <%= table_column add_scope: "col" do %>Reference<% end %>
      <% end %>
    <% end %>
    <%= table_body do %>
      <%= render partial: "/organization_transactions/tr", locals: { organization: @organization }, collection: organization_transactions, as: :organization_transaction %>
    <% end %>
  <% end %>
  <%= pagination_wrapper do %>
    <span><%== pagy_bootstrap_nav(pagy) if pagy.pages > 1 %></span>
    <%= pagy_entries(pagy) %>
  <% end %>
<% end %>
