<%= table_row add_class: classes("even": organization_transaction_counter.even?, "odd": organization_transaction_counter.odd?) do %>
  <%= table_data add_style: "width: 150px;" do %>
    <%= organization_transaction.posted_at.to_s("mm/dd/yyyy") %>
  <% end %>
  <%= table_data add_style: "width: 150px;" do %>
    <%= link_to (
      organization_transaction.transaction_type == ENUMS::ORGANIZATION_TRANSACTION_TYPES::CREDIT ?
      organization_transaction.amount.format :
      (organization_transaction.amount * -1).format
    ), organization_transaction_path(organization, organization_transaction),
    class: classes(
      "text-link text-danger": organization_transaction.transaction_type == ENUMS::ORGANIZATION_TRANSACTION_TYPES::DEBIT,
      "text-link text-success": organization_transaction.transaction_type == ENUMS::ORGANIZATION_TRANSACTION_TYPES::CREDIT
     ) %>
     <% if organization_transaction.gift? %>
      <span class="fas fa-gift"></span>
     <% end %>
  <% end %>
  <%= table_data_value organization_transaction.reference %>
<% end %>
