<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/dashboard" %>
  <%= render "/@shared/breadcrumbs/users" %>
  <%= render "/@shared/breadcrumbs/user" %>
  <%= render "/@shared/breadcrumbs/edit_password", class: "active" %>
<% end %>

<% content_for :actions do %>
  <%= render "/@shared/actions/show_user", user: @user %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Update", "Password",
    subtitle: "Enter a new password below",
    icon: "fas fa-lock" %>
<% end %>

<main id="content" role="main">
  <div class="bg-light">
    <div class="container space-2">
      <%= render "/user_passwords/form" %>
    </div>
  </div>
</main>