<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main" class="border-bottom">
  <!-- Hero Section -->
  <div class="position-relative">
    <!-- Slick Carousel -->
    <div class="js-slick-carousel u-slick"
          data-fade="true"
          data-autoplay="true"
          data-speed="5000"
          data-infinite="true">
      <div class="js-slide">
        <div class="bg-img-hero min-height-620 gradient-overlay-half-dark-v1" style="background-image: url(<%= asset_path("jobs/job-hero-2.jpg") %>;"></div>
      </div>
      <div class="js-slide">
        <div class="bg-img-hero min-height-620 gradient-overlay-half-dark-v1" style="background-image: url(<%= asset_path("jobs/job-hero-1.jpg") %>;"></div>
      </div>
      <div class="js-slide">
        <div class="bg-img-hero min-height-620 gradient-overlay-half-dark-v1" style="background-image: url(<%= asset_path("jobs/job-hero-3.jpg") %>;"></div>
      </div>
    </div>
    <!-- End Slick Carousel -->

    <div class="container position-absolute right-0 bottom-0 left-0 space-top-5 space-bottom-2">
      <!-- Info Link -->
      <%= link_to new_job_posting_prospect_path, class: "d-sm-inline-flex align-items-center bg-primary text-white shadow rounded-pill p-2 pr-3 mb-3 d-none d-sm-block" do %>
        <span class="btn btn-xs btn-soft-white btn-pill font-weight-semi-bold mr-3">Post a job for <%= Monetize.parse(ENV.fetch("JOBS_MONTHLY_PLAN_PRICE", "$299.00 USD")).format(no_cents: true) %>/mo</span>
        <span class="d-sm-block d-sm-inline-block">
          Don't just wait for the right candidate to search job boards
        </span>
      <% end %>
      <!-- End Info Link -->

      <%= render partial: "/job_posting_searches/form" %>
    </div>
  </div>
  <!-- End Hero Section -->
  <div class="clearfix border-bottom space-top-2">
    <div class="container">
      <!-- Title -->
      <div class="w-md-75 text-center mx-md-auto mb-9">
        <h2 class="h1 font-weight-normal mb-3">Hiring top tech talent is hard</h2>
        <p class="text-left">
          <strong class="text-dark">60% of the global workforce</strong> is comprised of passive candidates who
          <strong class="text-dark">are open to new opportunities</strong>, but are not actively seeking a new job.
        </p>
        <p class="text-left">
          Most job boards provide excellent reach to job seekers, however, the majority of qualified individuals
          are left out. Even tech-based companies are often <strong class="text-dark">competing for the same 10% - 15%</strong> of top engineers
          who are actively seeking new employment.
        </p>
        <p class="text-left">
          CodeFund takes a different approach and brings the opportunities to them. <strong class="text-dark">Using our
          publisher network of developer-centric websites, we place your job in front of
          tens of thousands of pre-qualified candidates based on their location and skills.</strong>
        </p>
        <%= link_to "Post a job for #{Monetize.parse(ENV.fetch("JOBS_MONTHLY_PLAN_PRICE", "$299.00 USD")).format(no_cents: true)}/mo", new_job_posting_prospect_path, class: "btn btn-lg btn-success btn-wide transition-3d-hover mt-3" %>
      </div>
    </div>
  </div>


  <div class="bg-primary text-white text-center">
    <div class="container space-1">
      <span class="h6 d-block d-lg-inline-block font-weight-light mb-lg-0">
        <span class="font-weight-semi-bold">Are your customers developers?</span> Learn how CodeFund Ads can help your business
      </span>
      <%= link_to "Learn More", advertisers_path, class: "btn btn-sm btn-white transition-3d-hover font-weight-normal ml-2" %>
    </div>
  </div>

  <!-- Cards Section -->
  <div class="container space-2 space-md-3">
    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
      <h2 class="font-weight-medium">Who's hiring?</h2>
      <p>We currently have <%= JobPosting.count %> jobs listed so you've got plenty of options. Search your next job now.</p>
    </div>
    <!-- End Title -->

    <!-- Clients Section -->
    <div class="row justify-content-center text-center">
      <% JobPosting.recent_sample(18).each.with_index do |job_posting, index| %>
        <div class="col-4 col-md-2 mb-8 align-middle">
          <%= link_to image_tag(
                        camo(job_posting.company_logo_url.to_s),
                        class: "u-clients",
                        data: { 
                          controller: "fallback-image",
                          hide_on_broken_image: true
                        }
                      ),
                      job_posting_searches_path(job_posting_search: { full_text_search: job_posting.company_name }),
                      method: :post %>
        </div>
        <% if [4, 8, 13].include? index %>
          <div class="w-100"></div>
        <% end %>
      <% end %>
    </div>

    <div class="text-center mt-7">
      <%= link_to "View all Open Jobs", job_postings_path, class: "btn btn-primary transition-3d-hover" %>
    </div>
  </div>
  <!-- End Cards Section -->
</main>
<!-- ========== END MAIN CONTENT ========== -->
