<%= render(Form::ErrorMessageComponent.new(object: organization_user)) %>
<%= render CardComponent.new do %>
  <%= render Card::HeaderComponent.new do %>
    <%= render(Card::TitleComponent.new) { "#{organization.name} Member" } %>
    <%= render(Card::SubtitleComponent.new) { "Fill out the fields below" } %>
  <% end %>
  <%= render(Card::BodyComponent.new) do %>
    <div data-controller="organization-users">
      <div class="d-flex flex-column">
        <div class="form-group">
          <label>Would you like to add or invite someone to your team?</label>
          <div class="custom-control custom-radio mb-1">
            <input type="radio" class="custom-control-input" id="ou-rd1" data-value="add" data-action="organization-users#newMember" data-target="organization-users.add" />
            <label class="custom-control-label" for="ou-rd1">Add existing user</label>
            <div class="text-muted">This is someone who already has a CodeFund account.</div>
          </div>
          <div class="custom-control custom-radio mb-1">
            <input type="radio" class="custom-control-input" id="ou-rd2" checked="" data-value="invite" data-action="organization-users#newMember" data-target="organization-users.invite" />
            <label class="custom-control-label" for="ou-rd2">Invite new user</label>
            <div class="text-muted">This is someone who needs a CodeFund account.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column">
      <h6 class="mb-2">Roles</h6>
      <details>
        <summary>Administrator</summary>
        <p>Has permission to manager organization member's and their roles, and update records on behalf of the organization.</p>
      </details>
      <details>
        <summary>Member</summary>
        <p>Has permission to update records on behalf of the organization.</p>
      </details>
    </div>
  <% end %>
  <% if session[:organization_users_new_member_type] == "add" %>
    <%= render "/organization_users/forms/existing_user_form", organization: organization, organization_user: organization_user %>
  <% else %>
    <%= render "/organization_users/forms/new_user_form", organization: organization, organization_user: organization_user %>
  <% end %>
<% end %>
