<%= table_row do %>
  <%= table_data add_style: "width:36px;" do %>
    <%= render(AvatarComponent.new(user: organization_user.user)) %>
  <% end %>
  <%= table_data do %>
    <div class="media align-items-center">
      <span>
        <%= link_to organization_user.user.full_name, user_path(organization_user.user), title: "View User", data: tooltip_expando %>
        <small class="d-block text-muted"><%= organization_user.user.email %></small>
      </span>
    </div>
  <% end %>
  <%= table_data organization_user.role.titleize %>
  <%= table_data add_class: "text-right" do %>
    <%= masquerade_button(organization_user.user) %>
    <%= edit_button(link: edit_organization_user_path(organization, organization_user), title: "Edit Member") %>
    <%= delete_button(link: organization_user_path(organization, organization_user), title: "Remove Member") %>
  <% end if authorized_user.can_edit_organization_users?(@organization) %>
<% end %>
