<div class="card text-center mb-5 border-0">
  <div class="card-body">
    <%= user_avatar_image_tag(user, "img-fluid w-100 rounded") %>
    <div class="card border-0 shadow-sm mt-n6 mx-3">
      <div class="card-body text-center p-4">
        <h3 class="h6 mb-1"><%= link_to user.name, user %></h3>
        <p class="font-size-1 mb-3"><%= user.company_name || user.email %></p>
        <ul class="list-inline mb-0">
          <% if user.website_url.present? %>
            <li class="list-inline-item">
              <%= link_to user.website_url, class: "btn btn-sm btn-icon btn-soft-secondary rounded-circle", target: "_blank" do %>
                <span class="far fa-browser btn-icon__inner"></span>
              <% end %>
            </li>
          <% end %>
          <% if user.linkedin_username.present? %>
            <li class="list-inline-item">
              <%= link_to "https://linkedin.com/in/#{user.linkedin_username}", class: "btn btn-sm btn-icon btn-soft-secondary rounded-circle", target: "_blank" do %>
                <span class="fab fa-linkedin btn-icon__inner"></span>
              <% end %>
            </li>
          <% end %>
          <% if user.twitter_username.present? %>
            <li class="list-inline-item">
              <%= link_to "https://twitter.com/#{user.twitter_username}", class: "btn btn-sm btn-icon btn-soft-secondary rounded-circle", target: "_blank" do %>
                <span class="fab fa-twitter btn-icon__inner"></span>
              <% end %>
            </li>
          <% end %>
          <% if user.github_username.present? %>
            <li class="list-inline-item">
              <%= link_to "https://github.com/#{user.github_username}", class: "btn btn-sm btn-icon btn-soft-secondary rounded-circle", target: "_blank" do %>
                <span class="fab fa-github btn-icon__inner"></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>