<%= card do %>
  <%= card_header do %>
    <%= card_title do %>
      Details
    <% end %>
    <%= card_subtitle do %>
      Basic details for this property
    <% end %>
  <% end %>
  <%= card_body do %>
    <ul class="list-unstyled mb-0">
      <%= details_li("Name") { property.name } %>
      <%= details_li("Audience") { property&.audience&.name } if authorized_user.can_admin_system? %>
      <%= details_li("User") { link_to property.user.full_name, property.user } %>
      <%= details_li("Status") { property.status.humanize } %>
      <%= details_li("URL") { link_to property.url, property.url } %>
      <%= details_li("Revenue Rate") { number_to_percentage(property.revenue_percentage * 100, precision: 1) } %>
      <%= details_li("Template") { property.ad_template } %>
      <%= details_li("Theme") { property.ad_theme } %>
      <%= details_li("Fallback Template") { property.fallback_ad_template || property.ad_template } %>
      <%= details_li("Fallback Theme") { property.fallback_ad_theme || property.ad_theme } %>
      <%= details_li("Allow fallback ads?") { property.prohibit_fallback_campaigns ? "No" : "Yes (thank you)" } %>
      <%= details_li("Restricted to") do %>
        <% property.assigner_campaigns.pluck(:name).sort.each do |campaign_name| -%>
          <span class="btn btn-xs btn-soft-dark mb-1"><%= campaign_name %></span>
        <% end -%>
      <% end if property.restrict_to_assigner_campaigns? %>
      <%= details_li("Assigned Fallback Campaigns") do %>
        <% property.assigned_fallback_campaigns.pluck(:name).sort.each do |campaign_name| -%>
          <span class="btn btn-xs btn-soft-dark mb-1"><%= campaign_name %></span>
        <% end -%>
      <% end if property.assigned_fallback_campaign_ids.present? %>
      <%= details_li("Excluded Advertisers") do %>
        <% property.excluded_company_names.each do |company_name| -%>
          <span class="btn btn-xs btn-soft-dark mb-1"><%= company_name %></span>
        <% end -%>
      <% end if authorized_user.can_admin_system? %>
    </ul>
  <% end %>
<% end %>

