<% unless local_assigns[:override]&.include? :page_heading %>
  <% content_for :page_heading do %>
    <%= page_heading "Viewing", "Properties",
        subtitle: property.name,
        icon: "fas fa-browser" %>
  <% end %>
<% end %>

<% unless local_assigns[:override]&.include? :actions %>
  <% content_for :actions do %>
    <%= actions_list do %>
      <%= actions_list_item title: "Edit Property" do %>
        <%= render "/shared/actions/edit_property", property: property %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<div class="page <%= "has-sidebar has-sidebar-expand-xl" unless property.new_record? %>">
  <div class="page-inner" data-controller="auto-height">
    <header class="page-title-bar">
      <div class="d-flex justify-content-between align-items-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">
              <%= link_to properties_path do %>
                <i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Properties
              <% end %>
            </li>
          </ol>
        </nav>
        <button type="button" class="btn btn-light btn-icon d-xl-none" data-toggle="sidebar"><i class="fa fa-angle-double-left"></i></button>
      </div>

      <div class="row text-center text-sm-left">
        <div class="col-sm-auto col-12 mb-2 px-0">
          <span class="fa-stack fa-3x text-primary">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fad fa-browser fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="col">
          <h1 class="page-title"><%= property.name %></h1>
          <p class="text-muted"><%= property.description.present? ? property.description : "Missing description" %></p>
        </div>
      </div>

      <%= render("properties/tabs", property: property) if property.persisted? %>
    </header>

    <div class="page-section">
      <%= yield %>
    </div>
  </div>

  <%= render "/properties/for_user/sidebar", property: property unless property.new_record? %>
</div>
