<% unless local_assigns[:override]&.include? :page_heading %>
  <% content_for :page_heading do %>
    <%= page_heading "Viewing", "Properties",
        subtitle: property.name,
        icon: "fas fa-browser" %>
  <% end %>
<% end %>

<% unless local_assigns[:override]&.include? :actions %>
  <% content_for :actions do %>
    <%= actions_list do %>
      <%= actions_list_item title: "Edit Property" do %>
        <%= render "/shared/actions/edit_property", property: property %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<section class="container mt-4">
  <header class="page-title-bar">
    <%= yield :page_heading %>
    <div class="d-flex border-bottom">
      <%= render("properties/tabs", property: property) if property.persisted? %>
      <%= yield :actions %>
    </div>
  </header>
  <%= yield %>
</section>
