<%= table_wrapper do %>
  <%= paginated_table do %>
    <%= table_head do %>
      <%= table_row header: true do %>
        <%= table_column add_scope: "col" do %>&nbsp;<% end %>
        <%= sortable_tr "name" %>
        <%= table_column add_scope: "col" do %>Publisher<% end if authorized_user.can_admin_system? %>
        <%= table_column add_scope: "col" do %>Est. Traffic<% end %>
        <%= sortable_tr "created_at", "Date Added" %>
        <%= sortable_tr "status" %>
        <%= table_column add_scope: "col" do %>Impressions<% end %>
        <%= table_column add_scope: "col" do %>CTR<% end %>
        <%= table_column add_scope: "col" do %>&nbsp;<% end %>
      <% end %>
    <% end %>
    <%= table_body do %>
      <%= render partial: "/properties/tr", collection: properties, as: :property %>
    <% end %>
  <% end %>
  <%= pagination_wrapper do %>
    <span><%== pagy_bootstrap_nav(pagy) if pagy.pages > 1 %></span>
    <%= pagy_entries(pagy) %>
  <% end %>
<% end %>
