<%= render layout: "/properties/layout", locals: { property: @property } do %>
  <%= card do %>
    <%= card_header do %>
      <%= card_title do %>
        Keywords
      <% end %>
      <%= card_subtitle do %>
        Keywords that associate this property with campaigns
      <% end %>
    <% end %>

    <%= card_body do %>
      <% @property.keywords.sort.each do |keyword| %>
        <span class="badge badge-subtle badge-primary p-3 m-1"><%= keyword %></span>
      <% end %>
    <% end %>
  <% end %>
<% end %>
