<%= simple_form_for user, html: {class: "js-validate"} do |f| %>
  <div class="row">
    <div class="col-12 col-lg-7">
      <%= render "/users/form/personal", f: f %>
    </div>
    <div class="col-12 col-lg-5">
      <div class="col-12">
        <%= render "/users/form/avatar", f: f, user: user %>
      </div>
      <div class="col-12">
        <%= render "/users/form/about", f: f %>
      </div>
      <div class="col-12">
        <%= render "/users/form/social_profiles", f: f %>
      </div>
    </div>
  </div>
  <% if authorized_user.can_admin_system? %>
    <div class="row">
      <div class="col-12 col-lg-6">
        <%= render "/users/form/admin", f: f, user: user %>
      </div>
      <div class="col-12 col-lg-6">
        <%= render "/users/form/organization", f: f %>
      </div>
    </div>
  <% end %>
  <%= button_panel do %>
    <%= f.submit "Save User", class: "btn btn-primary mr-1" %>
    <%= cancel_button(user_path(user)) %>
  <% end %>
<% end %>
