<!-- Content Section -->
<div class="bg-light">
  <div class="container space-2">
    <!-- Update Avatar Form -->
    <form class="media align-items-center mb-7">
      <div class="u-lg-avatar mr-3">
        <%= image_tag current_user.gravatar_url, class: "img-fluid rounded-circle", alt: current_user.full_name %>
      </div>

      <div class="media-body">
        <label class="btn btn-sm btn-primary transition-3d-hover file-attachment-btn mb-1 mb-sm-0 mr-1" for="fileAttachmentBtn">
          Upload New Picture
          <input id="fileAttachmentBtn" name="file-attachment" type="file" class="file-attachment-btn__label">
        </label>

        <button type="submit" class="btn btn-sm btn-soft-secondary transition-3d-hover mb-1 mb-sm-0">Delete</button>
      </div>
    </form>
    <!-- End Update Avatar Form -->

    <!-- Personal Info Form -->
    <form class="js-validate">
      <div class="row">
        <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label id="nameLabel" class="form-label">
              Name
              <span class="text-danger">*</span>
            </label>

            <div class="form-group">
              <input type="text" class="form-control" name="name" value="Natalie Curtis" placeholder="Enter your name" aria-label="Enter your name" required aria-describedby="nameLabel"
                      data-msg="Please enter your name."
                      data-error-class="u-has-error"
                      data-success-class="u-has-success">
              <small class="form-text text-muted">Displayed on your public profile, notifications and other places.</small>
            </div>
          </div>
        </div>
        <!-- End Input -->

        <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label id="usernameLabel" class="form-label">
              Username
              <span class="text-danger">*</span>
            </label>

            <div class="form-group">
              <input type="text" class="form-control" name="username" value="natalie" placeholder="Enter your username" aria-label="Enter your username" required aria-describedby="usernameLabel"
                      data-msg="Please enter your username."
                      data-error-class="u-has-error"
                      data-success-class="u-has-success">
            </div>
          </div>
        </div>
        <!-- End Input -->
      </div>

      <label class="form-label">
        Birth date
        <span class="text-danger">*</span>
      </label>

      <div class="row">
        <!-- Input -->
        <div class="col-md-6 mb-3 mb-sm-6">
          <div class="js-form-message">
            <div class="form-group">
              <select class="custom-select">
                <option value="birthMonthSelect1">January</option>
                <option value="birthMonthSelect2">February</option>
                <option value="birthMonthSelect3">March</option>
                <option value="birthMonthSelect4" selected="selected">April</option>
                <option value="birthMonthSelect5">May</option>
                <option value="birthMonthSelect6">June</option>
                <option value="birthMonthSelect7">July</option>
                <option value="birthMonthSelect8">August</option>
                <option value="birthMonthSelect9">September</option>
                <option value="birthMonthSelect10">October</option>
                <option value="birthMonthSelect11">November</option>
                <option value="birthMonthSelect12">December</option>
              </select>
            </div>
          </div>
        </div>
        <!-- End Input -->

        <!-- Input -->
        <div class="col-sm-4 col-md-2 mb-3 mb-sm-6">
          <div class="js-form-message">
            <div class="form-group">
              <select class="custom-select">
                <option value="birthDateSelect1">1</option>
                <option value="birthDateSelect2">2</option>
                <option value="birthDateSelect3">3</option>
                <option value="birthDateSelect4">4</option>
                <option value="birthDateSelect5">5</option>
                <option value="birthDateSelect6">6</option>
                <option value="birthDateSelect7">7</option>
                <option value="birthDateSelect8">8</option>
                <option value="birthDateSelect9">9</option>
                <option value="birthDateSelect10">10</option>
                <option value="birthDateSelect11">11</option>
                <option value="birthDateSelect12" selected="selected">12</option>
                <option value="birthDateSelect13">13</option>
                <option value="birthDateSelect14">14</option>
                <option value="birthDateSelect15">15</option>
                <option value="birthDateSelect16">16</option>
                <option value="birthDateSelect17">17</option>
                <option value="birthDateSelect18">18</option>
                <option value="birthDateSelect19">19</option>
                <option value="birthDateSelect20">20</option>
                <option value="birthDateSelect21">21</option>
                <option value="birthDateSelect22">22</option>
                <option value="birthDateSelect23">23</option>
                <option value="birthDateSelect24">24</option>
                <option value="birthDateSelect25">25</option>
                <option value="birthDateSelect26">26</option>
                <option value="birthDateSelect27">27</option>
                <option value="birthDateSelect28">28</option>
                <option value="birthDateSelect29">29</option>
                <option value="birthDateSelect30">30</option>
                <option value="birthDateSelect31">31</option>
              </select>
            </div>
          </div>
        </div>
        <!-- End Input -->

        <!-- Input -->
        <div class="col-sm-4 col-md-2 mb-3 mb-sm-6">
          <div class="js-form-message">
            <div class="form-group">
              <select class="custom-select">
                <option value="birthYearSelect1900">1900</option>
                <option value="birthYearSelect1901">1901</option>
                <option value="birthYearSelect1902">1902</option>
                <option value="birthYearSelect1903">1903</option>
                <option value="birthYearSelect1904">1904</option>
                <option value="birthYearSelect1905">1905</option>
                <option value="birthYearSelect1906">1906</option>
                <option value="birthYearSelect1907">1907</option>
                <option value="birthYearSelect1908">1908</option>
                <option value="birthYearSelect1909">1909</option>
                <option value="birthYearSelect1910">1910</option>
                <option value="birthYearSelect1911">1911</option>
                <option value="birthYearSelect1912">1912</option>
                <option value="birthYearSelect1913">1913</option>
                <option value="birthYearSelect1914">1914</option>
                <option value="birthYearSelect1915">1915</option>
                <option value="birthYearSelect1916">1916</option>
                <option value="birthYearSelect1917">1917</option>
                <option value="birthYearSelect1918">1918</option>
                <option value="birthYearSelect1919">1919</option>
                <option value="birthYearSelect1920">1920</option>
                <option value="birthYearSelect1921">1921</option>
                <option value="birthYearSelect1922">1922</option>
                <option value="birthYearSelect1923">1923</option>
                <option value="birthYearSelect1924">1924</option>
                <option value="birthYearSelect1925">1925</option>
                <option value="birthYearSelect1926">1926</option>
                <option value="birthYearSelect1927">1927</option>
                <option value="birthYearSelect1928">1928</option>
                <option value="birthYearSelect1929">1929</option>
                <option value="birthYearSelect1930">1930</option>
                <option value="birthYearSelect1931">1931</option>
                <option value="birthYearSelect1932">1932</option>
                <option value="birthYearSelect1933">1933</option>
                <option value="birthYearSelect1934">1934</option>
                <option value="birthYearSelect1935">1935</option>
                <option value="birthYearSelect1936">1936</option>
                <option value="birthYearSelect1937">1937</option>
                <option value="birthYearSelect1938">1938</option>
                <option value="birthYearSelect1939">1939</option>
                <option value="birthYearSelect1940">1940</option>
                <option value="birthYearSelect1941">1941</option>
                <option value="birthYearSelect1942">1942</option>
                <option value="birthYearSelect1943">1943</option>
                <option value="birthYearSelect1944">1944</option>
                <option value="birthYearSelect1945">1945</option>
                <option value="birthYearSelect1946">1946</option>
                <option value="birthYearSelect1947">1947</option>
                <option value="birthYearSelect1948">1948</option>
                <option value="birthYearSelect1949">1949</option>
                <option value="birthYearSelect1950">1950</option>
                <option value="birthYearSelect1951">1951</option>
                <option value="birthYearSelect1952">1952</option>
                <option value="birthYearSelect1953">1953</option>
                <option value="birthYearSelect1954">1954</option>
                <option value="birthYearSelect1955">1955</option>
                <option value="birthYearSelect1956">1956</option>
                <option value="birthYearSelect1957">1957</option>
                <option value="birthYearSelect1958">1958</option>
                <option value="birthYearSelect1959">1959</option>
                <option value="birthYearSelect1960">1960</option>
                <option value="birthYearSelect1961">1961</option>
                <option value="birthYearSelect1962">1962</option>
                <option value="birthYearSelect1963">1963</option>
                <option value="birthYearSelect1964">1964</option>
                <option value="birthYearSelect1965">1965</option>
                <option value="birthYearSelect1966">1966</option>
                <option value="birthYearSelect1967">1967</option>
                <option value="birthYearSelect1968">1968</option>
                <option value="birthYearSelect1969">1969</option>
                <option value="birthYearSelect1970">1970</option>
                <option value="birthYearSelect1971">1971</option>
                <option value="birthYearSelect1972">1972</option>
                <option value="birthYearSelect1973">1973</option>
                <option value="birthYearSelect1974">1974</option>
                <option value="birthYearSelect1975">1975</option>
                <option value="birthYearSelect1976">1976</option>
                <option value="birthYearSelect1977">1977</option>
                <option value="birthYearSelect1978">1978</option>
                <option value="birthYearSelect1979">1979</option>
                <option value="birthYearSelect1980">1980</option>
                <option value="birthYearSelect1981">1981</option>
                <option value="birthYearSelect1982">1982</option>
                <option value="birthYearSelect1983">1983</option>
                <option value="birthYearSelect1984">1984</option>
                <option value="birthYearSelect1985">1985</option>
                <option value="birthYearSelect1986" selected="selected">1986</option>
                <option value="birthYearSelect1987">1987</option>
                <option value="birthYearSelect1988">1988</option>
                <option value="birthYearSelect1989">1989</option>
                <option value="birthYearSelect1990">1990</option>
                <option value="birthYearSelect1991">1991</option>
                <option value="birthYearSelect1992">1992</option>
                <option value="birthYearSelect1993">1993</option>
                <option value="birthYearSelect1994">1994</option>
                <option value="birthYearSelect1995">1995</option>
                <option value="birthYearSelect1996">1996</option>
                <option value="birthYearSelect1997">1997</option>
                <option value="birthYearSelect1998">1998</option>
                <option value="birthYearSelect1999">1999</option>
                <option value="birthYearSelect2000">2000</option>
                <option value="birthYearSelect2001">2001</option>
                <option value="birthYearSelect2002">2002</option>
                <option value="birthYearSelect2003">2003</option>
                <option value="birthYearSelect2004">2004</option>
                <option value="birthYearSelect2005">2005</option>
                <option value="birthYearSelect2006">2006</option>
                <option value="birthYearSelect2007">2007</option>
                <option value="birthYearSelect2008">2008</option>
                <option value="birthYearSelect2009">2009</option>
                <option value="birthYearSelect2010">2010</option>
                <option value="birthYearSelect2011">2011</option>
                <option value="birthYearSelect2012">2012</option>
                <option value="birthYearSelect2013">2013</option>
                <option value="birthYearSelect2014">2014</option>
                <option value="birthYearSelect2015">2015</option>
                <option value="birthYearSelect2016">2016</option>
                <option value="birthYearSelect2017">2017</option>
              </select>
            </div>
          </div>
        </div>
        <!-- End Input -->

        <!-- Input -->
        <div class="col-sm-4 col-md-2 mb-6">
          <div class="js-form-message">
            <div class="form-group">
              <select class="custom-select">
                <option value="genderSelect1" selected>Male</option>
                <option value="genderSelect2">Female</option>
                <option value="genderSelect3">Other</option>
              </select>
            </div>
          </div>
        </div>
        <!-- End Input -->
      </div>

      <div class="row">
        <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label id="emailLabel" class="form-label">
              Email address
              <span class="text-danger">*</span>
            </label>

            <div class="form-group">
              <input type="email" class="form-control" name="email" value="natalie.curtis@gmail.com" placeholder="Enter your email address" aria-label="Enter your email address" required aria-describedby="emailLabel"
                      data-msg="Please enter a valid email address."
                      data-error-class="u-has-error"
                      data-success-class="u-has-success">
              <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
          </div>
        </div>
        <!-- End Input -->

        <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label id="locationLabel" class="form-label">
              Location
              <span class="text-danger">*</span>
            </label>

            <div class="form-group">
              <input type="text" class="form-control" name="location" value="London, England" placeholder="Enter your location" aria-label="Enter your location" required aria-describedby="locationLabel"
                      data-msg="Please enter your location."
                      data-error-class="u-has-error"
                      data-success-class="u-has-success">
            </div>
          </div>
        </div>
        <!-- End Input -->
      </div>

      <div class="row">
        <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label id="organizationLabel" class="form-label">
              Organization
              <span class="text-danger">*</span>
            </label>

            <div class="form-group">
              <input type="text" class="form-control" name="organization" value="Pixeel Ltd." placeholder="Enter your organization name" aria-label="Enter your organization name" required aria-describedby="organizationLabel"
                      data-msg="Please enter your organization name"
                      data-error-class="u-has-error"
                      data-success-class="u-has-success">
            </div>
          </div>
        </div>
        <!-- End Input -->

        <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label id="websiteLabel" class="form-label">
              Website
              <span class="text-danger">*</span>
            </label>

            <div class="form-group">
              <input class="form-control" type="url" name="website" value="https://www.htmlstream.com/natalie" placeholder="Enter your website" aria-label="Enter your website" required aria-describedby="websiteLabel"
                      data-msg="Password enter a valid website"
                      data-error-class="u-has-error"
                      data-success-class="u-has-success">
              <small class="form-text text-muted">Your home page, blog or company site, e.g. http://example.com</small>
            </div>
          </div>
        </div>
        <!-- End Input -->
      </div>

      <div class="row">
        <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label id="phoneNumberLabel" class="form-label">
              Phone number
              <span class="text-danger">*</span>
            </label>

            <div class="form-group">
              <input class="form-control" type="tel" name="phoneNumber" value="+44 (0161) 347 8854" placeholder="Enter your phone number" aria-label="Enter your phone number" required aria-describedby="phoneNumberLabel"
                      data-msg="Please enter a valid phone number"
                      data-error-class="u-has-error"
                      data-success-class="u-has-success">
            </div>
          </div>
          <a class="d-inline-block u-text-muted" href="#">
            <span class="mr-1">&#43;</span>
            Add phone number
          </a>
        </div>
        <!-- End Input -->

        <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message">
            <label class="form-label">
              Preferred language
              <span class="text-danger">*</span>
            </label>

            <div class="form-group">
              <select class="custom-select">
                <option value="languageSelect1" selected>English</option>
                <option value="languageSelect2">Français</option>
                <option value="languageSelect3">Deutsch</option>
                <option value="languageSelect4">Português</option>
              </select>
            </div>
          </div>
        </div>
        <!-- End Input -->
      </div>

      <hr class="mt-1 mb-7">

      <!-- Title -->
      <div class="mb-3">
        <h2 class="h5 mb-0">About</h2>
        <p>Tell about yourself in two sentences.</p>
      </div>
      <!-- End Title -->

      <div class="mb-6">
        <label class="form-label">
          Bio
        </label>

        <!-- Text Editor Input -->
        <div class="u-summernote-editor">
          <div class="js-summernote-editor" data-height="160"></div>
        </div>
        <!-- End Text Editor Input -->
      </div>

      <div class="mb-6">
        <label class="form-label">
          Skills
        </label>

        <!-- Tags Input -->
        <div class="u-tagsinput">
          <input type="text" value="HTML5, CSS3, JavaScript, jQuery" data-role="tagsinput">
        </div>
        <!-- End Tags Input -->
      </div>

      <!-- Buttons -->
      <button type="submit" class="btn btn-sm btn-primary transition-3d-hover mr-1">Save Changes</button>
      <button type="submit" class="btn btn-sm btn-soft-secondary transition-3d-hover">Cancel</button>
      <!-- End Buttons -->

      <hr class="my-7">

      <!-- Title -->
      <div class="mb-3">
        <h2 class="h5 mb-0">Experience</h2>
        <p>Tell about your work, job, and other experiences.</p>
      </div>
      <!-- End Title -->

      <div class="row">
        <div class="col-sm-6 mb-6">
          <!-- Datepicker -->
          <label class="form-label">From</label>

          <div id="datepickerWrapperFrom" class="js-focus-state u-datepicker input-group">
            <div class="input-group-prepend">
              <span id="calendarFromLabel" class="input-group-text">
                <span class="fas fa-calendar"></span>
              </span>
            </div>
            <input class="js-range-datepicker form-control bg-white rounded-right" type="text" placeholder="From" aria-label="From" aria-describedby="calendarFromLabel"
                    data-rp-wrapper="#datepickerWrapperFrom"
                    data-rp-date-format="d/m/Y">
          </div>
          <!-- End Datepicker -->
        </div>

        <div class="col-sm-6 mb-6">
          <!-- Datepicker -->
          <label class="form-label">To</label>

          <div id="datepickerWrapperTo" class="js-focus-state u-datepicker input-group">
            <div class="input-group-prepend">
              <span id="calendarToLabel" class="input-group-text">
                <span class="fas fa-calendar"></span>
              </span>
            </div>
            <input class="js-range-datepicker form-control bg-white rounded-right" type="text" placeholder="To" aria-label="To" aria-describedby="calendarToLabel"
                    data-rp-wrapper="#datepickerWrapperTo"
                    data-rp-date-format="d/m/Y">
          </div>
          <!-- End Datepicker -->
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 mb-6">
          <label id="companyLabel" class="form-label">Company</label>

          <!-- Input -->
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter your company title" aria-label="Enter your company title" aria-describedby="companyLabel">
          </div>
          <!-- End Input -->
        </div>

        <div class="col-sm-6 mb-6">
          <label id="positionLabel" class="form-label">Position</label>

          <!-- Input -->
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter your position" aria-label="Enter your position" aria-describedby="positionLabel">
          </div>
          <!-- End Input -->
        </div>
      </div>

      <!-- Buttons -->
      <button type="submit" class="btn btn-sm btn-primary transition-3d-hover mr-1">Save Changes</button>
      <button type="submit" class="btn btn-sm btn-soft-secondary transition-3d-hover">Cancel</button>
      <!-- End Buttons -->
    </form>
    <!-- End Personal Info Form -->

    <hr class="my-7">

    <!-- Title -->
    <div class="mb-5">
      <h3 class="h5 mb-1">Social profiles</h3>
      <p>Add elsewhere links to your profile.</p>
    </div>
    <!-- End Title -->

    <!-- Social Profiles Form -->
    <form class="js-validate">
      <!-- Input Group -->
      <div class="mb-6">
        <div class="js-focus-state form-group">
          <div class="input-group">
            <div id="dribbleProfileLabel" class="input-group-prepend">
              <span class="input-group-text">https://dribbble.com/</span>
            </div>
            <input type="text" class="form-control" placeholder="Dribbble link" aria-label="Dribbble link" required aria-describedby="dribbleProfileLabel"
                    data-msg="Please enter a valid URL address."
                    data-error-class="u-has-error"
                    data-success-class="u-has-success">
          </div>
          <small class="form-text text-muted">Add your Dribbble profile name (e.g. AlexBrown)</small>
        </div>
      </div>
      <!-- End Input Group -->

      <!-- Input Group -->
      <div class="mb-6">
        <div class="js-focus-state form-group">
          <div class="input-group">
            <div id="twitterProfileLabel" class="input-group-prepend">
              <span class="input-group-text">http://twitter.com/</span>
            </div>
            <input type="text" class="form-control" placeholder="Twitter profile" aria-label="Twitter profile" required aria-describedby="twitterProfileLabel"
                    data-msg="Please enter a valid URL address."
                    data-error-class="u-has-error"
                    data-success-class="u-has-success">
          </div>
          <small class="form-text text-muted">Add your Twitter username (e.g. alexbrown)</small>
        </div>
      </div>
      <!-- End Input Group -->

      <!-- Input Group -->
      <div class="mb-6">
        <div class="js-focus-state form-group">
          <div class="input-group">
            <div id="facebookProfileLabel" class="input-group-prepend">
              <span class="input-group-text">http://www.facebook.com/</span>
            </div>
            <input type="text" class="form-control" placeholder="Facebook profile" aria-label="Facebook profile" required aria-describedby="facebookProfileLabel"
                    data-msg="Please enter a valid URL address."
                    data-error-class="u-has-error"
                    data-success-class="u-has-success">
          </div>
          <small class="form-text text-muted">Input your Facebook username (e.g. alexbrown)</small>
        </div>
      </div>
      <!-- End Input Group -->

      <!-- Input Group -->
      <div class="mb-6">
        <div class="js-focus-state form-group">
          <div class="input-group">
            <div id="behanceProfileLabel" class="input-group-prepend">
              <span class="input-group-text">http://www.behance.net/</span>
            </div>
            <input type="text" class="form-control" placeholder="Behance profile" aria-label="Behance profile" required aria-describedby="behanceProfileLabel"
                    data-msg="Please enter a valid URL address."
                    data-error-class="u-has-error"
                    data-success-class="u-has-success">
          </div>
          <small class="form-text text-muted">Input your Behance username (e.g. alexbrown)</small>
        </div>
      </div>
      <!-- End Input Group -->

      <button type="submit" class="btn btn-sm btn-primary transition-3d-hover mr-1">Update Social Profiles</button>
      <button type="submit" class="btn btn-sm btn-soft-secondary transition-3d-hover">Cancel</button>
    </form>
    <!-- End Social Profiles Form -->
  </div>
</div>
<!-- End Content Section -->



<%= simple_form_for @user do |f| %>
  <div class="row">
    <% #################################################################################################### %>
    <%= render "@shared/forms/section_heading", text: "Personal" %>

    <%= tag.div f.input(:first_name), class: "col-12 col-md-6" %>
    <%= tag.div f.input(:last_name), class: "col-12 col-md-6" %>

    <%= pseudo_row_divider %>

    <%= tag.div f.input(:email), class: "col-12 col-md-6" %>
    <%= tag.div class: "col-12 col-md-6" %>

    <% #################################################################################################### %>
    <%= render "@shared/forms/section_heading", text: "Business" %>

    <%= tag.div f.input(:company_name), class: "col-12 col-md-6" %>
    <%= tag.div f.input(:paypal_email), class: "col-12 col-md-6" %>

    <%= pseudo_row_divider %>

    <%= tag.div f.input(:address_1), class: "col-12 col-md-6" %>
    <%= tag.div f.input(:address_2), class: "col-12 col-md-6" %>

    <%= pseudo_row_divider %>

    <%= tag.div f.input(:city), class: "col-12 col-md-6" %>
    <%= tag.div f.input(:region, label: "State / Region"), class: "col-12 col-md-6" %>

    <%= pseudo_row_divider %>

    <%= tag.div f.input(:postal_code), class: "col-12 col-md-6" %>
    <%= tag.div f.input(:country, input_html: { data: { controller: "select" }}), class: "col-12 col-md-6" %>

    <% #################################################################################################### %>
    <%= render "@shared/forms/section_heading", text: "Security" %>

    <div class="col-12 col-md-6">
      <%= f.input :roles, collection: user_roles_for_select, as: :check_boxes, wrapper_class: "inline"  %>
      <%= tag.div f.input(:api_access, label: "Enable API Access", required: false), class: "mt-3" %>
    </div>

    <%= pseudo_row_divider %>

    <%= render "@shared/forms/button_panel" do %>
      <%= f.button(:submit, class: "btn-lg btn-primary") %>
    <% end %>
  </div>
<% end %>
