<div class="list-group-item list-group-item-<%= status_color(user.status) %>"
     data-target="filterable-list.filterable"
     data-filter-key='all <%= user.status %>'>
  <div class="list-group-item-figure">
    <%= render(AvatarComponent.new(user: user)) %>
  </div>
  <div class="list-group-item-body">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex">
        <p class="h4 list-group-item-title">
          <%= link_to user.name, user %><br />
        </p>
      </div>
      <ul class="list-inline text-muted mb-0 d-flex">
        <li class="d-none d-xl-inline list-inline-item mr-3">
          <span class="badge badge-subtle badge-<%= status_color(user.status) %>"><%= user.status.humanize %></span>
        </li>
        <li class="list-inline-item d-flex flex-nowrap">
          <%= masquerade_button(user) %>
          <%= edit_button(link: edit_user_path(user), title: "Edit User") %>
          <%= goto_button(link: user_path(user), icon: "fas fa-chevron-right", title: "View User") %>
        </li>
      </ul>
    </div>
  </div>
</div>
