<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/dashboard" %>
  <%= render "/@shared/breadcrumbs/users" if authorized_user.can_admin_system? %>
  <%= render "/@shared/breadcrumbs/user", user: user, class: "active" %>
<% end %>

<% content_for :actions do %>
  <ul class="nav" style="width: 130px; justify-content: flex-end;">
    <li><%= render "/@shared/actions/edit_user", user: user %></li>
    <% if user != current_user %>
      <li class="ml-1"><%= render "/@shared/actions/masquerade_as_user", user: user %></li>
    <% end %>
  </ul>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading user.first_name, user.last_name,
    subtitle: user.email,
    icon: "fas fa-user-circle" %>
<% end %>

<main id="content" role="main" class="bg-light">
  <div class="container space-1">
    <ul class="nav nav-classic">
      <%= tag.li(active_link_to("Details", user_path(user), active: :exact,
        data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
      <%= tag.li(active_link_to("Properties", user_properties_path(user),
        data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) if authorized_user.can_admin_system? %>
      <%= tag.li(active_link_to("Campaigns", user_campaigns_path(user),
        data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) if authorized_user.can_admin_system? %>
      <%= tag.li(active_link_to("Comments", user_comments_path(user),
        data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) if authorized_user.can_admin_system? %>
      <%= tag.li(active_link_to("Events", user_events_path(user),
        data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
      <%= tag.li(active_link_to("Versions", user_versions_path(user),
        data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
    </ul>
    <div class="bg-white border p-4">
      <%= yield %>
    </div>
  </div>
</main>