<div class="page-sidebar">
  <header class="sidebar-header d-sm-none">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">
          <a href="#" onclick="CodeFundTheme.toggleSidebar()"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Back</a>
        </li>
      </ol>
    </nav>
  </header>
  <div class="sidebar-section-fill">
    <div class="card card-reflow">
      <div class="d-flex justify-content-between border-top px-3 pt-3 pb-0">
        <h4 class="card-title"> Details </h4>
        <%= link_to "Edit", edit_user_path(subject) %>
      </div>
      <ul class="list-group list-group-bordered list-group-reflow mx-3 mb-3">
        <li class="list-group-item justify-content-between align-items-center px-0">
          <span class="text-muted">Name</span> <span><%= subject.name %></span>
        </li>
        <li class="list-group-item justify-content-between align-items-center px-0">
          <span class="text-muted">Email</span> <span><%= subject.email %></span>
        </li>
      </ul>
      <div class="card card-reflow">
        <% if subject&.organization_users&.exists? %>
          <div class="d-flex justify-content-between border-top px-3 pt-3 pb-0">
            <h4 class="card-title">Teams</h4>
          </div>
          <ul class="list-group list-group-bordered list-group-reflow mx-3 mb-3">
            <% subject.organization_users.each do |org_user| %>
              <li class="list-group-item justify-content-between align-items-center px-0">
                <%= link_to org_user.organization.name, org_user.organization %> <span><%= org_user.role.humanize %></span>
              </li>
            <% end %>
          </ul>
        <% end %>
        <div class="card-body border-top">
          <div class="d-flex justify-content-between my-3">
            <h4 class="card-title">Changelog</h4>
          </div>
          <ul class="timeline timeline-fluid">
            <%= render "/versions/timeline", versionable: subject %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
