<%= table_row add_class: classes("even": user_counter.even?, "odd": user_counter.odd?, "table-dark": user.blacklisted?) do %>
  <%= table_data add_style: "width:20%;" do %>
    <div class="media align-items-center">
      <span class="user-avatar user-avatar-sm bg-muted position-relative mr-3">
        <%= user_avatar_image_tag(user, "img-fluid rounded-circle") %>
        <% unless user.accepted_or_not_invited? %>
          <span class="badge badge-md badge-outline-dark badge-pos badge-pos--bottom-right rounded-circle">
            <%= tag.span "", class: "fas fa-envelope", title: "Pending invitation", data: tooltip_expando %>
          </span>
        <% end %>
      </span>
      <span>
        <%= link_to user.full_name, user_path(user), title: "View User", data: tooltip_expando %>
        <small class="d-block text-muted"><%= user.email %></small>
      </span>
    </div>
  <% end %>
  <%= table_data do %>
    <% user.roles.each do |role| %>
      <%= badge_for_role(role) %>
    <% end %>
  <% end %>
  <%= table_data do %>
    <% if user.last_sign_in_at %>
      <small class="d-block"><%= user.last_sign_in_at.strftime("%d %b, %Y") %></small>
      <small class="d-block"><%= user.last_sign_in_at.strftime("%I:%M %p") %></small>
    <% else %>
      <small class="d-block">Never</small>
    <% end %>
  <% end %>
  <%= table_data add_class: "text-right" do %>
    <%= goto_button(link: images_path(user.to_gid_param), icon: "fas fa-images", title: "Manage Images") if user.advertiser? %>
    <%= edit_button(link: edit_user_path(user)) %>
    <%= goto_button(link: user_impersonation_path(user), method: :put, icon: "fas fa-mask", title: "Log in as #{user.first_name}") if authorized_user.can_admin_system? %>
    <% if authorized_user.can_admin_system? %>
      <%= goto_button(link: "https://metabase.codefund.io/dashboard/14?date_filter=thismonth&publisher_id=#{user.id}", target: "_blank", icon: "fas fa-chart-line", title: "View Publisher Dashboard") if user.publisher? %>
      <%= goto_button(link: "https://metabase.codefund.io/dashboard/10?date_filter=thismonth&advertiser_user_id=#{user.id}", target: "_blank", icon: "fas fa-chart-line", title: "View Advertiser Dashboard") if user.advertiser? %>
    <% end %>
  <% end %>
<% end %>
