<%= tag.tr class: classes("even": user_counter.even?, "odd": user_counter.odd?) do %>
  <td class="align-middle">
    <div class="media align-items-center">
      <span class="u-sm-avatar position-relative mr-2">
        <%= user_avatar_image_tag(user, "img-fluid rounded-circle") %>
        <% unless user.accepted_or_not_invited? %>
          <span class="badge badge-md badge-outline-dark badge-pos badge-pos--bottom-right rounded-circle">
            <%= tag.span "", class: "fas fa-envelope", title: "Pending invitation", data: tooltip_expando %>
          </span>
        <% end %>
      </span>
      <span><%= link_to user.full_name, user_path(user), title: "View User", data: tooltip_expando %></span>
    </div>
  </td>
  <td class="align-middle"><%= link_to user.email, "mailto:#{user.email}", title: "Email User", data: tooltip_expando %></td>
  <td class="align-middle"><%= user.company_name %></td>
  <td class="align-middle">
    <% user.roles.each do |role| %>
      <%= badge_for_role(role) %>
    <% end %>
  </td>
  <td class="align-middle text-secondary">
    <% if user.last_sign_in_at %>
      <small class="d-block"><%= user.last_sign_in_at.strftime("%d %b, %Y") %></small>
      <small class="d-block"><%= user.last_sign_in_at.strftime("%I:%M %p")  %></small>
    <% else %>
      <small class="d-block">Never</small>
    <% end %>
  </td>
  <td class="align-middle text-right text-secondary">
    <%= render "/@shared/table_buttons/goto", link: images_path(user.to_gid_param), icon: "fas fa-images", title: "Manage Images" if user.advertiser? %>
    <%= render "/@shared/table_buttons/edit", link: edit_user_path(user) %>
    <%= render "/@shared/table_buttons/goto", link: user_impersonation_path(user), method: :put, icon: "fas fa-mask", title: "Log in as #{user.first_name}" if authorized_user.can_admin_system? %>
  </td>
<% end %>
