<%= tag.tr class: classes(odd: user_counter.odd?) do %>
  <td><%= user.scoped_name %></td>
  <td><%= link_to user.email, "mailto:#{user.email}" %></td>
  <td>
    <% user.roles.each do |role| %>
      <span class="badge badge-light"><%= role %></span>
    <% end %>
  </td>
  <td><%= link_to "Edit", edit_user_path(user), class: "btn btn-link btn-sm" %></td>
<% end %>
