<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/dashboard" %>
  <%= render "/@shared/breadcrumbs/users" %>
  <%= render "/@shared/breadcrumbs/user", class: "active" %>
<% end %>

<div class="container mt-3">
  <%= page_heading "Editing", "User", subtitle: @user.scoped_name %>
  <%= render '/users/form' %>
  <%= link_to 'View', @user, class: "btn btn-link" %>
  <%= link_to 'Back', :back, class: "btn btn-link" %>
</div>
