<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/dashboard" %>
  <%= render "/@shared/breadcrumbs/users", class: "active" %>
<% end %>

<% content_for :actions do %>
  <%= render "/@shared/actions/add_user" %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Viewing", "Users",
    subtitle: "#{pluralize(@pagy.count, "record")} found",
    icon: "fas fa-user-circle" %>
<% end %>

<main id="content" role="main" class="bg-light">
  <div class="container space-1">
    <%= render partial: "/user_searches/form",
               layout: "/@shared/collapsable_search_form",
               locals: { search: @user_search } %>
    <div class="bg-white p-4">
      <%= render "/users/table", users: @users, pagy: @pagy %>
    </div>
  </div>
</main>