<%= render layout: "/users/show_layout", locals: { user: @user } do %>
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <%= render "/users/card", user: @user %>
    </div>
    <div class="col-md-6 col-lg-8">
      <h4 class="h5 mb-3">
        Details
        <small class="text-muted d-block">Basic user details</small>
      </h4>

      <ul class="list-unstyled mb-0">
        <%= details_li("Name") { @user.name } %>
        <%= details_li("Email") { @user.email } %>
        <%= details_li("Organization") { link_to @user.organization.name, @user.organization } if @user.organization %>
        <%= details_li("Company Name") { @user.company_name } %>
        <%= details_li("Street Address") { @user.address_1 } %>
        <%= details_li("City") { @user.city } %>
        <%= details_li("Region") { @user.region } %>
        <%= details_li("Postal Code") { @user.postal_code } %>
        <%= details_li("Country") { @user.country } %>
        <%= details_li("US Resident?") { @user.us_resident? ? "Yes" : "No" } %>
        <%= details_li("Website URL") { link_to(@user.website_url, @user.website_url) } if @user.website_url %>
        <%= details_li("Last Login") { @user.last_sign_in_at } if authorized_user.can_admin_system? %>
        <%= details_li("Login Count") { @user.sign_in_count } if authorized_user.can_admin_system? %>
        <%= details_li("Roles") { @user.roles.map(&:capitalize).join(", ") } %>
        <%= details_li("Bio") { @user.bio } %>
        <%= details_li("Referring User") { link_to @user.referring_user&.full_name, @user.referring_user } if authorized_user.can_admin_system? && @user.referring_user %>
      </ul>
    </div>
  </div>
<% end %>
