<%= render layout: "/users/show_layout", locals: { user: @user } do %>
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <ul class="list-unstyled mb-0">
        <li class="mb-4">
          <div class="media">
            <span class="fa fa-envelope min-width-6 text-center text-secondary mr-2"></span>
            <div class="media-body text-lh-sm">
              <span class="d-block font-size-14">Email:</span>
              <%= mail_to @user.email, @user.email, class: "small" %>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="media">
            <span class="fa fa-percent min-width-6 text-center text-secondary mr-2"></span>
            <div class="media-body text-lh-sm">
              <span class="d-block font-size-14">Revenue Rate</span>
              <span class="small"><%= number_to_percentage(@user.revenue_rate * 100) %></span>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-md-6 col-lg-4">
      <ul class="list-unstyled mb-0">
        <li class="mb-4">
          <div class="media">
            <span class="fa fa-birthday-cake min-width-6 text-center text-secondary mr-2"></span>
            <div class="media-body">
              <span class="d-block font-size-14">Date Joined:</span>
              <small class="d-block text-muted"><%= @user.created_at.strftime("%b %d, %Y") %></small>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="media">
            <span class="fa fa-building min-width-6 text-center text-secondary mr-2"></span>
            <div class="media-body text-lh-sm">
              <span class="d-block font-size-14">Company:</span>
              <a class="small mr-1" href="#"><%= @user.company_name %></a>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-md-6 col-lg-4">
      <ul class="list-unstyled mb-0">
        <li class="mb-4">
          <div class="media">
            <span class="fa fa-globe min-width-6 text-center text-secondary mr-2"></span>
            <div class="media-body">
              <span class="d-block font-size-14">Languages:</span>
              <small class="d-block text-muted">English, French</small>
            </div>
          </div>
        </li>

        <li class="mb-4">
          <div class="media">
            <span class="fa fa-map-marker-alt min-width-6 text-center text-secondary mr-2"></span>
            <div class="media-body text-lh-sm">
              <span class="d-block font-size-14">Location:</span>
              <span class="small mr-1">
                <%= "#{@user.city}, " if @user.city %>
                <%= "#{@user.region}, " if @user.region %>
                <%= @user.country %>
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
<% end %>