<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/dashboard" %>
  <%= render "/@shared/breadcrumbs/users" %>
  <%= render "/@shared/breadcrumbs/user", class: "active" %>
<% end %>

<% content_for :actions do %>
  <%= render "/@shared/actions/edit_user", user: @user %>
<% end %>

<% content_for :page_heading do %>
  <div class="media d-block d-sm-flex align-items-sm-center">
    <div class="u-lg-avatar position-relative mb-3 mb-sm-0 mr-3">
      <%= image_tag @user.gravatar_url, class: "u-lg-avatar rounded-circle", alt: @user.full_name %>
      <span class="u-badge u-badge-border-success u-badge--md u-badge-pos--bottom-right-0 rounded-circle">
        <span class="fa fa-check"></span>
      </span>
    </div>
    <div class="media-body">
      <h1 class="h3 text-white font-weight-medium mb-1"><%= @user.full_name %></h1>
      <span class="d-block text-white"><%= @user.email %></span>
    </div>
  </div>
<% end %>

<main id="content" role="main">
  <div class="u-bg-light-blue-50">
    <div class="container u-space-2">
      <div class="bg-white p-4">
        <div class="row justify-content-between align-items-center mb-4">
          <div class="col-md-7 order-md-1">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <%= active_link_to "Overview", user_path(@user), active: :exact, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= active_link_to "Campaigns", user_user_campaigns_path(@user), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= active_link_to "Properties", user_user_properties_path(@user), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= active_link_to "Payments", user_user_payments_path(@user), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= active_link_to "Notes", user_user_notes_path(@user), class: "nav-link" %>
              </li>
            </ul>
          </div>
        </div>

        <div class="tab-content">
          <div class="tab-pane active">
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <!-- List -->
                <ul class="list-unstyled mb-0">
                  <li class="mb-4">
                    <div class="media">
                      <span class="fa fa-envelope min-width-6 text-center text-secondary mr-2"></span>
                      <div class="media-body text-lh-sm">
                        <span class="d-block font-size-14">Email:</span>
                        <%= mail_to @user.email, @user.email, class: "small" %>
                      </div>
                    </div>
                  </li>
                  <li class="mb-4">
                    <div class="media">
                      <span class="fa fa-percent min-width-6 text-center text-secondary mr-2"></span>
                      <div class="media-body text-lh-sm">
                        <span class="d-block font-size-14">Revenue Rate</span>
                        <span class="small"><%= number_to_percentage(@user.revenue_rate * 100) %></span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled mb-0">
                  <li class="mb-4">
                    <div class="media">
                      <span class="fa fa-birthday-cake min-width-6 text-center text-secondary mr-2"></span>
                      <div class="media-body">
                        <span class="d-block font-size-14">Date Joined:</span>
                        <small class="d-block text-muted"><%= @user.created_at.strftime("%b %d, %Y") %></small>
                      </div>
                    </div>
                  </li>
                  <li class="mb-4">
                    <div class="media">
                      <span class="fa fa-building min-width-6 text-center text-secondary mr-2"></span>
                      <div class="media-body text-lh-sm">
                        <span class="d-block font-size-14">Company:</span>
                        <a class="small mr-1" href="#"><%= @user.company %></a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled mb-0">
                  <li class="mb-4">
                    <div class="media">
                      <span class="fa fa-globe min-width-6 text-center text-secondary mr-2"></span>
                      <div class="media-body">
                        <span class="d-block font-size-14">Languages:</span>
                        <small class="d-block text-muted">English, French</small>
                      </div>
                    </div>
                  </li>

                  <li class="mb-4">
                    <div class="media">
                      <span class="fa fa-map-marker-alt min-width-6 text-center text-secondary mr-2"></span>
                      <div class="media-body text-lh-sm">
                        <span class="d-block font-size-14">Location:</span>
                        <span class="small mr-1">
                          <%= "#{@user.city}, " if @user.city %>
                          <%= "#{@user.region}, " if @user.region %>
                          <%= @user.country %>
                        </span>
                      </div>
                    </div>
                  </li>
                </ul>
                <!-- End List -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>