<%= render "devise/layout" do %>
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: "auth-form mx-auto", method: :put}) do |f| %>
    <%= f.error_notification %>
    <%= f.input :reset_password_token, as: :hidden %>
    <%= f.full_error :reset_password_token %>
    <div class="text-center mb-4">
      <h1 class="h4 font-weight-normal">Change your password</h1>
    </div>
    <div class="form-group">
      <div class="form-label-group">
        <label class="form-label" for="devise-passwords-edit-password">Password</label>
        <%= f.input :password,
                required: true,
                label: false,
                autofocus: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: {
                  autocomplete: "new-password",
                  id: "devise-passwords-edit-password"
                } %>
      </div>
      <div class="form-label-group">
        <label class="form-label">Password Confirmation</label>
        <%= f.input :password_confirmation, label: false, required: true %>
      </div>
    </div>
    <%= f.button :submit, "Change my Password", class: "btn btn-primary btn-block" %>
    <%= render "devise/links" %>
  <% end %>
<% end %>
