<!-- ========== MAIN ========== -->
<main id="content" role="main" class="border-bottom">
  <!-- Login Form -->
  <div class="container space-top-1 space-top-md-3 space-bottom-2">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "w-md-75 w-lg-50 mx-md-auto" }) do |f| %>
      <%= f.error_notification %>

      <%= f.input :reset_password_token, as: :hidden %>
      <%= f.full_error :reset_password_token %>

      <!-- Title -->
      <div class="mb-7">
        <h1 class="h3 font-weight-normal mb-0">Change your <span class="font-weight-semi-bold text-success">password</span></h1>
        <p>Enter your new password below.</p>
      </div>
      <!-- End Title -->

      <!-- Form Group -->
      <div class="js-form-message form-group">
        <%= f.input :password,
                label: "New password",
                required: true,
                autofocus: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
      </div>
      <!-- End Form Group -->

      <!-- Button -->
      <div class="row align-items-center mb-5">
        <div class="col-4 col-sm-6">
          <%= link_to "Back to sign in", new_user_session_path, class: "small link-muted" %>
        </div>

        <div class="col-8 col-sm-6 text-right">
          <button type="submit" class="btn btn-primary transition-3d-hover">Change my password</button>
        </div>
      </div>
      <!-- End Button -->
    <% end %>
  </div>
  <!-- End Login Form -->
</main>
<!-- ========== END MAIN ========== -->