<div class="card mb-5">
  <div class="card-header text-center">
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="h6 mb-0">
        <%= tag.span "", class: "fas fa-circle small mr-1 text-#{property_status_color(property.status)}",
              title: property.status.humanize, data: tooltip_expando %>
        <%= link_to property.name, property, class: "link-muted" %>
      </h4>
      <div class="position-relative">
        <%= link_to property_property_screenshots_path(property), method: :put, class: "btn btn-xs btn-icon btn-light transition-3d-hover" do %>
          <span class="fas fa-camera btn-icon__inner"></span>
        <% end if authorized_user.can_admin_system? %>
        <%= link_to property.url, class: "btn btn-xs btn-icon btn-light transition-3d-hover", target: "_blank" do %>
          <span class="fas fa-external-link btn-icon__inner"></span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-body p-0 gradient-half-primary-v3">
    <%= link_to image_tag(property.screenshot.attached? ? property.screenshot : "missing-screenshot.jpg", class: "img-fluid"), property %>
  </div>

  <div class="card-footer text-center">
    <div class="row align-items-center">
      <div class="col-4 u-ver-divider">
        <h5 class="small font-weight-normal text-secondary mb-0">
          <small class="d-block">Total</small>Impressions
        </h5>
        <div class="text-dark mt-2"><%= number_with_delimiter property.total_impressions_count(@start_date, @end_date) %></div>
      </div>
      <div class="col-4 u-ver-divider">
        <h5 class="small font-weight-normal text-secondary mb-0">
          <small class="d-block">Average</small>Click Rate
        </h5>
        <div class="text-dark mt-2"><%= number_to_percentage property.total_click_rate(@start_date, @end_date), precision: 2 %></div>
      </div>
      <div class="col-4">
        <h5 class="small font-weight-normal text-secondary mb-0">
          <small class="d-block">Estimated</small>Earnings</h5>
        <div class="text-dark mt-2"><%= property.estimated_property_revenue(@start_date, @end_date).format %></div>
      </div>
    </div>
  </div>
  <small class="text-muted text-center d-block mb-1 pt-1 border-top"><em>data refreshes every 15 minutes</em></small>
</div>
