<div class="card mb-5">
  <div class="card-header text-center">
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="h6 mb-0">
        <%= tag.span "", class: "fas fa-circle small mr-1 text-#{property_status_color(property.status)}",
              title: property.status.humanize, data: tooltip_expando %>
        <%= link_to property.name, property %>
      </h4>
      <div class="position-relative">
        <%= link_to property.url, class: "btn btn-sm btn-link btn-bg-transparent px-0", target: "_blank" do %>
          <span class="fas fa-external-link"></span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-body p-2">
    <div class="text-center">
      <div class="mx-auto">
        <%= link_to image_tag(property.screenshot.attached? ? property.screenshot : "missing-screenshot.jpg", class: "img-fluid rounded mb-4"), property %>
      </div>
      <div class="js-bar-chart"
        data-controller="bar-chart"
        data-series='[
          [<%= start_date.upto(end_date).map { |d| rand(50) }.join(",") %>]
        ]'
        data-is-show-axis-x="false"
        data-is-show-axis-y="false"
        data-height="62px"
        data-high="50"
        data-low="0"
        data-distance="5"
        data-stroke-width="8"
        data-stroke-color="#19a0ff"></div>
    </div>
  </div>

  <div class="card-footer text-center">
    <!-- Budget & Priority -->
    <div class="row align-items-center">
      <div class="col-4 u-ver-divider">
        <h5 class="small font-weight-normal text-secondary mb-0">Impressions</h5>
        <span class="text-dark">TBD</span>
      </div>
      <div class="col-4 u-ver-divider">
        <h5 class="small font-weight-normal text-secondary mb-0">CTR</h5>
        <span class="text-dark">TBD</span>
      </div>
      <div class="col-4">
        <h5 class="small font-weight-normal text-secondary mb-0">Earnings</h5>
        <span class="text-dark">TBD</span>
      </div>
    </div>
    <!-- End Budget & Priority -->
  </div>
</div>