<div class="card mb-5">
  <div class="card-header text-center">
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="h6 mb-0">
        <%= tag.span "", class: "fas fa-circle small mr-1 text-#{property_status_color(property.status)}",
              title: property_status_title(property.status), data: tooltip_expando %>
        <%= link_to property.name, property, class: "link-muted" %>
      </h4>
      <div class="position-relative">
        <%= link_to property_property_screenshots_path(property), method: :put, class: "btn btn-xs btn-icon btn-light transition-3d-hover" do %>
          <span class="fas fa-camera btn-icon__inner"></span>
        <% end if authorized_user.can_admin_system? %>
        <%= link_to property.url, class: "btn btn-xs btn-icon btn-light transition-3d-hover", target: "_blank" do %>
          <span class="fas fa-external-link btn-icon__inner"></span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-body p-0 gradient-half-primary-v3">
    <%= link_to image_tag(property.screenshot.attached? ? property.screenshot : "missing-screenshot.jpg", class: "img-fluid"), property %>
  </div>

  <%= render_later async_property_card_footer_path(property_id: property.id) do %>
    <i class="fa fa-spinner fa-spin text-primary"></i>
  <% end %>
  <small class="text-muted text-center d-block mb-1 pt-1 border-top"><em>data refreshes every 15 minutes</em></small>
</div>
