<div class="list-group-item list-group-item-<%= property_status_color(property.status) %>"
     data-target="filterable-list.filterable"
     data-filter-key='all <%= property.status %>'>
  <div class="list-group-item-figure">
    <%= link_to property_path(property), class: "user-avatar user-avatar-md" do %>
      <%= image_tag property.favicon_image_url %>
    <% end %>
  </div>
  <div class="list-group-item-body">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex">
        <h4 class="list-group-item-title">
          <%= link_to property.name, property, title: "View Property", data: tooltip_expando %><br />
          <small><%= link_to truncate(property.display_url, length: 30), property.url, target: "_blank" %></small>
        </h4>
      </div>
      <ul class="list-inline text-muted mb-0">
        <li class="d-none d-sm-inline list-inline-item mr-3">
          <span class="badge badge-subtle badge-<%= property_status_color(property.status) %>"><%= property.status.humanize %></span>
        </li>
        <li class="d-none d-sm-inline list-inline-item mr-3">
          <%= render_later async_property_sparkline_path(property_id: property.id) do %>
            <i class="fa fa-spinner fa-spin text-primary"></i>
          <% end %>
        </li>
        <%= edit_button(link: edit_property_path(property)) %>
        <%= goto_button(link: property_path(property), icon: "fas fa-chevron-right", title: "View Property") %>
      </ul>
    </div>
  </div>
</div>
