<%
  paid_summary = subject.summary(@start_date, @end_date, paid: true)
  unpaid_summary = subject.summary(@start_date, @end_date, paid: false)
%>
<div class="page-sidebar">
  <header class="sidebar-header d-sm-none">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">
          <a href="#" onclick="CodeFundTheme.toggleSidebar()"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Back</a>
        </li>
      </ol>
    </nav>
  </header>

  <div class="sidebar-section-fill">
    <div class="card card-reflow">
      <div class="card-body">
        <button type="button" class="close mt-n1 d-none d-xl-none d-sm-block" onclick="CodeFundTheme.toggleSidebar()" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="card-title">Summary</h4>
        <div class="row text-center">
          <div class="col-6">
            <div class="metric">
              <h6 class="metric-value"><%= subject.earnings(@start_date, @end_date).format %></h6>
              <p class="metric-label mt-1">Earnings</p>
            </div>
          </div>
          <div class="col-6">
            <div class="metric">
              <h6 class="metric-value"><%= number_to_percentage paid_summary&.click_rate, precision: 3 %></h6>
              <p class="metric-label mt-1">Avg. CTR</p>
            </div>
          </div>

          <div class="col-6">
            <div class="metric">
              <h6 class="metric-value"><%= paid_summary&.property_cpm&.format %></h6>
              <p class="metric-label mt-1">Avg. CPM</p>
            </div>
          </div>

          <div class="col-6">
            <div class="metric">
              <h6 class="metric-value"><%= number_to_percentage calc_percentage(paid_summary&.impressions_count, paid_summary&.impressions_count.to_f + unpaid_summary&.impressions_count.to_f) * 100, precision: 3 %></h6>
              <p class="metric-label mt-1">Paid vs Fallback</p>
            </div>
          </div>

          <div class="col-6">
            <div class="metric">
              <h6 class="metric-value"><%= number_with_delimiter paid_summary&.impressions_count %></h6>
              <p class="metric-label mt-1">Total Paid</p>
            </div>
          </div>

          <div class="col-6">
            <div class="metric">
              <h6 class="metric-value"><%= number_with_delimiter unpaid_summary&.impressions_count %></h6>
              <p class="metric-label mt-1">Total Fallback</p>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-between border-top px-3 pt-3 pb-0">
        <h4 class="card-title"> Details </h4>
        <%= link_to "Edit", edit_property_path(subject) %>
      </div>
      <div class="list-group list-group-bordered list-group-reflow mx-3 mb-3">
        <div class="list-group-item justify-content-between align-items-center px-0">
          <span class="text-muted">Name</span> <span><%= subject.name %></span>
        </div>
        <div class="list-group-item justify-content-between align-items-center px-0">
          <span class="text-muted">Website</span> <span><%= link_to subject.pretty_url, target: "_blank" %></span>
        </div>
        <% if authorized_user.can_admin_system? %>
          <div class="list-group-item justify-content-between align-items-center px-0">
            <span class="text-muted">Owner</span> <span><%= link_to subject.user&.name, subject.user %></span>
          </div>
        <% end %>
        <div class="list-group-item justify-content-between align-items-center px-0">
          <span class="text-muted">Audience</span> <span><%= subject.audience&.name %></span>
        </div>
        <div class="list-group-item justify-content-between align-items-center px-0">
          <span class="text-muted">Status</span> <span><%= subject.status.humanize %></span>
        </div>
        <div class="list-group-item justify-content-between align-items-center px-0">
          <span class="text-muted">Revenue Rate</span> <span><%= number_to_percentage(subject.revenue_percentage * 100, precision: 0) %></span>
        </div>
      </div>

      <div class="card-body border-top">
        <div class="d-flex justify-content-between my-3">
          <h4 class="card-title">Changelog</h4>
        </div>
        <ul class="timeline timeline-fluid">
          <%= render "/versions/timeline", versionable: subject %>
        </ul>
      </div>
    </div>
  </div>
</div>
