<%= tag.tr class: classes("even": property_counter.even?, "odd": property_counter.odd?, "opacity-40": %w[archived blacklisted rejected].any?(ENUMS::PROPERTY_STATUSES[property.status])) do %>
  <td class="align-middle"><%= link_to property.name, property, title: "View Property", data: tooltip_expando %></td>
  <% if authorized_user.can_admin_system? %>
    <td class="align-middle">
      <%= link_to property.user.full_name, user_path(property.user), title: "View User", data: tooltip_expando %>
    </td>
  <% end %>
  <td class="align-middle">
    <%= link_to truncate(property.display_url, length: 20), property.url, target: "_blank" %>
  </td>
  <td class="align-middle text-secondary">
    <small class="d-block"><%= property.created_at.strftime("%d %b, %Y") %></small>
    <small class="d-block"><%= property.created_at.strftime("%I:%M %p")  %></small>
  </td>
  <td class="align-middle text-<%= property_status_color(property.status) %>">
    <span class="fas fa-circle small mr-1"></span>
    <%= property.status.humanize %>
  </td>
  <td>
    <%= render_later async_property_sparkline_path(property_id: property.id) do %>
      <i class="fa fa-spinner fa-spin text-primary"></i>
    <% end %>
  </td>
  <td class="align-middle text-secondary text-right">
    <%= render_later async_property_click_rate_path(property_id: property.id) do %>
      <i class="fa fa-spinner fa-spin text-primary"></i>
    <% end %>
  </td>
  <td class="align-middle text-right text-secondary">
    <%= render "/@shared/table_buttons/edit", link: edit_property_path(property) %>
  </td>
<% end %>
