<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/dashboard" %>
  <%= render "/@shared/breadcrumbs/properties", class: "active" %>
<% end %>

<% content_for :actions do %>
  <%= render "/@shared/actions/add_property" %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Viewing", "Properties",
    subtitle: "#{pluralize(@pagy.count, "record")} found",
    icon: "fas fa-browser" %>
<% end %>

<main id="content" role="main" class="bg-light">
  <div class="container space-1">
    <%= render partial: "/property_searches/form",
               layout: "/@shared/collapsable_search_form",
               locals: { search: @property_search } %>
    <div class="bg-white p-4">
      <%= render "/properties/table", properties: @properties, pagy: @pagy %>
    </div>
  </div>
</main>