<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/dashboard" %>
  <%= render "/@shared/breadcrumbs/properties", class: "active" %>
<% end %>

<% content_for :actions do %>
  <%= render "/@shared/actions/add_property" %>
<% end %>

<div class="container mt-3">
  <p id="notice"><%= notice %></p>
  <%= page_heading "Viewing", "Properties" %>
  <%# render "/property_searches/form" %>
  <%= render "/properties/table", users: @users %>
</div>
