<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/dashboard" %>
  <%= render "/@shared/breadcrumbs/properties", class: "active" %>
<% end %>

<% content_for :actions do %>
  <%= render "/@shared/actions/add_property" %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Viewing", "Properties",
    subtitle: "#{pluralize(@pagy.count, "record")} found",
    icon: "fas fa-browser" %>
<% end %>

<main id="content" role="main">
  <div class="u-bg-light-blue-50">
    <div class="container u-space-1">
      <p id="notice"><%= notice %></p>
      <%= render "/property_searches/form" %>
      <div class="bg-white p-4">
        <%= render "/properties/table", properties: @properties %>
      </div>
    </div>
  </div>
</main>
