<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/dashboard" %>
  <%= render "/@shared/breadcrumbs/properties" %>
  <%= render "/@shared/breadcrumbs/property", class: "active" %>
<% end %>

<div class="container mt-3">
  <%= page_heading "Creating", "Property" %>
  <%= render '/properties/form', property: @property %>
  <%= link_to 'Back', properties_path, class: "btn btn-link" %>
</div>
