<%= render layout: "/properties/show_layout", locals: { property: @property } do %>
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <%= render "/properties/card", property: @property, start_date: @start_date, end_date: @end_date  %>
    </div>
    <div class="col-md-6 col-lg-8">
      <h3 class="h5 mb-3 flex-grow-1">
        Details
        <small class="text-muted d-block">Basic details for this property</small>
      </h3>

      <ul class="list-unstyled mb-0">
        <%= details_li("Name") { @property.name } %>
        <%= details_li("User") { link_to @property.user.full_name, @property.user } %>
        <%= details_li("Status") { @property.status.humanize } %>
        <%= details_li("URL") { link_to @property.url, @property.url } %>
        <%= details_li("Revenue Rate") { number_to_percentage(@property.revenue_percentage * 100, precision: 1) } %>
        <%= details_li("Template") { @property.ad_template } %>
        <%= details_li("Theme") { @property.ad_theme } %>
        <%= details_li("Allow fallback ads?") { @property.prohibit_fallback_campaigns ? "No" : "Yes (thank you)" } %>
        <%= details_li("Restricted to") do %>
          <% @property.assigner_campaigns.pluck(:name).sort.each do |campaign_name| -%>
            <span class="btn btn-xs btn-soft-dark mb-1"><%= campaign_name %></span>
          <% end -%>
        <% end if @property.restrict_to_assigner_campaigns? %>
        <%= details_li("Assigned Fallback Campaigns") do %>
          <% @property.assigned_fallback_campaigns.pluck(:name).sort.each do |campaign_name| -%>
            <span class="btn btn-xs btn-soft-dark mb-1"><%= campaign_name %></span>
          <% end -%>
        <% end if @property.assigned_fallback_campaign_ids.present? %>
        <%= details_li("Excluded Advertisers") do %>
          <% @property.excluded_company_names.each do |company_name| -%>
            <span class="btn btn-xs btn-soft-dark mb-1"><%= company_name %></span>
          <% end -%>
        <% end if authorized_user.can_admin_system? %>
      </ul>
    </div>
  </div>
<% end %>
