<%= render layout: "/properties/show_layout", locals: { property: @property } do %>
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <%= render "/properties/card", property: @property, start_date: Date.current.beginning_of_month, end_date: Date.current  %>
    </div>
    <div class="col-md-6 col-lg-8">
      <ul class="list-unstyled mb-0">
        <%= details_li("Name") { @property.name } %>
        <%= details_li("User") { link_to @property.user.full_name, @property.user } %>
        <%= details_li("Status") { @property.status.humanize } %>
        <%= details_li("URL") { link_to @property.url, @property.url } %>
      </ul>

      <hr>

      <h3 class="h5 mt-3">Embed Instructions</h3>
      <p>Paste the following code snippet into your web application:</p>
      <pre><code>
<%= CGI::escapeHTML('<div id="codefund">No ads available</div>').html_safe %>
<%= CGI::escapeHTML(javascript_include_tag(advertisements_url(@property.id, format: :js), async: true)).html_safe %>
      </code></pre>
    </div>
  </div>
<% end %>
