<%= render layout: "/properties/show_layout", locals: { property: @property } do %>
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <%= render "/properties/card", property: @property, start_date: Date.current.beginning_of_month, end_date: Date.current  %>
    </div>
    <div class="col-md-6 col-lg-8">
      <h4 class="h5 mb-3">
        Details
        <small class="text-muted d-block">Basic details for this property</small>
      </h4>

      <ul class="list-unstyled mb-0">
        <%= details_li("Name") { @property.name } %>
        <%= details_li("User") { link_to @property.user.full_name, @property.user } %>
        <%= details_li("Status") { @property.status.humanize } %>
        <%= details_li("URL") { link_to @property.url, @property.url } %>
      </ul>

      <hr>

      <h4 class="h5 my-3">
        Embed Instructions
        <small class="text-muted d-block">Paste the following code snippet into your web application</small>
      </h4>

      <div class="js-focus-state input-group mb-2">
        <textarea rows="3" id="embedCode" class="form-control"><div id="codefund"><!-- fallback content --></div>
<%= javascript_include_tag(advertisements_url(@property.id, format: :js), async: true) %></textarea>
        <div class="input-group-append">
          <a class="js-clipboard input-group-text" href="javascript:;"
            data-controller="copy-to-clipboard"
            data-content-target="#embedCode"
            data-class-change-target="#embedIcon"
            data-default-class="fas fa-clone"
            data-success-class="fas fa-check">
            <span id="embedIcon" class="fas fa-clone"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
<% end %>
