<%= simple_form_for @property_search, wrapper: :filter_form do |f| %>
    <%= f.input(:name, required: false) %>
    <%= f.input(:user, label: "Publisher", required: false) %>
    <%= f.input(:url, required: false) %>
    <%= f.input(:property_types, collection: property_types_for_select, required: false, input_html: { multiple: true, data: { controller: "select" }}) %>
    <%= f.input(:statuses, collection: property_statuses_for_select, required: false, input_html: { multiple: true, data: { controller: "select" }}) %>
    <%= f.input(:ad_templates, collection: ad_templates_for_select, required: false, input_html: { multiple: true, data: { controller: "select" }}) %>
    <%= f.input(:languages, collection: languages_for_select, required: false, input_html: { multiple: true, data: { controller: "select" }}) %>
    <%= f.input(:keywords, collection: keywords_for_select, label: "Topics", required: false, input_html: { multiple: true, data: { controller: "select" }}) %>

    <div class="text-right">
      <%= f.button :submit, value: "Apply Filters", class: "btn btn-primary" %>
      <%= link_to "Clear", property_search_path(@property_search.to_gid_param), class: "btn-md btn-link text-danger ml-3", method: :delete if @property_search.present? %>
    </div>
<% end %>