<%= simple_form_for coupon, html: { class: "js-validate" }, wrapper: :front_form do |f| %>
  <%= render "/@shared/forms/section_heading", title: "Coupon Details", subtitle: "Fill out the form below" %>
  <%= render "/@shared/forms/error_messages", object: coupon %>

  <div class="row">
    <%= tag.div f.input(:code, as: :string, required: true, input_html: { class: "form-control" },
      data: { msg: "Please enter a valid code", error_class: "u-has-error", success_class: "u-has-success" }), class: "col-md-4 mb-3" %>
    <%= tag.div f.input(:description, as: :string, required: true, input_html: { class: "form-control" },
      data: { error_class: "u-has-error", success_class: "u-has-success" }), class: "col-md-8 mb-3" %>

    <%= tag.div f.input(:discount_percent, required: true, input_html: { class: "form-control" },
      data: { error_class: "u-has-error", success_class: "u-has-success" }), class: "col-md-6 mb-3" %>

    <div class="col-md-4 mb-3">
      <%= f.input :expires_at, as: :string, required: true,
            input_html: { class: "form-control", data: { controller: "select-date" },
            value: coupon.expires_at&.to_s("mm/dd/yyyy") } %>
    </div>

    <%= tag.div f.input(:quantity, required: true, input_html: { class: "form-control" },
      data: { error_class: "u-has-error", success_class: "u-has-success" }), class: "col-md-4 mb-3" %>

    <%= tag.div f.input(:claimed, required: true, input_html: { class: "form-control" },
      data: { error_class: "u-has-error", success_class: "u-has-success" }), class: "col-md-4 mb-3" %>

    <%= render "@shared/forms/button_panel" do %>
      <%= f.submit "Save Coupon", class: "btn btn-sm btn-primary transition-3d-hover mr-1" %>
      <%= link_to "Cancel", coupons_path, class: "btn btn-sm btn-soft-secondary transition-3d-hover" %>
    <% end %>
  </div>
<% end %>
