<%= tag.tr class: classes("even": coupon_counter.even?, "odd": coupon_counter.odd?) do %>
  <td class="align-middle text-secondary"><%= coupon.code %></td>
  <td class="align-middle text-secondary"><%= coupon.coupon_type %></td>
  <td class="align-middle text-secondary"><%= coupon.discount_percent %>%</td>
  <td class="align-middle text-secondary"><%= coupon.expires_at.to_s("mm/dd/yyyy") %></td>
  <td class="align-middle text-secondary"><%= coupon.quantity %></td>
  <td class="align-middle text-secondary"><%= coupon.claimed %></td>
  <td class="align-middle text-secondary text-right">
    <%= render "/@shared/table_buttons/edit", link: edit_coupon_path(coupon) %>
  </td>
<% end %>
