<div class="page <%= "has-sidebar has-sidebar-expand-xl" if local_assigns[:sidebar] %>">
  <% if local_assigns[:sidebar] %>
    <div class="sidebar-backdrop"></div>
  <% end %>

  <div class="page-inner">
    <%= render "/shared/page_heading_with_subtitle",
      title: local_assigns[:title] || subject.name,
      subtitle: local_assigns[:subtitle],
      buttons: local_assigns[:buttons] || [],
      datepicker: local_assigns[:datepicker] || false,
      sidebar: local_assigns[:sidebar] || false %>

    <%= render("/#{subject.class.name.underscore.pluralize}/tabs", subject: subject) if subject.persisted? && local_assigns[:tabs] != false %>

    <div class="page-section">
      <%= yield %>
    </div>

    <%= render "/#{subject.class.name.underscore.pluralize}/sidebar", subject: subject if local_assigns[:sidebar] %>
  </div>
</div>
