<aside class="app-aside app-aside-expand-md app-aside-light" data-controller="sidebar">
  <div class="aside-content">
    <header class="aside-header d-flex d-md-none">
      <button class="btn-account" type="button" data-toggle="collapse" data-target="#dropdown-aside">
        <span class="user-avatar user-avatar-lg">
          <%= user_avatar_image_tag(current_user, "") %>
        </span>
        <span class="account-icon">
          <span class="fa fa-caret-down fa-lg"></span>
        </span>
        <span class="account-summary">
          <span class="account-name"><%= current_user.name %></span>
          <span class="account-description"><%= Current.organization&.name %></span>
        </span>
      </button>
      <div id="dropdown-aside" class="dropdown-aside collapse">
        <div class="pb-3">
          <%= link_to edit_user_path(current_user), class: "dropdown-item" do %>
            <span class="dropdown-icon fas fa-user"></span> Profile
          <% end %>
          <%= link_to destroy_user_session_path, class: "dropdown-item" do %>
            <span class="dropdown-icon fas fa-sign-out"></span>
            Logout
          <% end %>
          <% if current_user != true_user %>
            <%= link_to stop_user_impersonation_path, class: "dropdown-item" do %>
              <span class="dropdown-icon fas fa-undo"></span>
              Back to <%= true_user.first_name %>
            <% end %>
          <% end %>
        </div>
      </div>
    </header>
    <div class="aside-menu">
      <nav id="stacked-menu" class="stacked-menu">
        <ul class="menu">
          <%= render "/shared/sidebar_content/dashboard" unless authorized_user.can_advertise_and_publish? %>
          <%= render "/shared/sidebar_content/dashboards" if authorized_user.can_advertise_and_publish? %>
          <%= render "/shared/sidebar_content/organization" if Current.organization %>
          <%= render "/shared/sidebar_content/campaigns" if authorized_user.can_advertise? %>
          <%= render "/shared/sidebar_content/creatives" if authorized_user.can_advertise? %>
          <%= render "/shared/sidebar_content/images" if authorized_user.can_advertise? %>
          <%= render "/shared/sidebar_content/properties" if authorized_user.can_publish? %>
          <%= render "/shared/sidebar_content/profile" %>
          <%= render "/shared/sidebar_content/admin" if authorized_user.can_admin_system? %>
        </ul>
      </nav>
    </div>
    <%= render "/shared/sidebar_content/footer_current_organization" %>
  </div>
</aside>
