<%= simple_form_for organization, wrapper: :front_form do |f| %>
  <%= render "/shared/forms/error_messages", object: organization %>
  <%= card do %>
    <%= card_header do %>
      <%= card_title do %>
        Organization Details
      <% end %>
      <%= card_subtitle do %>
        Tell us about your organization
      <% end %>
    <% end %>
    <%= card_body do %>
      <div class="row">
        <%= tag.div f.input(:name, as: :string, required: true, input_html: { class: "form-control" }), class: "col-12 mb-3" %>

        <%= button_panel do %>
          <%= f.submit "Save Organization", class: "btn btn-sm btn-primary mr-1" %>
          <%= link_to "Cancel", organizations_path, class: "btn btn-sm btn-subtle-dark" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
