<div class="nav-tabs-wrapper">
  <%= nav_tabs do %>
    <%= nav_item_link(name: "Details", path: organization, active: :exact) %>
    <%= nav_item_link(name: "Members", path: organization_users_path(organization)) if authorized_user.can_admin_system?%>
    <%= nav_item_link(name: "Transactions", path: organization_transactions_path(organization)) %>
    <%= nav_item_link(name: "Reports", path: organization_reports_path(organization)) %>
    <%= nav_item_link(name: "Revisions", path: organization_versions_path(organization)) %>
  <% end %>
</div>
