<%= table_wrapper do %>
  <%= paginated_table do %>
    <%= table_head do %>
      <%= table_row header: true do %>
        <%= table_column add_style: "width:40px;", add_scope: "col" do %>&nbsp;<% end %>
        <%= sortable_tr "name" %>
        <%= table_column add_scope: "col" do %>Credits<% end %>
        <%= table_column add_scope: "col" do %>Debits<% end %>
        <%= sortable_tr "balance_cents", "Balance" %>
        <%= table_column add_scope: "col" do %>&nbsp;<% end %>
      <% end %>
    <% end %>
    <%= table_body do %>
      <%= render partial: "/organizations/tr", collection: organizations, as: :organization %>
    <% end %>
  <% end %>
  <%= pagination_wrapper do %>
    <span><%== pagy_bootstrap_nav(pagy) if pagy.pages > 1 %></span>
    <%= pagy_entries(pagy) %>
  <% end %>
<% end %>
