<%= table_row add_class: classes("even": organization_counter.even?, "odd": organization_counter.odd?) do %>
  <%= table_data do %>
    <% if organization.balance > 0 %>
      <span class="text-success fas fa-plus-circle"></span>
    <% elsif organization.balance < 0 %>
      <span class="text-danger fas fa-minus-circle"></span>
    <% else %>
      <span class="text-muted fas fa-empty-set"></span>
    <% end %>
  <% end %>
  <%= table_data do %>
    <%= link_to organization.name, organization, class: "text-link" %>
  <% end %>
  <%= table_data add_class: "text-success", add_style: "width: 175px;" do %>
    <%= organization.total_credits.format %>
  <% end %>
  <%= table_data add_class: "text-danger", add_style: "width: 175px;" do %>
    - <%= organization.total_debits.format %>
  <% end %>
  <%= table_data add_style: "width: 175px;" do %>
    <%= link_to organization.balance.format, organization_transactions_path(organization),
      class: classes(
        "text-link text-success": organization.balance > 0,
        "text-link text-danger": organization.balance < 0,
        "text-link text-muted": organization.balance.zero?
      ) %>
  <% end %>
  <%= table_data do %>
    <%= edit_button(link: edit_organization_path(organization)) %>
  <% end %>
<% end %>
