<%= card do %>
  <%= card_header do %>
    <%= card_title do %>
      About
    <% end %>
    <%= card_subtitle do %>
      Tell about yourself in two sentences.
    <% end %>
  <% end %>
  <%= card_body do %>
    <div class="row">
      <%= tag.div f.input(:bio, input_html: {class: "js-summernote-editor", rows: 6}), class: "col-12 mb-2" %>
      <%= tag.div f.input(:skills, collection: ENUMS::KEYWORDS.keys, required: false, input_html: {class: "form-control", multiple: true, data: {controller: "select"}}), class: "col-12" %>
    </div>
  <% end %>
<% end %>
