<%= card do %>
  <%= card_header do %>
    <%= card_title add_class: "mb-0" do %>
      Share a link and earn a bonus
    <% end %>
  <% end %>
  <%= card_body do %>
    <p>
      Get a friend to join CodeFund as a publisher and earn <strong>5%</strong> of the total revenue generated through their properties for 3 months.
    </p>
    <form>
      <div class="js-focus-state mb-2">
        <div class="input-group">
          <%= tag.input id: "referralLink", class: "form-control", value: invite_url(current_user.referral_code) %>
          <div class="input-group-append">
            <a class="js-clipboard input-group-text" href="javascript:;"
              data-controller="copy-to-clipboard"
              data-content-target="#referralLink"
              data-class-change-target="#linkIcon"
              data-default-class="fas fa-clone"
              data-success-class="fas fa-check">
              <span id="linkIcon" class="fas fa-clone"></span>
            </a>
          </div>
        </div>
      </div>
      <small class="form-text text-muted">Copy or share your referral link with friends or followers</small>
    </form>
  <% end %>
<% end %>
