<% content_for :page_heading do %>
  <%= page_heading "Referrals", "",
    subtitle: "Earn by referring friends",
    icon: "fas fa-browser" %>
<% end %>

<div class="d-flex">
  <%= render "shared/sidebar" %>
  <div class="container mt-4">
    <header class="page-title-bar border-bottom">
      <%= yield :page_heading %>
    </header>

    <div class="grid grid-tcolumns-400 grid-trows-200">
      <%= render "/referrals/share_card" %>
      <%= render "/referrals/stats_card" %>
    </div>
  </div>
</div>
