<div>
  <div class="media mb-3">
    <div class="u-avatar mr-3">
      <%= image_tag comment.user.avatar.attached? ? comment.user.avatar : comment.user.gravatar_url, class: "img-fluid rounded-circle", alt: comment.user.full_name %>
    </div>
    <div class="media-body">
      <%= link_to comment_path(comment), method: :delete, class: "text-secondary float-right" do %>
        <span class="far fa-trash"></span>
      <% end if current_user == comment.user %>
      <h4 class="d-inline-block mb-1">
        <%= link_to comment.user.name, user_path(comment.user), class: "d-block h6 mb-0" %>
      </h4>
      <small class="d-block text-muted"><%= time_ago_in_words comment.created_at %> ago</small>
    </div>
  </div>

  <p><%= simple_format comment.body %></p>
</div>

<hr class="my-6">