<!-- ========== FOOTER ========== -->
<footer>
  <!-- Lists -->
  <div class="border-bottom">
    <div class="container space-2">
      <div class="row justify-content-md-between">
        <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
          <h4 class="h6 font-weight-semi-bold">About</h4>

          <!-- List Group -->
          <ul class="list-group list-group-flush list-group-borderless mb-0">
            <li><%= link_to "Advertise with Us", advertisers_path, class: "list-group-item list-group-item-action" %></li>
            <li><%= link_to "Become a Publisher", publishers_path, class: "list-group-item list-group-item-action" %></li>
            <li><%= link_to "Post a Job", new_job_posting_prospect_path, class: "list-group-item list-group-item-action" %></li>
            <li><%= link_to "Contact", "javascript: window._grv.api.open();", class: "list-group-item list-group-item-action" %></li>
          </ul>
          <!-- End List Group -->
        </div>

        <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
          <h4 class="h6 font-weight-semi-bold">Company</h4>

          <!-- List Group -->
          <ul class="list-group list-group-flush list-group-borderless mb-0">
            <li><%= link_to "Team", page_path(:team), class: "list-group-item list-group-item-action" %></li>
            <li><a href="https://blog.codefund.app" class="list-group-item list-group-item-action">Blog</a></li>
            <li><a href="https://github.com/gitcoinco/code_fund_ads" class="list-group-item list-group-item-action">Code</a></li>
            <li><a href="https://stackshare.io/codefund" class="list-group-item list-group-item-action">Our Stack</a></li>
          </ul>
          <!-- End List Group -->
        </div>

        <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
          <h4 class="h6 font-weight-semi-bold">Resources</h4>

          <!-- List Group -->
          <ul class="list-group list-group-flush list-group-borderless mb-0">
            <li><%= link_to "Pricing", pricing_path, class: "list-group-item list-group-item-action" %></li>
            <li><a href="https://status.codefund.app" class="list-group-item list-group-item-action">Status</a></li>
            <li><a href="https://www.iubenda.com/privacy-policy/47597768" class="list-group-item list-group-item-action iubenda-nostyle no-brand iubenda-embed iub-legal-only" title="Privacy Policy">Privacy Policy</a></li>
            <li><a href="https://www.iubenda.com/privacy-policy/47597768/cookie-policy" class="list-group-item list-group-item-action iubenda-nostyle no-brand iubenda-embed" title="Cookie Policy">Cookie Policy</a></li>
          </ul>
          <!-- End List Group -->
        </div>

        <div class="col-md-7 col-lg-5 mb-4 mb-md-0">
          <div class="mb-4">
            <h3 class="h6">
              <strong>Get our weekly newsletter!</strong>
            </h3>
            <p class="font-size-14">Get weekly updates on our progress. Never spam.</p>
          </div>

          <!-- Form -->
          <%= form_tag newsletter_subscription_path, method: :post, class: "js-validate js-form-message", data: {
            controller: "event-track",
            action: "submit->event-track#logEvent",
            ga_event_category: "website",
            ga_event_action: "subscribe",
            ga_event_label: "newsletter",
            ga_event_value: ""
          } do %>
            <div class="js-focus-state input-group u-form">
              <input type="email" class="form-control u-form__input" name="email" required
                    placeholder="Enter your email address"
                    aria-label="Enter your email address"
                    data-msg="Please enter your email address"
                    data-error-class="u-has-error"
                    data-success-class="u-has-success"
                    data-rule-email="true">
              <span class="input-group-append u-form__append">
                <button type="submit" class="btn btn-primary u-btn-primary">Subscribe</button>
              </span>
            </div>
          <% end %>
          <!-- End Form -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Lists -->

  <!-- Copyright -->
  <div class="container text-center space-1">
    <!-- Logo -->
    <a class="d-inline-block mb-2" href="/" aria-label="CodeFund">
      <%= image_tag "codefund-logo.svg", alt: "CodeFund", style: "width: 30px;" %>
    </a>
    <!-- End Logo -->

    <p class="small text-muted">
      Copyright &copy; 2017-2019 ConsenSys, AG. All rights reserved.<br/>
      <small><a href="https://themes.getbootstrap.com/product/front-multipurpose-responsive-template/" target="_blank">Front Theme</a> 2018 &copy; Htmlstream. All rights reserved.</small>
      <br>
      <small><a href="https://undraw.co/" target="_blank">Illustrations</a> created by <a href="https://twitter.com/ninalimpi">Katerina Limpitsoun</a>.</small>
      <br>
      <small>Stock images purchased from <a href="https://www.onepixel.com/" target="_blank">Onepixel</a>.</small>
    </p>
    <a class="github-button"
      href="https://github.com/gitcoinco/code_fund_ads"
      data-controller="github-buttons"
      data-icon="octicon-star"
      data-show-count="true"
      aria-label="Star gitcoinco/code_fund_ads on GitHub">Star</a>
  </div>
  <!-- End Copyright -->
</footer>
<!-- ========== END FOOTER ========== -->

<!-- Go to Top -->
<a class="js-go-to u-go-to" href="#"
  data-position='{"bottom": 15, "left": 15 }'
  data-type="fixed"
  data-offset-top="400"
  data-compensation="#header"
  data-show-effect="slideInUp"
  data-hide-effect="slideOutDown">
  <span class="fa fa-arrow-up u-go-to__inner"></span>
</a>
<!-- End Go to Top -->
