<!-- ========== HEADER ========== -->
<header id="header" class="u-header u-header--abs-top-md u-header--bg-transparent u-header--show-hide-md"
        data-header-fix-moment="500" data-header-fix-effect="slide">
  <%= render "/@shared/search_top" %>
  <%= render "/@shared/tophat" if authorized_user.can_admin_system? %>
  <div class="u-header__section" id="logo-and-nav-wrapper">
    <div id="logoAndNav" class="container">
      <!-- Nav -->
      <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
        <!-- Logo -->
        <%= link_to root_path, class: "navbar-brand u-header__navbar-brand u-header__navbar-brand-center " do %>
          <%= image_tag "codefund-w.svg", alt: "CodeFund", class: "js-svg-injector" %>
        <% end %>
        <!-- End Logo -->

        <!-- Responsive Toggle Button -->
        <button type="button" class="navbar-toggler btn u-hamburger"
                aria-label="Toggle navigation"
                aria-expanded="false"
                aria-controls="navBar"
                data-toggle="collapse"
                data-target="#navBar">
          <span id="hamburgerTrigger" class="u-hamburger__box">
            <span class="u-hamburger__inner"></span>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Navigation -->
        <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
          <ul class="navbar-nav u-header__navbar-nav">
            <%= active_link_to "Home", root_path, active: :exact, class: "nav-link u-header__nav-link", wrap_tag: :li, wrap_class: "nav-item" %>
            <%= active_link_to "Advertisers", advertisers_path, class: "nav-link u-header__nav-link", wrap_tag: :li, wrap_class: "nav-item" %>
            <%= active_link_to "Publishers", publishers_path, class: "nav-link u-header__nav-link", wrap_tag: :li, wrap_class: "nav-item" %>
            <%= active_link_to "Blog", buttercms_blog_path, class: "nav-link u-header__nav-link", wrap_tag: :li, wrap_class: "nav-item" %>
            <%= tag.li "", class: "nav-item", id: "headway-changelog" if ENV["HEADWAY_ID"].present? %>
            <% if current_user %>
              <li class="nav-item">
                <ul class="list-inline mx-2 mb-0">
                  <!-- Account Login -->
                  <li class="list-inline-item">
                    <!-- Account Sidebar Toggle Button -->
                    <a id="sidebarNavToggler" class="btn btn-xs btn-text-secondary u-sidebar--account__toggle-bg ml-1" href="javascript:;" role="button"
                        aria-controls="sidebarContent"
                        aria-haspopup="true"
                        aria-expanded="false"
                        data-unfold-event="click"
                        data-unfold-hide-on-scroll="false"
                        data-unfold-target="#sidebarContent"
                        data-unfold-type="css-animation"
                        data-unfold-animation-in="fadeInRight"
                        data-unfold-animation-out="fadeOutRight"
                        data-unfold-duration="500">
                      <span class="position-relative">
                        <span class="u-sidebar--account__toggle-text"><%= current_user.name %></span>
                        <%= user_avatar_image_tag(current_user, "u-sidebar--account__toggle-img") %>
                        <% if current_user != true_user %>
                          <span class="badge badge-xs badge-outline-danger badge-pos rounded-circle"></span>
                        <% end %>
                      </span>
                    </a>
                    <!-- End Account Sidebar Toggle Button -->
                  </li>
                  <!-- End Account Login -->
                </ul>
              </li>
              <% if authorized_user.can_admin_system? %>
                <li class="list-inline-item">
                  <a id="btn-search-toggle" class="btn btn-xs btn-icon btn-text-secondary" href="javascript:;" role="button"
                          aria-haspopup="true"
                          aria-expanded="false"
                          aria-controls="searchPushTop"
                          data-unfold-type="jquery-slide"
                          data-unfold-target="#searchPushTop">
                    <span class="fas fa-search btn-icon__inner"></span>
                  </a>
                </li>
              <% end %>
            <% else %>
              <li class="nav-item d-block d-sm-none"><%= link_to "Login", new_user_session_path, class: "nav-link u-header__nav-link" %></li>
              <li class="nav-item d-sm-none d-sm-block u-header__nav-last-item">
                <%= link_to "Login", new_user_session_path, class: "btn btn-sm btn-primary transition-3d-hover" unless current_user %>
              </li>
            <% end %>
          </ul>
        </div>
        <!-- End Navigation -->
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
<!-- ========== END HEADER ========== -->