<% if content_for?(:breadcrumbs) %>
  <!-- Breadcrumb Section -->
  <div class="bg-primary" style="margin-top: 118px;">
    <div class="container space-top-1 pb-3">
      <div class="row">
        <div class="col-lg-5 order-lg-2 text-lg-right mb-4 mb-lg-0">
          <div class="d-flex d-lg-inline-block justify-content-between justify-content-lg-end align-items-center align-items-lg-start">
            <!-- Breadcrumb -->
            <ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
              <%= yield :breadcrumbs %>
            </ol>
            <!-- End Breadcrumb -->

            <!-- Breadcrumb Nav Toggle Button -->
            <div class="d-lg-none">
              <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--white"
                      aria-label="Toggle navigation"
                      aria-expanded="false"
                      aria-controls="breadcrumbNavBar"
                      data-toggle="collapse"
                      data-target="#breadcrumbNavBar">
                <span id="breadcrumbHamburgerTrigger" class="u-hamburger__box">
                  <span class="u-hamburger__inner"></span>
                </span>
              </button>
            </div>
            <!-- End Breadcrumb Nav Toggle Button -->
          </div>
        </div>

        <div class="col-lg-7 order-lg-1">
          <!-- User Info -->
          <div class="media d-block d-sm-flex align-items-sm-center">
            <% if local_assigns[:icon] %>
              <div class="u-lg-avatar position-relative mb-3 mb-sm-0 mr-5">
                <i class="<%= icon %> fa-5x opacity-20"></i>
              </div>
            <% else %>
              <div class="u-lg-avatar position-relative mb-3 mb-sm-0 mr-0" style="width: 0px;"></div>
            <% end %>
            <div class="media-body">
              <h1 class="h3 text-white font-weight-medium mb-1">
                <span class="opacity-50 font-weight-light"><%= action %></span>
                <%= subject.upcase %>
              </h1>
              <% if local_assigns[:subtitle] %>
                <span class="d-block text-white"><%= subtitle %></span>
              <% end %>
            </div>
          </div>
          <!-- End User Info -->
        </div>
      </div>
    </div>

    <div class="container space-bottom-1 space-bottom-lg-0">
      <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
        <!-- Navbar -->
        <div class="u-header u-header-left-aligned-nav u-header--bg-transparent-lg u-header--white-nav-links z-index-4">
          <div class="u-header__section bg-transparent">
            <nav class="js-breadcrumb-menu navbar navbar-expand-lg u-header__navbar u-header__navbar--no-space">
              <div id="breadcrumbNavBar" class="collapse navbar-collapse u-header__navbar-collapse">
                <ul class="navbar-nav u-header__navbar-nav">
                  <% if authorized_user.can_advertise_and_publish? %>
                    <%= render "/@shared/page_heading_navs/advertisers_publishers" %>
                  <% elsif authorized_user.can_advertise? %>
                    <%= render "/@shared/page_heading_navs/advertisers" %>
                  <% elsif authorized_user.can_publish? %>
                    <%= render "/@shared/page_heading_navs/publishers" %>
                  <% end %>

                  <li class="nav-item hs-has-sub-menu u-header__nav-item"
                      data-event="hover"
                      data-animation-in="slideInUp"
                      data-animation-out="fadeOut">
                    <a id="jobsDropdown" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="jobsDropdownMenu">
                      Jobs
                    </a>

                    <ul id="jobsDropdownMenu" class="hs-sub-menu u-header__sub-menu u-header__sub-menu--spacer" style="min-width: 230px;" aria-labelledby="jobsDropdown">
                      <li><%= link_to "My Posted Jobs", manage_job_postings_path, class: "nav-link u-header__sub-menu-nav-link" %></li>
                      <li><%= link_to "Visit Job Board", job_posting_search_path(0), class: "nav-link u-header__sub-menu-nav-link", method: :delete %></li>
                      <li class="dropdown-divider"></li>
                      <li><%= link_to "Post a Job for $299/mo", new_job_posting_prospect_path, class: "nav-link u-header__sub-menu-nav-link" %></li>
                    </ul>
                  </li>

                  <li class="nav-item hs-has-sub-menu u-header__nav-item"
                      data-event="hover"
                      data-animation-in="slideInUp"
                      data-animation-out="fadeOut">
                    <a id="accountSettingsDropdown" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="accountSettingsDropdownMenu">
                      Profile
                    </a>

                    <ul id="accountSettingsDropdownMenu" class="hs-sub-menu u-header__sub-menu u-header__sub-menu--spacer" style="min-width: 230px;" aria-labelledby="accountSettingsDropdown">
                      <li><%= link_to "View Profile", user_path(current_user), class: "nav-link u-header__sub-menu-nav-link" %></li>
                      <li><%= link_to "Edit Profile", edit_user_path(current_user), class: "nav-link u-header__sub-menu-nav-link" %></li>
                      <li><%= link_to "Change password", edit_user_passwords_path, class: "nav-link u-header__sub-menu-nav-link" %></li>
                      <li><%= link_to "Referrals", referrals_path, class: "nav-link u-header__sub-menu-nav-link" %></li>
                    </ul>
                  </li>

                  <% if authorized_user.can_admin_system? %>
                    <li class="nav-item hs-has-sub-menu u-header__nav-item"
                        data-event="hover"
                        data-animation-in="slideInUp"
                        data-animation-out="fadeOut">
                      <a id="adminDropdown" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="adminDropdownMenu">
                        Admin
                      </a>

                      <ul id="adminDropdownMenu" class="hs-sub-menu u-header__sub-menu u-header__sub-menu--spacer" style="min-width: 230px;" aria-labelledby="adminDropdown">
                        <li><%= link_to "Organizations", organizations_path, class: "nav-link u-header__sub-menu-nav-link" %></li>
                        <li><%= link_to "Users", users_path, class: "nav-link u-header__sub-menu-nav-link" %></li>
                        <li><%= link_to "Invite User", new_user_invitation_path, class: "nav-link u-header__sub-menu-nav-link" %></li>
                        <li><%= link_to "Applicants", applicants_path, class: "nav-link u-header__sub-menu-nav-link" %></li>
                        <li><%= link_to "Email Templates", email_templates_path, class: "nav-link u-header__sub-menu-nav-link" %></li>
                        <li><%= link_to "Coupons", coupons_path, class: "nav-link u-header__sub-menu-nav-link" %></li>
                      </ul>
                    </li>
                  <% end %>
                </ul>
              </div>
            </nav>
          </div>
        </div>
        <!-- End Navbar -->

        <div class="ml-lg-auto">
          <%= yield :actions %>
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumb Section -->
<% end %>
