<!-- ========== SECONDARY CONTENTS ========== -->
<!-- Account Sidebar Navigation -->
<aside id="sidebarContent" class="u-sidebar" aria-labelledby="sidebarNavToggler">
  <div class="u-sidebar__scroller">
    <div class="u-sidebar__container">
      <div class="u-sidebar--account__footer-offset">
        <!-- Toggle Button -->
        <div class="d-flex justify-content-between align-items-center pt-4 px-7">
          <h3 class="h6 mb-0">My Account</h3>

          <button type="button" class="close ml-auto"
                  aria-controls="sidebarContent"
                  aria-haspopup="true"
                  aria-expanded="false"
                  data-unfold-event="click"
                  data-unfold-hide-on-scroll="false"
                  data-unfold-target="#sidebarContent"
                  data-unfold-type="css-animation"
                  data-unfold-animation-in="fadeInRight"
                  data-unfold-animation-out="fadeOutRight"
                  data-unfold-duration="500">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- End Toggle Button -->

        <!-- Content -->
        <div class="js-scrollbar u-sidebar__body">
          <!-- Holder Info -->
          <header class="d-flex align-items-center u-sidebar--account__holder mt-3">
            <div class="position-relative">
              <%= user_avatar_image_tag(current_user, "u-sidebar--account__holder-img") %>
              <% if current_user != true_user %>
                <span class="badge badge-xs badge-outline-danger badge-pos rounded-circle"></span>
              <% end %>
            </div>
            <div class="ml-3">
              <span class="font-weight-semi-bold"><%= current_user.name %></span>
              <span class="u-sidebar--account__holder-text"><%= current_user.company_name || current_user.email %></span>
            </div>
          </header>
          <!-- End Holder Info -->

          <div class="u-sidebar__content--account">
            <!-- List Links -->
            <ul class="list-unstyled u-sidebar--account__list">
              <li class="u-sidebar--account__list-item">
                <%= link_to default_dashboard_path(current_user), class: "u-sidebar--account__list-link" do %>
                  <span class="fas fa-home u-sidebar--account__list-icon mr-2"></span>
                  Dashboard
                <% end %>
              </li>
              <li class="u-sidebar--account__list-item">
                <%= link_to user_path("me"), class: "u-sidebar--account__list-link" do %>
                  <span class="fas fa-user-circle u-sidebar--account__list-icon mr-2"></span>
                  My Profile
                <% end %>
              </li>
              <% if authorized_user.can_publish? %>
                <li class="u-sidebar--account__list-item">
                  <%= link_to properties_path, class: "u-sidebar--account__list-link" do %>
                    <span class="fas fa-tasks u-sidebar--account__list-icon mr-2"></span>
                    Properties
                  <% end %>
                </li>
              <% end %>
              <% if authorized_user.can_advertise? %>
                <li class="u-sidebar--account__list-item">
                  <%= link_to campaigns_path, class: "u-sidebar--account__list-link" do %>
                    <span class="fas fa-ad u-sidebar--account__list-icon mr-2"></span>
                    Campaigns
                  <% end %>
                </li>
                <li class="u-sidebar--account__list-item">
                  <%= link_to creatives_path, class: "u-sidebar--account__list-link" do %>
                    <span class="fas fa-palette u-sidebar--account__list-icon mr-2"></span>
                    Creatives
                  <% end %>
                </li>
                <li class="u-sidebar--account__list-item">
                  <%= link_to images_path(current_user.to_gid_param), class: "u-sidebar--account__list-link" do %>
                    <span class="fas fa-images u-sidebar--account__list-icon mr-2"></span>
                    Images
                  <% end %>
                </li>
              <% end %>
            </ul>
            <!-- End List Links -->

            <% if authorized_user.can_admin_system? %>
              <div class="u-sidebar--account__list-divider pb-0 mt-2"></div>

              <!-- List Links -->
              <ul class="list-unstyled u-sidebar--account__list">
                <li class="u-sidebar--account__list-item">
                  <%= link_to users_path, class: "u-sidebar--account__list-link" do %>
                    <span class="fas fa-users u-sidebar--account__list-icon mr-2"></span>
                    Users
                  <% end %>
                </li>
              </ul>
            <% end %>

            <div class="u-sidebar--account__list-divider pb-0 mt-2"></div>

            <!-- List Links -->
            <ul class="list-unstyled u-sidebar--account__list">
              <% if current_user != true_user %>
                <li class="u-sidebar--account__list-item">
                  <%= link_to stop_user_impersonation_path, class: "u-sidebar--account__list-link" do %>
                    <span class="fas fa-undo u-sidebar--account__list-icon mr-2"></span>
                    Back to <%= true_user.first_name %>
                  <% end %>
                </li>
              <% end %>
              <li class="u-sidebar--account__list-item">
                <%= link_to destroy_user_session_path, class: "u-sidebar--account__list-link" do %>
                  <span class="fas fa-sign-out-alt u-sidebar--account__list-icon mr-2"></span>
                  Sign Out
                <% end %>
              </li>
            </ul>
            <!-- End List Links -->
          </div>
        </div>
      </div>

      <!-- Footer -->
      <footer id="SVGwaveWithDots" class="svg-preloader u-sidebar__footer u-sidebar__footer--account">
        <ul class="list-inline mb-0">
          <li class="list-inline-item pr-3">
            <a class="u-sidebar__footer--account__text" href="https://www.iubenda.com/privacy-policy/47597768/">Privacy</a>
          </li>
          <li class="list-inline-item pr-3">
            <a class="u-sidebar__footer--account__text" href="https://www.iubenda.com/privacy-policy/47597768/cookie-policy">Cookie Policy</a>
          </li>
        </ul>

        <!-- SVG Background Shape -->
        <div class="position-absolute right-0 bottom-0 left-0">
          <%= image_tag "svg/components/wave-bottom-with-dots.svg", class: "js-svg-injector", data: { parent: "#SVGwaveWithDots" } %>
        </div>
        <!-- End SVG Background Shape -->
      </footer>
      <!-- End Footer -->
    </div>
  </div>
</aside>
<!-- End Account Sidebar Navigation -->
<!-- ========== END SECONDARY CONTENTS ========== -->
