<!-- Topbar -->
<div class="bg-cf-purple" id="tophat">
  <div class="container u-header__hide-content">
    <div class="d-flex align-items-center">
      <div class="mx-auto">
        <div class="d-inline-block d-md-none position-relative mt-3">
          <ul class="list-inline">
            <li class="list-inline-item mx-3">
              <%= link_to image_tag("tophat/gitcoin-symbol.svg", class: "list-item", style: "height: 51px; position: relative;"), "https://gitcoin.co/", target: "_blank" %>
            </li>
            <li class="list-inline-item mx-3">
              <%= link_to image_tag("tophat/codefund-symbol.svg", class: "list-item active", style: "height: 48px; position: relative; top: -1px;"), "https://codefund.io/" %>
            </li>
            <li class="list-inline-item mx-3">
              <%= link_to image_tag("tophat/kudos-symbol.svg", class: "list-item", style: "height: 48px; position: relative; top: -1px;"), "https://gitcoin.co/kudos/", target: "_blank" %>
            </li>
            <li class="list-inline-item mx-3">
              <%= link_to image_tag("tophat/grants-symbol.svg", class: "list-item", style: "height: 48px; position: relative; top: -1px;"), "https://gitcoin.co/grants", target: "_blank" %>
            </li>
          </ul>
        </div>

        <div class="d-none d-md-inline-block ml-md-auto">
          <ul class="list-inline" style="position: relative; top: 7px;">
            <li class="list-inline-item text-light list-label">
              <%= link_to "Grow Open Source", "https://gitcoin.co/products", class: "list-item text-white", target: "_blank" %>
            </li>
            <li class="list-inline-item mx-3">
              <%= link_to image_tag("tophat/gitcoin-logo.svg", class: "list-item", style: "height: 20px; position: relative; top: -3px;"), "https://gitcoin.co/", target: "_blank" %>
            </li>
            <li class="list-inline-item mx-3">
              <%= link_to image_tag("tophat/codefund-logo.svg", class: "list-item active", style: "height: 18px; position: relative; top: -1px;"), "https://codefund.io/" %>
            </li>
            <li class="list-inline-item mx-3">
              <%= link_to image_tag("tophat/kudos-logo.svg", class: "list-item", style: "height: 20px; position: relative; top: -1px;"), "https://gitcoin.co/kudos/", target: "_blank" %>
            </li>
            <li class="list-inline-item mx-3">
              <%= link_to image_tag("tophat/grants-logo.svg", class: "list-item", style: "height: 20px; position: relative; top: -1px;"), "https://gitcoin.co/grants", target: "_blank" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Topbar -->
