<div class="table-responsive">
  <table class="js-datatable table table-striped">
    <thead>
      <tr class="border-bottom">
        <%= sortable_tr "name" %>
        <%= tag.th("Advertiser", scope: "col") if authorized_user.can_admin_system? %>
        <%= sortable_tr "end_date", "Expires" %>
        <%= sortable_tr "total_budget_cents", "Budget" %>
        <%= sortable_tr "status" %>
        <th scope="col">Impressions</th>
        <th scope="col">CTR</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "/campaigns/tr", collection: campaigns, as: :campaign %>
    </tbody>
  </table>
  <div class="d-flex justify-content-between align-items-center">
    <span><%== pagy_bootstrap_nav(pagy) if pagy.pages > 1 %></span>
    <%= pagy_entries(pagy) %>
  </div>
</div>
