<div class="nav-scroller border-bottom my-3">
  <%= nav_tabs do %>
    <%= nav_item_link name: "Overview", path: campaign_path(subject), active: :exact %>
    <%= nav_item_link name: "Daily Stats", path: campaign_dailies_path(subject) %>
    <%= nav_item_link name: "Creatives", path: campaign_creatives_path(subject) %>
    <%= nav_item_link name: "Countries", path: campaign_countries_path(subject) %>
    <%= nav_item_link name: "Properties", path: campaign_properties_path(subject) %>
    <%= nav_item_link name: "Settings", path: edit_campaign_path(subject) %>
  <% end %>
</div>
