<%= tag.tr class: classes("even": campaign_counter.even?, "odd": campaign_counter.odd?, "opacity-40": ENUMS::CAMPAIGN_STATUSES[campaign.status] == "archived") do %>
  <!-- Name -->
  <td class="align-middle text-secondary">
    <%= link_to campaign.name, campaign %>

  </td>
  <!-- Advertiser -->
  <% if authorized_user.can_admin_system? %>
    <td class="align-middle">
      <%= link_to campaign.organization.name, user_path(campaign.user) %>
    </td>
  <% end %>

  <!-- Expires -->
  <td class="align-middle text-muted">
    <%= campaign.end_date.strftime("%b %-d, %Y") %>
  </td>

  <!-- Budget -->
  <% if campaign.standard? %>
    <%= tag.td class: "align-middle text-secondary text-right",
      title: campaign.premium? ? "#{campaign.total_consumed_budget.format} spent out of #{campaign.total_budget.format}" : nil,
      data: { toggle: campaign.premium? ? "tooltip" : nil } do %>
      <% if campaign.premium? %>
        <%= render_later async_campaign_total_consumed_budget_progress_bar_path(campaign_id: campaign.id) do %>
          <i class="fa fa-spinner fa-spin text-primary"></i>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <td class="align-middle"><span class="opacity-30">N/A</span></td>
  <% end %>

  <!-- Status -->
  <td class="align-middle text-<%= campaign_status_color(campaign.status) %>">
    <span class="fas fa-sm fa-circle mr-1"></span>
    <%= campaign.status.humanize %>
  </td>

  <!-- Impressions -->
  <td>
    <% if campaign.standard? %>
      <%= render_later async_campaign_sparkline_path(campaign_id: campaign.id) do %>
        <i class="fa fa-spinner fa-spin text-primary"></i>
      <% end %>
    <% else %>
      <span class="opacity-30">N/A</span>
    <% end %>
  </td>

  <!-- CTR -->
  <td>
    <% if campaign.standard? %>
      <%= render_later async_campaign_click_rate_path(campaign_id: campaign.id) do %>
        <i class="fa fa-spinner fa-spin text-primary"></i>
      <% end %>
    <% else %>
      <span class="opacity-30">N/A</span>
    <% end %>
  </td>

  <!-- Edit -->
  <td class="align-middle text-right text-secondary">
    <%= render "/shared/table_buttons/edit", link: edit_campaign_path(campaign) %>
  </td>
<% end %>
