<%= table_row add_class: classes("even": campaign_counter.even?, "odd": campaign_counter.odd?, "opacity-40": campaign.archived?) do %>
  <%= table_data do %>
    <%= link_to campaign.name, campaign %>
  <% end %>
  <% if authorized_user.can_admin_system? %>
    <%= table_data do %>
      <%= link_to campaign.organization.name, user_path(campaign.user) %>
    <% end %>
  <% end %>
  <%= table_data do %>
    <%= campaign.end_date.strftime("%b %-d, %Y") %>
  <% end %>
  <% if campaign.standard? %>
    <%= tag.td class: "align-middle text-secondary text-right",
      title: campaign.premium? ? "#{campaign.total_consumed_budget.format} spent out of #{campaign.total_budget.format}" : nil,
      data: { toggle: campaign.premium? ? "tooltip" : nil } do %>
      <% if campaign.premium? %>
        <%= render_later async_campaign_total_consumed_budget_progress_bar_path(campaign_id: campaign.id) do %>
          <i class="fa fa-spinner fa-spin text-primary"></i>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <%= table_data do %>
      <span class="opacity-30">N/A</span>
    <% end %>
  <% end %>
  <%= table_data add_class: "text-#{campaign_status_color(campaign.status)}" do %>
    <span class="fas fa-sm fa-circle mr-1"></span>
    <%= campaign.status.humanize %>
  <% end %>
  <%= table_data do %>
    <% if campaign.standard? %>
      <%= render_later async_campaign_sparkline_path(campaign_id: campaign.id) do %>
        <i class="fa fa-spinner fa-spin text-primary"></i>
      <% end %>
    <% else %>
      <span class="opacity-30">N/A</span>
    <% end %>
  <% end %>
  <%= table_data do %>
    <% if campaign.standard? %>
      <%= render_later async_campaign_click_rate_path(campaign_id: campaign.id) do %>
        <i class="fa fa-spinner fa-spin text-primary"></i>
      <% end %>
    <% else %>
      <span class="opacity-30">N/A</span>
    <% end %>
  <% end %>
  <%= table_data do %>
    <%= edit_button(link: edit_campaign_path(campaign)) %>
  <% end %>
<% end %>
