<li class="nav-item hs-has-sub-menu u-header__nav-item"
    data-event="hover"
    data-animation-in="slideInUp"
    data-animation-out="fadeOut">
  <a id="dashboardsDropdown" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="dashboardsDropdownMenu">
    Dashboards
  </a>
  <ul id="dashboardsDropdownMenu" class="hs-sub-menu u-header__sub-menu u-header__sub-menu--spacer" style="min-width: 230px;" aria-labelledby="dashboardsDropdown">
    <%= tag.li(link_to("Admin Dashboard", administrator_dashboards_path, class: "nav-link u-header__sub-menu-nav-link")) if authorized_user.can_admin_system? %>
    <li><%= link_to "Advertiser Dashboard", advertiser_dashboards_path, class: "nav-link u-header__sub-menu-nav-link" %></li>
    <li><%= link_to "Publisher Dashboard", publisher_dashboards_path, class: "nav-link u-header__sub-menu-nav-link" %></li>
  </ul>
</li>
<li class="nav-item hs-has-sub-menu u-header__nav-item"
    data-event="hover"
    data-animation-in="slideInUp"
    data-animation-out="fadeOut">
  <a id="advertiserDropdown" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="advertiserDropdownMenu">
    Advertiser
  </a>

  <ul id="advertiserDropdownMenu" class="hs-sub-menu u-header__sub-menu u-header__sub-menu--spacer" style="min-width: 230px;" aria-labelledby="advertiserDropdown">
    <li><%= link_to "Campaigns", campaigns_path, class: "nav-link u-header__sub-menu-nav-link" %></li>
    <li><%= link_to "Creatives", creatives_path, class: "nav-link u-header__sub-menu-nav-link" %></li>
    <li><%= link_to "Images", images_path(current_user.to_gid_param), class: "nav-link u-header__sub-menu-nav-link" %></li>
    <li><%= link_to "Add Funds", "#", class: "nav-link u-header__sub-menu-nav-link" %></li>
  </ul>
</li>
<li class="nav-item hs-has-sub-menu u-header__nav-item"
    data-event="hover"
    data-animation-in="slideInUp"
    data-animation-out="fadeOut">
  <a id="publishersDropdown" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="publishersDropdownMenu">
    Publisher
  </a>

  <ul id="publishersDropdownMenu" class="hs-sub-menu u-header__sub-menu u-header__sub-menu--spacer" style="min-width: 230px;" aria-labelledby="publishersDropdown">
    <li><%= link_to "Properties", properties_path, class: "nav-link u-header__sub-menu-nav-link" %></li>
  </ul>
</li>