<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">

  <!-- Hero Section -->
  <div id="SVGwave1BottomSMShape" class="svg-preloader space-top-2 position-relative bg-light overflow-hidden">
    <div class="container space-3">
      <div class="w-md-80 w-lg-60 text-center mx-auto">
        <h1 class="display-4 font-size-md-down-5">Meet <span class="font-weight-semi-bold text-success">CodeFund</span></h1>
        <p class="lead">We are determined to make ethical advertising a standard for funding bloggers, builders and open source maintainers</p>
      </div>
    </div>

    <!-- SVG Background -->
    <figure class="position-absolute right-0 bottom-0 left-0">
      <%= image_tag "svg/components/wave-1-bottom-sm.svg", class: "js-svg-injector", data: { parent: "#SVGwave1BottomSMShape" } %>
    </figure>
    <!-- End SVG Background Section -->
  </div>
  <!-- End Hero Section -->

  <!-- Team Section -->
  <div class="container">
    <!-- Team Carousel -->
    <div class="js-slick-carousel u-slick u-slick--gutters-3"
        data-slides-show="4"
        data-slides-scroll="1"
        data-pagi-classes="d-lg-none text-center u-slick__pagination mb-7"
        data-responsive='[{
          "breakpoint": 992,
          "settings": {
            "slidesToShow": 3
          }
        }, {
          "breakpoint": 768,
          "settings": {
            "slidesToShow": 2
          }
        }, {
          "breakpoint": 554,
          "settings": {
            "slidesToShow": 1
          }
        }]'>
      <div class="js-slide pb-4">
        <!-- Team -->
        <img class="img-fluid w-100 rounded" src="https://avatars3.githubusercontent.com/u/12481?s=460&v=4" alt="Eric Berry">
        <div class="card border-0 shadow-sm mt-n6 mx-3">
          <div class="card-body text-center p-4">
            <h3 class="h6 mb-1">Eric Berry</h3>
            <p class="font-size-1 mb-0"><%= link_to "@coderberry", "https://twitter.com/coderberry" %></p>
          </div>
        </div>
        <!-- End Team -->
      </div>

      <div class="js-slide pb-4">
        <!-- Team -->
        <img class="img-fluid w-100 rounded" src="https://avatars1.githubusercontent.com/u/32920?s=460&v=4" alt="Nathan Hopkins">
        <div class="card border-0 shadow-sm mt-n6 mx-3">
          <div class="card-body text-center p-4">
            <h3 class="h6 mb-1">Nathan Hopkins</h3>
            <p class="font-size-1 mb-0"><%= link_to "@hopsoft", "https://twitter.com/hopsoft" %></p>
          </div>
        </div>
        <!-- End Team -->
      </div>

      <div class="js-slide pb-4">
        <!-- Team -->
        <%= image_tag "avatars/connor-oday.jpg", class: "img-fluid w-100 rounded", alt: "Connor O'Day" %>
        <div class="card border-0 shadow-sm mt-n6 mx-3">
          <div class="card-body text-center p-4">
            <h3 class="h6 mb-1">Connor O'Day</h3>
            <p class="font-size-1 mb-0"><%= link_to "@connoroday0", "https://twitter.com/connoroday0" %></p>
          </div>
        </div>
        <!-- End Team -->
      </div>

      <div class="js-slide pb-4">
        <!-- Team -->
        <%= image_tag "avatars/kevin-owocki.jpg", class: "img-fluid w-100 rounded", alt: "Kevin Owocki" %>
        <div class="card border-0 shadow-sm mt-n6 mx-3">
          <div class="card-body text-center p-4">
            <h3 class="h6 mb-1">Kevin Owocki</h3>
            <p class="font-size-1 mb-0"><%= link_to "@owocki", "https://twitter.com/owocki" %></p>
          </div>
        </div>
        <!-- End Team -->
      </div>
    </div>
    <!-- End Team Carousel -->
  </div>
  <!-- End Team Section -->


  <!-- CTA Section -->
  <div class="bg-primary text-white text-center mt-9">
    <div class="container space-1">
      <span class="h6 d-block d-lg-inline-block font-weight-light mb-lg-0">
        <span class="font-weight-semi-bold">Want to help?</span> Check out our open issues on our GitHub project
      </span>
      <a class="btn btn-sm btn-white transition-3d-hover font-weight-normal ml-2" href="https://github.com/gitcoinco/code_fund_ads">View Code</a>
    </div>
  </div>
  <!-- End CTA Section -->

</div>
<!-- ========== END MAIN CONTENT ========== -->
