<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
  <!-- Hero Section -->

  <div class="gradient-half-primary-v2 mb-0 mb-sm-4 mb-lg-9 space-top-md-4 space-top-1">
    <div class="container">
      <div class="row align-items-lg-center">
        <div class="col-lg-7 d-none d-sm-block">
          <%= image_tag "home-browser-illustration.svg", style: "width: 100%;" %>
        </div>

        <div class="col-lg-5 mb-9 mb-lg-0">
          <h1 class="display-4 font-size-md-down-5 mb-3">Ethical
            <strong class="text-success">Advertising</strong>
          </h1>
          <p>
            CodeFund is
            <span class="text-primary">
              <strong
                class="u-text-animation u-text-animation--typing"
                data-controller="animated-type"
                data-type-speed="50"
                data-loop="true"
                data-back-speed="25"
                data-back-delay="1500"
                data-strings="<%= ["an open source", "an ethical", "a developer-driven"].to_json %>"
              ></strong>
            </span>
            <br>
            ad platform that funds contributors
            <br>
            of the open source ecosystem
          </p>

          <div class="d-flex align-items-center flex-wrap mb-5">
            <%= link_to "Publishers", publishers_path, class: "btn btn-soft-success transition-3d-hover mr-2 mb-1" %>
            <%= link_to "Advertisers", advertisers_path, class: "btn btn-soft-primary transition-3d-hover mr-2 mb-1" %>
            <%= link_to "Hiring Managers", jobs_path, class: "btn btn-soft-warning transition-3d-hover mr-2 mb-1" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Hero Section -->

  <!-- Icon Blocks Section -->
  <div class="container space-top-3 space-top-md-0 space-bottom-md-3 space-bottom-2">
    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
      <span class="u-label u-label--sm u-label--success mb-2">What we do?</span>
      <h2>We display <em>ethical ads</em> on developer websites</h2>
    </div>
    <!-- End Title -->

    <div class="row">
      <div class="col-md-4 mb-7">
        <div class="text-center px-lg-3">
          <span class="btn btn-icon btn-lg btn-soft-danger rounded-circle mb-5">
            <span class="fas fa-user-secret fa-2x btn-icon__inner btn-icon__inner-bottom-minus"></span>
          </span>
          <h3 class="h5">No User Tracking</h3>
          <p class="mb-md-0">We do not track, profile, or sell information. That means no cookies.</p>
        </div>
      </div>

      <div class="col-md-4 mb-7">
        <div class="text-center px-lg-3">
          <span class="btn btn-icon btn-lg btn-soft-primary rounded-circle mb-5">
            <span class="fa fa-lightbulb-on fa-2x btn-icon__inner btn-icon__inner-bottom-minus"></span>
          </span>
          <h3 class="h5">Relevant Ads</h3>
          <p class="mb-md-0">We only show ads that are relevant and meaningful to the users.</p>
        </div>
      </div>

      <div class="col-md-4 mb-7">
        <div class="text-center px-lg-3">
          <span class="btn btn-icon btn-lg btn-soft-dark rounded-circle mb-5">
            <span class="fab fa-github fa-2x btn-icon__inner btn-icon__inner-bottom-minus"></span>
          </span>
          <h3 class="h5">Open Source</h3>
          <p class="mb-md-0">Our code is <a href="https://github.com/gitcoinco/code_fund_ads">open source</a> because trust is essential in advertising.</p>
        </div>
      </div>
    </div>

    <%= image_tag "svg-pointer1.svg", class: "img-fluid d-none d-md-block w-75 mx-auto mb-7" %>

    <!-- Title -->
    <div class="w-md-60 w-lg-50 text-center mx-auto mb-7">
      <h4 class="h5">
        Ethical advertising <span class="font-weight-normal">enables us to maintain the <strong>trust</strong> and <strong>loyalty</strong> of the developer community.</span>
      </h4>
    </div>
    <!-- End Title -->

    <!-- Example Carousel -->
    <div class="container pb-3">
      <div class="js-slick-carousel u-slick u-slick--gutters-1"
        data-infinite="true"
        data-autoplay="true"
        data-speed="5000"
        data-slides-show="1"
        data-slides-scroll="1"
        data-center-mode="true"
        data-center-padding="250px"
        data-pagi-classes="text-center u-slick__pagination mt-5 mb-0"
        data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-classic u-slick__arrow-centered--y rounded-circle"
        data-arrow-left-classes="fas fa-arrow-left u-slick__arrow-classic-inner u-slick__arrow-classic-inner--left ml-lg-2 ml-xl-4"
        data-arrow-right-classes="fas fa-arrow-right u-slick__arrow-classic-inner u-slick__arrow-classic-inner--right mr-lg-2 mr-xl-4"
        data-responsive='[{
          "breakpoint": 992,
          "settings": {
            "centerPadding": "120px"
          }
        }, {
          "breakpoint": 768,
          "settings": {
            "centerPadding": "80px"
          }
        }, {
          "breakpoint": 554,
          "settings": {
            "centerPadding": "50px"
          }
        }]'>
      <% @showcase_publishers.each do |pub| -%>
        <%= link_to pub[:url],
            target: "_blank",
            class: "js-slide bg-img-hero-center",
            style: "background-size: contain;
                    background-image: url(#{asset_path("home/browser-#{pub[:short_name]}.png")});" do %>
          <div class="text-center space-3" style="height: 400px;">
          </div>
        <% end %>
      <% end -%>
      </div>
    </div>
    <!-- End Example Carousel -->

    <div class="w-50 w-md-40 w-lg-30 text-center mx-auto mt-3">
      <p class="small">Our publishers include amazing projects such as <a href="https://codesandbox.io" target="_blank">codesandbox.io</a>,
      <a href="http://rubular.com">rubular.com</a>, <a href="https://material-ui.com" target="_blank">material-ui.com</a>, and
      <a href="https://jsbin.com" target="_blank">jsbin.com</a>, and many more.</p>
    </div>
  </div>
  <!-- End Icon Blocks Section -->

  <!-- Blog News Section -->
  <div class="gradient-half-primary-v2">
    <div class="container space-2 space-md-3 px-lg-7">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
        <span class="u-label u-label--sm u-label--success mb-2">News &amp; Blog</span>
        <h2>Read our latest news</h2>
        <p>We love to share our successes, failures and lessons learned.</p>
      </div>
      <!-- End Title -->

      <div class="feedgrabbr_widget" id="fgid_af9b4bcb94dc865d4ab4b56b0"></div>
      <script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_af9b4bcb94dc865d4ab4b56b0");</script>
      <script async src="https://www.feedgrabbr.com/widget/fgwidget.js"></script>
    </div>
  </div>
  <!-- End Blog News Section -->
</main>
<!-- ========== END MAIN CONTENT ========== -->
