<%= render layout: "/campaigns/layout", locals: { campaign: @campaign } do %>
  <%= card do %>
    <%= card_header add_class: "d-flex justify-content-between" do %>
      <div class="d-flex flex-column">
        <%= card_title do %>
          Creatives
        <% end %>
        <%= card_subtitle do %>
          Stats by creative
        <% end %>
      </div>
      <div class="d-flex flex-column">
        <% if @campaign.standard? %>
          <div class="d-inline-block float-right text-right">
            <%= render "/campaign_reports/form", campaign: @campaign %>
            <%= link_to campaign_creatives_path(@campaign, format: :csv), class: "d-block mt-3 mb-2" do %>
              Download
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= render "/campaign_creatives/table", campaign: @campaign %>
  <% end %>
<% end %>
