<tr <%= "class=border-bottom" if daily_summary.displayed_at_date.saturday? %>>
  <td class="text-left align-middle text-nowrap"><%= daily_summary.displayed_at_date.to_s("abdy") %></td>
  <% if @campaign.standard? %>
    <td class="text-center align-middle"><%= daily_summary.gross_revenue.format %></td>
    <td class="text-center align-middle"><%= number_with_delimiter daily_summary.impressions_count %></td>
  <% end %>
  <td class="text-center align-middle"><%= number_with_delimiter daily_summary.clicks_count %></td>
  <% if @campaign.standard? %>
    <td class="text-center align-middle"><%= number_to_percentage daily_summary.click_rate, precision: 2 %></td>
    <td class="text-center align-middle"><%= daily_summary.cpm.format %></td>
    <td class="text-center align-middle"><%= daily_summary.cpc.format %></td>
  <% end %>
</tr>
