<div class="space-top-3 pb-2 bg-light">
  <div class="container">
    <%= tag.div "Loading...", id: "chartdiv", style: "width: 100%; height: 550px;", data: { controller: "pricing-map", countries: @countries } %>
    <div class="text-center text-muted mt-2">
      <small class="text-italic"><em>Hover over any country to see the current eCPM (price per 1,000 impressions)</em></small>
    </div>
  </div>
</div>

<div class="container space-2">
  <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
    <h2>CodeFund Global Pricing</h2>
    <p class="mb-0 pb-0">Advertising pricing is grouped by subregions</p>
    <p class="pt-0 mt-0 text-muted"><small><em>Discounts are available for longer term buys (3+ months)</em></small></p>
  </div>

  <div id="pricing" class="accordion">
    <%= render partial: "/pricings/subregion_price", locals: { region: "Americas", subregion: "Northern America", data: @regions["Americas"]["Northern America"] } %>
    <%= render partial: "/pricings/subregion_price", locals: { region: "Americas", subregion: "South America", data: @regions["Americas"]["South America"] } %>
    <%= render partial: "/pricings/subregion_price", locals: { region: "Americas", subregion: "Central America", data: @regions["Americas"]["Central America"] } %>
    <%= render partial: "/pricings/subregion_price", locals: { region: "Americas", subregion: "Caribbean", data: @regions["Americas"]["Caribbean"] } %>
    <%= render partial: "/pricings/subregion_price", locals: { region: "Europe", subregion: "Western Europe", data: @regions["Europe"]["Western Europe"] } %>
    <%= render partial: "/pricings/subregion_price", locals: { region: "Europe", subregion: "Northern Europe", data: @regions["Europe"]["Northern Europe"] } %>
    <%= render partial: "/pricings/subregion_price", locals: { region: "Europe", subregion: "Southern Europe", data: @regions["Europe"]["Southern Europe"] } %>
    <%= render partial: "/pricings/subregion_price", locals: { region: "Europe", subregion: "Eastern Europe", data: @regions["Europe"]["Eastern Europe"] } %>
    <%= render partial: "/pricings/subregion_price", locals: { region: "Oceania", subregion: "Australia and New Zealand", data: @regions["Oceania"]["Australia and New Zealand"] } %>
    <%= render partial: "/pricings/subregion_price", locals: { region: "Oceania", subregion: "Polynesia", data: @regions["Oceania"]["Polynesia"] } %>
    <%= render partial: "/pricings/subregion_price", locals: { region: "Oceania", subregion: "Melanesia", data: @regions["Oceania"]["Melanesia"] } %>
    <%= render partial: "/pricings/subregion_price", locals: { region: "Oceania", subregion: "Micronesia", data: @regions["Oceania"]["Micronesia"] } %>
    <%= render partial: "/pricings/subregion_price", locals: { region: "Africa", subregion: "Northern Africa", data: @regions["Africa"]["Northern Africa"] } %>
    <%= render partial: "/pricings/subregion_price", locals: { region: "Africa", subregion: "Eastern Africa", data: @regions["Africa"]["Eastern Africa"] } %>
    <%= render partial: "/pricings/subregion_price", locals: { region: "Africa", subregion: "Southern Africa", data: @regions["Africa"]["Southern Africa"] } %>
    <%= render partial: "/pricings/subregion_price", locals: { region: "Africa", subregion: "Middle Africa", data: @regions["Africa"]["Middle Africa"] } %>
    <%= render partial: "/pricings/subregion_price", locals: { region: "Africa", subregion: "Western Africa", data: @regions["Africa"]["Western Africa"] } %>
    <%= render partial: "/pricings/subregion_price", locals: { region: "Asia", subregion: "Western Asia", data: @regions["Asia"]["Western Asia"] } %>
    <%= render partial: "/pricings/subregion_price", locals: { region: "Asia", subregion: "Central Asia", data: @regions["Asia"]["Central Asia"] } %>
    <%= render partial: "/pricings/subregion_price", locals: { region: "Asia", subregion: "Eastern Asia", data: @regions["Asia"]["Eastern Asia"] } %>
    <%= render partial: "/pricings/subregion_price", locals: { region: "Asia", subregion: "South-Eastern Asia", data: @regions["Asia"]["South-Eastern Asia"] } %>
    <%= render partial: "/pricings/subregion_price", locals: { region: "Asia", subregion: "Southern Asia", data: @regions["Asia"]["Southern Asia"] } %>
  </div>

</div>

