<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "auth-form mx-auto", method: :put }) do |f| %>
  <%= f.error_notification %>
  <div class="text-center mb-2">
    <h4 class="font-weight-normal">Edit <span class="text-success"><%= resource_name.to_s.humanize %></span></h4>
  </div>
  <div class="form-group">
    <div class="form-label-group">
      <label class="form-label">Email</label>
      <%= f.input :email, required: true, label: false, autofocus: true %>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <div class="form-label-group">
      <label class="form-label">Password</label>
      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  label: false,
                  input_html: { autocomplete: "new-password" } %>
    </div>
    <div class="form-label-group">
      <label class="form-label">Password Confirmation</label>
      <%= f.input :password_confirmation,
                  required: false,
                  label: false,
                  input_html: { autocomplete: "new-password" } %>
    </div>
    <div class="form-label-group">
      <label class="form-label">Current Password</label>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  label: false,
                  input_html: { autocomplete: "current-password" } %>
    </div>
  </div>
  <%= f.button :submit, "Update", class: "btn btn-primary btn-block" %>
  <div class="cancel-account">
    <h3>Cancel my account</h3>
    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    <%= link_to "Back", :back %>
  </div>
<% end %>
