<main id="content" role="main">
  <!-- Hero Section -->
  <div id="SVGheroComponents" class="gradient-half-primary-v3 position-relative overflow-hidden">
    <!-- Content -->
    <div class="container position-relative space-3 space-top-md-5 space-lg-4 z-index-2">
      <!-- Title -->
      <div class="text-center mb-7">
        <%= image_tag "opencollective.svg", style: "width: 100px;" %>
        <div class="w-lg-80 mt-5 mx-auto">
          <h1 class="display-4 font-size-md-down-5 mb-3">Fund your <span class="font-weight-semi-bold" style="color: #3285ff;">Collective</span></h1>
        </div>
        <div class="w-md-80 w-lg-60 mx-auto">
          <p class="lead text-dark-70">
            CodeFund is an official funding partner with <a href="https://opencollective.com">OpenCollective</a>. We help drive consistent, recurring funds to collectives via ethical advertising.
          </p>
        </div>
      </div>
      <!-- End Title -->

      <div class="w-md-50 w-lg-40 mx-auto text-center">
        <a class="js-go-to btn btn-primary btn-pill transition-3d-hover" href="javascript:;"
          data-target="#applyForPublisher"
          data-type="static">
          Join CodeFund
        </a>
      </div>
    </div>
    <!-- End Content -->

    <!-- SVG Bottom Shape -->
    <figure class="position-absolute right-0 bottom-0 left-0">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 1920 140" style="margin-bottom: -28px; enable-background:new 0 0 1920 140;" xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#SVGheroComponents">
        <style type="text/css">
          .curved-1-0{fill:#FFFFFF;}
        </style>
        <path class="curved-1-0 fill-white" d="M960,92.9C811.4,93.3,662.8,89.4,515.3,79c-138.6-9.8-277.1-26.2-409-53.3C97.8,24,0,6.5,0,0c0,0,0,140,0,140  l960-1.2l960,1.2c0,0,0-140,0-140c0,2.7-42.1,11.3-45.8,12.2c-45.1,11-91.5,20.1-138.4,28.1c-176.2,30.1-359.9,43.8-542.9,48.9  C1115.4,91.4,1037.7,92.7,960,92.9z"></path>
      </svg>
    </figure>
    <!-- End SVG Bottom Shape -->
  </div>
  <!-- End Hero Section -->

  <!-- Process Section -->
  <div class="container space-2 space-md-3">
    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
      <span class="btn btn-xs btn-soft-success btn-pill mb-2">Why CodeFund?</span>
      <h2 class="text-primary">Built for <span class="font-weight-semi-bold">sustainability</span></h2>
      <p>Our goal is to help fund as many collectives as possible. Here are the collectives we are funding so far.</p>
    </div>
    <!-- End Title -->

    <script src="https://opencollective.com/codefund/collectives.js?role=backer"></script>
  </div>
  <!-- End Process Section -->

  <!-- Testimonials -->
  <div id="SVGirregularShape2Right" class="svg-preloader position-relative gradient-half-info-v1 z-index-2">
    <div class="bg-img-hero-bottom" style="background-image: url(<%= asset_path("bg-shapes/bg2.png") %>);">
      <div class="container space-top-2 space-top-md-3 space-bottom-4">
        <!-- Testimonials -->
        <div class="text-center">
          <div class="mb-4">
            <div class="u-avatar mx-auto mb-3">
              <%= image_tag "avatars/justin-dorfman.jpg", class: "img-fluid rounded-circle", alt: "Justin Dorfman" %>
            </div>
            <h4 class="h6 text-white">Justin Dorfman, BootstrapCDN</h4>
          </div>
          <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-7">
            <blockquote class="h3 text-white mb-0">We chose CodeFund because in terms of monetization, ethical ads work the best. We also believe in their mission of sustaining the open source community so it was a no brainer for us.</blockquote>
          </div>
        </div>
        <!-- End Testimonials -->
      </div>

      <!-- SVG Quote -->
      <figure class="w-25 position-absolute top-0 right-0 left-0 ml-11">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
          <path class="fill-white" opacity=".1" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
            C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
            c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
            C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z"/>
        </svg>
      </figure>
      <!-- End SVG Quote -->

      <!-- SVG Shape -->
      <div class="position-absolute top-0 right-0 left-0 z-index-n1">
        <figure class="ie-irregular-shape-2-right">
          <%= image_tag "svg/components/irregular-shape-2-right.svg", class: "js-svg-injector", data: { parent: "#SVGirregularShape2Right" } %>
        </figure>
      </div>
      <!-- End SVG Shape -->
    </div>
  </div>
  <!-- End Testimonials -->

  <div class="container space-top-2 space-top-md-3">
    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
      <span class="btn btn-xs btn-soft-primary btn-pill mb-2">How does it work?</span>
      <h2 class="h3 font-weight-normal">Getting started is as easy as adding two lines of code to your website</h2>
    </div>
    <!-- End Title -->

    <div class="row justify-content-between align-items-center">
      <div class="col-md-6 col-lg-5 mb-7 mb-md-0">
        <div class="pr-4">
          <!-- Info -->
          <div class="media mb-3">
            <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
              <span class="btn-icon__inner">1.</span>
            </span>
            <div class="media-body">
              <h3 class="h6">Apply to Join</h3>
              <p>Fill out the form below to submit your application. We only require that you have a minimum of 5,000 visitors per month to your project's website.</p>
            </div>
          </div>
          <!-- End Info -->

          <!-- Info -->
          <div class="media mb-7">
            <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
              <span class="btn-icon__inner">2.</span>
            </span>
            <div class="media-body">
              <h3 class="h6">Embed Code</h3>
              <p>Once approved, you will receive an embed code to be added to your site. That's it!</p>
            </div>
          </div>
          <!-- End Info -->
        </div>
      </div>

      <div class="col-md-6">
        <div class="u-browser-v1 mx-auto mb-4">
          <!-- SVG Background Shape -->
          <figure id="SVGbgShapeID1" class="svg-preloader ie-soft-triangle-shape">
            <%= image_tag "svg/components/soft-triangle-shape.svg", class: "js-svg-injector", data: { parent: "#SVGbgShapeID1" } %>
          </figure>
          <!-- End SVG Background Shape -->

          <!-- Mockup Browser -->
          <figure id="SVGBrowserShape" class="svg-preloader ie-browser u-browser-v1__svg">
            <%= image_tag "svg/illustrations/browser.svg", class: "js-svg-injector", alt: "bootstrapcdn.com", data: {
              img_paths: [
                { targetId: "#SVGBrowserShapeImg1", newPath: asset_path("home/bootstrapcdn.jpg") }
              ],
              parent: "#SVGBrowserShape"
            } %>
          </figure>
          <!-- End Mockup Browser -->
        </div>
      </div>
    </div>
  </div>

  <!-- Publisher Form Section -->
  <div id="SVGwave5Top" class="svg-preloader position-relative gradient-half-primary-v1">
    <div id="applyForPublisher" class="container space-top-3 space-top-md-4 space-bottom-2">
      <div class="w-lg-80 mx-auto">
        <div class="inverted-feedback">
          <!-- Title -->
          <div class="text-center mb-7">
            <h2 class="h3 text-white font-weight-normal">Submit your Collective</h2>
            <p class="text-white">Your collective's website must have <strong class="text-warning">at least 5,000 visitors per month</strong>.</p>
            <small class="text-white-70">A portion of the revenue earned by CodeFund will go towards sustaining the OpenCollective team.</small>
          </div>
          <!-- End Title -->
          <%# TODO: this used to be the Hubspot form... what should go here now? %>
        </div>
      </div>
    </div>

    <!-- SVG Top Shape -->
    <figure class="position-absolute top-0 right-0 left-0 z-index-2">
      <%= image_tag "svg/components/wave-5-top.svg", class: "js-svg-injector", data: { parent: "#SVGwave5Top" } %>
    </figure>
    <!-- End SVG Top Shape -->
  </div>
  <!-- End Publisher Form Section -->
</main>
