<% creatives.active.each do |creative| %>
  <div class="form-check">
    <%= tag.input type: "checkbox",
                  class: "form-check-input",
                  value: creative.id,
                  name: "campaign[creative_ids][]",
                  id: "campaign_creative_id_#{creative.id}",
                  checked: selected_creative_ids.include?(creative.id) %>
    <label class="form-check-label" for="campaign_creative_id_<%= creative.id %>">
      <%= creative.name %> - <strong><%= creative.headline %></strong> <%= creative.body %>
    </label>
  </div>
<% end %>
<% creatives.pending.each do |creative| %>
  <div class="form-check">
    <%= tag.input type: "checkbox",
                  class: "form-check-input",
                  value: creative.id,
                  name: "campaign[creative_ids][]",
                  id: "campaign_creative_id_#{creative.id}",
                  checked: selected_creative_ids.include?(creative.id),
                  disabled: true %>
    <label class="form-check-label text-muted" for="campaign_creative_id_<%= creative.id %>">
      <%= creative.name %> - <strong><%= creative.headline %></strong> <%= creative.body %>
    </label>
  </div>
<% end %>
