<%= render "devise/layout" do %>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "auth-form mx-auto"}) do |f| %>
    <%= hidden_field_tag :job, params[:job] if params[:job] %>
    <%= hidden_field_tag :remember_me, true if devise_mapping.rememberable? %>
    <div class="text-center mb-4">
      <h1 class="h4 font-weight-normal">Sign In</h1>
    </div>
    <div class="form-group">
      <div class="form-label-group">
        <%= f.email_field :email, required: true, autofocus: true, placeholder: "Email", class: "form-control", autocomplete: "email", tabindex: 1 %>
        <%= f.label :email %>
      </div>
    </div>
    <div class="form-group">
      <div class="form-label-group">
        <%= f.password_field :password, required: true, placeholder: "Password", class: "form-control", autocomplete: "current-password", tabindex: 2 %>
        <%= f.label :password %>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
    </div>
    <div class="form-group text-center mt-4">
      <div class="custom-control custom-control-inline custom-checkbox">
        <%= f.check_box :remember_me, class: "custom-control-input" %>
        <label class="custom-control-label" for="user_remember_me">Keep me signed in</label>
      </div>
    </div>
    <%= render "devise/links" %>
  <% end %>
<% end %>
