<!-- ========== MAIN ========== -->
<main id="content" role="main" class="border-bottom">
  <!-- Login Form -->
  <div class="container space-top-2 space-top-md-4 space-bottom-2">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "js-validate w-md-75 w-lg-50 mx-md-auto" }) do |f| %>
      <%= hidden_field_tag :job, params[:job] if params[:job] %>
      <%= hidden_field_tag :remember_me, true if devise_mapping.rememberable? %>

      <!-- Title -->
      <div class="mb-7">
        <h2 class="h3 font-weight-normal mb-0">Welcome <span class="font-weight-semi-bold text-success">back</span></h2>
        <p>Login to manage your account.</p>
      </div>
      <!-- End Title -->

      <!-- Form Group -->
      <div class="js-form-message form-group">
        <label class="form-label" for="signinSrEmail">Email address</label>
        <%= f.input :email,
                label: false,
                required: true,
                autofocus: true,
                placeholder: "Email",
                input_html: {
                  class: "form-control",
                  autocomplete: "email",
                  tabindex: 1,
                },
                data: {
                  rule_email: true,
                  msg: "Please enter a valid email address.",
                  errorClass: "u-has-error",
                  successCass: "u-has-success"
                } %>
      </div>
      <!-- End Form Group -->

      <!-- Form Group -->
      <div class="js-form-message form-group">
        <label class="form-label" for="signinSrPassword">
          <span class="d-flex justify-content-between align-items-center">
            Password
            <%= link_to "Forgot Password?", new_password_path(resource_name), class: "link-muted text-capitalize font-weight-normal", tabindex: 5 %>
          </span>
        </label>
        <%= f.input :password,
                label: false,
                required: true,
                input_html: {
                  class: "form-control",
                  autocomplete: "current-password",
                  tabindex: 2,
                },
                data: {
                  msg: "Your password is invalid. Please try again.",
                  errorClass: "u-has-error",
                  successCass: "u-has-success"
                } %>
      </div>
      <!-- End Form Group -->

      <!-- Button -->
      <button type="submit" class="btn btn-primary btn-block transition-3d-hover" tabindex="4">Log in</button>

      <div class="text-center mb-3 mt-3">
        <span class="u-divider u-divider--xs u-divider--text">or</span>
      </div>

      <div class="text-center mb-3 mt-3">
        We removed OmniAuth.
        If you previously used Google, GitHub or LinkedIn to authenticate, you'll need to <%= link_to "reset your password", new_password_path(resource_name) %>.
      </div>

      <% if false %>
        <div class="text-center mb-3 mt-3">
          <span class="u-divider u-divider--xs u-divider--text">or</span>
        </div>

        <%= link_to user_github_omniauth_authorize_path, class: "btn btn-outline-light text-dark btn-block transition-3d-hover position-relative", style: "border: 1px solid #ddd;" do %>
          <%= image_tag "logos/GitHub-Mark-64px.png", style: "position: absolute; left: 18px; top: 14px; width: 18px;" %>
          Log in with GitHub
        <% end %>
      <% end %>
    <% end %>
  </div>
  <!-- End Login Form -->
</main>
<!-- ========== END MAIN ========== -->
