<!-- ========== MAIN ========== -->
<main id="content" role="main" class="border-bottom">
  <!-- Login Form -->
  <div class="container space-top-2 space-top-md-4 space-bottom-2">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "js-validate w-md-75 w-lg-50 mx-md-auto" }) do |f| %>
      <%= hidden_field_tag :job, params[:job] if params[:job] %>
      <!-- Title -->
      <div class="mb-7">
        <h2 class="h3 font-weight-normal mb-0">Welcome <span class="font-weight-semi-bold text-success">back</span></h2>
        <p>Login to manage your account.</p>
      </div>
      <!-- End Title -->

      <!-- Form Group -->
      <div class="js-form-message form-group">
        <label class="form-label" for="signinSrEmail">Email address</label>
        <%= f.input :email,
                label: false,
                required: true,
                autofocus: true,
                placeholder: "Email",
                input_html: {
                  class: "form-control",
                  autocomplete: "email",
                  tabindex: 1,
                },
                data: {
                  rule_email: true,
                  msg: "Please enter a valid email address.",
                  errorClass: "u-has-error",
                  successCass: "u-has-success"
                } %>
      </div>
      <!-- End Form Group -->

      <!-- Form Group -->
      <div class="js-form-message form-group">
        <label class="form-label" for="signinSrPassword">
          <span class="d-flex justify-content-between align-items-center">
            Password
            <%= link_to "Forgot Password?", new_password_path(resource_name), class: "link-muted text-capitalize font-weight-normal", tabindex: 5 %>
          </span>
        </label>
        <%= f.input :password,
                label: false,
                required: true,
                input_html: {
                  class: "form-control",
                  autocomplete: "current-password",
                  tabindex: 2,
                },
                data: {
                  msg: "Your password is invalid. Please try again.",
                  errorClass: "u-has-error",
                  successCass: "u-has-success"
                } %>
      </div>
      <!-- End Form Group -->

      <!-- Button -->
      <div class="row align-items-center mb-5">
        <div class="col-6">
          <%= f.input :remember_me, as: :boolean, input_html: { tabindex: 3 } if devise_mapping.rememberable? %>
        </div>

        <div class="col-6 text-right">
          <button type="submit" class="btn btn-primary transition-3d-hover" tabindex="4">Sign in</button>
        </div>
      </div>
      <!-- End Button -->
    <% end %>
  </div>
  <!-- End Login Form -->
</main>
<!-- ========== END MAIN ========== -->
