<%= simple_form_for @user_search, wrapper: :filter_form do |f| %>
  <%= f.input(:name, required: false) %>
  <%= f.input(:email, required: false) %>
  <%= f.input(:organization_id, label: "Organization", collection: organizations_for_select, include_blank: "None",
      input_html: { class: "form-control", data: { controller: "select" }}) %>
  <%= f.input(:roles, collection: user_roles_for_select, required: false, input_html: { multiple: true, data: { controller: "select" }}) %>

  <div class="text-right">
    <%= f.button :submit, value: "Apply Filters", class: "btn btn-sm btn-primary" %>
    <%= link_to "Clear", user_search_path(@user_search.to_gid_param), class: "btn-sm btn-link text-danger ml-3", method: :delete %>
  </div>
<% end %>