<%= simple_form_for organization_report, url: url, wrapper: :front_form, data: {
  controller: "organization-report"
} do |f| %>
  <%= render(Form::ErrorMessageComponent.new(object: organization_report)) %>
  <div class="row">
    <%= tag.div f.input(:title, label: "Subject", required: true), class: "col-12 mb-3" %>
    <div class="col-12 mb-3">
      <%= f.input :date_range, required: true,
        input_html: {
          class: "js-range-datepicker form-control bg-white rounded-right",
          data: {
            controller: "select-date-range",
            target: "organization-report.dateRangePicker",
            start_date: Date.today.at_beginning_of_month.strftime("%m/%d/%Y"),
            end_date: Date.today.at_end_of_month.strftime("%m/%d/%Y")
          }
        } %>
      <div class="form-check">
        <%= tag.input type: "checkbox", class: "form-check-input", id: "use-selected-campaign-dates", data: {
          target: "organization-report.useSelectedCampaignDates",
          action: "organization-report#updateDateRange"
        } %>
        <label class="form-check-label" for="use-selected-campaign-dates" style="font-size: 12px;">
          Use selected campaign dates below
        </label>
      </div>
    </div>
    <%= tag.div f.input(:recipients, as: :text, input_html: {value: @recipients&.join("\n")}, label: "Email Recipients (one per line)", required: true), class: "col-12 mb-3" %>
    <div class="col-12 mb-3">
      <label class="form-label string required">Campaigns <abbr title="required">*</abbr></label>
      <div>
        <% organization.campaigns.order(end_date: :desc).each do |campaign| %>
          <div class="form-check">
            <%= tag.input type: "checkbox",
                  class: "form-check-input",
                  name: "organization_report[campaign_ids][]",
                  value: campaign.id,
                  id: "campaign-#{campaign.id}",
                  data: {
                    target: "organization-report.campaign",
                    minDate: campaign.start_date.to_s("%F"),
                    maxDate: campaign.end_date.to_s("%F"),
                    action: "organization-report#updateDateRange"
                  } %>
            <label class="form-check-label" for="campaign-<%= campaign.id %>" style="font-size: 12px;">
              <%= campaign.id %> - <%= campaign.name %>
              <% if campaign.active? %>
                <span class="badge badge-<%= status_color(campaign.status) %>">Active</span>
              <% end %>
              <mark>
                <%= campaign.start_date.to_s("bd") %> - <%= campaign.end_date.to_s("bd") %>
              </mark>
            </label>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <%= button_panel margin: "my-0" do %>
      <%= cancel_button link: organization_reports_path(organization) %>
      <%= f.submit "Generate Report", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>
