<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr class="border-bottom">
        <th scope="col">Date</th>
        <th scope="col">Title</th>
        <th scope="col">Campaigns</th>
        <th scope="col">Status</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody class="font-size-1">
    <% organization_reports.each do |organization_report| %>
      <tr>
        <td><%= organization_report.created_at.to_s("bdy") %></td>
        <td><%= organization_report.title %></td>
        <td><%= organization_report.campaign_ids.sort.join(", ") %></td>
        <td><%= organization_report.status.humanize %></td>
        <td class="text-right">
          <%= link_to "HTML", organization_report_path(organization, organization_report) %>
          |
          <% if organization_report.status == "ready" %>
            <%= link_to "Download", url_for(organization_report.pdf), target: "_blank" %>
          <% else %>
            <%= link_to "Regenerate", organization_report_path(organization, organization_report), method: :patch %>
          <% end %>
          |
          <%= link_to "Delete", organization_report_path(organization, organization_report), method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-between align-items-center">
    <span><%== pagy_bootstrap_nav(pagy) if pagy.pages > 1 %></span>
    <%= pagy_entries(pagy) %>
  </div>
</div>
