<%= table_wrapper do %>
  <%= paginated_table add_class: "table-dark" do %>
    <%= table_head do %>
      <%= table_row header: true do %>
        <%= table_column "Date" %>
        <%= table_column "Title" %>
        <%= table_column "" %>
      <% end %>
    <% end %>
    <%= table_body do %>
      <% organization_reports.each do |organization_report| %>
        <tr data-organization-report-id="<%= organization_report.id %>">
          <%= table_data organization_report.created_at.to_s("bdy") %>
          <%= table_data organization_report.title %>
          <%= table_data do %>
            <% if organization_report.status == "ready" %>
              <%= link_to tag.i("", class: "fas fa-download"), url_for(organization_report.pdf), target: "_blank", class: "text-white" %>
            <% else %>
              <%= link_to "Regenerate", organization_report_path(organization, organization_report), method: :patch, class: "text-white" %>
            <% end %>
          <% end %>
          <%= table_data do %>
            <%= link_to tag.i("", class: "fas fa-file-code"), organization_report_path(organization, organization_report), class: "text-white" %>
          <% end if authorized_user.can_admin_system? %>
        </tr>
      <% end %>
    <% end %>
  <% end %>
  <%= pagination_wrapper do %>
    <span><%== pagy_bootstrap_nav(pagy) %></span>
    <%= pagy_entries(pagy) %>
  <% end if pagy.pages > 1 %>
<% end %>
