<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @report.title %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <style>
      @page {
        size: US-Letter landscape;
        background: #ffffff;
        margin: 0 0 1in 0;
        @bottom {
          font-style: italic;
          opacity: 0.75;
          /* content: 'generated for <%= @organization.name %> on <%= Time.current.to_s("abdy") %>'; */
          content: "Page " counter(page) " of " counter(pages);
        }
      }
    </style>
    <%= stylesheet_link_tag "organization_report", media: "all" %>
  </head>
  <body>
    <%= render "/organization_reports/pages/cover", report: @report %>
    <%= render "/organization_reports/pages/toc", report: @report %>
    <%= render "/organization_reports/pages/campaign_summary", report: @report, summaries: @summaries %>
    <% @report.campaigns.order(name: :asc).each do |campaign| %>
      <%= render partial: "/organization_reports/pages/campaign", locals: {report: @report, campaign: campaign, summary: @summaries[campaign.id]} %>
    <% end %>
  </body>
</html>
