<%= card do %>
  <%= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: {method: :post} do |f| %>
    <%= card_body do %>
      <%= devise_error_messages! %>
      <div class="row">
        <%= tag.div f.input(:first_name, required: true), class: "col-12 col-md-6" %>
        <%= tag.div f.input(:last_name, required: true), class: "col-12 col-md-6" %>
        <%= tag.div f.input(:email, required: true), class: "col-12 col-md-6" %>
        <%= tag.div f.input(:organization_id, label: "Team", collection: organizations_for_select, include_blank: "None",
          input_html: {class: "form-control", data: {controller: "select"}}), class: "col-12 col-md-6" %>
        <%= tag.div f.input(:roles, collection: ENUMS::USER_ROLES.values.map { |role| [role.capitalize, role] }, required: true, input_html: {multiple: true, data: {controller: "select"}}), class: "col-12" %>
      </div>
    <% end %>
    <%= card_footer do %>
      <%= card_footer_content do %>
        <%= button_panel margin: "my-0" do %>
          <%= f.button :submit, t("devise.invitations.new.submit_button"), class: "btn btn-primary" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
