<%= simple_form_for organization_transaction, url: url, html: { class: "js-validate" }, wrapper: :front_form do |f| %>
  <%= render "/shared/forms/section_heading", title: "Transaction Details", subtitle: "Fill out the fields below" %>
  <%= render "/shared/forms/error_messages", object: organization_transaction %>

  <div class="row mt-5">
    <div class="col-md-4 mb-3">
      <%= f.input :posted_at, as: :string, label: "Type", required: true,
            input_html: { class: "form-control", data: { controller: "select-date" },
            value: organization_transaction.posted_at.to_s("mm/dd/yyyy") } %>
    </div>
    <div class="col-md-4 mb-3">
      <%= f.input :amount, required: true, as: :currency, currency: "$", input_html: { class: "form-control" } %>
    </div>
    <div class="col-md-4 mb-3">
      <%= f.input :transaction_type, label: "Type", required: true,
            collection: ENUMS::ORGANIZATION_TRANSACTION_TYPES.values.map { |status| [status.capitalize, status] },
            input_html: { class: "form-control", data: { controller: "select" }} %>
    </div>
  </div>

  <div class="row">
    <%= tag.div f.input(:reference, as: :string, input_html: { class: "form-control" }), class: "col-12 mb-3" %>
    <%= tag.div f.input(:description, required: true, input_html: { rows: 10, class: "form-control" }), class: "col-12 mb-3" %>
  </div>

  <div class="media align-items-center mb-3">
    <label class="checkbox-switch mb-0 mr-3">
      <%= f.check_box :gift, class: "checkbox-switch__input" %>
      <span class="checkbox-switch__slider"></span>
    </label>
    <label class="media-body text-muted mb-0">
      <span class="d-block text-dark">Gifted by CodeFund?</span>
    </label>
  </div>

  <div class="row">
    <%= render "shared/forms/button_panel" do %>
      <%= f.submit "Save Transaction", class: "btn btn-sm btn-primary transition-3d-hover mr-1" %>
      <%= link_to "Cancel", organization_transactions_path(organization), class: "btn btn-sm btn-soft-secondary transition-3d-hover" %>
    <% end %>
  </div>
<% end %>
