<% content_for :breadcrumbs do %>
  <%= render "/shared/breadcrumbs/organization_transactions", organization: @organization %>
  <%= render "/shared/breadcrumbs/add_organization_transaction", organization: @organization %>
  <%= render "/shared/breadcrumbs/edit_organization_transaction", organization: @organization, organization_transaction: @organization_transaction, class: "active" %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Edit", "Transaction",
    subtitle: "Fill out the form below",
    icon: "fas fa-file-invoice-dollar" %>
<% end %>

<main id="content" role="main" class="bg-light">
  <div class="container space-1">
    <%= render "/organization_transactions/form",
          organization: @organization,
          organization_transaction: @organization_transaction,
          url: organization_transaction_path(@organization, @organization_transaction) %>
  </div>
</main>
