<footer class="text-white body-font bg-indigo-900 bg-pattern-1">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap md:text-left text-center order-first">
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-cf-orange-300 tracking-widest text-sm mb-3">ABOUT</h2>
        <nav class="list-none mb-10">
          <li>
            <%= link_to "Advertise with us", page_path("advertisers"), class: "hover:text-cf-orange-300" %>
          </li>
          <li>
            <%= link_to "Become a publisher", page_path("publishers"), class: "hover:text-cf-orange-300" %>
          </li>
          <li>
            <a href="/privacy/" class="hover:text-cf-orange-300">Privacy Policy</a>
          </li>
          <li>
            <a href="/cookies/" class="hover:text-cf-orange-300">Cookie Policy</a>
          </li>
          <li>
            <a href="javascript:window.Metomic('ConsentManager:show')">Manage Cookies</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-cf-orange-300 tracking-widest text-sm mb-3">COMPANY</h2>
        <nav class="list-none mb-10">
          <li>
            <%= link_to "About", page_path("about"), class: "hover:text-cf-orange-300" %>
          </li>
          <li>
            <%= link_to "Blog", "#", class: "hover:text-cf-orange-300" %>
          </li>
          <li>
            <%= link_to "Podcast Network", page_path("podcasts"), class: "hover:text-cf-orange-300" %>
          </li>
          <li>
            <a href="https://github.com/gitcoinco/code_fund_ads" class="hover:text-cf-orange-300">Our Code</a>
          </li>
          <li>
            <a href="https://stackshare.io/codefund" class="hover:text-cf-orange-300">Our Stack</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-cf-orange-300 tracking-widest text-sm mb-3">RESOURCES</h2>
        <nav class="list-none mb-10">
          <li>
            <%= link_to "Media", page_path("media"), class: "hover:text-cf-orange-300" %>
          </li>
          <li>
            <a href="https://status.codefund.io/" class="hover:text-cf-orange-300">Status</a>
          </li>
          <li>
            <%= link_to "FAQ", page_path("faq"), class: "hover:text-cf-orange-300" %>
          </li>
          <li>
            <a href="https://us16.campaign-archive.com/home/?u=e95ff716114dbc939f8ef6100&id=f036681f65" class="hover:text-cf-orange-300">Newsletter Archive</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-cf-orange-300 tracking-widest text-sm mb-3">SUBSCRIBE</h2>
        <div class="flex xl:flex-no-wrap md:flex-no-wrap lg:flex-wrap flex-wrap justify-center md:justify-start">
          <input class="w-40 sm:w-auto bg-gray-100 rounded xl:mr-4 lg:mr-0 sm:mr-4 mr-2 border border-gray-400 focus:outline-none focus:border-indigo-500 text-base py-2 px-4" placeholder="Placeholder" type="text">
          <button class="lg:mt-2 xl:mt-0 flex-shrink-0 inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Subscribe</button>
        </div>
        <p class="text-gray-200 text-sm mt-2 md:text-left text-center">Receive our weekly newsletter
          <br class="lg:block hidden">we will not share your info
        </p>
      </div>
    </div>
  </div>
  <div class="bg-gray-900">
    <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
      <p class="text-sm text-gray-200 sm:ml-6 sm:mt-0 mt-4">&copy; 2020 CodeFund, LLC</p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
        <!-- Twitter -->
        <a href="https://twitter.com/codefundio" class="ml-3 text-gray-200">
          <i class="fa fa-twitter" style="font-size: 18px;"></i>
        </a>
        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/company/codefundio/" class="ml-3 text-gray-200">
          <i class="fa fa-linkedin" style="font-size: 18px;"></i>
        </a>
        <!-- GitHub -->
        <a href="https://github.com/codefundio" class="ml-3 text-gray-200">
          <i class="fa fa-github" style="font-size: 18px;"></i>
        </a>
      </span>
    </div>
  </div>
</footer>