<%= render layout: "/campaigns/layout", locals: {campaign: @campaign} do %>
  <%= card do %>
    <%= card_header do %>
      <%= card_title do %>
        Keywords
      <% end %>
      <%= card_subtitle do %>
        Keywords and negative keywords for property matching
      <% end %>
    <% end %>
    <%= card_body do %>
      <% @campaign.keywords.sort.each do |keyword| %>
        <span class="badge badge-subtle badge-primary p-2 m-1"><%= keyword %></span>
      <% end %>
      <% @campaign.negative_keywords.sort.each do |keyword| %>
        <span class="badge badge-subtle badge-danger p-2 m-1"><%= keyword %></span>
      <% end %>
    <% end %>
  <% end %>

  <%= card do %>
    <%= card_header do %>
      <%= card_title do %>
        Countries
      <% end %>
      <%= card_subtitle do %>
        Targeted Countries
      <% end %>
    <% end %>
    <%= card_body do %>
      <% @campaign.countries.each do |country| %>
        <span class="badge badge-subtle badge-success p-2 m-1">
          <%= country.name %>
        </span>
      <% end %>
    <% end %>
  <% end %>
<% end %>
