<% unless local_assigns[:override]&.include? :page_heading %>
  <% content_for :page_heading do %>
    <%= page_heading user.first_name, user.last_name,
      subtitle: user.email,
      icon: "fas fa-user-circle" %>
  <% end %>
<% end %>

<% unless local_assigns[:override]&.include? :actions %>
  <% content_for :actions do %>
    <%= actions_list do %>
      <%= actions_list_item title: "Edit User" do %>
        <%= render "/shared/actions/edit_user", user: user %>
      <% end %>
      <% if user != current_user %>
        <%= actions_list_item title: "Masquerade User" do %>
          <%= render "/shared/actions/masquerade_as_user", user: user %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<section class="container mt-4">
  <header class="page-title-bar">
    <%= yield :page_heading %>

    <% if authorized_user.can_admin_system? %>
      <div class="d-flex border-bottom">
        <%= render("users/tabs", user: user) %>
        <%= yield :actions %>
      </div>
    <% else %>
      <div class="d-flex flex-row-reverse border-bottom">
        <div class="mb-2">
          <%= yield :actions %>
        </div>
      </div>
    <% end %>
  </header>
  <%= yield %>
</section>
