<div class="list-group list-group-flush list-group-divider border-top">
  <% users.each do |user| %>
    <div class="list-group-item <%= "active" if @user&.id == user.id %>"
        data-target="filterable-list.filterable"
        data-filter-key='<%= "#{user.status} #{user.first_name} #{user.roles.join(" ")} #{user.last_name} #{user.email}".downcase %>'>
      <%= link_to "", user, class: "stretched-link" %>
      <div class="list-group-item-figure">
        <div class="tile tile-circle bg-blue"><%= user.initials %></div>
      </div>
      <div class="list-group-item-body">
        <h4 class="list-group-item-title"><%= user.first_name %> <strong><%= user.last_name %></strong></h4>
        <p class="list-group-item-text"><%= user.email %></p>
      </div>
    </div>
  <% end %>
</div>
