<div class="card-deck d-block d-lg-flex card-lg-gutters-3 mb-3">
  <%= render "/dashboards/stat_card",
    label: "Impressions",
    value: "TBD" %> <%# TODO: Nate - Total impressions for date range and publisher (start_date to end_date) %>
  <%= render "/dashboards/stat_card",
    label: "Clicks",
    value: "TBD" %> <%# TODO: Nate - Total clicks for date range and publisher (start_date to end_date) %>
  <%= render "/dashboards/stat_card",
    label: "CTR%",
    value: "TBD" %> <%# TODO: Nate - Average CTR for date range and publisher (start_date to end_date) %>
  <%= render "/dashboards/stat_card",
    label: "Earnings",
    value: "TBD" %> <%# TODO: Nate - Average calculated CPC for date range and publisher (start_date to end_date) %>
</div>

<div class="text-center mb-3 mt-5">
  <span class="u-divider u-divider--xs u-divider--text">Active Properties</span>
</div>

<div class="mb-3">
  <div class="card-deck d-block d-md-flex card-sm-columns card-sm-2-count card-md-3-count">
    <%= render partial: "/properties/card",
      collection: current_user.properties.order("status, name"),
      locals: { start_date: @start_date, end_date: @end_date }, as: :property %>
  </div>
</div>