<div class="card mb-3">
  <div class="card-header">
    <div class="row justify-content-between align-items-center">
      <div class="col-9">
        <%= link_to creative, class: "text-link" do %>
          <%= creative.name %>
        <% end %>
      </div>
      <div class="col-3 text-right">
        <div class="position-relative">
          <% if creative.locked? %>
            <i class="far fa-lock-alt"></i>
          <% end %>
          <% if authorized_user.can_edit_creative?(creative) %>
            <%= render "/@shared/table_buttons/edit", link: edit_creative_path(creative) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body p-4">
    <div class="media ml-2">
      <% if creative.standard? %>
        <%= image_tag creative.small_image&.variant(geometry: "100x100") || "missing-200x200.png", class: "align-self-start mr-3", style: "width: 100px;" %>
        <div class="media-body text-black-50 font-weight-normal">
          <strong class="text-dark"><%= creative.headline %></strong>
          <%= creative.body %>
        </div>
      <% end %>
      <% if creative.sponsor? %>
        <%= image_tag creative.sponsor_image, class: "align-self-start mr-3", style: "width: 100%;" %>
      <% end %>
    </div>
  </div>

  <!--
  <div class="card-footer text-center p-0">
    <div class="row align-items-center">
      <div class="col-4 py-2 u-ver-divider">
        <h5 class="small font-weight-normal text-secondary mb-0">Impressions</h5>
        <span class="text-dark">0</span>
      </div>
      <div class="col-4 py-2 u-ver-divider">
        <h5 class="small font-weight-normal text-secondary mb-0">Clicks</h5>
        <span class="text-dark">0</span>
      </div>
      <div class="col-4 py-2">
        <h5 class="small font-weight-normal text-secondary mb-0">Avg. CTR</h5>
        <span class="text-dark">0.0%</span>
      </div>
    </div>
  </div>
  -->
</div>
