<div class="card mb-3">
  <div class="card-img-top justify-content-between align-items-center p-4" style="min-height:200px">
    <% if creative.standard? %>
      <%= image_tag creative.small_image&.variant(geometry: "100x100") || asset_pack_path("media/images/placeholders/missing-200x200.png"), class: "mr-3", style: "width: 100px;" %>
      <strong class="text-dark"><%= creative.headline %></strong>
      <%= creative.body %>
    <% end %>
    <% if creative.sponsor? %>
      <%= image_tag creative.sponsor_image, class: "align-self-start mr-3", style: "width: 100%;" %>
    <% end %>
  </div>
  <div class="card-body">
    <ul class="list-inline d-flex text-muted align-items-center mb-0">
      <li class="list-inline-item text-truncate mr-auto">
        <%= link_to creative, class: "text-link" do %>
          <%= creative.name %>
        <% end %>
      </li>
      <% if authorized_user.can_edit_creative?(creative) %>
        <li class="list-inline-item">
          <%= render "/shared/actions/edit_creative", creative: creative %>
        </li>
        <li class="list-inline-item">
          <%= render "/shared/actions/delete_creative", creative: creative %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
