<%= render "/@shared/forms/error_messages", object: creative %>
<%= simple_form_for creative, html: { class: "js-validate", data: { controller: "creative-form" }}, wrapper: :front_form do |f| %>
  <%= f.hidden_field :creative_type, data: { target: "creative-form.creativeType" } %>
  <div class="row">
    <%= tag.div f.input(:name, required: true), class: "col-12 col-md-4 mb-3" %>
    <div class="col-12 col-md-4 mb-3">
      <div class="js-form-message js-focus-state string required property_name">
        <label class="form-label string required" for="property_name">Advertiser <abbr title="required">*</abbr></label>
        <input type="text" class="form-control" placeholder="<%= current_user.name %>" aria-label="<%= current_user.name %>" readonly>
      </div>
    </div>
    <% if authorized_user.can_admin_system? %>
      <div class="col-12 col-md-4 mb-3">
        <%= f.input(:status, label: "Status", collection: creative_statuses_for_select,
              input_html: { class: "form-control", data: { controller: "select" }}) %>
      </div>
    <% end %>
  </div>

  <div class="row mt-3">
    <div class="col">
      <nav>
        <div id="nav-tab" class="nav nav-tabs" role="tablist">
          <a id="nav-standard-tab" class="nav-item nav-link <%= "active" unless creative.sponsor? %>"
             href="#nav-standard" role="tab" aria-controls="nav-standard" aria-selected="true"
             data-toggle="tab" data-action="click->creative-form#setCreativeType" data-creative-type="standard">
            Standard
          </a>
          <a id="nav-sponsor-tab" class="nav-item nav-link <%= "active" if creative.sponsor? %>"
             href="#nav-sponsor" role="tab" aria-controls="nav-sponsor" aria-selected="false"
             data-toggle="tab" data-action="click->creative-form#setCreativeType" data-creative-type="sponsor">
            Sponsor
          </a>
        </div>
      </nav>
      <div class="tab-content">
        <div id="nav-standard" data-target="creative-form.standardForm" class="tab-pane fade <%= "show active" unless creative.sponsor? %>" role="tabpanel" aria-labelledby="nav-standard-tab">
          <div id="standard-form-fields"> <!-- NOTE: containing div used by stimulus controller -->
            <%= render "/creatives/standard_form", f: f, creative: creative %>
          </div>
        </div>
        <div id="nav-sponsor" data-target="creative-form.sponsorForm" class="tab-pane fade <%= "show active" if creative.sponsor? %>" role="tabpanel" aria-labelledby="nav-sponsor-tab">
          <div id="sponsor-form-fields"> <!-- NOTE: containing div used by stimulus controller -->
            <%= render "/creatives/sponsor_form", f: f, creative: creative %>
          </div>
        </div>
      </div>

      <div class="container p-5">
        <div class="row">
          <div class="col">
            <%= f.submit "Save Creative", class: "btn btn-sm btn-primary transition-3d-hover mr-1" %>
            <%= link_to "Cancel", creatives_path, class: "btn btn-sm btn-soft-secondary transition-3d-hover" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
