<%= simple_form_for creative do |f| %>
  <div class="row">
    <% #################################################################################################### %>
    <%= render "@shared/forms/section_heading", text: "Info" %>

    <%= pseudo_row_divider %>

    <%= render "@shared/forms/button_panel" do %>
      <%= f.button(:submit, class: "btn-lg btn-primary") %>
    <% end %>
  </div>
<% end %>
