<div class="container p-5 bg-white border border-top-0">
  <h3 class="mt-0 mb-5 text-primary">Standard Creative Settings</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="copy-wrapper col-12 p-0 py-2 mb-2" data-target="creative-form.copyWrapper">
          <div class="text-center text-secondary pb-2" data-target="creative-form.copyWarningWrapper">
            Your ad copy is <span class="actual-length text-dark" data-target="creative-form.adLength">0</span> of <strong class="text-dark">85</strong> characters
          </div>
          <%= tag.div f.input(:headline, required: true, input_html: { data: { target: "creative-form.inputHeadline", action: "change->creative-form#setHeadline keyup->creative-form#setHeadline" }}), class: "col-12 mb-3" %>
          <%= tag.div f.input(:body, required: true, input_html: { rows: 2, data: { target: "creative-form.inputBody", action: "change->creative-form#setBody keyup->creative-form#setBody" }}), class: "col-12 mb-3" %>
          <%= tag.div f.input(:cta, label: "Call to Action", required: true, placeholder: "e.g. Learn more", hint: "Only used with the `sponsored-text` template"), class: "col-12 mb-3" %>
        </div>

        <div class="col-12 mb-3">
          <div class="js-form-message js-focus-state select required creative_icon_image u-has-success">
            <label class="form-label select required" for="creative_icon_image">
              Icon Image <abbr title="required">*</abbr> <small class="text-muted">(40×40)</small>
            </label>
            <select class="form-control select required"
                    data-target="creative-form.inputIconBlobId"
                    data-action="change->creative-form#setIconImage"
                    required="required"
                    aria-required="true"
                    name="creative[icon_blob_id]"
                    id="creative_icon_blob_id"
                    required>
                    <option value="">--- select an image ---<option>
                    <% current_user.icon_images.each do |image| %>
                      <%= tag.option Image.new(image).display_name, value: image.blob_id,
                        data: { image_url: polymorphic_url(image) },
                        selected: creative.icon_image == image %>
                    <% end %>
            </select>
          </div>
        </div>

        <div class="col-12 mb-3">
          <div class="js-form-message js-focus-state select required creative_small_image u-has-success">
            <label class="form-label select required" for="creative_small_image">
              Small Image <abbr title="required">*</abbr> <small class="text-muted">(200×200)</small>
            </label>
            <select class="form-control select required"
                    data-target="creative-form.inputSmallBlobId"
                    data-action="change->creative-form#setSmallImage"
                    required="required"
                    aria-required="true"
                    name="creative[small_blob_id]"
                    id="creative_small_blob_id"
                    required>
                    <option value="">--- select an image ---<option>
                    <% current_user.small_images.each do |image| %>
                      <%= tag.option Image.new(image).display_name, value: image.blob_id,
                        data: { image_url: polymorphic_url(image) },
                        selected: creative.small_image == image %>
                    <% end %>
            </select>
          </div>
        </div>

        <div class="col-12 mb-3">
          <div class="js-form-message js-focus-state select required creative_large_image u-has-success">
            <label class="form-label select required" for="creative_large_image">
              Large Image <abbr title="required">*</abbr> <small class="text-muted">(260×200)</small>
            </label>
            <select class="form-control select required"
                    data-target="creative-form.inputLargeBlobId"
                    data-action="change->creative-form#setLargeImage"
                    required="required"
                    aria-required="true"
                    name="creative[large_blob_id]"
                    id="creative_large_blob_id"
                    required>
                    <option value="">--- select an image ---<option>
                    <% current_user.large_images.each do |image| %>
                      <%= tag.option Image.new(image).display_name, value: image.blob_id,
                        data: { image_url: polymorphic_url(image) },
                        selected: creative.large_image == image %>
                    <% end %>
            </select>
          </div>
        </div>

        <div class="col-12 mb-3">
          <div class="js-form-message js-focus-state select required creative_wide_image u-has-success">
            <label class="form-label select required" for="creative_wide_image">
              Wide Image <abbr title="required">*</abbr> <small class="text-muted">(512×320)</small>
            </label>
            <select class="form-control select required"
                    data-target="creative-form.inputWideBlobId"
                    data-action="change->creative-form#setWideImage"
                    required="required"
                    aria-required="true"
                    name="creative[wide_blob_id]"
                    id="creative_wide_blob_id"
                    required>
                    <option value="">--- select an image ---<option>
                    <% current_user.wide_images.each do |image| %>
                      <%= tag.option Image.new(image).display_name, value: image.blob_id,
                        data: { image_url: polymorphic_url(image) },
                        selected: creative.wide_image == image %>
                    <% end %>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="p-4 mb-3 rounded">
        <%= image_tag "anatomy-of-an-ad@2x.png", class: "img-fluid" %>
      </div>

      <div class="row justify-content-between align-items-center mb-2">
        <!-- Title -->
        <div class="col-sm-4 col-md-6 mb-3 mb-sm-0">
          <h2 class="h6 mb-0">Preview</h2>
        </div>
        <!-- End Title -->

        <!-- Filter -->
        <div class="col-sm-8 col-md-6 text-sm-right" hidden>
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <!-- Select -->
              <select class="js-select selectpicker dropdown-select"
                      data-style="btn-sm btn-soft-primary"
                      data-target="creative-form.inputTemplateTheme"
                      data-action="change->creative-form#setTemplateTheme">
                <option value="default|light">Default (light)</option>
                <option value="default|dark">Default (dark)</option>
                <option value="centered|light">Centered (light)</option>
                <option value="centered|dark">Centered (dark)</option>
                <option value="horizontal|light">Horizontal (light)</option>
                <option value="horizontal|dark">Horizontal (dark)</option>
                <option value="vertical|light">Vertical (light)</option>
                <option value="vertical|dark">Vertical (dark)</option>
                <option value="image-centered|light">Image Centered (light)</option>
                <option value="image-centered|dark">Image Centered (dark)</option>
                <option value="image-only|light">Image Only (light)</option>
                <option value="image-only|dark">Image Only (dark)</option>
                <option value="square|light">Square (light)</option>
                <option value="square|dark">Square (dark)</option>
              </select>
              <!-- End Select -->
            </li>
          </ul>
        </div>
        <!-- End Filter -->
      </div>

      <div class="p-4 bg-white shadow-lg rounded">
        <div id="creative-preview" data-target="preview">
          <span class="cf-wrapper">
            <a href="javascript:;" class="cf-img-wrapper" rel="noopener">
              <%= image_tag creative.large_image&.variant(geometry: "130x100") || "missing-260x200.png",
                    border: 0, height: 100, width: 130, class: "cf-img",
                    data: {
                      target: "creative-form.previewImageUrl",
                      default_image_url: asset_url("missing-260x200.png")
                    } %>
            </a>
            <a href="javascript:;" class="cf-text" rel="noopener">
              <strong data-target="creative-form.previewHeadline">Gitcoin</strong>
              <span data-target="creative-form.previewBody">💰 Use your Python skills to grow Open Source, while getting paid.</span>
            </a>
            <a href="javascript:;" class="cf-powered-by" rel="noopener">
              ads via codefund
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
