<%= table_wrapper do %>
  <%= paginated_table do %>
    <%= table_head do %>
      <%= table_row header: true do %>
        <%= table_column add_scope: "col" do %>Name<% end %>
        <%= table_column add_scope: "col" do %>Copy<% end %>
        <%= table_column add_scope: "col" do %>&nbsp;<% end %>
      <% end %>
    <% end %>
    <%= table_body do %>
      <%= render partial: "/creatives/tr", collection: creatives, as: :creative %>
    <% end %>
  <% end %>
  <%= pagination_wrapper do %>
    <span><%== pagy_bootstrap_nav(pagy) if pagy.pages > 1 %></span>
    <%= pagy_entries(pagy) %>
  <% end %>
<% end %>
