<p id="notice"><%= notice %></p>

<h1>Creatives</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @creatives.each do |creative| %>
      <tr>
        <td><%= link_to 'Show', creative %></td>
        <td><%= link_to 'Edit', edit_creative_path(creative) %></td>
        <td><%= link_to 'Destroy', creative, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Creative', new_creative_path %>
