<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/creatives", class: "active" %>
<% end %>

<% content_for :actions do %>
  <%= render "/@shared/actions/add_creative" if authorized_user.can_admin_system? %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Viewing", "Creatives",
    subtitle: "#{pluralize(@pagy.count, "record")} found",
    icon: "fas fa-palette" %>
<% end %>

<main id="content" role="main" class="bg-light">
  <div class="container space-1">
    <%= render partial: "/creative_searches/form",
              layout: "/@shared/collapsable_search_form",
              locals: { search: @creative_search } %>
    <div class="mb-2">
      <div class="card-sm-columns card-md-2-count card-lg-3-count">
        <%= render partial: "/creatives/creative", collection: @creatives, as: :creative %>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center">
      <span><%== pagy_nav_bootstrap(@pagy) if @pagy.pages > 1 %></span>
      <%= pagy_entries(@pagy) %>
    </div>
  </div>
</main>