<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/creatives" %>
  <%= render "/@shared/breadcrumbs/creative", creative: @creative, class: "active" %>
<% end %>

<% content_for :actions do %>
  <% if authorized_user.can_edit_creative?(@creative) %>
    <ul class="nav flex-nowrap" style="justify-content: flex-end;">
      <li>
        <%= render "/@shared/actions/edit_creative", creative: @creative %>
      </li>
      <li class="ml-1" title="Clone Creative" data-toggle="tooltip" data-placement="bottom">
        <%= render "/@shared/actions/generic", link: new_creative_path(clone: @creative.id), icon: "fa fa-copy" %>
      </li>
      <li class="ml-1">
        <%= render "/@shared/actions/delete_creative", creative: @creative %>
      </li>
    </ul>
  <% end %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Viewing", "Creative",
    subtitle: @creative.name,
    icon: "fas fa-palette" %>
<% end %>

<main id="content" role="main" class="bg-light">
  <div class="container space-1">
    <div class="text-center mb-3">
      <span class="u-divider u-divider--xs u-divider--text">Ad Previews</span>
    </div>

    <div class="row">
      <% ENUMS::AD_TEMPLATES.values.each do |template| %>
        <% ["light", "dark"].each do |theme| %>
          <%= render partial: "/creatives/preview_card", locals: { creative: @creative, template: template, theme: theme } %>
        <% end %>
      <% end %>
    </div>
  </div>
</main>