<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/dashboard" %>
  <%= render "/@shared/breadcrumbs/creatives" %>
  <%= render "/@shared/breadcrumbs/creative", creative: @creative, class: "active" %>
<% end %>

<% content_for :actions do %>
  <%= render "/@shared/actions/edit_creative", creative: @creative %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Viewing", "Creative",
    subtitle: @creative.name,
    icon: "fas fa-palette" %>
<% end %>

<main id="content" role="main" class="bg-light">
  <div class="container space-1">

    <div class="card-deck d-block d-lg-flex card-lg-gutters-3 mb-3">
      <%= render "/@shared/widgets/stat_card",
        label: "Impressions",
        value: "TBD",
        icon: "fas fa-eye",
        color: "btn-soft-info" %>
      <%= render "/@shared/widgets/stat_card",
        label: "Clicks",
        value: "TBD",
        icon: "fas fa-bullseye-pointer",
        color: "btn-soft-primary" %>
      <%= render "/@shared/widgets/stat_card",
        label: "CTR",
        value: "TBD",
        icon: "fas fa-percentage",
        color: "btn-soft-warning" %>
    </div>
    
    <div class="text-center mb-3 mt-5">
      <span class="u-divider u-divider--xs u-divider--text">Ad Previews</span>
    </div>

    <div class="row">
      <% ENUMS::AD_TEMPLATES.values.each do |template| %>
        <% ["light", "dark"].each do |theme| %>
          <%= render partial: "/creatives/preview_card", locals: { creative: @creative, template: template, theme: theme } %>
        <% end %>
      <% end %>
    </div>
  </div>
</main>