<%= render layout: "/shared/layout", locals: {
  subject: @creative,
  tabs: false,
  buttons: [
    layout_button(link: new_creative_path(clone: @creative.id), icon: "fad fa-copy", title: "Clone creative"),
    layout_button(link: edit_creative_path(@creative), icon: "fad fa-pencil", title: "Edit creative", admin: @creative.active?),
    delete_button(link: creative_path(@creative), title: "Delete creative", layout: true)
  ]
} do %>
  <%= card add_class: "mt-4" do %>
    <%= card_body do %>
      <ul class="list-group list-group-bordered list-group-flush">
        <% if @creative.standard? %>
          <% ENUMS::AD_TEMPLATES.values.each do |template| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <%= template %>
              <span>
                <%= link_to creative_previews_path(@creative, template: template, theme: "light"),
                          class: "badge badge-lg badge-light", target: "_blank" do %>
                          Light <i class="fas fa-external-link"></i>
                        <% end %>
                <%= link_to creative_previews_path(@creative, template: template, theme: "dark"),
                          class: "badge badge-lg badge-dark", target: "_blank" do %>
                          Dark <i class="fas fa-external-link"></i>
                        <% end %>
              </span>
            </li>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
<% end %>
