<%= card do %>
  <%= card_header do %>
    <%= card_title do %>
      Security
    <% end %>
    <%= card_subtitle do %>
      Admin-only settings for user
    <% end %>
  <% end %>
  <%= card_body do %>
    <div class="row">
      <div class="col-sm-12">
        <div class="media align-items-center mb-3">
          <label class="switcher-control mb-0 mr-3">
            <%= f.check_box :api_access, class: "switcher-input", id: "checkboxSwitch2" %>
            <span class="switcher-indicator"></span>
          </label>
          <label class="media-body text-muted mb-0">
            <span class="d-block text-dark">Enable API Access?</span>
          </label>
        </div>
        <%= tag.div f.input(:status, collection: user_statuses_for_select,
            input_html: {class: "form-control", data: {controller: "select"}}), class: "mb-2" %>
        <div class="mb-3" data-controller="select-multiple">
          <%= f.input(:roles, label: "System Roles", collection: ENUMS::USER_ROLES.keys,
              input_html: {multiple: true, data: {controller: "select", target: "select-multiple.select"}}) %>
          <div class="d-block">
            <%= link_to "Clear", request.path, class: "btn text-uppercase btn-subtle-secondary btn-xs py-0",
                data: {action: "click->select-multiple#clearSelections"} %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
