<%= card do %>
  <%= card_header do %>
    <%= card_title do %>
      Organization
    <% end %>
    <%= card_subtitle do %>
      Admin-only organization settings for user
    <% end %>
  <% end %>
  <%= card_body do %>
    <div class="row">
      <%= f.simple_fields_for :organization_users do |ouf| %>
        <div class="col-sm-12">
          <%= tag.div ouf.input(:organization_id, label: "Organization", collection: organizations_for_select, include_blank: "None",
            input_html: {class: "form-control", data: {controller: "select"}}), class: "mb-3" %>
        </div>
        <div class="col-sm-12">
          <%= tag.div ouf.input(:role, label: "Organization Role", collection: ENUMS::ORGANIZATION_ROLES.keys, include_blank: "None",
            input_html: {class: "form-control", data: {controller: "select"}}), class: "mb-2" %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
