<%= render CardComponent.new do %>
  <%= render Card::HeaderComponent.new do %>
    <%= render(Card::TitleComponent.new) { "Personal" } %>
    <%= render(Card::SubtitleComponent.new) { "How can we contact you?" } %>
  <% end %>
  <%= render Card::BodyComponent.new do %>
    <div class="row">
      <%= tag.div f.input(:first_name, required: true), class: "col-12 mb-1" %>
      <%= tag.div f.input(:last_name, required: true), class: "col-12 mb-1" %>
      <%= tag.div f.input(:email, required: true), class: "col-12 mb-1" %>
      <%= tag.div f.input(:company_name), class: "col-12 mb-1" %>
      <%= tag.div f.input(:website_url, placeholder: "https://"), class: "col-12 mb-1" %>
      <%= tag.div f.input(:address_1, label: "Street Address"), class: "col-8 mb-1" %>
      <%= tag.div f.input(:address_2, label: "Apt/Suite"), class: "col-4 mb-1" %>
      <%= tag.div f.input(:city), class: "col-6 mb-1" %>
      <%= tag.div f.input(:region, label: "State / Region"), class: "col-6 mb-1" %>
      <%= tag.div f.input(:postal_code), class: "col-4 mb-1" %>
      <%= tag.div f.input(:country, input_html: {data: {controller: "select"}}), class: "col-8 mb-1" %>
    </div>
    <div class="media align-items-center mt-3">
      <%= f.label :us_resident, class: "switcher-control mb-0 mr-3" do %>
        <%= f.check_box :us_resident, class: "switcher-input" %>
        <span class="switcher-indicator"></span>
      <% end %>
      <label class="media-body text-muted mb-0">
        <span class="d-block text-dark">Are you a US Resident?</span>
        <small class="d-block">We need to know if you are a US resident for tax purposes</small>
      </label>
    </div>
  <% end %>
<% end %>
