<%= render(PageComponent.new(subject: @versionable, tabs: true)) do |component| %>
  <% component.with(:header) do %>
    <%= render(Page::HeaderComponent.new(title: "User Revisions", subtitle: "List of revisions to this user")) %>
  <% end %>
  <% component.with(:body) do %>
    <%= render CardComponent.new do %>
      <%= render Card::BodyComponent.new do %>
        <div class="section-block">
          <h2 class="section-title"> Timeline </h2>
          <ul class="timeline">
            <% @versionable.versions.reverse.each do |version| %>
              <li class="timeline-item">
                <div class="timeline-figure">
                  <span class="tile tile-circle tile-sm"><i class="far fa-calendar-alt fa-lg"></i></span>
                </div>
                <div class="timeline-body">
                  <div class="media">
                    <div class="media-body">
                      <h6 class="timeline-heading">
                        <a class="text-link"
                          data-controller="remote-modal"
                          data-action="click->remote-modal#displayModal"
                          data-url="<%= version_path(version, sgid: @versionable.to_sgid) %>"
                          href="#"><%= version.event.humanize %></a>
                      </h6>
                      <p class="mb-0">
                        <%= link_to find_version_author(version), user_path(find_version_author(version)) rescue "Not Assigned" %>
                        made a change
                      </p>
                      <p class="timeline-date d-sm-none"><%= time_ago_in_words(version.created_at) %> ago</p>
                    </div>
                    <div class="d-none d-sm-block">
                      <span class="timeline-date"><%= time_ago_in_words(version.created_at) %> ago</span>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
