<h3 class="my-4 text-primary">Sponsor Campaign Settings</h3>

<%= card do %>
  <%= card_header do %>
    <%= card_title do %>
      Creatives
    <% end %>
    <%= card_subtitle do %>
      Pick which creatives you would like to use (only approved creatives are available)
      <small class="mt-1 d-block text-primary opacity-70">Multivariate testing is used to determine the most effective creative</small>
    <% end %>
  <% end %>
  <%= card_body do %>
    <div class="row" data-target="campaign-form.creativesWrapper">
      <%= render partial: "/creative_options/options",
          locals: {
            selected_creative_ids: campaign.creative_ids,
            creatives: campaign.user.creatives.active.sponsor.order(name: :asc)
          } %>
    </div>
  <% end %>
<% end %>

<% if authorized_user.can_admin_system? %>
  <%= card do %>
    <%= card_header do %>
      <%= card_title do %>
        Budget
      <% end %>
      <%= card_subtitle do %>
        Let's talk numbers
      <% end %>
    <% end %>
    <%= card_body do %>
      <div class="row">
        <div class="col-md-6 mb-3">
          <%= f.input :total_budget, label: "Selling Price", as: :currency, currency: "$" %>
          <small id="passwordHelpBlock" class="form-text text-muted">
            Fixed price for explicitly targeted properties for a dedicated period of time
          </small>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
