<%= table_wrapper do %>
  <%= paginated_table add_class: "table-dark" do %>
    <%= table_head do %>
      <%= table_row header: true do %>
        <%= table_column { "Name" } %>
        <% unless @property.restrict_to_sponsor_campaigns? %>
          <%= table_column add_style: "width:15%;" do %><span class="d-block small text-muted">total</span>Impressions<% end %>
        <% end %>
        <%= table_column add_style: "width:15%;" do %><span class="d-block small text-muted">total</span>Clicks<% end %>
        <% unless @property.restrict_to_sponsor_campaigns? %>
          <%= table_column add_style: "width:15%;" do %><span class="d-block small text-muted">average</span>CTR<% end %>
          <%= table_column add_style: "width:15%;" do %><span class="d-block small text-muted">estimated</span>Earnings<% end %>
        <% end %>
      <% end %>
    <% end %>
    <%= table_body do %>
      <% @campaigns.each do |campaign| %>
        <%= render_later async_property_campaign_row_path(property_id: @property.id, campaign_id: campaign.id), tag_name: "tr" do %>
          <%= table_data colspan: "5" do %>
            <i class="fa fa-spinner fa-spin text-primary"></i>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%= pagination_wrapper do %>
    <span><%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %></span>
    <%= pagy_entries(@pagy) %>
  <% end %>
<% end %>
