<%= render layout: "/properties/show_layout", locals: { property: @property } do %>
  <h3 class="h5 mb-3">
    Overview
    <small class="text-muted d-block">A mini-dashboard specifically for this property</small>
  </h3>

  <div class="card-deck d-block d-lg-flex card-lg-gutters-3 mb-3">
    <%= render "/@shared/widgets/stat_card",
      label: "Impressions",
      value: number_with_delimiter(@property.total_impressions_count) %>
    <%= render "/@shared/widgets/stat_card",
      label: "Clicks",
      value: number_with_delimiter(@property.total_clicks_count) %>
    <%= render "/@shared/widgets/stat_card",
      label: "CTR%",
      value: number_to_percentage(@property.total_click_rate, precision: 2) %>
    <%= render "/@shared/widgets/stat_card",
      label: "Earnings",
      value: "TBD" %> <%# TODO: Nate - Average calculated CPC for property (start_date to end_date) %>
  </div>
<% end %>
