<%= simple_form_for job_posting, wrapper: :front_form, data: { controller: "job-posting-form select-country-province" } do |f| %>
  <%= f.error_notification %>

  <h2 class="h4 space-1 space-top-2">Job Details</h2>

    <!-- Platform -->
  <div class="mb-6">
    <label class="form-label">
      Job Type
      <span class="text-danger">*</span>
    </label>

    <!-- Button Group -->
    <div class="btn-group btn-group-toggle d-flex" data-toggle="buttons" data-controller="radio-button-group">
      <% ENUMS::JOB_TYPES.keys.each do |val| %>
        <label class="btn btn-outline-secondary btn-custom-toggle-primary flex-fill
          <%= "active" if val == job_posting.job_type %>" data-action="click->radio-button-group#select">
          <input type="radio" id="job_posting_job_type_<%= val %>" name="job_posting[job_type]" value="<%= val %>"
            <%= "checked" if val == job_posting.job_type %> />
          <%= val.humanize.titleize %>
        </label>
      <% end %>
    </div>
    <!-- End Button Group -->
  </div>
  <!-- End Platform -->

  <%= tag.div f.input(:title, label: "Job Title", required: true, input_html: { max_length: 80 },
      hint: "Example: “Senior Designer”. Titles must describe one position"), class: "mb-5" %>
  <%= tag.div f.input(:url, as: :url, label: "Link to Apply", pattern: "https?:\/\/.*", required: true, placeholder: "https://",
    hint: "This can be a link to your job posting, application form, or website"),
    class: "mb-5" %>

  <%= tag.div class: "mb-5" do %>
    <%= f.input :description, as: :hidden %>
    <%= f.label :description, required: true, class: "form-label string" %>
    <trix-editor class="trix-content" input="job_posting_description"></trix-editor>
  <% end %>

  <%= tag.div class: "mb-5" do %>
    <%= f.input :how_to_apply, as: :hidden %>
    <%= f.label :how_to_apply, required: true, class: "form-label string" %>
    <trix-editor class="trix-content" input="job_posting_how_to_apply"></trix-editor>
  <% end %>

  <div class="row">
    <%= tag.div f.input(:min_annual_salary_cents, placeholder: "115,000", label: "Min Annual Salary"), class: "col-sm-3 mb-5" %>
    <%= tag.div f.input(:max_annual_salary_cents, placeholder: "115,000", label: "Max Annual Salary"), class: "col-sm-3 mb-5" %>
    <%= tag.div f.input(:min_annual_salary_currency, collection: currencies_for_select, label: "Salary Currency", required: true,
        input_html: { data: { controller: "select" }}
      ), class: "col-sm-6 mb-5" %>
  </div>

  <div class="media align-items-center mt-2 space-bottom-1">
    <label class="checkbox-switch mb-0 mr-3">
      <%= f.check_box :display_salary, class: "checkbox-switch__input" %>
      <span class="checkbox-switch__slider"></span>
    </label>
    <%= f.label :display_salary, class: "media-body text-muted mb-0" do %>
      <span class="d-block text-dark">Display the salary range on the job listing</span>
    <% end %>
  </div>

  <hr>

  <h2 class="h4 space-1">Company Information</h2>

  <%= tag.div f.input(:company_name, label: "Company Name", required: true), class: "mb-5" %>
  <%= tag.div f.input(:company_url, label: "Company Website", required: true, placeholder: "https://"), class: "mb-5" %>
  <%= tag.div f.input(:company_email, label: "Company Email", required: true,
        hint: "This email is not made public. We use it to send your invoice and link to edit your job post later"), class: "mb-5" %>

  <%= tag.div f.input(:country_code, required: true, collection: countries_for_select, label: "Country",
      input_html: { data: {
        controller: "select",
        target: "select-country-province.countryCodeSelect" }}), class: "mb-5" %>

  <%= tag.div f.input(:province_code, collection: [], label: "State/Province",
      input_html: { data: {
        controller: "select",
        target: "select-country-province.provinceCodeSelect",
        provinces: provinces_for_stimulus,
        selected: job_posting.province_code }}), class: "mb-5" %>

  <%= tag.div f.input(:city, required: true), class: "mb-5" %>

  <label class="file-attachment-input">
    <div class="mb-5">
      Upload your company logo
      <small class="d-block text-muted">we recommend using your Facebook or Twitter avatar</small>
    </div>
    <%= f.hidden_field :company_logo_url, role: "uploadcare-uploader", data: {
      image_shrink: "512x512",
      crop: "1:1"
    } %>
  </label>

  <hr>

  <h2 class="h4 space-1">Targeting</h2>

  <%= tag.div f.input(:keywords, collection: keywords_for_select, label: "Keywords", required: true,
      hint: "Keywords are used to target the qualified candidates for this job",
      input_html: { multiple: true, data: { controller: "select" }}
    ), class: "mb-5" %>

  <div class="media align-items-center mt-4 space-bottom-1">
    <label class="checkbox-switch mb-0 mr-3">
      <%= f.check_box :remote, class: "checkbox-switch__input", data: { action: "change->job-posting-form#toggleRemote" } %>
      <span class="checkbox-switch__slider"></span>
    </label>
    <%= f.label :remote, class: "media-body text-muted mb-0" do %>
      <span class="d-block text-dark">This job is available to remote-only candidates</span>
    <% end %>
  </div>

  <div class="mb-5" <%= "hidden" unless job_posting.remote? %> data-target="job-posting-form.remoteCountryCodesSelector">
    <%= f.input :remote_country_codes, collection: countries_for_select, input_html: {
        multiple: true,
        data: {
          controller: "select",
          target: "select-multiple.select"
        }} %>
    <div class="d-flex align-items-center">
      <small class="flex-grow-1 form-text text-muted">Only accept remote applicants from the selected countries</small>
      <span>
        <%= link_to "Select All Countries", request.path, class: "btn text-uppercase btn-soft-secondary btn-xs py-0", data: { action: "click->select-multiple#selectAll" }  %>
        <%= link_to "Clear", request.path, class: "btn text-uppercase btn-soft-secondary btn-xs py-0", data: { action: "click->select-multiple#clearSelections" }  %>
      </span>
    </div>
  </div>

  <div class="d-flex space-top-1">
    <%= link_to "Cancel", jobs_path, class: "btn btn-block btn-sm btn-soft-secondary transition-3d-hover mr-1" %>
    <%= f.submit "Next", class: "btn btn-block btn-sm btn-primary transition-3d-hover ml-1 mt-0" %>
  </div>
<% end %>
