<div class="media mb-2">
  <% if job_posting.company_logo_url.present? %>
    <div class="mr-4 company-logo-wrapper">
      <%= image_tag job_posting.company_logo_url, class: "img-fluid company-logo", style: "vertical-align: middle;" %>
    </div>
  <% end %>

  <div class="media-body">
    <div class="row">
      <div class="col-12 mb-3 mb-lg-0">
        <h1 class="h4 mb-1"><%= job_posting.title %></h1>
        <small class="h6 font-weight-light text-muted">
          <% if job_posting.company_url.present? %>
            <%= link_to job_posting.company_name, job_posting.company_url, target: "_blank", class: "text-link" %>
          <% else %>
            <%= job_posting.company_name %>
          <% end %>
          <span class="px-1">•</span>
          <%= job_posting.company_location %>
        </small>
        <ul class="list-inline my-3">
          <% job_posting.keywords.each do |keyword| %>
            <li class="list-inline-item pb-1">
              <%= link_to keyword,
                job_posting_searches_path(job_posting_search: { full_text_search: "#{job_posting_search&.full_text_search} #{keyword}".strip}),
                class: "btn btn-sm btn-soft-primary mb-1 job-listing-keyword", method: :post %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="d-flex">
  <div class="flex-fill">
    <h4 class="h4 mb-1">Job Description</h4>
    <div class="mb-4">
      <p class="text-muted font-size-1">
        Posted <%= time_ago_in_words(job_posting.start_date) %> ago
        <% if job_posting.source == ENUMS::JOB_SOURCES::GITHUB %>
          on <a href="https://jobs.github.com/" target="_blank">GitHub Jobs</a>
        <% end %>
        <% if job_posting.source == ENUMS::JOB_SOURCES::REMOTEOK %>
          on <a href="https://remoteok.io/" target="_blank">RemoteOK</a>
        <% end %>
      </p>
    </div>
  </div>

  <% if job_posting.active? %>
    <!-- AddToAny BEGIN -->
    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
      <a class="a2a_button_twitter"></a>
      <a class="a2a_button_linkedin"></a>
      <a class="a2a_button_facebook"></a>
      <a class="a2a_button_wechat"></a>
      <a class="a2a_button_email"></a>
      <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
    </div>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
    <!-- AddToAny END -->
  <% end %>
</div>

<div class="mb-7 job-listing__description trix-content">
  <%= job_posting.sanitized_description.html_safe %>
</div>

<% if job_posting.how_to_apply %>
  <hr class="faded" />

  <div class="mb-7 pt-3 job-listing__how-to-apply" id="how-to-apply">
    <h4 class="h4">How to apply</h4>
    <%= tag.div job_posting.sanitized_how_to_apply.html_safe, class: "trix-content" %>
  </div>
<% end %>

<%= link_to "Apply Now",
  @job_posting.url,
  class: "btn btn-sm btn-block my-5 btn-soft-primary transition-3d-hover",
  target: "_blank",
  rel: "noreferrer" if job_posting.active?
%>
