<%= tag.tr class: classes("even": job_posting_counter.even?, "odd": job_posting_counter.odd?, "opacity-40": %w[archived abandoned].any?(ENUMS::JOB_STATUSES[job_posting.status])) do %>
  <td class="align-middle text-secondary"><%= link_to job_posting.title, job_posting_path(job_posting), class: "text-link" %></td>
  <td class="align-middle text-secondary"><%= job_posting.end_date.to_s("bd") %></td>
  <td class="align-middle text-secondary text-center">
    <label class="checkbox-switch" style="margin-top: 4px; margin-bottom: 0px;">
      <input type="checkbox" class="checkbox-switch__input"
        data-controller="inline-toggle"
        data-action="change->inline-toggle#toggle"
        data-url="<%= manage_job_posting_path(job_posting, format: :json) %>"
        data-updating="false"
        <%= "checked" if job_posting.auto_renew? %>>
      <span class="checkbox-switch__slider"></span>
    </label>
  </td>
  <td class="align-middle text-<%= job_posting_status_color(job_posting.status) %>">
    <span class="fas fa-circle small mr-1"></span>
    <%= job_posting.status.humanize %>
  </td>
  <td class="align-middle text-secondary text-right">
    <%= render "/@shared/table_buttons/edit", link: edit_manage_job_posting_path(job_posting) %>
  </td>
<% end %>
