<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/job_postings" %>
  <%= render "/@shared/breadcrumbs/job_posting", job_posting: @job_posting %>
  <%= render "/@shared/breadcrumbs/edit_job_posting", job_posting: @job_posting, class: "active" %>
<% end %>

<% content_for :actions do %>
  <%= render "/@shared/actions/add_job_posting" %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Editing", "Job",
    subtitle: "Fill out the form below",
    icon: "fas fa-laptop-code" %>
<% end %>

<main id="content" role="main" class="bg-light">
  <div class="container space-1">
    <div class="bg-white p-4">
      <%= simple_form_for @job_posting, wrapper: :front_form,
            data: { controller: "job-posting-prospects-form select-country-province file-picker" } do |f| %>
          <%= render partial: "/job_posting_prospects/form", locals: { f: f } %>
          <%= f.submit "Save Changes", class: "btn btn-sm btn-primary transition-3d-hover mr-1" %>
          <%= link_to "Cancel", manage_job_postings_path, class: "btn btn-sm btn-soft-secondary transition-3d-hover" %>
      <% end %>
    </div>
  </div>
</main>