<main id="content" role="main">
  <!-- Hero Section -->
  <div class="bg-light">
    <div class="container space-top-md-4 space-1">
      <%= render partial: "/job_posting_searches/form" %>
    </div>
  </div>
  <!-- End Hero Section -->

  <!-- Jobs Section -->
  <%= tag.div class: "container space-2", data: { controller: "load-more" } do %>
    <h2>
      Found <strong><%= @job_postings_count %> <%= "Job".pluralize @job_postings_count %></strong>
      <% if @job_posting_search.present? %>
        <small><%= link_to "Reset Search", job_posting_search_path(0), class: "btn btn-link btn-sm text-muted", method: :delete %></small>
      <% end %>
    </h2>
    <ul class="list-group list-group-flush" data-target="load-more.container">
      <%= render partial: "list_items", locals: { job_postings: @job_postings, pagy: @pagy } %>
    </ul>
  <% end %>
  <!-- End Jobs Section -->
</main>
