<main id="content" role="main" class="bg-light">
  <div class="container space-top-3 space-bottom-2">
    <div class="w-lg-80 mx-lg-auto">
      <div class="card shadow-sm p-7 job-listing">
        <nav class="nav nav-icon nav-justified text-center">
          <%= link_to edit_job_posting_path(@job_posting), class: "nav-item" do %>
            <span class="nav-icon-action transition-3d-hover">
              <span class="fas fa-check-square nav-icon-action-inner"></span>
            </span>
            Modify Ad
          <% end %>
          <%= link_to "javascript;", class: "nav-item active text-dark" do %>
            <span class="nav-icon-action bg-success">
              <span class="fas fa-thumbs-up nav-icon-action-inner"></span>
            </span>
            Preview
          <% end %>
          <%= link_to new_purchase_job_posting_path(@job_posting), class: "nav-item" do %>
            <span class="nav-icon-action transition-3d-hover">
              <span class="fas fa-file-invoice-dollar nav-icon-action-inner"></span>
            </span>
            Purchase
          <% end %>
        </nav>

        <div class="space-1">
          <div class="border-bottom space-top-1">
            <div class="media mb-5">
              <% if @job_posting.company_logo_url.present? %>
                <div class="mr-4 company-logo-wrapper border rounded bg-white">
                  <%= image_tag @job_posting.company_logo_url, class: "img-fluid company-logo", style: "vertical-align: middle;" %>
                </div>
              <% end %>

              <div class="media-body">
                <div class="mb-3 mb-lg-0">
                  <h1 class="h4 mb-1"><%= @job_posting.title %></h1>
                  <small class="h6 font-weight-light text-muted">
                    <%= link_to @job_posting.company_name, @job_posting.company_url, target: "_blank", class: "text-link" %>
                    <span class="px-1">•</span>
                    <%= @job_posting.city %>, <%= @job_posting.country_code %>
                  </small>
                  <ul class="list-inline my-3">
                    <% @job_posting.keywords.each do |keyword| %>
                    <li class="list-inline-item pb-1">
                      <a class="btn btn-sm btn-soft-primary mb-1" style="padding: 3px 8px;"><%= keyword %></a>
                    </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-7 job-listing__description">
          <h2 class="h4">Job Description</h2>
          <%= @job_posting.description.html_safe %>
        </div>

        <% if @job_posting.how_to_apply %>
          <div class="mb-7 border-top pt-5 job-listing__how-to-apply">
            <h2 class="h4">How to Apply</h2>
            <%= @job_posting.how_to_apply.html_safe %>
          </div>
        <% end %>

        <div class="d-flex">
          <%= link_to "Make Changes", edit_job_posting_path(@job_posting),
                class: "btn btn-block btn-sm btn-soft-secondary transition-3d-hover mr-1" %>
          <%= link_to "Next", new_purchase_job_posting_path,
                class: "btn btn-block btn-sm btn-primary transition-3d-hover ml-1 mt-0" %>
        </div>
      </div>
    </div>
  </div>
</main>
