<main id="content" role="main">
  <div class="gradient-overlay-half-primary-v2">
    <div class="container space-top-lg-3 space-top-md-4 space-1 mt-3">
      <%= render partial: "/job_posting_searches/form" %>
    </div>
  </div>

  <div class="container">
    <div class="space-2">
      <div class="row">
        <div class="col-lg-8 mb-9 mb-lg-0">
          <%= render partial: "/job_postings/listing", locals: { job_posting: @job_posting, job_posting_search: @job_posting_search } %>
        </div>

        <div class="col-lg-4">
          <div class="pl-lg-4">

            <% if authorized_user.can_update_job_posting?(@job_posting, session.id) %>
              <%= link_to "Make Changes", edit_manage_job_posting_path(@job_posting),
                    class: "btn btn-sm btn-block btn-dark transition-3d-hover mb-3" %>
            <% end %>

            <!-- Sidebar Info -->
            <div class="card border-0 shadow-sm mb-3">
              <!-- Header -->
              <header id="SVGwave1BottomShapeID1" class="svg-preloader card-header border-bottom-0 bg-primary text-white p-0">
                <div class="pt-5 px-5">
                  <h3 class="h5">Job Summary</h3>
                </div>

                <figure class="ie-wave-1-bottom mt-n5">
                  <%= image_tag "svg/components/wave-1-bottom.svg", class: "js-svg-injector", data: { parent: "#SVGwave1BottomShapeID1" } %>
                </figure>
              </header>
              <!-- End Header -->

              <!-- Content -->
              <div class="card-body pt-1 px-5 pb-5">
                <% if @job_posting.company_host_url.present? %>
                  <div class="media mb-3">
                    <div class="min-width-4 text-center text-primary mt-1 mr-3">
                      <span class="fas fa-globe"></span>
                    </div>
                    <div class="media-body">
                      <%= link_to @job_posting.company_host_url,
                        @job_posting.company_url,
                        class: "font-weight-medium",
                        target: "_blank",
                        rel: "noreferrer"
                      %>
                      <small class="d-block text-secondary">Website</small>
                    </div>
                  </div>
                <% end %>

                <div class="media mb-3">
                  <div class="min-width-4 text-center text-primary mt-1 mr-3">
                    <span class="fas fa-map-marked-alt"></span>
                  </div>
                  <div class="media-body">
                    <span class="d-block font-weight-medium"><%= @job_posting.city %><% if @job_posting.remote? %>
                      / <%= link_to "Remote", "javascript:;", class: "text-link", data: {
                         toggle: "popover",
                         title: "Only for applicants from:",
                         content: @job_posting.remote_country_codes.join(", ")
                        } %>
                    <% end %></span>
                    <small class="d-block text-secondary">Location</small>
                  </div>
                </div>

                <div class="media mb-3">
                  <div class="min-width-4 text-center text-primary mt-1 mr-3">
                    <span class="fas fa-clock"></span>
                  </div>
                  <div class="media-body">
                    <span class="d-block font-weight-medium"><%= @job_posting.job_type.humanize.titleize %></span>
                    <small class="d-block text-secondary">Job type</small>
                  </div>
                </div>

                <% if @job_posting.min_annual_salary_cents > 0 && @job_posting.display_salary? %>
                  <div class="media mb-3">
                    <div class="min-width-4 text-center text-primary mt-1 mr-3">
                      <span class="fas fa-money-bill-alt"></span>
                    </div>
                    <div class="media-body">
                      <span class="d-block font-weight-medium">Salary</span>
                      <small class="d-block text-secondary"><%= @job_posting.salary_range %></small>
                    </div>
                  </div>
                <% end %>

                <%= link_to "Apply Now",
                  @job_posting.url,
                  target: "_blank",
                  rel: "noreferrer",
                  class: "btn btn-sm btn-block mt-5 btn-soft-primary transition-3d-hover"
                %>
              </div>
              <!-- End Content -->
            </div>
            <!-- End Sidebar Info -->

            <div class="text-center mb-9">
              <%= link_to @report_job_post_link, class: "text-muted small" do %>
                <small class="fas fa-flag mr-1"></small>
                Report this job
              <% end %>
            </div>

            <div id="codefund"></div>
            <script src="https://codefund.app/properties/173/funder.js?keywords=<%= @job_posting.keywords.join(',') %>" async="async"></script>
          </div>
        </div>
      </div>

      <!-- Sticky Block End Point -->
      <div id="stickyBlockEndPoint"></div>
    </div>
  </div>

  <div id="SVGwave5Top" class="svg-preloader position-relative gradient-half-primary-v1">
    <div class="container space-top-3 space-top-md-4 space-bottom-2">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
        <h2 class="font-weight-medium text-light">Similar Jobs</h2>
        <p class="text-light">Here are some more jobs that match your search criteria</p>
      </div>
      <!-- End Title -->

      <div class="card-deck d-block d-lg-flex card-lg-gutters-2">
        <%= render partial: "/job_postings/card", collection: @similar_job_postings[0..3], as: :job_posting %>
      </div>

      <div class="card-deck d-block d-lg-flex card-lg-gutters-2">
        <%= render partial: "/job_postings/card", collection: @similar_job_postings[4..7], as: :job_posting %>
      </div>

      <div class="card-deck d-block d-lg-flex card-lg-gutters-2">
        <%= render partial: "/job_postings/card", collection: @similar_job_postings[8..11], as: :job_posting %>
      </div>

      <div class="text-center mt-3">
        <%= link_to "View all Open Jobs", job_posting_search_path(0), class: "btn btn-white text-primary transition-3d-hover", method: :delete %>
      </div>

      <figure class="position-absolute top-0 right-0 left-0 z-index-2">
        <%= image_tag "svg/components/wave-5-top.svg", class: "js-svg-injector", data: { parent: "#SVGwave5Top" } %>
      </figure>
    </div>

  </div>
</main>
