<%= link_to campaign, class: "card card-frame mb-5" do %>
  <header class="card-header p-4">
    <div class="media align-items-center">
      <div class="d-inline-block position-relative u-avatar mr-3">
        <%= image_tag campaign.creative.small_image || "missing-200x200.png", class: "img-fluid" %>
        <span class="badge badge-xs badge-outline-<%= campaign_status_color(campaign.status) %> badge-pos badge-pos--top-left rounded-circle"></span>
      </div>
      <div class="media-body">
        <h3 class="h6 mb-0"><%= campaign.name %></h3>
        <span class="small text-success">
          <%= number_to_percentage campaign.total_click_rate, precision: 2 %>
          CTR
        </span>
      </div>
    </div>
  </header>

  <div class="card-body p-4">
    <div class="row mb-7">
      <div class="col-6">
        <h4 class="small text-muted">
          Goal: <strong class="text-secondary"><%= campaign.total_budget.format %></strong>
        </h4>
        <div class="js-hr-progress progress" style="height: 6px;">
          <div class="js-hr-progress-bar progress-bar bg-success" role="progressbar" style="width: <%= campaign.percentage_complete_by_budget %>;" aria-valuenow="<%= campaign.percentage_complete_by_budget %>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="col-6">
        <h4 class="small text-muted">
          Duration: <strong class="text-secondary"><%= campaign.duration || "Unknown" %></strong>
        </h4>
        <div class="js-hr-progress progress" style="height: 6px;">
          <div class="js-hr-progress-bar progress-bar bg-warning" role="progressbar" style="width: <%= campaign.percentage_complete_by_date %>;" aria-valuenow="<%= campaign.percentage_complete_by_date %>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>

    <%# TODO: Nate - let's replace this with a better charting library %>
    <div class="js-bar-chart"
         data-series="<%= campaign.daily_impressions_counts.to_json.html_safe %>"
         data-is-show-axis-x="false"
         data-is-show-axis-y="false"
         data-height="62px"
         data-high="10"
         data-low="0"
         data-distance="5"
         data-stroke-width="6"
         data-stroke-color="#19a0ff"
         id="barCharts0"><svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="62px" class="ct-chart-bar" style="width: 100%; height: 62px;"><g class="ct-grids"></g><g><g class="ct-series ct-series-a"><line x1="4.373653017241379" x2="4.373653017241379" y1="62" y2="0" class="ct-bar" ct:value="10"></line><line x1="13.120959051724137" x2="13.120959051724137" y1="62" y2="12.399999999999999" class="ct-bar" ct:value="8"></line><line x1="21.868265086206897" x2="21.868265086206897" y1="62" y2="31" class="ct-bar" ct:value="5"></line><line x1="30.61557112068965" x2="30.61557112068965" y1="62" y2="18.6" class="ct-bar" ct:value="7"></line><line x1="39.36287715517241" x2="39.36287715517241" y1="62" y2="24.799999999999997" class="ct-bar" ct:value="6"></line><line x1="48.110183189655174" x2="48.110183189655174" y1="62" y2="24.799999999999997" class="ct-bar" ct:value="6"></line><line x1="56.85748922413793" x2="56.85748922413793" y1="62" y2="0" class="ct-bar" ct:value="10"></line><line x1="65.60479525862068" x2="65.60479525862068" y1="62" y2="0" class="ct-bar" ct:value="10"></line><line x1="74.35210129310344" x2="74.35210129310344" y1="62" y2="12.399999999999999" class="ct-bar" ct:value="8"></line><line x1="83.0994073275862" x2="83.0994073275862" y1="62" y2="31" class="ct-bar" ct:value="5"></line><line x1="91.84671336206897" x2="91.84671336206897" y1="62" y2="18.6" class="ct-bar" ct:value="7"></line><line x1="100.59401939655172" x2="100.59401939655172" y1="62" y2="24.799999999999997" class="ct-bar" ct:value="6"></line><line x1="109.34132543103448" x2="109.34132543103448" y1="62" y2="24.799999999999997" class="ct-bar" ct:value="6"></line><line x1="118.08863146551724" x2="118.08863146551724" y1="62" y2="0" class="ct-bar" ct:value="10"></line><line x1="126.83593749999999" x2="126.83593749999999" y1="62" y2="24.799999999999997" class="ct-bar" ct:value="6"></line><line x1="135.58324353448273" x2="135.58324353448273" y1="62" y2="24.799999999999997" class="ct-bar" ct:value="6"></line><line x1="144.3305495689655" x2="144.3305495689655" y1="62" y2="0" class="ct-bar" ct:value="10"></line><line x1="153.07785560344826" x2="153.07785560344826" y1="62" y2="0" class="ct-bar" ct:value="10"></line><line x1="161.82516163793102" x2="161.82516163793102" y1="62" y2="12.399999999999999" class="ct-bar" ct:value="8"></line><line x1="170.57246767241378" x2="170.57246767241378" y1="62" y2="31" class="ct-bar" ct:value="5"></line><line x1="179.31977370689654" x2="179.31977370689654" y1="62" y2="18.6" class="ct-bar" ct:value="7"></line><line x1="188.06707974137927" x2="188.06707974137927" y1="62" y2="24.799999999999997" class="ct-bar" ct:value="6"></line><line x1="196.81438577586204" x2="196.81438577586204" y1="62" y2="24.799999999999997" class="ct-bar" ct:value="6"></line><line x1="205.5616918103448" x2="205.5616918103448" y1="62" y2="0" class="ct-bar" ct:value="10"></line><line x1="214.30899784482756" x2="214.30899784482756" y1="62" y2="24.799999999999997" class="ct-bar" ct:value="6"></line><line x1="223.05630387931032" x2="223.05630387931032" y1="62" y2="24.799999999999997" class="ct-bar" ct:value="6"></line><line x1="231.80360991379308" x2="231.80360991379308" y1="62" y2="0" class="ct-bar" ct:value="10"></line><line x1="240.55091594827584" x2="240.55091594827584" y1="62" y2="0" class="ct-bar" ct:value="10"></line><line x1="249.29822198275858" x2="249.29822198275858" y1="62" y2="12.399999999999999" class="ct-bar" ct:value="8"></line></g></g><g class="ct-labels"></g></svg></div><style id="barChartsStyle0">#barCharts0 .ct-series .ct-bar {stroke-width: 6; stroke: #19a0ff}</style>
  </div>
<% end %>
