<%= simple_form_for campaign, html: {
  class: "js-validate",
  data: {
    controller: "campaign-form",
    target: "campaign-form.form",
    selected_creative_ids: campaign.creative_ids,
  }
}, wrapper: :front_form do |f| %>
  <%= render "/shared/forms/error_messages", object: campaign %>
  <!-- Details -->
  <%= card do %>
    <%= standalone_card_header text: "Details" %>
    <%= card_body do %>
      <div class="row">
        <% if authorized_user.can_admin_system? %>
          <%= tag.div f.input(:user_id, label: "Advertiser", collection: advertisers_for_select, required: true,
            input_html: {class: "form-control", data: {
              controller: "select",
              target: "campaign-form.advertiserSelectField"
            }}), class: "col-md-6 mb-3" %>
        <% else %>
          <%= f.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
          <div class="col-md-6 mb-3">
            <div class="js-form-message js-focus-state string required property_name">
              <label class="form-label string required" for="property_name">Advertiser <abbr title="required">*</abbr></label>
              <input type="text" class="form-control" placeholder="<%= current_user.name %>" aria-label="<%= current_user.name %>" readonly />
            </div>
          </div>
        <% end %>
        <%= tag.div f.input(:status, label: "Status", collection: ENUMS::PROPERTY_STATUSES.values.map { |status| [status.capitalize, status] }, required: true,
          input_html: {class: "form-control", data: {controller: "select"}}), class: "col-md-6 mb-3" if authorized_user.can_admin_system? %>
        <%= tag.div f.input(:name, required: true, input_html: {class: "form-control"},
          data: {msg: "Please enter a property name", error_class: "u-has-error", success_class: "u-has-success"}), class: "col-md-6 mb-3" %>
        <%= tag.div f.input(:date_range, required: true,
            input_html: {
              class: "js-range-datepicker form-control bg-white rounded-right",
              data: {
                controller: "select-date-range",
                start_date: (campaign.start_date || Date.today).strftime("%m/%d/%Y"),
                end_date: (campaign.end_date || 29.days.from_now).strftime("%m/%d/%Y")
              }
            }), class: "col-md-6 mb-3" if authorized_user.can_admin_system? %>
        <div class="col-12 <%= "mb-5" if authorized_user.can_admin_system? %>">
          <%= f.input :url, as: :string, required: true, input_html: {class: "form-control"},
            placeholder: "https://example.com/?utm_source=codefund&utm_campaign={{campaign_id}}",
            data: {msg: "Please enter a valid URL", error_class: "u-has-error", success_class: "u-has-success", rule_url: true} %>
          <small class="text-muted mt-4 mb-2 d-block">Use any of the following variables in the URL</small>
          <%= table compact: true do %>
            <%= table_head do %>
              <%= table_row header: true do %>
                <%= table_column do %>
                  &nbsp;
                <% end %>
                <%= table_column do %>
                  Variable
                <% end %>
                <%= table_column do %>
                  Example Value
                <% end %>
                <%= table_column do %>
                  Description
                <% end %>
              <% end %>
            <% end %>
            <%= table_body do %>
              <%= table_row_controller("copy") do %>
                <%= table_data do %><span class="cursor-pointer text-primary" title="Copy to clipboard" data-toggle="tooltip" data-action="click->copy#copy"><i class="far fa-copy"></i></span><% end %>
                <%= table_data do %><input type="text" class="border-0 bg-transparent code" value="{{campaign_id}}" style="border:none;" disabled data-target="copy.input" /><% end %>
                <%= table_data do %><%= campaign.id || 123 %><% end %>
                <%= table_data do %>The campaign <code class="code">id</code><% end %>
              <% end %>
              <%= table_row_controller("copy") do %>
                <%= table_data do %><span class="cursor-pointer text-primary" title="Copy to clipboard" data-toggle="tooltip" data-action="click->copy#copy"><i class="far fa-copy"></i></span><% end %>
                <%= table_data do %><input type="text" class="border-0 bg-transparent code" value="{{campaign_name}}" style="border:none;" disabled data-target="copy.input" /><% end %>
                <%= table_data do %><%= campaign.name || "Example" %><% end %>
                <%= table_data do %>The campaign <code class="code">name</code><% end %>
              <% end %>
              <%= table_row_controller("copy") do %>
                <%= table_data do %><span class="cursor-pointer text-primary" title="Copy to clipboard" data-toggle="tooltip" data-action="click->copy#copy"><i class="far fa-copy"></i></span><% end %>
                <%= table_data do %><input type="text" class="border-0 bg-transparent code" value="{{creative_id}}" style="border:none;" disabled data-target="copy.input" /><% end %>
                <%= table_data do %><%= campaign.creatives.first&.id || 123 %><% end %>
                <%= table_data do %>The creative <code class="code">id</code> that was rendered<% end %>
              <% end %>
              <%= table_row_controller("copy") do %>
                <%= table_data do %><span class="cursor-pointer text-primary" title="Copy to clipboard" data-toggle="tooltip" data-action="click->copy#copy"><i class="far fa-copy"></i></span><% end %>
                <%= table_data do %><input type="text" class="border-0 bg-transparent code" value="{{creative_name}}" style="border:none;" disabled data-target="copy.input" /><% end %>
                <%= table_data do %><%= campaign.creatives.first&.name || "Example" %><% end %>
                <%= table_data do %>The creative <code class="code">name</code> that was rendered<% end %>
              <% end %>
              <%= table_row_controller("copy") do %>
                <%= table_data do %><span class="cursor-pointer text-primary" title="Copy to clipboard" data-toggle="tooltip" data-action="click->copy#copy"><i class="far fa-copy"></i></span><% end %>
                <%= table_data do %><input type="text" class="border-0 bg-transparent code" value="{{property_id}}" style="border:none;" disabled data-target="copy.input" /><% end %>
                <%= table_data do %><%= campaign.matching_properties.first&.id || 123 %><% end %>
                <%= table_data do %>The property <code class="code">id</code> that displayed the ad<% end %>
              <% end %>
              <%= table_row_controller("copy") do %>
                <%= table_data do %><span class="cursor-pointer text-primary" title="Copy to clipboard" data-toggle="tooltip" data-action="click->copy#copy"><i class="far fa-copy"></i></span><% end %>
                <%= table_data do %><input type="text" class="border-0 bg-transparent code" value="{{property_name}}" style="border:none;" disabled data-target="copy.input" /><% end %>
                <%= table_data do %><%= campaign.matching_properties.first&.name || "Example" %><% end %>
                <%= table_data do %>The property <code class="code">name</code> that displayed the ad<% end %>
              <% end %>
              <%= table_row_controller("copy") do %>
                <%= table_data do %><span class="cursor-pointer text-primary" title="Copy to clipboard" data-toggle="tooltip" data-action="click->copy#copy"><i class="far fa-copy"></i></span><% end %>
                <%= table_data do %><input type="text" class="border-0 bg-transparent code" value="{{property_url}}" style="border:none;" disabled data-target="copy.input" /><% end %>
                <%= table_data do %><%= campaign.matching_properties.first&.url || "https://www.example.com" %><% end %>
                <%= table_data do %>The property <code class="code">url</code> that displayed the ad<% end %>
              <% end %>
              <%= table_row_controller("copy") do %>
                <%= table_data do %><span class="cursor-pointer text-primary" title="Copy to clipboard" data-toggle="tooltip" data-action="click->copy#copy"><i class="far fa-copy"></i></span><% end %>
                <%= table_data do %><input type="text" class="border-0 bg-transparent code" value="{{template}}" style="border:none;" disabled data-target="copy.input" /><% end %>
                <%= table_data do %>default<% end %>
                <%= table_data do %>The ad <code class="code">template</code> used to render the ad<% end %>
              <% end %>
              <%= table_row_controller("copy") do %>
                <%= table_data do %><span class="cursor-pointer text-primary" title="Copy to clipboard" data-toggle="tooltip" data-action="click->copy#copy"><i class="far fa-copy"></i></span><% end %>
                <%= table_data do %><input type="text" class="border-0 bg-transparent code" value="{{theme}}" style="border:none;" disabled data-target="copy.input" /><% end %>
                <%= table_data do %>light<% end %>
                <%= table_data do %>The ad <code class="code">theme</code> used to render the ad<% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <% if authorized_user.can_admin_system? %>
        <div class="row">
          <div class="col-12 mb-2">
            <div class="media align-items-center mb-3">
              <label class="switcher-control mb-0 mr-3">
                <%= f.check_box :paid_fallback, class: "switcher-input" %>
                <span class="switcher-indicator"></span>
              </label>
              <label class="media-body text-muted mb-0">
                <span class="d-block text-dark">Is this a paid fallback campaign?</span>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-2">
            <div class="media align-items-center mb-3">
              <label class="switcher-control mb-0 mr-3">
                <%= f.check_box :fallback, class: "switcher-input" %>
                <span class="switcher-indicator"></span>
              </label>
              <label class="media-body text-muted mb-0">
                <span class="d-block text-dark">Is this a fallback campaign?</span>
              </label>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <%= card do %>
    <%= card_header do %>
      <%= card_title do %>
        Creatives
      <% end %>
      <%= card_subtitle do %>
        Pick which creatives you would like to use (only approved creatives are available)
        <small class="mt-1 d-block text-primary opacity-70">Multivariate testing is used to determine the most effective creative</small>
      <% end %>
    <% end %>
    <%= card_body do %>
      <div class="row" data-controller="campaignForm">
        <div data-target="campaign-form.creativesWrapper">
          <%= render partial: "/creative_options/options",
              locals: {
                selected_creative_ids: campaign.creative_ids,
                creatives: campaign.user.creatives.active.standard.order(name: :asc)
              } %>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if authorized_user.can_admin_system? %>
    <%= card do %>
      <%= standalone_card_header text: "Geo Targeting" %>
      <%= card_body do %>
        <div class="row" data-controller="select-geo-targets" data-action="cf:select:changed->select-geo-targets#updateProvinceCodeOptions">
          <div class="col-12 mb-3">
            <%= f.label :country_codes, label: "Targeted Countries", class: "form-label", required: true %>
            <div class="checkbox-tree" data-target="select-geo-targets.countryCodesSelect">
              <div class="mb-1">
                <%= link_to "Select All", "javascript:;", class: "btn text-uppercase btn btn-subtle-primary btn-xs py-0", data: {action: "click->select-geo-targets#selectAll"} %>
                <%= link_to "Clear", "javascript:;", class: "btn text-uppercase btn btn-subtle-primary btn-xs py-0", data: {action: "click->select-geo-targets#selectNone"} %>
                <%= link_to "Expand All", "javascript:;", class: "btn text-uppercase btn btn-subtle-primary btn-xs py-0", data: {action: "click->select-geo-targets#expandAll"} %>
                <%= link_to "Collapse All", "javascript:;", class: "btn text-uppercase btn btn-subtle-primary btn-xs py-0", data: {action: "click->select-geo-targets#collapseAll"} %>
              </div>
              <% Country.all.map(&:subregion).uniq.sort.each do |subregion| %>
                <div class="checkbox-tree__branch" data-controller="checkbox-tree-branch">
                  <i class="fa fa-caret-right"
                      data-target="checkbox-tree-branch.toggle"
                      data-action="click->checkbox-tree-branch#toggleBranch">
                  </i>
                  <div class="form-check">
                    <%= check_box_tag subregion.downcase,
                        nil,
                        false,
                        class: "form-check-input",
                        data: {
                          target: "checkbox-tree-branch.selectAll",
                          action: "change->checkbox-tree-branch#toggleSelectAll"
                        } %>
                    <%= label_tag subregion.downcase, subregion, class: "form-check-label" %>
                  </div>
                  <div class="checkbox-tree__branch-leaves" data-target="checkbox-tree-branch.leaves">
                    <%= f.input :country_codes,
                        as: :check_boxes,
                        collection: countries_with_codes_for_subregion(subregion),
                        input_html: {data: {target: "checkbox-tree-branch.leaf", action: "change->checkbox-tree-branch#handleLeafChange"}} %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-12 mb-3" data-controller="select-multiple">
            <%= f.input :province_codes, required: false, collection: [], label: "Targeted States/Provinces",
                input_html: {multiple: true, data: {controller: "select", target: "select-multiple.select select-geo-targets.provinceCodesSelect", provinces: provinces_for_stimulus, selected: @campaign.province_codes}} %>
            <div class="d-block mt-1">
              <%= link_to "All", request.path, class: "btn text-uppercase btn-subtle-dark btn-xs py-0", data: {action: "click->select-multiple#selectAll"} %>
              <%= link_to "Clear", request.path, class: "btn text-uppercase btn-subtle-dark btn-xs py-0", data: {action: "click->select-multiple#clearSelections"} %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <% if authorized_user.can_admin_system? %>
    <%= card do %>
      <%= standalone_card_header text: "Additional Targeting" %>
      <%= card_body do %>
        <div class="row">
          <div class="col-12 mb-3" data-controller="select-multiple">
            <%= f.input :keywords, collection: keywords_for_select, label: "Targeted Keywords",
              input_html: {multiple: true, data: {controller: "select", target: "select-multiple.select"}} %>
            <div class="d-block mt-1">
              <%= link_to "All", request.path, class: "btn text-uppercase btn-subtle-dark btn-xs py-0", data: {action: "click->select-multiple#selectAll"} %>
              <%= link_to "Clear", request.path, class: "btn text-uppercase btn-subtle-dark btn-xs py-0", data: {action: "click->select-multiple#clearSelections"} %>
            </div>
          </div>
          <div class="col-12 mb-4" data-controller="select-multiple">
            <%= f.input :negative_keywords, collection: keywords_for_select, label: "Negative Keywords",
              input_html: {multiple: true, data: {controller: "select", target: "select-multiple.select"}} %>
            <div class="d-block mt-1">
              <%= link_to "All", request.path, class: "btn text-uppercase btn-subtle-dark btn-xs py-0", data: {action: "click->select-multiple#selectAll"} %>
              <%= link_to "Clear", request.path, class: "btn text-uppercase btn-subtle-dark btn-xs py-0", data: {action: "click->select-multiple#clearSelections"} %>
            </div>
          </div>
          <div class="col-12 mb-3" data-controller="select-multiple">
            <%= f.input :prohibited_property_ids, collection: properties_for_select,
              label: "Prohibited Properties <small class='ml-2 text-danger'><i class='fas fa-exclamation-triangle'></i> deprioritized after assigned properties</small>".html_safe,
              input_html: {multiple: true, data: {controller: "select", target: "select-multiple.select"}} %>
            <div class="d-block mt-1">
              <%= link_to "Clear", request.path, class: "btn text-uppercase btn-subtle-dark btn-xs py-0", data: {action: "click->select-multiple#clearSelections"} %>
            </div>
          </div>
          <div class="col-12 mb-3" data-controller="select-multiple">
            <%= f.input :assigned_property_ids, collection: properties_for_select,
              label: "Assigned Properties <small class='ml-2 text-danger'><i class='fas fa-exclamation-triangle'></i> prioritized over keywords</small>".html_safe,
              input_html: {multiple: true, data: {controller: "select", target: "select-multiple.select"}} %>
            <div class="d-block mt-1">
              <%= link_to "Clear", request.path, class: "btn text-uppercase btn-subtle-dark btn-xs py-0", data: {action: "click->select-multiple#clearSelections"} %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= card do %>
      <%= standalone_card_header text: "Budget" %>
      <%= card_body do %>
        <div class="row">
          <div class="col-12 mb-2">
            <div class="media align-items-center mb-3">
              <label class="switcher-control mb-0 mr-3">
                <%= f.check_box :fixed_ecpm, class: "switcher-input" %>
                <span class="switcher-indicator"></span>
              </label>
              <label class="media-body text-muted mb-0">
                <span class="d-block text-dark">Use fixed eCPM pricing? <small class="ml-2 text-muted">Do NOT adjust by country</small></span>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <%= f.input(:ecpm, as: :currency, currency: "$") %>
            <small id="passwordHelpBlock" class="form-text text-muted">
              Effective cost per thousand impressions
            </small>
          </div>
          <%= tag.div f.input(:total_budget, label: "Total Budget Cap", as: :currency, currency: "$"), class: "col-md-6 mb-3" %>
        </div>
        <div class="row">
          <%= tag.div f.input(:hourly_budget, label: "Hourly Budget Cap", as: :currency, currency: "$"), class: "col-md-6 mb-3" %>
          <%= tag.div f.input(:daily_budget, label: "Daily Budget Cap", as: :currency, currency: "$"), class: "col-md-6 mb-3" %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <%= button_panel margin: "my-0" do %>
    <%= f.submit "Save Campaign", class: "btn btn-primary" %>
    <%= cancel_button(campaigns_path) %>
  <% end %>
<% end %>
