<%= simple_form_for campaign, html: { data: { controller: "campaigns-form" }} do |f| %>
  <div class="row mt-5">
    <%= tag.div f.input(:name, required: true), class: "col-12 col-md-6" %>
    <%= tag.div f.input(:status, collection: Campaign::STATUSES, as: :check_boxes, required: true), class: "col-12 col-md-6 check-inline" %>

    <div class="w-100 d-none d-md-block"></div>

    <div class="col-12 col-md-6">
      <%= f.association :user, collection: users_for_select, label: "Advertiser", label_method: :detailed_name, prompt: "Choose...", required: true,
        input_html: { data: { controller: "select", action: "change->campaigns-form#userSelected", target: "campaigns-form.userSelect" }} %>
    </div>
    <div class="col-12 col-md-6">
      <%= f.association :creative, collection: creatives_for_select, label: "Creative", prompt: "Choose...", required: true,
        input_html: { data: { controller: "select", target: "campaigns-form.creativeSelect" }} %>
    </div>

    <div class="w-100 d-none d-md-block"></div>

    <%= tag.div f.input(:date_range, input_html: { data: { controller: "select-date-range" }}), class: "col-12 col-md-6" %>
    <%= tag.div f.input(:redirect_url, as: :string), class: "col-12 col-md-6" %>

    <div class="w-100 d-none d-md-block"></div>

    <div class="col-12">
      <%= f.input :included_countries, collection: countries_for_select, label: "Targeted Counties",
        input_html: { multiple: true, data: { controller: "select", target: "campaigns-form.includedCountriesSelect", developed_markets: ENUMS[:developed_markets].keys.join(",") }} %>
      <%= link_to "All", request.path, class: "btn btn-link btn-sm pb-0", style: "position:relative;top:-15px;", data: { action: "click->campaigns-form#selectAllIncludedCountries" }  %>
      <%= link_to "Developed markets", request.path, class: "btn btn-link btn-sm pb-0", style: "position:relative;top:-15px;", data: { action: "click->campaigns-form#selectDevelopedMarketCountries" }  %>
      <%= link_to "Clear", request.path, class: "btn btn-link btn-sm pb-0", style: "position:relative;top:-15px;", data: { action: "click->campaigns-form#deselectAllIncludedCountries" }  %>
    </div>

    <div class="w-100 d-none d-md-block"></div>

    <div class="col-12 col-md-6">
      <%= f.input :included_topic_categories, collection: ENUMS[:topic_categories].values, label: "Targeted Topics",
        input_html: { multiple: true, class: "mb-0", data: { controller: "select", target: "campaigns-form.includedTopicsSelect" }} %>
      <%= link_to "All", request.path, class: "btn btn-link btn-sm pb-0", style: "position:relative;top:-15px;", data: { action: "click->campaigns-form#selectAllIncludedTopics" }  %>
      <%= link_to "Clear", request.path, class: "btn btn-link btn-sm pb-0", style: "position:relative;top:-15px;", data: { action: "click->campaigns-form#deselectAllIncludedTopics" }  %>
    </div>
    <div class="col-12 col-md-6">
      <%= f.input :excluded_topic_categories, collection: ENUMS[:topic_categories].values, label: "Excluded Topics",
        input_html: { multiple: true, data: { controller: "select", target: "campaigns-form.excludedTopicsSelect" }} %>
      <%= link_to "All", request.path, class: "btn btn-link btn-sm pb-0", style: "position:relative;top:-15px;", data: { action: "click->campaigns-form#selectAllExcludedTopics" }  %>
      <%= link_to "Clear", request.path, class: "btn btn-link btn-sm pb-0", style: "position:relative;top:-15px;", data: { action: "click->campaigns-form#deselectAllExcludedTopics" }  %>
    </div>

    <div class="w-100 d-none d-md-block"></div>

    <div class="col-12 col-md-6">
      <%= f.input :included_programming_languages, collection: ENUMS[:programming_languages].values, label: "Targeted Programming Languages",
        input_html: { multiple: true, class: "mb-0", data: { controller: "select", target: "campaigns-form.includedProgrammingLanguagesSelect" }} %>
      <%= link_to "All", request.path, class: "btn btn-link btn-sm pb-0", style: "position:relative;top:-15px;", data: { action: "click->campaigns-form#selectAllIncludedProgrammingLanguages" }  %>
      <%= link_to "Clear", request.path, class: "btn btn-link btn-sm pb-0", style: "position:relative;top:-15px;", data: { action: "click->campaigns-form#deselectAllIncludedProgrammingLanguages" }  %>
    </div>
    <div class="col-12 col-md-6">
      <%= f.input :excluded_programming_languages, collection: ENUMS[:programming_languages].values, label: "Excluded Programming Languages",
        input_html: { multiple: true, data: { controller: "select", target: "campaigns-form.excludedProgrammingLanguagesSelect" }} %>
      <%= link_to "All", request.path, class: "btn btn-link btn-sm pb-0", style: "position:relative;top:-15px;", data: { action: "click->campaigns-form#selectAllExcludedProgrammingLanguages" }  %>
      <%= link_to "Clear", request.path, class: "btn btn-link btn-sm pb-0", style: "position:relative;top:-15px;", data: { action: "click->campaigns-form#deselectAllExcludedProgrammingLanguages" }  %>
    </div>

    <div class="w-100 d-none d-md-block"></div>

    <%= tag.div f.input(:total_spend, label: "Total Budget", as: :decimal, required: true), class: "col-12 col-md-4" %>
    <%= tag.div f.input(:budget_daily_amount, label: "Daily Budget", as: :decimal, required: true), class: "col-12 col-md-4" %>
    <%= tag.div f.input(:ecpm, label: "eCPM", as: :decimal, required: true), class: "col-12 col-md-4" %>

    <div class="w-100 d-none d-md-block"></div>

    <%= tag.div f.button(:submit, class: "btn-lg btn-primary"), class: "col-auto mt-4" %>
  </div>
<% end %>
