<%= simple_form_for campaign do |f| %>
  <div class="row mt-5">
    <div class="col-12 col-md-6">
      <%= f.association :user,
        collection: User.sponsor.order(:company, :first_name, :last_name),
        label_method: :detailed_name,
        label: "Advertiser",
        prompt: "Choose a user...",
        input_html: { data: { controller: "select" }} %>
    </div>
    <%= tag.div f.input(:name, required: true), class: "col-12 col-md-6" %>

    <div class="w-100 d-none d-md-block"></div>

    <%= tag.div f.input(:date_range, input_html: { data: { controller: "daterange" }}), class: "col-12 col-md-6" %>
    <%= tag.div f.input(:status, collection: Campaign::STATUSES, as: :check_boxes), class: "col-12 col-md-6 check-inline" %>

    <div class="w-100 d-none d-md-block"></div>

    <div class="col-12 col-md-6">
      <%= f.association :creative,
        collection: @campaign.user&.creatives&.order(:name) || Creative.order(:name),
        label_method: :name,
        label: "Creative",
        prompt: "Choose a creative...",
        input_html: { data: { controller: "select" }} %>
    </div>
    <%= tag.div f.input(:redirect_url, as: :string), class: "col-12 col-md-6 check-inline" %>

    <div class="w-100 d-none d-md-block"></div>

    <%= tag.div f.button(:submit, class: "btn-lg btn-primary"), class: "col-auto mt-4" %>
  </div>
<% end %>
