<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/campaigns" %>
  <%= render "/@shared/breadcrumbs/campaign", campaign: campaign, class: "active" %>
<% end %>

<% content_for :actions do %>
  <ul class="nav" style="width: 130px; justify-content: flex-end;">
    <li><%= render "/@shared/actions/edit_campaign", campaign: campaign %></li>
    <li class="ml-1"><%= render "/@shared/actions/generic", link: new_campaign_path(clone: campaign.id), icon: "fa fa-copy" %></li>
  </ul>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Viewing", "Campaign",
    subtitle: campaign.name,
    icon: "fas fa-ad" %>
<% end %>

<main id="content" role="main" class="bg-light">
  <div class="container space-1">
    <ul class="nav nav-classic">
      <%= tag.li(active_link_to("Details", campaign_path(campaign), active: :exact,
        data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
      <%= tag.li(active_link_to("Overview", campaign_dashboards_path(campaign),
        data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
      <%= tag.li(active_link_to("Targeting", campaign_targeting_path(campaign),
        data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
      <%= tag.li(active_link_to("Budget", campaign_budget_path(campaign),
        data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
      <%= tag.li(active_link_to("Properties", campaign_properties_path(campaign),
        data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
      <%= tag.li(active_link_to("Comments", campaign_comments_path(campaign),
        data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
      <%= tag.li(active_link_to("Events", campaign_events_path(campaign),
        data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
      <%= tag.li(active_link_to("Revisions", campaign_versions_path(campaign),
        data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
    </ul>
    
    <div class="bg-white border border-top-0 p-4">
      <%= yield %>
    </div>
  </div>
</main>