<%= card do %>
  <%= card_header add_class: "border-0" do %>
    <div class="d-flex justify-content-between align-items-center">
      <span class="badge bg-muted" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="End Date">
        <span class="sr-only">End Date</span>
        <i class="fa fa-calendar-alt text-muted mr-1"></i>
        <%= campaign.end_date.to_s("mm/dd/yyyy") %>
      </span>
      <span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Organization Balance: <%= campaign.organization.balance.format %>">
        <span class="sr-only">Organization Balance: <%= campaign.organization.balance.format %></span>
        <i class="fas fa-building text-primary"></i>
      </span>
    </div>
  <% end %>
  <%= card_body add_class: "text-center" do %>
    <%= image_tag campaign.creative.wide_image || asset_pack_path("media/images/placeholders/missing-200x200.png"), height: 124, class: "mw-100 mb-4" %>
    <h5 class="card-title">
      <%= link_to campaign_path(campaign) do %>
        <%= truncate(campaign.name, length: 36) %>
       <% end %>
    </h5>
    <p class="card-subtitle text-muted mb-3">
      <span>
        Total Spent: <%= campaign.total_consumed_budget.format %>
      </span>
      •
      <span>
        <%= campaign.status&.capitalize %>
      </span>
    </p>
    <div class="row border-top pt-3">
      <div class="col" data-toggle="tooltip" title="Available Funds: <%= campaign.total_remaining_budget.format %>">
        <strong>Available Funds</strong>
        <span class="d-block"><%= campaign.total_budget.format %></span>
      </div>
      <div class="col" data-toggle="tooltip" title="<%= remaining_days_label(campaign) %>">
        <strong>Days Left</strong>
        <span class="d-block"><%= campaign.remaining_operative_days %></span>
      </div>
    </div>
  <% end %>
  <div class="progress progress-xs" data-toggle="tooltip" title="" data-original-title="<%= number_to_percentage(campaign.total_consumed_budget_percentage, precision: 0) %>">
    <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="2181" aria-valuemin="0" aria-valuemax="100" style="width: <%= number_to_percentage(campaign.total_consumed_budget_percentage, precision: 0) %>">
      <span class="sr-only"><%= number_to_percentage(campaign.total_consumed_budget_percentage, precision: 0) %> Complete</span>
    </div>
  </div>
<% end %>
