<%= table_wrapper do %>
  <%= paginated_table do %>
    <%= table_head do %>
      <%= table_row header: true do %>
        <%= table_column "Campaign" %>
        <%= table_column "Warnings" %>
        <%= table_column "Progress" %>
        <%= table_column "Remaining Budget", add_class: "text-right" %>
        <%= table_column "CTR", add_class: "text-right" %>
      <% end %>
    <% end %>
    <%= table_body do %>
      <%= render partial: "/campaigns/tr", collection: campaigns, as: :campaign, cached: true %>
    <% end %>
  <% end %>
  <%= pagination_wrapper do %>
    <span>
      <%= render "/shared/paginator" %>
    </span>
    <span class="ml-auto">
      <%= pagy_entries(pagy) %>
    </span>
  <% end if pagy.pages > 1 %>
<% end %>
