<%= tag.tr class: classes("even": campaign_counter.even?, "odd": campaign_counter.odd?, "opacity-40": ENUMS::CAMPAIGN_STATUSES[campaign.status] == "archived") do %>
  <td><%= campaign_status_html campaign.status %></span></td>
  <td><%= link_to campaign.user.full_name, user_path(campaign.user) %></td>
  <td><%= link_to campaign.name, campaign_path(campaign) %></td>
  <td>US Hours</td>
  <td><%= campaign.creative&.name %></td>
  <td>Dates</td>
  <td>Budget</td>
  <td>Spend</td>
  <td>Impressions</td>
  <td><%= link_to "Edit", edit_campaign_path(campaign), class: "btn btn-link btn-sm" %></td>
<% end %>
