<%= tag.tr class: classes("even": campaign_counter.even?, "odd": campaign_counter.odd?, "opacity-40": ENUMS::CAMPAIGN_STATUSES[campaign.status] == "archived") do %>
  <td class="align-middle text-secondary"><%= link_to campaign.name, campaign %></td>
  <% if authorized_user.can_admin_system? %>
    <td class="align-middle">
      <%= link_to campaign.organization.name, user_path(campaign.user) %>
    </td>
  <% end %>
  <td class="align-middle text-secondary"><%= campaign.end_date.strftime("%b %-d, %Y") %></td>
  <%= tag.td class: "align-middle text-secondary text-right",
    title: campaign.premium? ? "#{campaign.total_consumed_budget.format} spent out of #{campaign.total_budget.format}" : nil,
    data: { toggle: campaign.premium? ? "tooltip" : nil } do %>
    <% if campaign.premium? %>
      <div class="js-hr-progress progress" style="height: 10px; background-color: #e7e7e8;">
        <div class="js-hr-progress-bar progress-bar bg-success" role="progressbar" style="width: <%= campaign.total_consumed_budget_percentage %>%;"></div>
      </div>
    <% end %>
  <% end %>
  <td class="align-middle text-<%= campaign_status_color(campaign.status) %>">
    <span class="fas fa-circle small mr-1"></span>
    <%= campaign.status.humanize %>
  </td>
  <td class="align-middle text-right text-secondary">
    <%= render "/@shared/table_buttons/edit", link: edit_campaign_path(campaign) %>
  </td>
<% end %>
