<%= tag.tr class: classes("even": campaign_counter.even?, "odd": campaign_counter.odd?, "opacity-40": ENUMS::CAMPAIGN_STATUSES[campaign.status] == "archived") do %>
  <td><%= campaign_status_html campaign.status %></span></td>
  <td><%= link_to campaign.name, campaign_path(campaign), title: "View Campaign", data: tooltip_expando %></td>
  <td><%= link_to campaign.user.full_name, user_path(campaign.user), title: "View User", data: tooltip_expando %></td>
  <td><%= distance_of_time_in_words(Date.today, campaign.end_date) rescue "Unknown" %></td>
  <td>$50.00</td>
  <td><%= link_to "Edit", edit_campaign_path(campaign), class: "btn btn-link btn-sm", title: "Edit Campaign", data: tooltip_expando %></td>
<% end %>
