<%= tag.tr class: classes("even": campaign_counter.even?, "odd": campaign_counter.odd?, "opacity-40": ENUMS::CAMPAIGN_STATUSES[campaign.status] == "archived") do %>
  <td class="align-middle text-secondary"><%= link_to campaign.name, campaign %></td>
  <% if authorized_user.can_admin_system? %>
    <td class="align-middle">
      <%= link_to campaign.organization.name, user_path(campaign.user) %>
    </td>
  <% end %>
  <td class="align-middle text-secondary"><%= campaign.end_date.strftime("%b %-d, %Y") %></td>
  <td class="align-middle text-secondary"><%= campaign.total_budget.format %></td>
  <td class="align-middle text-<%= campaign_status_color(campaign.status) %>">
    <span class="fas fa-circle small mr-1"></span>
    <%= campaign.status.humanize %>
  </td>
  <td class="align-middle text-right text-secondary">
    <%= render "/@shared/table_buttons/edit", link: edit_campaign_path(campaign) %>
  </td>
<% end %>
