<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/dashboard" %>
  <%= render "/@shared/breadcrumbs/campaigns", class: "active" %>
<% end %>

<% content_for :actions do %>
  <%= render "/@shared/actions/add_campaign" %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Viewing", "Campaigns",
    subtitle: "#{pluralize(@pagy.count, "record")} found",
    icon: "fas fa-ad" %>
<% end %>

<main id="content" role="main">
  <div class="u-bg-light-blue-50">
    <div class="container u-space-1">
      <p id="notice"><%= notice %></p>
      <%= render "/campaign_searches/form" %>
      <div class="bg-white p-4">
        <%= render "/campaigns/table", campaigns: @campaigns %>
      </div>
    </div>
  </div>
</main>