<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/campaigns", class: "active" %>
<% end %>

<% content_for :actions do %>
  <%= render "/@shared/actions/add_campaign" if authorized_user.can_admin_system? %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Viewing", "Campaigns",
    subtitle: "#{pluralize(@pagy.count, "record")} found",
    icon: "fas fa-ad" %>
<% end %>

<main id="content" role="main" class="bg-light">
  <div class="container space-1">
    <%= render partial: "/campaign_searches/form",
              layout: "/@shared/collapsable_search_form",
              locals: { search: @campaign_search } %>
    <div class="bg-white p-4">
      <%= render "/campaigns/table", campaigns: @campaigns, pagy: @pagy %>
    </div>
  </div>
</main>