<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/campaigns", class: "active" %>
<% end %>

<% content_for :actions do %>
  <ul class="nav flex-nowrap" style="justify-content: flex-end;">
    <li><%= render "/@shared/date_range_picker" %></li>
    <li class="ml-1"><%= render "/@shared/actions/add_campaign" if authorized_user.can_admin_system? %></li>
    <li class="ml-1"><%= render "/@shared/actions/request_campaign" unless authorized_user.can_admin_system? %></li>
  </ul>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Viewing", "Campaigns",
    subtitle: "#{pluralize(@pagy.count, "record")} found",
    icon: "fas fa-ad" %>
<% end %>

<main id="content" role="main"
  <div class="bg-light">
    <div class="container space-1">
      <div class="bg-white p-4">
        <%= render "/campaigns/table", campaigns: @campaigns, pagy: @pagy %>
      </div>
    </div>
  </div>
</main>
