<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/dashboard" %>
  <%= render "/@shared/breadcrumbs/campaigns" %>
  <%= render "/@shared/breadcrumbs/campaign", class: "active" %>
<% end %>

<div class="container mt-3">
  <%= page_heading "Creating", "Campaign" %>
  <%= render 'form', campaign: @campaign %>
  <%= link_to 'Back', campaigns_path, class: "btn btn-link" %>
</div>
