<%= render layout: "/campaigns/show_layout", locals: { campaign: @campaign } do %>
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <%= render "/campaigns/card", campaign: @campaign %>
    </div>
    <div class="col-md-6 col-lg-8">
      <h4 class="h5 mb-3">
        Details
        <small class="text-muted d-block">Basic details for this campaign</small>
      </h4>

      <ul class="list-unstyled mb-0">
        <%= details_li("Name") { @campaign.name } %>
        <%= details_li("User") { link_to @campaign.user.full_name, @campaign.user } %>
        <%= details_li("Status") { @campaign.status.humanize } %>
        <%= details_li("Date Range") { "#{@campaign.start_date.to_s("mm/dd/yyyy")} &mdash; #{@campaign.end_date.to_s("mm/dd/yyyy")}".html_safe } %>
        <%= details_li("URL") { link_to truncate(@campaign.url, length: 60), @campaign.url } %>
        <%= details_li("US Hours Only?") { @campaign.us_hours_only? ? "Yes" : "No" } %>
        <%= details_li("Weekdays Only?") { @campaign.weekdays_only? ? "Yes" : "No" } %>
        <%= details_li("Fallback Campaign?") { "Yes" } if @campaign.fallback? %>
        <%= details_li("Total Budget") { @campaign.total_budget.format } %>
        <%= details_li("Daily Budget") { @campaign.daily_budget.format } %>
        <%= details_li("eCPM") { @campaign.ecpm.format } %>
      </ul>
    </div>
  </div>
<% end %>
