<%= render layout: "/campaigns/show_layout", locals: { campaign: @campaign } do %>
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <%= render "/campaigns/card", campaign: @campaign %>
    </div>
    <div class="col-md-6 col-lg-8">
      <ul class="list-unstyled mb-0">
        <%= details_li("Name") { @campaign.name } %>
        <%= details_li("User") { link_to @campaign.user.full_name, @campaign.user } %>
        <%= details_li("Status") { @campaign.status.humanize } %>
        <%= details_li("URL") { link_to @campaign.url, @campaign.url } %>
        <%= details_li("US Hours Only?") { @campaign.us_hours_only? ? "Yes" : "No" } %>
        <%= details_li("Weekdays Only?") { @campaign.weekdays_only? ? "Yes" : "No" } %>
        <%= details_li("Total Budget") { @campaign.total_budget.format } %>
        <%= details_li("Total Budget") { @campaign.daily_budget.format } %>
        <%= details_li("eCPM") { @campaign.ecpm.format } %>
      </ul>
    </div>
  </div>
<% end %>
