<%= simple_form_for organization, wrapper: :front_form do |f| %>
  <%= render "/shared/forms/error_messages", object: organization %>
  <%= card do %>
    <%= card_header do %>
      <%= card_title do %>
        Team Details
      <% end %>
      <%= card_subtitle do %>
        Tell us about your team
      <% end %>
    <% end %>
    <%= card_body do %>
      <div class="row">
        <%= tag.div f.input(:name, as: :string, required: true, input_html: {class: "form-control"}), class: "col-12 mb-3" %>
      </div>
    <% end %>
    <%= card_footer do %>
      <%= card_footer_content do %>
        <%= button_panel margin: "my-0" do %>
          <%= f.submit "Save Team", class: "btn btn-primary" %>
          <%= cancel_button(organizations_path) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
