<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/organizations" if authorized_user.can_admin_system? %>
  <%= render "/@shared/breadcrumbs/organization", organization: organization, class: "active" %>
<% end %>

<% content_for :actions do %>
  <%= render "/@shared/actions/edit_organization", organization: organization %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "", organization.name,
    icon: "fas fa-building" %>
<% end %>

<main id="content" role="main" class="bg-light">
  <div class="container space-1">
    <ul class="nav nav-classic">
      <%= tag.li(active_link_to("Details", organization, active: :exact,
        data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
      <%= tag.li(active_link_to("Members", organization_users_path(organization),
        data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) if authorized_user.can_admin_system?  %>
      <%= tag.li(active_link_to("Transactions", organization_transactions_path(organization),
        data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
      <%= tag.li(active_link_to("Reports", organization_reports_path(organization),
        data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link"))  %>
      <%= tag.li(active_link_to("Revisions", organization_versions_path(organization),
        data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
    </ul>
    <div class="bg-white border p-4">
      <%= yield %>
    </div>
  </div>
</main>