<div class="page-sidebar">
  <header class="sidebar-header d-sm-none">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">
          <a href="#" onclick="CodeFundTheme.toggleSidebar()"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Back</a>
        </li>
      </ol>
    </nav>
  </header>

  <div class="sidebar-section-fill">
    <div class="card card-reflow">
      <div class="d-flex justify-content-between border-top p-3">
        <div class="row text-center">
          <div class="col-6">
            <div class="metric">
              <h6 class="metric-value"><%= subject.name rescue "-" %></h6>
              <p class="metric-label mt-1">Name</p>
            </div>
          </div>
          <div class="col-6">
            <div class="metric">
              <h6 class="metric-value"><%= subject.balance.format rescue "-" %></h6>
              <p class="metric-label mt-1">Balance</p>
            </div>
          </div>
          <div class="col-6">
            <div class="metric">
              <h6 class="metric-value"><%= subject.total_credits.format rescue "-" %></h6>
              <p class="metric-label mt-1">Total Credits</p>
            </div>
          </div>
          <div class="col-6">
            <div class="metric">
              <h6 class="metric-value"><%= subject.total_debits.format rescue "-" %></h6>
              <p class="metric-label mt-1">Total Debits</p>
            </div>
          </div>
        </div>
      </div>

      <% if authorized_user.can_admin_system? %>
        <div class="d-flex justify-content-between border-top px-3 pt-3 pb-0">
          <h4 class="card-title"> Details </h4>
          <%= link_to "Edit", edit_organization_path(subject) %>
        </div>

        <div class="list-group list-group-bordered list-group-reflow mx-3 mb-3">
          <div class="list-group-item justify-content-between align-items-center px-0">
            <span class="text-muted">Creative approval needed</span> <span><%= subject.creative_approval_needed.to_s.humanize %></span>
          </div>
          <div class="list-group-item justify-content-between align-items-center px-0">
            <span class="text-muted">Account Manager</span>
            <span><%= subject.account_manager&.name || "None" %></span>
          </div>
          <div class="list-group-item justify-content-between align-items-center px-0">
            <span class="text-muted">URL</span>
            <span><a href="<%= subject.url %>" target="_blank" rel="noopener"><%= pretty_url(subject.url) %></a></span>
          </div>
        </div>
      <% end %>

      <div class="card-body border-top">
        <div class="d-flex justify-content-between mb-3">
          <h4 class="card-title">Changelog</h4>
        </div>
        <ul class="timeline timeline-fluid">
          <%= render "/versions/timeline", versionable: subject %>
        </ul>
      </div>
    </div>
  </div>
</div>
