<%= table_wrapper do %>
  <%= paginated_table do %>
    <%= table_head do %>
      <%= table_row header: true do %>
        <%= sortable_tr "name", "Name" %>
        <%= sortable_tr "balance_cents", "Balance", add_class: "text-right" %>
        <%= table_column "Paid", add_class: "text-right" %>
        <%= table_column "Gifted", add_class: "text-right" %>
        <%= table_column add_class: "text-right" do %><small class="d-block opacity-60">Active</small>Campaigns<% end %>
        <%= table_column add_class: "text-right" do %><small class="d-block opacity-60">Total</small>Campaigns<% end %>
        <%= table_column "Members", add_class: "text-right" %>
        <%= table_column "End Date", add_class: "text-right" %>
        <%= table_column "" %>
      <% end %>
    <% end %>
    <%= table_body do %>
      <%= render partial: "/organizations/tr", collection: organizations, as: :organization, cached: true %>
    <% end %>
  <% end %>
  <%= pagination_wrapper do %>
    <span>
      <%= render "/shared/paginator" %>
    </span>
    <span class="ml-auto">
      <%= pagy_entries(pagy) %>
    </span>
  <% end if pagy.pages > 1 %>
<% end %>
