<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr class="border-bottom">
        <th scope="col" style="width: 40px;"></th>
        <%= sortable_tr "name" %>
        <th scope="col">Credits</th>
        <th scope="col">Debits</th>
        <%= sortable_tr "balance_cents", "Balance" %>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="font-size-1">
      <%= render partial: "/organizations/tr", collection: organizations, as: :organization %>
    </tbody>
  </table>
  <div class="d-flex justify-content-between align-items-center">
    <span><%== pagy_nav_bootstrap(pagy) if pagy.pages > 1 %></span>
    <%= pagy_entries(pagy) %>
  </div>
</div>
