<%= tag.tr class: classes("even": organization_counter.even?, "odd": organization_counter.odd?) do %>
  <td class="align-middle text-secondary">
    <% if organization.balance > 0 %>
      <span class="text-success fas fa-plus-circle"></span>
    <% elsif organization.balance < 0 %>
      <span class="text-danger fas fa-minus-circle"></span>
    <% else %>
      <span class="text-soft-secondary fas fa-empty-set"></span>
    <% end %>
  </td>
  <td class="align-middle text-secondary"><%= link_to organization.name, organization, class: "text-link" %></td>
  <td class="align-middle text-success" style="width: 175px;"><%= organization.total_credits.format %></td>
  <td class="align-middle text-danger" style="width: 175px;">- <%= organization.total_debits.format %></td>
  <td class="align-middle" style="width: 175px;">
    <%= link_to organization.balance.format, organization_transactions_path(organization),
      class: classes(
        "text-link text-success": organization.balance > 0,
        "text-link text-danger": organization.balance < 0,
        "text-link text-muted": organization.balance.zero?
      ) %>
  </td>
  <td class="align-middle text-secondary text-right">
    <%= render "/@shared/table_buttons/edit", link: edit_organization_path(organization) %>
  </td>
<% end %>
