<script src="https://checkout.stripe.com/checkout.js"></script>
<main id="content" role="main" class="bg-light">
  <%= simple_form_for @job_posting, url: job_posting_purchase_path(@job_posting), method: :post, html: {
    data: {
      controller: "job-posting-purchases-form",
      key: ENV["STRIPE_PUBLISHABLE_KEY"],
      image: asset_path("codefund-circle.png"),
      name: "CodeFund",
      currency: "USD",
      email: current_user.email,
    }} do |f| %>
    <%= f.input :plan, as: "hidden", wrapper: false, input_html: { data: { target: "job-posting-purchases-form.plan" }} %>
    <%= f.input :offers, collection: ENUMS::JOB_OFFERS.keys, label: false, wrapper: false, include_blank: false, include_hidden: false,
      input_html: { multiple: true, hidden: true, data: { target: "job-posting-purchases-form.offers" }} %>

    <div class="container space-top-3 space-bottom-2">
      <div class="w-lg-80 mx-lg-auto">
        <div class="card shadow-sm p-7 job-listing">
          <%= render partial: "/job_posting_prospects/nav" %>

          <div class="text-center space-top-2 mb-4">
            <span class="u-divider u-divider--xs u-divider--text">Pick your plan</span>
          </div>

          <div class="row">
            <%= render partial: "/job_posting_purchases/plans" %>
          </div>

          <div class="text-center mb-4">
            <span class="u-divider u-divider--xs u-divider--text">Choose your upgrades (optional)</span>
          </div>

          <div class="row mb-5">
            <%= render partial: "/job_posting_purchases/offers" %>
          </div>

          <div class="row mt-4">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <p>Your ad will be posted to the job board once you've successfully completed your payment.</p>
                  <p>We review all job postings and reserve the right to remove ads at our discretion. If we remove your ad, you will receive a full refund.</p>
                </div>
                <div class="col-md-6">
                  <div class="bg-light p-3">
                    <ul class="pl-0 mb-0 list-unstyled">
                      <li hidden data-target="job-posting-purchases-form.monthlyPlanListItem" class=""><i class="fas fa-check text-success mr-1"></i> The Monthly Plan for <%= tag.strong @monthly_plan_price.format, class: "float-right" %></li>
                      <li hidden data-target="job-posting-purchases-form.prepaidPlanListItem" class=""><i class="fas fa-check text-success mr-1"></i> The Prepaid Plan for <%= tag.strong @prepaid_plan_price.format, class: "float-right" %></li>
                      <li hidden data-target="job-posting-purchases-form.premiumPlacementOfferListItem" class=""><i class="fas fa-check text-success mr-1"></i> Premium Placement for <%= tag.strong @premium_placement_offer_price.format, class: "float-right" %></li>
                      <li hidden data-target="job-posting-purchases-form.codeFundAdsOfferListItem" class=""><i class="fas fa-check text-success mr-1"></i> CodeFund Ads for <%= tag.strong @code_fund_ads_offer_price.format, class: "float-right" %></li>
                      <li hidden data-target="job-posting-purchases-form.readTheDocsOfferListItem" class=""><i class="fas fa-check text-success mr-1"></i> ReadTheDocs Ads for <%= tag.strong @read_the_docs_offer_price.format, class: "float-right" %></li>
                      <li class="border-top pt-2 mt-2">
                        <strong>Total</strong>
                        <%= tag.strong "$0.00", class: "float-right", data: { 
                          target: "job-posting-purchases-form.amount"
                        } %>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              

              

              

              <input type="hidden" name="source_id" data-target="job-posting-purchases-form.sourceId" />

              <div class="text-center pt-3 mb-2">
                <%= link_to "Place Your Order", "", class: "btn btn-success d-block mx-auto",
                  data: {
                    action: "click->job-posting-purchases-form#showPaymentModal",
                    target: "job-posting-purchases-form.purchaseButton",
                    processing_text: "Your payment is processing...",
                } %>
              </div>
              <div class="text-center">
                <a data-controller="remote-modal"
                  data-action="click->remote-modal#displayModal"
                  data-url="<%= edit_job_posting_purchase_path(@job_posting) %>"
                  href="#">
                  Have a coupon code?
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</main>
