<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/email_templates" %>
  <%= render "/@shared/breadcrumbs/email_template", email_template: @email_template, class: "active" %>
<% end %>

<% content_for :actions do %>
  <%= render "/@shared/actions/edit_email_template", email_template: @email_template %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Viewing", "Email Template",
    subtitle: @email_template.title,
    icon: "fas fa-envelope" %>
<% end %>

<main id="content" role="main" class="bg-light">
  <div class="container space-1">
    <%= Rinku.auto_link(simple_format(@subject)).html_safe %>

    <div class="card card-frame">
      <div class="card-body">
        <%= Rinku.auto_link(simple_format(@body)).html_safe %>
      </div>
    </div>
  </div>
</main>