<% content_for :breadcrumbs do %>
  <%= render "/shared/breadcrumbs/job_postings", class: "active" %>
<% end %>

<% content_for :actions do %>
  <%= render "/shared/actions/add_job_posting" %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Viewing", "Jobs",
    subtitle: "#{pluralize(@pagy.count, "record")} found",
    icon: "fas fa-laptop-code" %>
<% end %>

<main id="content" role="main" class="bg-light">
  <div class="container space-1">
    <div class="bg-white p-4">
      <%= render "/job_postings/table", job_postings: @job_postings, pagy: @pagy if @job_postings.present? %>
      <%= render "/job_postings/about" unless @job_postings.present? %>
    </div>
  </div>
</main>
