<!-- ========== MAIN ========== -->
<main id="content" role="main">
  <!-- Career Title Section -->
  <div class="container space-top-2 space-top-md-4 space-bottom-3">
    <div class="position-relative">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto">
        <div class="mb-4">
          <h2 class="h1">We <span class="font-weight-semi-bold text-success">fund</span>
            <span
              class="u-text-animation u-text-animation--typing"
              data-controller="animated-type"
              data-type-speed="50"
              data-loop="true"
              data-back-speed="25"
              data-back-delay="1500"
              data-strings="<%= ["developers", "open source", "tech blogs", "dev tools", "maintainers"].to_json %>"
            ></span>
          </h2>
          <p>We help you generate passive income without sacrificing your coding time or community trust.</p>
        </div>
        <a class="js-go-to btn btn-primary transition-3d-hover" href="javascript:;"
          data-target="#applyForPublisher"
          data-type="static">
          Become a Publisher
        </a>
      </div>
      <!-- End Title -->

      <!-- SVG Shapes - Top Left -->
      <figure class="d-none d-sm-block position-absolute bottom-0 left-0" style="width: 70px;">
        <%= image_tag "svg/icons/icon-44.svg" %>
      </figure>
      <!-- End SVG Shapes - Top Left -->

      <!-- SVG Shapes - Bottom Right -->
      <figure class="d-none d-sm-block position-absolute top-0 right-0" style="width: 80px;">
        <%= image_tag "svg/icons/icon-31.svg" %>
      </figure>
      <!-- End SVG Shapes - Bottom Right -->
    </div>
  </div>
  <!-- End Career Title Section -->


  <!-- TESTIMONIALS -->
  <div class="bg-light space-2">
    <div class="container">
      <div class="js-slick-carousel u-slick u-slick--equal-height u-slick--gutters-3"
          data-controller="slick-carousel"
          data-slides-show="3"
          data-autoplay="true"
          data-speed="5000"
          data-infinite="true"
          data-center-mode="true"
          data-pagi-classes="text-center u-slick__pagination mt-7 mb-0"
          data-responsive='[{
            "breakpoint": 992,
            "settings": {
              "slidesToShow": 2
            }
          }, {
            "breakpoint": 768,
            "settings": {
              "slidesToShow": 1
            }
          }]'>

        <% @testimonials.each do |testimonial| %>
          <div class="js-slide mb-1">
            <!-- Testimonial -->
            <div class="d-flex align-items-start flex-column bg-white border rounded p-5">
              <div class="mb-auto">
                <p><%= testimonial.body %></p>
              </div>

              <!-- Author & Review -->
              <div class="media">
                <div class="d-flex mr-3">
                  <%= image_tag testimonial.avatar, alt: testimonial.name, class: "img-fluid u-avatar rounded-circle" %>
                </div>
                <div class="media-body">
                  <h4 class="h6 mb-1">
                    <%= testimonial.name %><br/>
                    <%= link_to testimonial.website_url, testimonial.website_url, target: "_blank", class: "small", style: "color: #1464ff" %>
                  </h4>
                </div>
              </div>
              <!-- End Author & Review -->
            </div>
            <!-- End Testimonial -->
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- END TESTIMONIALS -->

  <!-- How It Works Section -->
  <div class="container space-top-2">
    <div class="row align-items-lg-center">
      <div class="col-lg-6 order-lg-2 mb-7 mb-lg-0">
        <ul class="list-unstyled">
          <!-- Info Block -->
          <li class="u-indicator-steps py-3">
            <div class="media align-items-center border rounded p-5">
              <div class="d-flex u-indicator-steps__inner mr-3">
                <span class="display-4 text-primary font-weight-medium">1.</span>
              </div>
              <div class="media-body">
                <h3 class="h5 text-primary">We find the advertisers</h3>
                <p>
                  We find companies that provide products or services that are ideal for software engineers and
                  sell them ad space on multiple websites, including yours.
                </p>
              </div>
            </div>
          </li>
          <!-- End Info Block -->

          <!-- Info Block -->
          <li class="u-indicator-steps py-3">
            <div class="media align-items-center border rounded p-5">
              <div class="d-flex u-indicator-steps__inner mr-3">
                <span class="display-4 text-primary font-weight-medium">2.</span>
              </div>
              <div class="media-body">
                <h3 class="h5 text-primary">You display the ad</h3>
                <p>
                  Using either our in-house script or the API, you display the ethical advertisement on your website.
                  Each time the ad is seen, your distribution amount increases.
                </p>
              </div>
            </div>
          </li>
          <!-- End Info Block -->

          <!-- Info Block -->
          <li class="u-indicator-steps py-3">
            <div class="media align-items-center border rounded p-5">
              <div class="d-flex u-indicator-steps__inner mr-3">
                <span class="display-4 text-primary font-weight-medium">3.</span>
              </div>
              <div class="media-body">
                <h3 class="h5 text-primary">We pay you monthly</h3>
                <p>
                  Every month, we pay out distributions to our publishers for the prior month's earnings.
                  We have a minimum payout of $25 unless you want to be paid via cryptocurrency (ETH or DAI).
                </p>
              </div>
            </div>
          </li>
          <!-- End Info Block -->
        </ul>
      </div>

      <div id="SVGhouseAgency" class="col-lg-6 order-lg-1 svg-preloader">
        <div class="pr-lg-7">
          <!-- SVG Icon -->
          <figure class="ie-house-agency">
            <%= image_tag "svg/undraw_choose_80qg.svg", class: "js-svg-injector", style: "width: 100%;", data: { parent: "#SVGhouseAgency" } %>
          </figure>
          <!-- End SVG Icon -->
        </div>
      </div>
    </div>
  </div>
  <!-- End How It Works Section -->



  <!-- CORE VALUES -->
  <div class="position-relative">
    <div class="container space-3">
      <div class="row align-items-center">
        <div class="col-lg-5 mb-9 mb-lg-0">
          <div class="pr-lg-4 mb-3">
            <span class="u-label u-label--sm u-label--success mb-2">Ethics</span>
            <h2>Our Core <span class="font-weight-bold text-success">Values</span></h2>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li class="py-2">
                  <div class="media">
                    <div class="d-flex mr-3">
                    <span class="u-icon u-icon-danger--air u-icon--sm rounded-circle">
                      <span class="fa fa-heart u-icon__inner"></span>
                    </span>
                    </div>
                    <div class="media-body">
                      Openness
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="media">
                    <div class="d-flex mr-3">
                    <span class="u-icon u-icon-primary--air u-icon--sm rounded-circle">
                      <span class="fa fa-smile u-icon__inner"></span>
                    </span>
                    </div>
                    <div class="media-body">
                      Honesty
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="media">
                    <div class="d-flex mr-3">
                    <span class="u-icon u-icon-success--air u-icon--sm rounded-circle">
                      <span class="fab fa-studiovinari u-icon__inner"></span>
                    </span>
                    </div>
                    <div class="media-body">
                      Share Knowledge
                    </div>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li class="py-2">
                  <div class="media">
                    <div class="d-flex mr-3">
                      <span class="u-icon u-icon-danger--air u-icon--sm rounded-circle">
                        <span class="fab fa-steam-symbol u-icon__inner"></span>
                      </span>
                    </div>
                    <div class="media-body">
                      Respect
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="media">
                    <div class="d-flex mr-3">
                      <span class="u-icon u-icon-primary--air u-icon--sm rounded-circle">
                        <span class="fa fa-table-tennis u-icon__inner"></span>
                      </span>
                    </div>
                    <div class="media-body">
                      Collaboration
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="media">
                    <div class="d-flex mr-3">
                    <span class="u-icon u-icon-success--air u-icon--sm rounded-circle">
                      <span class="fab fa-slideshare u-icon__inner"></span>
                    </span>
                    </div>
                    <div class="media-body">
                      Open
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="pr-lg-4 mt-4">
            <p>
              We have adopted and applied many of the ideas from <a href="https://readthedocs.org" target="_blank">Read the Docs</a> on <a href="https://docs.readthedocs.io/en/latest/advertising/ethical-advertising.html" target="_blank">Ethical Advertising</a>.
            </p>
            <p>We do not track, profile, or sell information. We do not use cookies. We only show ads that are relevant and meaningful to the users.</p>
          </div>
        </div>

        <div class="col-lg-7 position-relative">
          <!-- SVG Icon -->
          <%= image_tag "svg/undraw_hang_out_h9ud.svg", style: "width: 100%;" %>
          <!-- End SVG Icon -->
        </div>
      </div>
    </div>
  </div>
  <!-- END CORE VALUES -->

  <!-- FAQ -->
  <div class="space-2">
    <div class="container u-space-1 mb-9">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag "svg/undraw_active_support_6rwo.svg", style: "width: 100%;" %>
        </div>
        <div class="col-md-8 mt-3">
          <span class="u-label u-label--sm u-label--primary mb-2">FAQ</span>
          <h2>Common
            <span class="font-weight-bold text-success">Questions</span>
          </h2>

          <!-- Basics Accordion -->
          <div id="basicsAccordion">
            <!-- Card -->
            <div class="card mb-3">
              <div class="card-header card-collapse" id="basicsHeadingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link btn-block d-flex justify-content-between card-btn p-3"
                          data-toggle="collapse"
                          data-target="#basicsCollapseOne"
                          aria-expanded="true"
                          aria-controls="basicsCollapseOne">
                    Does my website qualify?

                    <span class="card-btn-arrow">
                      <span class="fas fa-arrow-down small"></span>
                    </span>
                  </button>
                </h5>
              </div>
              <div id="basicsCollapseOne" class="collapse show"
                  aria-labelledby="basicsHeadingOne"
                  data-parent="#basicsAccordion">
                <div class="card-body">
                  <p>
                    We are very selective when it comes to websites that can participate with CodeFund. The website:
                    <ul style="color: #77838f;">
                      <li>Must be serving the developer community, whether as API docs, blogs, applications or other.</li>
                      <li>Must not be a pay-to-use application.</li>
                      <li>Must receive <strong>at least 5,000</strong> unique visitors per month.</li>
                    </ul>
                  </p>
                </div>
              </div>
            </div>
            <!-- End Card -->

            <!-- Card -->
            <div class="card mb-3">
              <div class="card-header card-collapse" id="basicsHeadingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                          data-toggle="collapse"
                          data-target="#basicsCollapseTwo"
                          aria-expanded="false"
                          aria-controls="basicsCollapseTwo">
                    How much money can I make?

                    <span class="card-btn-arrow">
                      <span class="fas fa-arrow-down small"></span>
                    </span>
                  </button>
                </h5>
              </div>
              <div id="basicsCollapseTwo" class="collapse"
                  aria-labelledby="basicsHeadingTwo"
                  data-parent="#basicsAccordion">
                <div class="card-body">
                  <p>The earnings vary based on the website and advertisers willing to spend money on it. Typically we see an average of $2 CPM (cost per 1,000 impressions). Average earnings per 1,000 impressions is around $1 to $1.50 but can fluctuate based on advertiser demand.</p>
                  <p>For example, a moderately popular website with 500,000 ad impressions per month at a $2 CPM would generate anywhere between $500 and $1,000/month.</p>
                  <p>We typically start publishers at a 50% split on gross revenue. We do pay out higher percentage rates based on the quantity and quality of traffic the website generates.</p>
                </div>
              </div>
            </div>
            <!-- End Card -->

            <!-- Card -->
            <div class="card mb-3">
              <div class="card-header card-collapse" id="basicsHeadingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                          data-toggle="collapse"
                          data-target="#basicsCollapseThree"
                          aria-expanded="false"
                          aria-controls="basicsCollapseThree">
                    Why should I use you over Carbon Ads?

                    <span class="card-btn-arrow">
                      <span class="fas fa-arrow-down small"></span>
                    </span>
                  </button>
                </h5>
              </div>
              <div id="basicsCollapseThree" class="collapse"
                  aria-labelledby="basicsHeadingThree"
                  data-parent="#basicsAccordion">
                <div class="card-body">
                  <p>
                    Here are some differences between them and us:
                    <ul class="list-unstyled" style="color: #77838f;">
                      <li><i class="fal fa-check text-codefund-green"></i> We follow the ethical advertisement method of advertising.</li>
                      <li><i class="fal fa-check text-codefund-green"></i> We are an <a href="https://github.com/gitcoinco/codefund">open platform</a>. You can see exactly how it all works.</li>
                      <li><i class="fal fa-check text-codefund-green"></i> We pay up to 65% of all gross revenue back to the publisher.</li>
                      <li><i class="fal fa-check text-codefund-green"></i> We are not owned and run by BuySellAds.com</li>
                    </ul>
                  </p>
                  <p>
                    We think <a href="https://carbonads.net" target="_blank">Carbon Ads</a> is a wonderful company. They have helped so many projects generate revenue through advertising.
                    We just approach funding the developer community a little differently.
                  </p>
                  <p>
                    We do have some publishers using both CodeFund and Carbon Ads. Let us know if that's something you are interested in doing.
                  </p>
                </div>
              </div>
            </div>
            <!-- End Card -->

            <!-- Card -->
            <div class="card mb-3">
              <div class="card-header card-collapse" id="basicsHeadingFour">
                <h5 class="mb-0">
                  <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                          data-toggle="collapse"
                          data-target="#basicsCollapseFour"
                          aria-expanded="false"
                          aria-controls="basicsCollapseFour">
                    Can I have the distributions deposited to Open Collective?

                    <span class="card-btn-arrow">
                      <span class="fas fa-arrow-down small"></span>
                    </span>
                  </button>
                </h5>
              </div>
              <div id="basicsCollapseFour" class="collapse"
                  aria-labelledby="basicsHeadingFour"
                  data-parent="#basicsAccordion">
                <div class="card-body">
                  <p>Absolutely. We work closely with the team at <a href="https://opencollective.com" target="_blank">Open Collective</a>
                  and are happy to send any earnings directly into your collective.</p>
                </div>
              </div>
            </div>
            <!-- End Card -->
          </div>
          <!-- End Basics Accordion -->
        </div>
      </div>
    </div>
  </div>
  <!-- END FAQ -->

  <!-- Publisher Form Section -->
  <div id="SVGwave5Top" class="svg-preloader position-relative gradient-half-primary-v1">
    <div class="container space-top-3 space-top-md-4 space-bottom-2">
      <div class="w-lg-80 mx-auto">
        <div id="applyForPublisher" class="inverted-feedback">
          <!-- Title -->
          <div class="text-center mb-7">
            <h2 class="h3 text-white font-weight-normal">Become a Publisher</h2>
            <p class="text-white">Your website must have <strong class="text-warning">at least 5,000 visitors per month</strong> and provide value to the open source community</p>
          </div>
          <!-- End Title -->

          <div class="typeform-widget" data-controller="typeform" data-url="https://codefund.typeform.com/to/Y7OKa0?referring_user_id=<%= session[:referring_user_id] %>" style="width: 100%; height: 500px;"></div>
        </div>
      </div>
    </div>

    <!-- SVG Top Shape -->
    <figure class="position-absolute top-0 right-0 left-0 z-index-2">
      <%= image_tag "svg/components/wave-5-top.svg", class: "js-svg-injector", data: { parent: "#SVGwave5Top" } %>
    </figure>
    <!-- End SVG Top Shape -->
  </div>
  <!-- End Publisher Form Section -->

</main>
<!-- ========== END MAIN ========== -->
