<%= simple_form_for @image_search, wrapper: :filter_form do |f| %>
  <%= f.input(:name, required: false) %>
  <%= f.input(:formats, collection: image_formats_for_select, required: false, input_html: { multiple: true, data: { controller: "select" }}) %>
  <%= f.input(:filename, required: false) %>

  <div class="text-right">
    <%= f.button :submit, value: "Apply Filters", class: "btn btn-sm btn-primary" %>
    <%= link_to "Clear", image_search_path(@imageable.to_gid_param, @image_search.to_gid_param), class: "btn btn-sm btn-subtle-dark ml-3", method: :delete %>
  </div>
<% end %>

