<div class="table-responsive">
  <%= table add_class: "dt-responsive nowrap w-100 dtr-inline", compact: true do %>
    <%= table_head do %>
      <tr>
        <th>Date</th>
        <th>Paid Impressions</th>
        <th>Paid Clicks</th>
        <th>Paid CTR</th>
        <th>Earnings</th>
        <th>Fallback Impressions</th>
        <th>Fallback Clicks</th>
        <th>Fallback CTR</th>
      </tr>
    <% end %>

    <%= table_body do %>
      <% (@start_date..@end_date).each do |date| %>
        <%= render_later async_property_earnings_row_path(property_id: @property.id, date: date.iso8601), tag_name: "tr" do %>
          <%= table_data colspan: "5" do %>
            <i class="fa fa-spinner fa-spin text-primary"></i>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
