<%= simple_form_for @applicant_search, wrapper: :filter_form do |f| %>
    <%= f.input(:first_name, required: false) %>
    <%= f.input(:last_name, required: false) %>
    <%= f.input(:email, required: false) %>
    <%= f.input(:roles, label: "Roles", collection: user_roles_for_select, required: false, input_html: { multiple: true, data: { controller: "select" }}) %>
    <%= f.input(:statuses, label: "Status", collection: property_statuses_for_select, required: false, input_html: { multiple: true, data: { controller: "select" }}) %>

    <div class="text-right">
      <%= f.button :submit, value: "Apply Filters", class: "btn btn-sm btn-primary" %>
      <%= link_to "Clear", applicant_search_path(@applicant_search.to_gid_param), class: "btn-sm btn-link text-danger ml-3", method: :delete %>
    </div>
<% end %>