<div class="card-footer text-center">
  <div class="row align-items-center">
    <% if @property.restrict_to_sponsor_campaigns? %>
      <div class="col-4 u-ver-divider">
        <h5 class="small font-weight-normal text-secondary mb-0">
          <small class="d-block">Total</small>Clicks
        </h5>
        <div class="text-dark mt-2"><%= number_with_delimiter @property.clicks_count(@start_date, @end_date) %></div>
      </div>
      <div class="col-4">
        <h5 class="small font-weight-normal text-secondary mb-0">
          <small class="d-block">Current</small>Advertiser
        </h5>
        <div class="text-dark mt-2"><%= @property.current_sponsor_campaign&.user&.name || "none" %></div>
      </div>
      <div class="col-4">
        <h5 class="small font-weight-normal text-secondary mb-0">
          <small class="d-block">Current</small>Campaign
        </h5>
        <div class="text-dark mt-2"><%= @property.current_sponsor_campaign&.name || "none" %></div>
      </div>
    <% else %>
      <div class="col-4 u-ver-divider">
        <h5 class="small font-weight-normal text-secondary mb-0">
          <small class="d-block">Total</small>Impressions
        </h5>
        <div class="text-dark mt-2"><%= number_with_delimiter @property.impressions_count(@start_date, @end_date) %></div>
      </div>
      <div class="col-4 u-ver-divider">
        <h5 class="small font-weight-normal text-secondary mb-0">
          <small class="d-block">Average</small>Click Rate
        </h5>
        <div class="text-dark mt-2"><%= number_to_percentage @property.click_rate(@start_date, @end_date), precision: 2 %></div>
      </div>
      <div class="col-4">
        <h5 class="small font-weight-normal text-secondary mb-0">
          <small class="d-block">Estimated</small>Earnings</h5>
        <div class="text-dark mt-2"><%= @property.property_revenue(@start_date, @end_date).format %></div>
      </div>
    <% end %>
  </div>
</div>
