<article class="card border-0 shadow-sm mb-3">
  <%= link_to image_tag(post.featured_image, class: "card-img-top"), buttercms_post_path(post.slug) %>
  <div class="card-body p-5">
    <small class="d-block text-muted mb-2"><%= Date.parse(post.published).to_s("bdy") %></small>
    <h2 class="h5">
      <%= link_to post.title, buttercms_post_path(post.slug), title: post.title %>
    </h2>
    <p class="mb-0"><%= post.summary %></p>
  </div>

  <div class="card-footer pb-5 px-0 mx-5">
    <div class="media align-items-center">
      <div class="u-sm-avatar mr-3">
        <%= link_to image_tag(post.author.profile_image, class: "img-fluid rounded-circle"), buttercms_author_path(post.author.slug) %>
      </div>
      <div class="media-body">
        <h4 class="small mb-0">
          <%= link_to "#{post.author.first_name} #{post.author.last_name}", buttercms_author_path(post.author.slug) %>
        </h4>
      </div>
    </div>
  </div>
</article>