<%= content_for :html_title, @post.seo_title %>
<%= content_for :meta_description, @post.meta_description %>

<main id="content" class="blog__article border-bottom" role="main">

  <div class="container space-top-1 space-top-md-3">
    <div class="w-lg-60 mx-auto">
      <%= image_tag @featured_image_url, class: "img-fluid blog__article__featured-image" %>

      <div class="mx-auto space-top-1">
        <h1 class="blog__article__title"><%= @post.title %></h1>
        <h2 class="blog__article__subtitle"><%= @post.summary %></h2>
      </div>
    </div>
  </div>

  <div class="container space-bottom-1 space-top-1">
    <div class="w-lg-60 mx-auto">
      <div class="blog__article__body">
        <%= @body.html_safe %>
      </div>
    </div>
  </div>

  <!-- Description Section -->
  <div class="container space-bottom-2">
    <div class="w-lg-60 mx-auto">
      <!-- Categories -->
      <ul class="list-inline text-center mb-0">
        <% @post.categories.each do |category| %>
          <li class="list-inline-item pb-3">
            <%= link_to category.name, buttercms_category_path(category.slug), title: category.name, class: "btn btn-xs btn-gray btn-pill" %>
          </li>
        <% end %>
      </ul>
      <!-- End Categories -->

      <div class="pt-3">
        <div id="disqus_thread"></div>
      </div>
    </div>
  </div>
  <!-- End Description Section -->

  <div class="bg-light">
    <div class="container space-2 space-md-3">
      <div class="w-lg-60 mx-auto">
        <div class="card-deck d-block d-md-flex card-md-gutters-3">
          <% if @previous_post %>
            <div class="card border-0 mb-5 mb-md-0">
              <%= link_to image_tag(@previous_post_image_url, class: "card-img-top"), buttercms_post_path(@previous_post.slug) %>
              <div class="card-body p-5">
                <h3 class="h6 mb-0">
                  <%= link_to @previous_post.title, buttercms_post_path(@previous_post.slug) %>
                </h3>
              </div>
            </div>
          <% end %>
          
          <% if @next_post %>
            <div class="card border-0 mb-5 mb-md-0">
              <%= link_to image_tag(@next_post_image_url, class: "card-img-top"), buttercms_post_path(@next_post.slug) %>
              <div class="card-body p-5">
                <h3 class="h6 mb-0">
                  <%= link_to @next_post.title, buttercms_post_path(@next_post.slug) %>
                </h3>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>

<script>
var disqus_config = function () {
  this.page.url = '<%= @post.url %>';
  this.page.identifier = 'codefund';
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://codefund.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<!-- End Comments -->
<script id="dsq-count-scr" src="//codefund.disqus.com/count.js" async></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ceee2269cdab27c"></script>