<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= action_cable_meta_tag %>

    <!-- Libs CSS -->
    <link rel="stylesheet" href="/landkit/fonts/Feather/feather.css">
    <link rel="stylesheet" href="/landkit/libs/flickity/dist/flickity.min.css">
    <link rel="stylesheet" href="/landkit/libs/flickity-fade/flickity-fade.css">
    <link rel="stylesheet" href="/landkit/libs/aos/dist/aos.css">
    <link rel="stylesheet" href="/landkit/libs/jarallax/dist/jarallax.css">
    <link rel="stylesheet" href="/landkit/libs/highlightjs/styles/vs2015.css">
    <link rel="stylesheet" href="/landkit/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css">

    <!-- Map -->
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/landkit/css/theme.min.css">

    <!-- Compressed JavaScripts -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'code_fund_redesign', 'data-turbolinks-track': 'reload' %>

    <title><%= @butter&.seo_title || "CodeFund" %></title>
  </head>
  <body class="bg-light">
    <%= render "/shared/landkit/modals" %>
    <%= render "/shared/landkit/navbar" %>
    <%= yield %>
    <%= render "/shared/landkit/footer" %>
    <%= render "/shared/landkit/scripts" %>
  </body>
</html>
