<%= simple_form_for @image, url: image_path(@imageable.to_gid_param, @image) do |f| %>
  <div class="row mt-5">
    <div class="col-12">
      <%= image_tag @image.variant(geometry: "400x400>"), class: "img-thumbnail img-fluid d-block mb-1" %>
      <%= link_to "View original", @image, target: "_blank" %>
    </div>

    <% #################################################################################################### %>
    <%= render "@shared/forms/section_heading", text: "Metadata" %>

    <%= tag.div f.input(:name, label: "Name", required: true), class: "col-12 col-md-6" %>
    <%= tag.div f.input(:format, label: "Format", collection: image_formats_for_select, as: :radio_buttons, wrapper_class: "inline", required: true), class: "col-12 col-md-6" %>

    <%= pseudo_row_divider %>

    <%= tag.div f.input(:description, label: "Description", as: :text), class: "col-12" %>

    <%= pseudo_row_divider %>

    <%= tag.div f.input(:filename, disabled: true, required: true), class: "col-12 col-md-6" %>
    <%= tag.div f.input(:content_type, disabled: true, required: true), class: "col-12 col-md-6" %>

    <%= pseudo_row_divider %>

    <div class="col-12 col-md-6">
      <%= f.input :width, label: "Width", disabled: true, required: true,
        input_html: { value: "#{number_with_precision(@image.width, precision: 0)}px" } %>
    </div>
    <div class="col-12 col-md-6">
      <%= f.input :height, label: "Height", disabled: true, required: true,
        input_html: { value: "#{number_with_precision(@image.height, precision: 0)}px" } %>
    </div>

    <%= pseudo_row_divider %>

    <div class="col-12 col-md-6">
      <%= f.input :byte_size, label: "Size", disabled: true, required: true,
        input_html: { value: number_to_human_size(@image.byte_size) } %>
    </div>
    <%= tag.div f.input(:checksum, disabled: true, required: true), class: "col-12 col-md-6" %>

    <%= pseudo_row_divider %>

    <%= render "@shared/forms/button_panel" do %>
      <%= f.button(:submit, value: "Update Image", class: "btn btn-pill btn-primary btn-lg") %>
      <%= link_to "Delete Image", image_path(@imageable.to_gid_param, @image), class: "btn btn-link btn-lg text-danger", method: :delete,
        data: { confirm: I18n.t("images.destroy.confirm") } if authorizable.can_destroy?(@image) %>
    <% end %>
  </div>
<% end %>
