<%= card do %>
  <%= card_body do %>
    <div class="d-flex justify-content-center align-items-center" style="min-height:200px">
      <%= image_tag image, class: "img-thumbnail mw-100" %>
    </div>
  <% end %>
  <%= card_footer do %>
    <%= card_footer_content do %>
      <ul class="list-inline d-flex text-muted align-items-center mb-0">
        <li class="list-inline-item text-truncate mr-auto">
          <%= image.blob.filename.to_s %>
        </li>
        <li class="list-inline-item">
          <%= render "/shared/actions/edit_image", imageable: imageable, image: image %>
        </li>
        <li class="list-inline-item">
          <%= render "/shared/actions/delete_image", imageable: imageable, image: image %>
        </li>
      </ul>
    <% end %>
  <% end %>
<% end %>
