<div class="cbp-caption-defaultWrap">
  <% if image.blob.svg? %>
    <%= image_tag image, disposition: "inline", style: "width:260px" %>
  <% else %>
    <%= image_tag image.variant(geometry: "260x200"), style: "width:260px" %>
  <% end %>
</div>
<div class="cbp-caption-activeWrap bg-dark">
  <div class="cbp-l-caption-alignCenter">
    <div class="cbp-l-caption-body">
      <%= tag.h4(image.metadata['name'], class: "h5 text-white mb-0") if image.metadata['name'].present? %>
      <h4 class="h6 text-white mb-0"><%= image.blob.filename.to_s %></h4>
      <p class="small text-white-70 mb-0">
        <%= "#{image.metadata['width']}×#{image.metadata['height']}" %>
      </p>
    </div>
  </div>
</div>
