<%= card do %>
  <%= card_body do %>
    <div class="d-flex justify-content-center align-items-center" style="min-height:200px">
      <%= image_tag image, class: "img-thumbnail mw-100" %>
    </div>
  <% end %>
  <ul class="list-group list-group-flush list-group-bordered border-top border-bottom">
    <%= details_li(image.blob.filename.to_s) do %>
      <span class="d-flex">
        <%= render "/shared/actions/edit_image", imageable: imageable, image: image %>
        <%= render "/shared/actions/delete_image", imageable: imageable, image: image %>
      </span>
    <% end %>
    <%= details_li("Filesize") { number_to_human_size(image.byte_size) } %>
    <%= details_li("Dimensions") { image_dimensions(image) } %>
    <%= details_li("Conent Type") { image.blob.content_type } %>
  </ul>
<% end %>
