<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/images", imageable: @imageable %>
  <%= render "/@shared/breadcrumbs/edit_image", imageable: @imageable, image: @image, class: "active" %>
<% end %>

<% content_for :actions do %>
  <%= render "/@shared/actions/delete_image", imageable: @imageable, image: @image %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Edit", "Image",
    subtitle: "for #{@imageable.imageable_name}",
    icon: "fas fa-images" %>
<% end %>

<main id="content" role="main" class="bg-light">
  <div class="container space-1">
    <%= render "/images/form_metadata", imageable: @imageable, image: @image %>
  </div>
</main>