<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/images", imageable: @imageable, class: "active" %>
<% end %>

<% content_for :actions do %>
  <%= render "/@shared/actions/add_images", imageable: @imageable %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Viewing", "Images",
    subtitle: "for #{@imageable.imageable_name}",
    icon: "fas fa-images" %>
<% end %>

<main id="content" role="main" class="bg-light">
  <div class="container space-1">
    <%= render partial: "/image_searches/form",
              layout: "/@shared/collapsable_search_form",
              locals: { search: @image_search } %>
    <%= render "/images/grid", imageable: @imageable, images: @images %>
  </div>
</main>