<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/dashboard" %>
  <%= render "/@shared/breadcrumbs/imageables" %>
  <%= render "/@shared/breadcrumbs/imageable" %>
  <%= render "/@shared/breadcrumbs/images", class: "active" %>
<% end %>

<% content_for :actions do %>
  <%= render "/@shared/actions/add_images" %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Viewing", "Images",
    subtitle: "for #{@imageable.imageable_name}",
    icon: "images" %>
<% end %>

<main id="content" role="main">
  <div class="u-bg-light-blue-50">
    <div class="container u-space-1">
      <p id="notice"><%= notice %></p>
      <%= render "/images/table" %>
    </div>
  </div>
</div>
