<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/dashboard" %>
  <%= render "/@shared/breadcrumbs/imageables" %>
  <%= render "/@shared/breadcrumbs/imageable" %>
  <%= render "/@shared/breadcrumbs/images" %>
  <%= render "/@shared/breadcrumbs/image", class: "active" %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Adding", "Images",
    subtitle: "for #{@imageable.imageable_name}",
    icon: "images" %>
<% end %>

<main id="content" role="main">
  <div class="u-bg-light-blue-50">
    <div class="container u-space-1">
      <%= render "/images/form_upload" %>
    </div>
  </div>
</div>
