<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/dashboard" %>
  <%= render "/@shared/breadcrumbs/imageable" %>
  <%= render "/@shared/breadcrumbs/images" %>
  <%= render "/@shared/breadcrumbs/image", class: "active" %>
<% end %>

<div class="container mt-3">
  <%= page_heading "Creating", "#{@imageable.class.name} Images" %>
  <%= render '/images/form' %>
  <%= link_to 'Back', :back, class: 'btn btn-link' %>
</div>
