<li class="menu-header">
  <i class="fas fa-user-plus fa-lg"></i>
  Admin
</li>
<%= active_link_to "Dashboard", administrator_dashboards_path,
  class: "menu-link",
  class_active: 'has-active',
  wrap_tag: :li,
  wrap_class: "menu-item" %>
<%= active_link_to "Organizations", organizations_path,
  class: "menu-link",
  class_active: 'has-active',
  wrap_tag: :li,
  wrap_class: "menu-item" %>
<%= active_link_to "Users", users_path,
  class: "menu-link",
  class_active: 'has-active',
  wrap_tag: :li,
  wrap_class: "menu-item" %>
<%= active_link_to "Invite User", new_user_invitation_path,
  class: "menu-link",
  class_active: 'has-active',
  wrap_tag: :li,
  wrap_class: "menu-item" %>
<%= active_link_to "Coupons", coupons_path,
  class: "menu-link",
  class_active: 'has-active',
  wrap_tag: :li,
  wrap_class: "menu-item" %>
