<li class="menu-header">Advertiser</li>
<%= icon_active_link(link: default_dashboard_path(current_user), icon: "fas fa-industry", text: "Dashboard", active: :exact) %>
<%= icon_active_link(link: organization_path(current_organization), icon: "fas fa-building", text: "Organizations") %>
<%= icon_active_link(link: campaigns_path, icon: "fas fa-ad", text: "Campagins") %>
<%= icon_active_link(link: creatives_path, icon: "fas fa-palette", text: "Creatives") %>
<%= icon_active_link(link: images_path(current_user.to_gid_param), icon: "fas fa-images", text: "Images") %>
