<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "CodeFund | Ethical Advertising" %></title>

    <!-- Meta Tags -->
    <%= display_meta_tags site: "CodeFund" %>
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="#3063A0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <!-- CDN Stylesheets -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-zrnmn8R8KkWl12rAZFt4yKjxplaDaT7/EUkKm7AovijfrQItFWR7O/JJn4DAa/gx" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600" rel="stylesheet" />

    <!-- Compressed Stylesheets -->
    <%= stylesheet_pack_tag "code_fund", media: "all", 'data-turbolinks-track': "reload" %>

    <!-- Compressed JavaScripts -->
    <%= javascript_include_tag "application", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "code_fund", 'data-turbolinks-track': "reload" %>
  </head>
  <body>
    <div class="app">
      <!--[if lt IE 10]>
        <div class="page-message" role="alert">You are using an <strong>outdated</strong> browser. Please <a class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</div>
      <![endif]-->
      <%= render "/shared/header" %>
      <div class="main">
        <%= render "/shared/sidebar" %>
        <main class="app-main">
          <%= yield %>
        </main>
      </div>
      <div id="reflex-status" class="spinner-border spinner-border-sm text-primary d-none" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <%= render "/shared/modals/organization_user_modal" %>
    <!-- Target for dynamically generated modals -->
    <div id="global-modal" class="modal fade"></div>

    <%= noty_flash %>
  </body>
</html>
