<!DOCTYPE html>
<html>
  <head>
    <!-- Meta Tags -->
    <%= display_meta_tags site: "CodeFund" %>
    <link rel="manifest" href="/site.webmanifest">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- CDN Stylesheets -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600">
    <link rel="stylesheet" href="/css/all.min.css">

    <!-- Compressed Stylesheets -->
    <%= stylesheet_pack_tag 'code_fund', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Compressed JavaScripts -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'code_fund', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= tag.body data: { filestack_key: ENV["FILESTACK_API_KEY"] } do %>
    <%= render "/@shared/skippy" %>
    <%= render "/@shared/header" %>

    <%= yield :page_heading %>
    <%= yield %>
    <%= render "/@shared/footer" %>
    <%= render "/@shared/secondary" if current_user %>

    <!-- Target for dynamically generated modals -->
    <div id="global-modal" class="modal fade"></div>

    <%= noty_flash %>
    <%= ga_tag %>
    <%= codefund_analytics_tag %>
  <% end %>
</html>
