<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "CodeFund | Ethical Advertising" %></title>
    <%= ga_tag_manager_header %>

    <!-- Meta Tags -->
    <%= display_meta_tags site: "CodeFund" %>
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="#3063A0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <!-- CDN Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600" rel="stylesheet" />

    <!-- Compressed Stylesheets -->
    <%= stylesheet_pack_tag "code_fund", media: "all", 'data-turbolinks-track': "reload" %>

    <!-- Compressed JavaScripts -->
    <%= javascript_include_tag "application", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "code_fund", 'data-turbolinks-track': "reload" %>
  </head>
  <body style="padding-top: 0px !important;" data-referral-code="<%= session[:referral_code] %>">
    <main class="auth">
      <%= yield %>
    </main>

    <%= noty_flash %>
    <%= headway_tag %>
    <%= ga_tag_manager_footer %>
  </body>
</html>
