<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tags -->
    <%= display_meta_tags site: "CodeFund" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= content_for :demo %>
    <!-- CDN Stylesheets -->
    <link href="https://gitcdn.xyz/repo/octoshrimpy/blokkfont/master/blokkfont.css" rel="stylesheet" type="text/css" />
    <!-- Compressed Stylesheets -->
    <%= stylesheet_pack_tag "code_fund", media: "all", "data-turbolinks-track": "reload" %>
    <!-- Compressed JavaScripts -->
    <%= javascript_pack_tag "code_fund", "data-turbolinks-track": "reload", defer: true %>
    <style>
      p {
        font-family: "BLOKK";
        font-size: 20px;
      }
    </style>
    <script>
      window.addEventListener("codefund", function(evt) {
        console.log("CodeFund callback results:")
        console.log(evt.detail);
        if (evt.detail.house) {
          console.log("This is a fallback ad (unpaid)");
        }
      });
    </script>
  </head>
  <body class="pt-0">
    <%= yield %>
  </body>
  <script>
    sessionStorage.setItem("codefund", "open");
  </script>
</html>
