<!DOCTYPE html>
<html>
  <head>
    <title>CodeFund | Front Plugin</title>
    <script type="text/javascript" src="https://dl.frontapp.com/libs/frontjs.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_pack_tag "front", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "front", 'data-turbolinks-track': "reload" %>
  </head>
  <body data-controller="front">
    <h1>CodeFund App</h1>
  </body>
</html>