<!DOCTYPE html>
<html lang="en">
  <head>
    <%= display_meta_tags site: "CodeFund" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag "around", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "around", "data-turbolinks-track": "reload", defer: true %>
  </head>
  <body>
    <main class="cs-page-wrapper">
      <%= render "/pages/partials/signin_modal" %>
      <%= render "/pages/partials/navbar" %>
      <%= yield %>
      <%= render "/pages/partials/footer" %>
    </main>
  </body>
</html>
