<html>
<head>
  <style>
  h1, h2, p { font-family: system-ui; margin: 10px; }
  .ad { border: solid 1px black; position: relative; height: 450px; width: 600px; margin: 20px; float: left; transform: translateZ(0); }
  .ad.light { background: #dcdcdc; }
  .ad.dark { background: #1d1d1d; }
  .ad.dark h2 { color: #fff; }
  .error { border: solid 1px darkred; color: darkred; }
  </style>
</head>
<body>

  <h1>Previewing ads for <%= @campaign.organization.name %>: <%= @campaign.name %></h1>
  <p>
    <%= link_to "Back", :back %> ∙
    <%= link_to "Edit Campaign", edit_campaign_path(@campaign) %> ∙
    <%= link_to "Edit Creative", edit_creative_path(@campaign.creative) %>
  </p>

  <% ENUMS::AD_TEMPLATES.keys.each do |template_name| %>
    <% ENUMS::AD_THEMES.keys.each do |theme_name| %>
      <%
        @num ||= 0
        @num += 1
        template_path = "/ad_templates/#{template_name}/show.html.erb"
        theme_path = "/ad_templates/#{template_name}/themes/#{theme_name}.css"
        template = controller.render_to_string(template: template_path, layout: false) rescue nil
        theme = theme_name == "unstyled" ? "" : controller.render_to_string(template: theme_path, layout: false) rescue nil
      %>
      <% if template.nil? %>
        <div class="error">
          <h2><%= @num %>. <%= template_name %> + <%= theme_name %></h2>
          <p>NOT FOUND <%= template_path %></p>
        </div>
      <% elsif theme.nil? %>
        <div class="ad error">
          <h2><%= @num %>. <%= template_name %> + <%= theme_name %></h2>
          <p>NOT FOUND <%= theme_path %></p>
        </div>
      <% else %>
        <%
          formatted_code = Premailer.new(
            template,
            with_html_string: true,
            html_fragment: true,
            css_string: theme,
            output_encoding: "utf-8",
            adapter: :nokogiri_fast
          ).to_inline_css.squish
        %>
      <div class="ad <%= theme_name %>">
          <h2><%= @num %>. <%= template_name %> + <%= theme_name %></h2>
          <%= formatted_code.html_safe %>
        </div>
      <% end %>
    <% end %>
  <% end %>

</body>
</html>
