<html>
<head>
  <style>
  h1, h2, p { font-family: system-ui; margin: 10px; }
  iframe { border: none; margin: 0px; height: 450px; width: 100%; }
  .ad { border: solid 1px black; margin: 0 0 10px 0; padding: 0; }
  .ad.light { background: #dcdcdc; }
  .ad.dark { background: #1d1d1d; }
  .ad.dark h2 { color: #fff; }
  .error { border: solid 1px darkred; color: darkred; }
  </style>
</head>
<body>

  <h1>Previewing ads for <%= @campaign.organization.name %>: <%= @campaign.name %></h1>
  <p>
    <%= link_to "Back", :back %> ∙
    <%= link_to "Edit Campaign", edit_campaign_path(@campaign) %> ∙
  </p>

  <% ENUMS::AD_TEMPLATES.keys.each do |template_name| %>
    <% ENUMS::AD_THEMES.keys.each do |theme_name| %>
      <%
        @num ||= 0
        @num += 1
      %>
      <div class="ad <%= theme_name %>">
        <h2><%= @num %>. <%= template_name %> + <%= theme_name %></h2>
        <%= link_to "View this ad on its own page", advertisement_preview_iframe_path(@campaign, template: template_name, theme: theme_name) %>
        <%= tag.iframe src: advertisement_preview_iframe_path(@campaign, template: template_name, theme: theme_name) %>
      </div>
    <% end %>
  <% end %>

</body>
</html>
